<img src="/images/healthvault.jpg" />
<!--h2><%= link_to "HealthVault", :action => "index" %>::<%= params[:action] %></h2-->
<p>
  Microsoft HealthVault is the way to collect, store, and share information online. <%= link_to "Learn more", "http://www.healthvault.com/" %> 
</p>


<% if !flash[:message].blank? %>
	<p>Message: <%= flash[:message] %></p>
<% end %>
<% if !flash[:error].blank? %>
	<p>Message: <%= flash[:error] %></p>
<% end %>

