<%= render :partial => "header" %>
<% if @connected %>
<h3>Connected!</h3>
<p>
	Connected as <i><%= @hv_name %></i>, with a HealthVault record ID of <i><%= @hv_record_id %></i><br/>
	<%= form_tag(:action => "send_vitals", :method => :post) %>
	<fieldset>
		<label for="hours">Hours to calculate:</label> <%= text_field_tag "hours", 1%><br/>
		<label for="start_time">Start time (for instance, "2008-07-29 12:50:02" or "last tuesday")</label>
		<%= text_field_tag "start_time", "1 hour ago"%><br/>
		<%= submit_tag "submit vitals" %>
	</fieldset>
	</form>
	<%= link_to "Log out", :action => "logout"%>
</p>
<% else %>  
<p>
	Not connected!<br/>
	<%= link_to "Log in", :action => "login" %>
</p>
<%end%>

