<%= render :partial => "header" %>
<% if params[:confirm] %>
<h3>Sending vitals data for <%= @hours%> hours</h3>
<% else %>
<h3>Previewing vitals data for <%= @hours%> hours</h3>
<h3><b><u>Data has not yet been sent!</u></b>  Check confirmation box and click submit.</h3>
<% end %>
<b><%= @start_time %> to <%= @end_time %>)</b>
<table>
	<tr><th>Time</th><th align="center">Average Heart Rate (BPM)</th></tr>
	<% @pairs.each do |pair| %>
	<tr><td><%= pair[1] %></td><td align="center"><%= pair[0] %></td></tr>
	<% end %>
</table>

<% if !params[:confirm] %>
<%= form_tag(:action => "send_vitals", :method => :post) %>
<h4>Halo Monitoring is going to copy data to your HealthVault account.</h4>
<fieldset>
	<label for="hours">Hours to calculate:</label> <%= text_field_tag "hours", params[:hours] || 1%><br/>
	<label for="start_time">Start time (for instance, "2008-07-29 12:50:02" or "last tuesday")</label>
	<%= calendar_date_select_tag "start_time", params[:start_time] || (Time.now - 1.hour).strftime("%Y/%m/%d %H:%M:%S"), :time => true %><br/>
	Confirm sending: <%= check_box_tag "confirm" %><br/>
	<%= image_submit_tag "copy_to_hv-H.png" %>
	<%# = submit_tag "submit vitals" %>
</fieldset>
</form>
<% end %>
<%= link_to "get vitals", :action => "get_vitals" %>
<%= link_to "return to index", :action => "index" %> <br />