<% @caregiver = call_order.caregiver %>

<%
	if call_order.active == 0
		img = '/images/call_list-item-away.gif'
		className = 'inactive'
	else
		img = '/images/call_list-item.gif'
		className = 'active'
	end
%>

	<% unless params[:noli] == 'true/'%>
	<li id="item_<%=call_order.id%>_<%= i %>" class="<%=className%>" style="padding-left:10px;background:url('<%=img%>') no-repeat;height:100px;cursor:pointer" onMouseDown="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')'" onMouseOver="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')';toggleTooltip(<%=call_order.id%>)" onMouseOut="swapCallListBg(<%=i%>, <%=call_order.id%>, '<%=img%>');toggleTooltip(<%=call_order.id%>)">
	<%end%>
		<div id="item_<%=call_order.id%>_tooltip" style="position:absolute;left:350px;top:-40px;height:73px;width:221px;background:url('/images/tooltip.gif');display:none">
			
		</div>
		<div style="float:left;width:35px;padding-top:40px" id="item_<%=call_order.id%>_<%= i %>_position">
			<% if call_order.active == 1 %>
				<%=position%>
			<% end %>
		</div>
		<div style="padding-top:25px;float:left;width:50px">
			
			<%
				if call_order.active == 0
					img = '-away'
				else
					img = ''
				end
			%>
			
			<a href="#" onClick="moveElementUp(<%=i%>, <%=call_order.id%>, <%=params[:id]%>)">
				<img src="/images/call_list-up<%=img%>.gif" border="0" id="item_up_<%=call_order.id%>" />
			</a>
			<br />
			<a href="#" onClick="moveElementDown(<%=i%>, <%=call_order.id%>, <%=params[:id]%>)">
				<img src="/images/call_list-down<%=img%>.gif" border="0" id="item_down_<%=call_order.id%>" />
			</a>
		</div>


		<% 
			if call_order.active == 0
				opacity = '.5'
			else
				opacity = '1'
			end
		%>
		<div style="float:left;background:url('/images/call_list-image_bg.gif') no-repeat;height:87px;width:125px;margin-top:5px;opacity:<%=opacity%>" id="item_image_<%=call_order.id%>">
			<% if @caregiver.image != '' %>
				<img src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
			<% else %>
				<img src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
			<% end %>
		</div>

		<div style="float:left;padding-top:40px;width:175px">
			<%
				if call_order.active == 0
					color = "gray"
				else
					color = ""
				end
			%>
			
		</div>

		<div style="float:left;padding-top:25px;width:150px">
			<% 
				if call_order.active == 0 
					img = 'call_list-active_disabled.gif'
				else
					img = 'call_list-active.gif'
				end
			%>
	
			<%=link_to_remote(image_tag(img, :id => 'item_active_'+call_order.id.to_s), :url => { :action => "activate",:id => call_order.id}, :before => 'toggleCaregiver(\'enable\', '+i.to_s+', '+call_order.id.to_s+', '+call_order.phone_active.to_s+', '+call_order.email_active.to_s+', '+call_order.text_active.to_s+')')%>
			<br />
	
			<% 
				if call_order.active == 1
					img = 'call_list-away_disabled.gif'
				else
					img = 'call_list-away.gif'
				end
			%>
	
			<%=link_to_remote(image_tag(img, :id => 'item_away_'+call_order.id.to_s), :url => { :action => "deactivate",:id => call_order.id}, :before => 'toggleCaregiver(\'disable\', '+i.to_s+', '+call_order.id.to_s+', '+call_order.phone_active.to_s+', '+call_order.email_active.to_s+', '+call_order.text_active.to_s+')')%>
		</div>

		<div style="float:left;padding-top:25px;width:75px">
			<% 
				if call_order.phone_active == 0 or call_order.active == 0
					img = 'call_list-phone-inactive.gif'
				else
					img = 'call_list-phone.gif'
				end
			%>
			
			<%=link_to_remote(image_tag(img, :id => 'item_phone_'+call_order.id.to_s), :url => { :action => "toggle_phone",:id => call_order.id }, :before => 'toggleContact('+i.to_s+','+call_order.id.to_s+', '+call_order.phone_active.to_s+', \'phone\')', :complete => 'updatePositions()')%>
		</div>

		<div style="float:left;padding-top:25px;width:75px">
			<% 
				if call_order.email_active == 0 or call_order.active == 0 
					img = 'call_list-email-inactive.gif'
				else
					img = 'call_list-email.gif'
				end
			%>
	
			<%=link_to_remote(image_tag(img, :id => 'item_email_'+call_order.id.to_s), :url => { :action => "toggle_email",:id => call_order.id }, :before => 'toggleContact('+i.to_s+','+call_order.id.to_s+', '+call_order.email_active.to_s+', \'email\')', :complete => 'updatePositions()')%>
		</div>

		<div style="float:left;padding-top:25px;width:100px">
			<% 
				if call_order.text_active == 0 or call_order.active == 0
					img = 'call_list-text-inactive.gif'
				else
					img = 'call_list-text.gif'
				end
			%>
	
			<%=link_to_remote(image_tag(img, :id => 'item_text_'+call_order.id.to_s), :url => { :action => "toggle_text",:id => call_order.id }, :before => 'toggleContact('+i.to_s+','+call_order.id.to_s+', '+call_order.text_active.to_s+', \'text\')', :complete => 'updatePositions()')%>
		</div>

		<div style="float:left;padding-top:35px;width:50px">
			<input type="checkbox" />
		</div>

		<div style="float:left;padding-top:35px;width:75px" id="item_edit_<%=call_order.id%>">
			<%=link_to_remote_redbox('Edit Info', :url => {:controller => 'users' , :action => 'redir_to_edit' , :id => @caregiver.id}, :complete => 'updatePositions()')%>
		</div>
	<% unless params[:noli] == 'true/'%>
	</li>
	<%end%>
