<%
	# this is a hack...need to refactor pieces of caregiver table (/b)
	user_id = @user.id.to_s
%>

<%
	if !opts.active?
		img = '/images/call_list-item-away.gif'
		className = 'inactive'
	else
		img = '/images/call_list-item.gif'
		className = 'active'
	end
%>

<% unless params[:noli] == 'true/'%>
	<li id="item_<%=caregiver.id%>_<%= i %>" class="<%=className%>" style="padding-left:10px;background:url('<%=img%>') no-repeat;height:100px;cursor:pointer" onMouseDown="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')'" onMouseOver="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')';toggleTooltip(<%=caregiver.id%>)" onMouseOut="swapCallListBg(<%=i%>, <%=caregiver.id%>, '<%=img%>');toggleTooltip(<%=caregiver.id%>)">
<%end%>
	
	
	
	<!--POSITION-->
	
	<div style="float:left;width:55px;padding-top:40px;color:#4691b1;font-size:16px" id="item_<%=caregiver.id%>_<%= i %>_position">
		<% if opts.active? %>
			<%
				s_pos = position.to_s
				start = s_pos.length - 1
				
				pos_end = @num_ref[s_pos[start,1].to_i]
			%>
			
			<%=position%><%=pos_end%>
		<% else %>
			Away
		<% end %>
	</div>
	
	<!--ARROWS-->
	
	<div style="padding-top:25px;float:left;width:50px">
		<%
			unless opts.active?
				img = '-away'
			else
				img = ''
			end
		%>
		<a href="#" onClick="moveElementUp(<%=i%>, <%=caregiver.id%>, <%=user_id%>)">
			<img alt="Up" src="/images/call_list-up<%=img%>.gif" border="0" id="item_up_<%=caregiver.id%>" />
		</a>
		<br />
		<a href="#" onClick="moveElementDown(<%=i%>, <%=caregiver.id%>, <%=user_id%>)">
			<img alt="Down" src="/images/call_list-down<%=img%>.gif" border="0" id="item_down_<%=caregiver.id%>" />
		</a>
	</div>

	<!--PROFILE IMAGE-->

	<% 
		unless opts.active?
			opacity = '.5'
		else
			opacity = '1'
		end
	%>
	<div style="float:left;background:url('/images/call_list-image_bg.gif') no-repeat;height:87px;width:125px;margin-top:5px;opacity:<%=opacity%>" id="item_image_<%=caregiver.id%>">
		<% if caregiver.image != '' %>
			<img alt="<%= caregiver.name %>" src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
		<% else %>
			<img alt="<%= caregiver.name %>" src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
		<% end %>
	</div>
	
	<!--NAME-->

	<div style="float:left;padding-top:40px;width:155px">
		<%
			unless opts.active?
				color = "gray"
			else
				color = "#4691b1"
			end
		%>
		
		<span id="item_name_<%=caregiver.id.to_s%>" style="font-weight:bold;color:<%=color%>"><%=caregiver.name%></span>
	</div>
	
	<!--ACTIVE/AWAY-->
	
<% if caregiver.activated? %>

	<div style="float:left;padding-top:25px;width:100px">
		<% 
			alt = ''
			unless opts.active?
				img = 'call_list-active_disabled.gif'
				alt = "Click to activate caregiver."
			else
				img = 'call_list-active.gif'
				alt = "Caregiver is active."
			end
		%>
		<%=link_to_remote(image_tag(img, :alt => alt, :id => 'item_active_'+caregiver.id.to_s), :url => { :controller => 'call_list', :action => "activate",:id => opts.id}, :before => 'toggleCaregiver(\'enable\', '+i.to_s+', '+caregiver.id.to_s+', '+opts.phone_active.to_s+', '+opts.email_active.to_s+', '+opts.text_active.to_s+')')%>
		<br />
		
		<% 
			alt = ''
			if opts.active?
				img = 'call_list-away_disabled.gif'
				alt = "Click to set caregiver away."
			else
				img = 'call_list-away.gif'
				alt = "Caregiver is away."
			end
		%>

		<%=link_to_remote(image_tag(img, :alt => alt, :id => 'item_away_'+caregiver.id.to_s), :url => { :controller => 'call_list', :action => "deactivate",:id => opts.id}, :before => 'toggleCaregiver(\'disable\', '+i.to_s+', '+caregiver.id.to_s+', '+opts.phone_active.to_s+', '+opts.email_active.to_s+', '+opts.text_active.to_s+')')%>
	</div>
<% else %>
 	<div style="float:left;padding-top:25px;width:100px">
    <%    alt = "Caregiver, #{caregiver.name}, has not been activated."
		  img = 'call_list-active_disabled.gif' %>
	  <%= image_tag(img, :alt => alt, :id => 'item_active_'+caregiver.id.to_s) %>
	  <br />
	  <% img = 'call_list-away_disabled.gif'   %>
	  <%= image_tag(img, :alt => alt, :id => 'item_away_'+caregiver.id.to_s)   %>	
	</div>
<% end  %>
	<!--PHONE-->

	<div style="float:left;padding-top:25px;width:75px">
		<input type="hidden" id="user-<%=caregiver.id%>_phone" value="<%=caregiver.profile.home_phone%>" />
		<input type="hidden" id="user-<%=caregiver.id%>_phone2" value="<%=caregiver.profile.cell_phone%>" />
		<%  alt = ''
			if !opts.phone_active? or !opts.active?
				img = 'call_list-phone-inactive.gif'
				alt = 'This caregiver will not be called by live operator in case of emergency.  Click to enable.'
			else
				img = 'call_list-phone.gif'
				alt = 'This caregiver will be called by live operator in case of emergency.  Click to disable.'
			end
		%>
		<% if opts.active %>
		  <%=link_to_remote(image_tag(img, :alt => alt, :id => 'item_phone_'+caregiver.id.to_s), :url => { :controller => 'call_list', :action => "toggle_phone",:id => user.roles_user_by_caregiver(caregiver).id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.phone_active.to_s+', \'phone\', '+user_id+')', :complete => 'updatePositions()')%>
		<% else %>
		  image_tag(img, :alt => alt, :id => 'item_phone_'+caregiver.id.to_s)
		<% end %>
	</div>
	
	<!--EMAIL-->

	<div style="float:left;padding-top:25px;width:75px">
		<%  alt = ''
			if !opts.email_active? or !opts.active?
				img = 'call_list-email-inactive.gif'
				alt = 'Email will not be sent to this caregiver in the case of a fall or panic.  Click to enable.'
			else
				img = 'call_list-email.gif'
				alt = 'Email will be sent to this caregiver in the case of a fall or panic.  Click to disable.'
			end
		%>
  	<% if opts.active %>
		  <%=link_to_remote(image_tag(img, :alt => alt, :id => 'item_email_'+caregiver.id.to_s), :url => { :controller => 'call_list', :action => "toggle_email",:id => user.roles_user_by_caregiver(caregiver).id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.email_active.to_s+', \'email\', '+user_id+')', :complete => 'updatePositions()')%>
		<% else %>
		  image_tag(img, :alt => alt, :id => 'item_email_'+caregiver.id.to_s)
		<% end %>
	</div>

	<!--TEXT-->

	<div style="float:left;padding-top:25px;width:100px">
		<input type="hidden" id="user-<%=caregiver.id%>_text" value="<%=caregiver.profile.cell_phone%>" />
		 <input type="hidden" id="user-<%=caregiver.id%>_text2" value="<%=caregiver.profile.carrier_id%>" /> 
		
		<%  alt = ''
			if !opts.text_active? or !opts.active?
				img = 'call_list-text-inactive.gif'
				alt = 'Text will not be sent to this caregiver in the case of a fall or panic.  Click to enable.'
			else
				img = 'call_list-text.gif'
				alt = 'Text will be sent to this caregiver in the case of a fall or panic.  Click to disable.'
			end
			
			unless user
				user = current_user
			end
		%>
    <% if opts.active %>
		  <%=link_to_remote(image_tag(img, :alt => alt, :id => 'item_text_'+caregiver.id.to_s), :url => { :controller => 'call_list', :action => "toggle_text",:id => user.roles_user_by_caregiver(caregiver).id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.text_active.to_s+', \'text\', '+user_id+')', :complete => 'updatePositions()')%>
		<% else %>
		  image_tag(img, :alt => alt, :id => 'item_text_'+caregiver.id.to_s)
		<% end %>
	</div>

	<!--DELETE-->

	<div style="float:left;padding-top:25px;width:50px">
		<% 
			alt = 'Remove caregiver from list.'
			if !opts.active? 
				img = image_tag("call_list-trash-inactive.gif", :alt => alt, :id => 'item_trash_'+caregiver.id.to_s)
			else
				img = image_tag("call_list-trash.gif", :alt => alt, :id => 'item_trash_'+caregiver.id.to_s)
			end
		%>
		
		<%=link_to_remote img, :update => "response",
		    :url => { :controller => "users", :action => "destroy_caregiver", :id => user.roles_user_by_caregiver(caregiver).roles_users_option.id, :position => i, :caregiver_id => caregiver.id },
			:confirm => "Are you sure?"
		%>
	</div>

	<!--EDIT-->
	
	<div style="float:left;padding-top:35px;width:125px" id="item_edit_<%=caregiver.id%>">
		<!--% puts edit_user_url(caregiver)%-->
		<% alt = "Edit caregiver's profile." %>
		<%=link_to_remote_redbox('Edit Info', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => caregiver.profile.id, :frame => true, :user_id => user_id, :roles_user_id => user.roles_user_by_caregiver(caregiver).id }, :html => {:alt => alt, :method => :get, :complete => 'updatePositions()'})%>
		| <% alt = 'View / Edit Alerts.' %>
		<%=link_to('Non-critical Alerts', :controller => "alerts", :action => "index", :alt => alt, :id => user.roles_user_by_caregiver(caregiver).id)%>
	</div>
	
	<!--TOOLTIP-->
	
	<div id="item_<%=caregiver.id%>_tooltip" style="top:-65px;margin-left:-600px;position:absolute;height:73px;width:221px;background:url('/images/tooltip.gif');display:none">
		<div style="float:right;margin-right:3px;margin-top:3px">
			<a href="javascript:void(0)" onClick="disableTooltip(<%=caregiver.id%>)"><img src="/images/tooltip-close.gif" style="margin-right:5px;margin-top:3px" /></a>
		</div>
	</div>
<% unless params[:noli] == 'true/'%>
</li>
<%end%>