

<%
	if opts and !opts.active?
		img = '/images/call_list-item-away.gif'
		className = 'inactive'
	else
		img = '/images/call_list-item.gif'
		className = 'active'
	end
%>

<% unless params[:noli] == 'true/'%>
	<li id="item_<%=caregiver.id%>_<%= i %>" class="<%=className%>" style="padding-left:10px;background:url('<%=img%>') no-repeat;height:100px;cursor:pointer" onMouseDown="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')'" onMouseOver="this.style.backgroundImage = 'url(\'/images/call_list-item_drag.gif\')';toggleTooltip(<%=caregiver.id%>)" onMouseOut="swapCallListBg(<%=i%>, <%=caregiver.id%>, '<%=img%>');toggleTooltip(<%=caregiver.id%>)">
<%end%>
	
	
	
	<!--POSITION-->
	
	<div style="float:left;width:55px;padding-top:40px;color:#4691b1;font-size:16px" id="item_<%=caregiver.id%>_<%= i %>_position">
		<% if opts.active? %>
			<%
				s_pos = position.to_s
				start = s_pos.length - 1
				
				pos_end = @num_ref[s_pos[start,1].to_i]
			%>
			
			<%=position%><%=pos_end%>
		<% else %>
			Away
		<% end %>
	</div>
	
	<!--ARROWS-->
	
	<div style="padding-top:25px;float:left;width:50px">
		<%
			unless opts.active?
				img = '-away'
			else
				img = ''
			end
		%>
		<a href="#" onClick="moveElementUp(<%=i%>, <%=caregiver.id%>, <%=params[:id]%>)">
			<img src="/images/call_list-up<%=img%>.gif" border="0" id="item_up_<%=caregiver.id%>" />
		</a>
		<br />
		<a href="#" onClick="moveElementDown(<%=i%>, <%=caregiver.id%>, <%=params[:id]%>)">
			<img src="/images/call_list-down<%=img%>.gif" border="0" id="item_down_<%=caregiver.id%>" />
		</a>
	</div>

	<!--PROFILE IMAGE-->

	<% 
		unless opts.active?
			opacity = '.5'
		else
			opacity = '1'
		end
	%>
	<div style="float:left;background:url('/images/call_list-image_bg.gif') no-repeat;height:87px;width:125px;margin-top:5px;opacity:<%=opacity%>" id="item_image_<%=caregiver.id%>">
		<% if caregiver.image != '' %>
			<img src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
		<% else %>
			<img src="/images/call_list-nophoto.gif" style="margin-left:4px;margin-top:4px" />
		<% end %>
	</div>
	
	<!--NAME-->

	<div style="float:left;padding-top:40px;width:155px">
		<%
			unless opts.active?
				color = "gray"
			else
				color = "#4691b1"
			end
		%>
		
		<span id="item_firstname_<%=caregiver.id.to_s%>" style="font-weight:bold;color:<%=color%>"><%=caregiver.profile.first_name%></span>
		<span id="item_lastname_<%=caregiver.id.to_s%>" style="font-weight:bold;color:<%=color%>"><%=caregiver.profile.last_name%></span>
	</div>
	
	<!--ACTIVE/AWAY-->
	
	<div style="float:left;padding-top:25px;width:100px">
		<% 
			unless opts.active?
				img = 'call_list-active_disabled.gif'
			else
				img = 'call_list-active.gif'
			end
		%>
		
		<%=link_to_remote(image_tag(img, :id => 'item_active_'+caregiver.id.to_s), :url => { :action => "activate",:id => opts.id}, :before => 'toggleCaregiver(\'enable\', '+i.to_s+', '+caregiver.id.to_s+', '+opts.phone_active.to_s+', '+opts.email_active.to_s+', '+opts.text_active.to_s+')')%>
		<br />
		
		<% 
			if opts.active?
				img = 'call_list-away_disabled.gif'
			else
				img = 'call_list-away.gif'
			end
		%>

		<%=link_to_remote(image_tag(img, :id => 'item_away_'+caregiver.id.to_s), :url => { :action => "deactivate",:id => opts.id}, :before => 'toggleCaregiver(\'disable\', '+i.to_s+', '+caregiver.id.to_s+', '+opts.phone_active.to_s+', '+opts.email_active.to_s+', '+opts.text_active.to_s+')')%>
	</div>

	<!--PHONE-->

	<div style="float:left;padding-top:25px;width:75px">
		<input type="hidden" id="user-<%=caregiver.id%>_phone" value="<%=caregiver.profile.home_phone%>" />
		<% 
			if !opts.phone_active? or !opts.active?
				img = 'call_list-phone-inactive.gif'
			else
				img = 'call_list-phone.gif'
			end
		%>
		
		<%=link_to_remote(image_tag(img, :id => 'item_phone_'+caregiver.id.to_s), :url => { :action => "toggle_phone",:id => caregiver.roles_user.id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.phone_active.to_s+', \'phone\', '+params[:id]+')', :complete => 'updatePositions()')%>
	</div>
	
	<!--EMAIL-->

	<div style="float:left;padding-top:25px;width:75px">
		<% 
			if !opts.email_active? or !opts.active?
				img = 'call_list-email-inactive.gif'
			else
				img = 'call_list-email.gif'
			end
		%>

		<%=link_to_remote(image_tag(img, :id => 'item_email_'+caregiver.id.to_s), :url => { :action => "toggle_email",:id => caregiver.roles_user.id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.email_active.to_s+', \'email\', '+params[:id]+')', :complete => 'updatePositions()')%>
	</div>

	<!--TEXT-->

	<div style="float:left;padding-top:25px;width:100px">
		<input type="hidden" id="user-<%=caregiver.id%>_text" value="<%=caregiver.profile.cell_phone%>" />
		
		<% 
			if !opts.text_active? or !opts.active?
				img = 'call_list-text-inactive.gif'
			else
				img = 'call_list-text.gif'
			end
		%>

		<%=link_to_remote(image_tag(img, :id => 'item_text_'+caregiver.id.to_s), :url => { :action => "toggle_text",:id => caregiver.roles_user.id,:user_id => caregiver.id }, :before => 'toggleContact('+i.to_s+','+caregiver.id.to_s+', '+opts.text_active.to_s+', \'text\', '+params[:id]+')', :complete => 'updatePositions()')%>
	</div>

	<!--DELETE-->

	<div style="float:left;padding-top:25px;width:50px">
		<% 
			if !opts.active? 
				img = image_tag("call_list-trash-inactive.gif",:id => 'item_trash_'+caregiver.id.to_s)
			else
				img = image_tag("call_list-trash.gif",:id => 'item_trash_'+caregiver.id.to_s)
			end
		%>
		
		<%=link_to_remote img, :update => "response",
		    :url => { :controller => "users", :action => "destroy_caregiver", :id => caregiver.roles_user.roles_users_option.id, :position => i, :caregiver_id => caregiver.id },
			:confirm => "Are you sure?"
		%>
	</div>

	<!--EDIT-->
	
	<div style="float:left;padding-top:35px;width:125px" id="item_edit_<%=caregiver.id%>">
		<!--% puts edit_user_url(caregiver)%-->
		<%=link_to_remote_redbox('Edit Info', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => caregiver.profile.id, :frame => true, :user_id => params[:id] }, :html => {:method => :get, :complete => 'updatePositions()'})%>
		|
		<%=link_to('More', :controller => "alerts", :action => "index", :id => caregiver.roles_user.id)%>
	</div>
	
	<!--TOOLTIP-->
	
	<div id="item_<%=caregiver.id%>_tooltip" style="top:-65px;margin-left:-600px;position:absolute;height:73px;width:221px;background:url('/images/tooltip.gif');display:none">
		<div style="float:right;margin-right:3px;margin-top:3px">
			<a href="javascript:void(0)" onClick="disableTooltip(<%=caregiver.id%>)"><img src="/images/tooltip-close.gif" style="margin-right:5px;margin-top:3px" /></a>
		</div>
	</div>
<% unless params[:noli] == 'true/'%>
</li>
<%end%>