<% if((current_user.recently_activated? || params[:recently_activated] == 'true') && current_user.is_caregiver?) %>
  <%= launch_remote_redbox(:url =>  { :action => 'recently_activated', 
                                      :controller => 'call_list', 
                                      :user_id => current_user.id }, 
                                      :html => { :method => :get} ) %>
<% end %>

<div id="hidden_content_extra_info">
</div>

<div id="call_list-col">
	<div id="call_list-col-header">
		Critical Alert Settings: <span style="color:#000;font-size:.75em">
			<%#=link_to_remote_redbox(@user.name + "`s", :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => @user.profile.id, :frame => true,:user_id => @user.id }, :html => {:method => :get})%>
			<%=link_to(@user.name + "`s", :controller => "profiles", :action => "edit_caregiver_profile", :id => @user.profile.id,:user_id => @user.id )%>
			<% if @user.is_halouser? %>
			Caregivers
			<% end %>
		</span>			
	</div>
	
	<% 
		call_list_header_display = 'block'
		if @caregivers.empty? 
			call_list_header_display = 'none'
		end
	%>

	<div class="content">
	<% if @user.is_caregiver? %>
		<%=render :partial => 'layouts/choose_patient'%>
	<% end %>
		<p>&nbsp;</p>
		<div id="call_list_header" style="display:<%=call_list_header_display%>">
			<div style="float:left;width:55px">
				<div style="margin-left:15px"><b>Order</b></div>
			</div>
			<div style="float:left;width:70px">
				&nbsp;
			</div>
			<div style="float:left;width:95px">
				&nbsp;
			</div>
			<div style="float:left;width:185px">
				<b>Name</b>
			</div>
			<div style="float:left;width:100px">
				<b>Status</b>
			</div>
			<div style="float:left;width:75px">
				<b>Call</b>
			</div>
			<div style="float:left;width:75px">
				<b>Email</b>
			</div>
			<div style="float:left;width:75px">
				<b>Text</b>
			</div>
			<div style="float:left;width:75px">
				<b>Remove</b>
			</div>
			<div style="float:left;width:75px">
				<b>More</b>	
			</div>
		</div>
		<p>&nbsp;</p>
		  <div="call_list_div">    
			<ul id="call_list">
				<% if @user.is_halouser? || @user.is_sales? %>
			<%= render :partial => "load_caregivers", :locals => { :caregivers => @caregivers } %>
			  <% end %>
			</ul>
			<!-- https://redmine.corp.halomonitor.com/issues/2722 -->
      <% if current_user.is_super_admin? %>
        <script type="text/javascript">
        //<![CDATA[
          Sortable.create("call_list", {onChange:updatePositions, onUpdate:function(){new Ajax.Request('/call_list/sort/?user_id='+<%=params[:id]%>, {asynchronous:true, evalScripts:true, parameters:serialize()});showTooltip=false}, tag:'li'})
        //]]>
        </script>
      <% end -%>
		  </div>
			
			

		<!--%= sortable_element 'call_list',
        :url => { :action => "sort" , :id => @call_list },
		:onChange => "updatePositions",
		 :tag => 'li'
        %-->
		
	
	<div style="float:left;margin-right:10px;margin-top:15px;margin-left:15px;font-weight:bold;background:url('/images/call_list-col-bg.gif') repeat-y;" >
	<%= link_to '<< Back To Chart', :controller => 'chart', :action => 'flex', :id => current_user.id %>
	</div>
	<% if @user.is_halouser? || @user.is_sales? %>
	<%=link_to_remote_redbox(image_tag('add-caregiver.gif', :style => 'float:right;margin-right:10px;margin-top:15px'), :url => {:controller => 'users' , :action => 'new_caregiver', :user_id => params[:id]})%>
	<% end %>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>

<!-- this function shifted to application.js -->
<!-- <script type="text/javascript">
function show_message()
{

//<![CDATA[
new Ajax.Updater('show_message', '/alerts/message/', {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('show_message'); }, onLoading:function(request){RedBox.loading(); }})
//]]>

}
</script> -->