<div id="hidden_content_extra_info">
</div>

<div id="call_list-col">
	<div id="call_list-col-header">
		Account Settings: <span style="color:#000;font-size:.75em">
			<% if profile = @user.profile and profile[:first_name] %>
				<%=profile[:first_name] %><%=" #{profile[:last_name]}" if profile[:last_name] %>'s
			<% else %>
				<%=@user[:login]%>'s
			<% end %>
			<% if @user.is_halouser? %>
			Caregivers
			<% end %>
		</span>			
	</div>
	
	<% 
		call_list_header_display = 'block'
		if @caregivers.empty? 
			call_list_header_display = 'none'
		end
	%>

	<div class="content">
		<%=render :partial => 'layouts/choose_patient'%>
		<p>&nbsp;</p>
		<div id="call_list_header" style="display:<%=call_list_header_display%>">
			<div style="float:left;width:55px">
				<div style="margin-left:15px">Order</div>
			</div>
			<div style="float:left;width:70px">
				&nbsp;
			</div>
			<div style="float:left;width:125px">
				&nbsp;
			</div>
			<div style="float:left;width:155px">
				Name
			</div>
			<div style="float:left;width:100px">
				Status
			</div>
			<div style="float:left;width:75px">
				Call
			</div>
			<div style="float:left;width:75px">
				Email
			</div>
			<div style="float:left;width:100px">
				Text Message
			</div>
			<div style="float:left;width:50px">
				Remove
			</div>
			<div style="float:left;width:75px">
		
			</div>
		</div>
		<p>&nbsp;</p>
		  <div="call_list_div">    
			<ul id="call_list">
				<% if @user.is_halouser? %>
			<%= render :partial => "load_caregivers", :locals => { :caregivers => @caregivers } %>
			  <% end %>
			</ul>
			<script type="text/javascript">
			//<![CDATA[
			Sortable.create("call_list", {onChange:updatePositions, onUpdate:function(){new Ajax.Request('/call_list/sort/?user_id='+<%=params[:id]%>, {asynchronous:true, evalScripts:true, parameters:serialize()});showTooltip=false}, tag:'li'})
			//]]>
			</script>
		  </div>
			
			

		<!--%= sortable_element 'call_list',
        :url => { :action => "sort" , :id => @call_list },
		:onChange => "updatePositions",
		 :tag => 'li'
        %-->
		
	</div>
	<div style="float:left;margin-right:10px;margin-top:15px;margin-left:15px;font-weight:bold" >
	<%= link_to '<< Back To Chart', :controller => 'chart', :action => 'flex', :id => current_user.id %>
	</div>
	<% if @user.is_halouser? %>
	<%=link_to_remote_redbox(image_tag('add-caregiver.gif', :style => 'float:right;margin-right:10px;margin-top:15px'), :url => {:controller => 'users' , :action => 'new_caregiver', :user_id => params[:id]})%>
	<% end %>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>