<% if((current_user.recently_activated? || params[:recently_activated] == 'true') && current_user.is_caregiver?) %>
  <%= launch_remote_redbox(:url =>  { :action => 'recently_activated', 
                                      :controller => 'call_list', 
                                      :user_id => current_user.id }, 
                                      :html => { :method => :get} ) %>
<% end %>

<div id="hidden_content_extra_info">
</div>

<div id="call_list-col">
	<div id="call_list-col-header">
		Critical Alert Settings: <span style="color:#000;font-size:.75em">
      <% if @user.profile.blank? %>
        <%= link_to "#{@user.name}'s", "#" %>
      <% else %>
			  <%=link_to(@user.name + "`s", :controller => "profiles", :action => "edit_caregiver_profile", :id => @user.profile.id, :user_id => @user.id )%>
			<% end -%>
      Caregivers
		</span>			
	</div>
	
	<% 
		call_list_header_display = 'block'
		if @caregivers.empty? 
			call_list_header_display = 'none'
		end
	%>

	<div class="content">
	<% if current_user.is_caregiver? %>
		<%= render :partial => 'layouts/choose_patient' %>
	<% end %>
		<p>&nbsp;</p>
		<div id="call_list_header" style="display:<%=call_list_header_display%>">
			<div style="float:left;width:55px">
				<div style="margin-left:15px"><b>Order</b></div>
			</div>
			<div style="float:left;width:70px">
				&nbsp;
			</div>
			<div style="float:left;width:95px">
				&nbsp;
			</div>
			<div style="float:left;width:185px">
				<b>Name</b>
			</div>
			<div style="float:left;width:100px">
				<b>Status</b>
			</div>
			<div style="float:left;width:75px">
				<b>Call</b>
			</div>
			<div style="float:left;width:75px">
				<b>Email</b>
			</div>
			<div style="float:left;width:75px">
				<b>Text</b>
			</div>
			<div style="float:left;width:75px">
				<b>Remove</b>
			</div>
			<div style="float:left;width:75px">
				<b>More</b>	
			</div>
		</div>
		<p>&nbsp;</p>
		  <div id="call_list_div">
			<ul id="call_list">
				<% if @user.is_halouser? || @user.is_sales? %>
			<%= render :partial => "load_caregivers", :locals => { :caregivers => @caregivers } %>
			  <% end %>
			</ul>
			<!-- https://redmine.corp.halomonitor.com/issues/2722 -->
      <% if current_user.is_super_admin? || current_user.is_admin_of_any?(@user.group_memberships) %>
        <script type="text/javascript">
        //<![CDATA[
          Sortable.create("call_list", {onChange:updatePositions, onUpdate:function(){new Ajax.Request('/call_list/sort/?user_id='+<%=params[:id]%>, {asynchronous:true, evalScripts:true, parameters:serialize()});showTooltip=false}, tag:'li'})
        //]]>
        </script>
      <% end -%>
		  </div>
	
	<div style="float:left;margin-right:10px;margin-top:15px;margin-left:15px;font-weight:bold;background:url('/images/call_list-col-bg.gif') repeat-y;" >
	<%= link_to '<< Back To Chart', :controller => 'chart', :action => 'flex', :id => current_user.id %>
	</div>
  <!-- https://redmine.corp.halomonitor.com/issues/2778 -->
	<% if current_user.is_super_admin? || current_user.is_admin_of_any?(@user.group_memberships) %> <!-- @user.is_halouser? || @user.is_sales? -->
    <%= link_to image_tag('add-caregiver.gif', :style => 'float:right;margin-right:10px;margin-top:15px'), {:controller => 'users' , :action => 'new_caregiver_options', :user_id => @user.id, :back_url => url_for(:controller => 'call_list', :action => 'show', :id => @user.id)} %>
  <% else %>
    <%= link_to image_tag('add-caregiver-grey.gif', :style => 'float:right;margin-right:10px;margin-top:15px'), {:controller => "alerts", :action => "alert", :message => "call_tech_support", :back_url => url_for(:controller => 'call_list', :action => 'show', :id => @user.id)} %>
	<% end %>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>

