<%= render :partial => 'atp/nav'%>
<h3>Pools</h3>

<table class="bluegrey">
<tr>
  <th>ID</th>
  <th>Size</th>
  <th>Serial Number Prefix</th>
  <th>Ending Serial Number</th>
  <th>Ending Mac Address</th>
  <th>Actions</th>
</tr>
<% for pool in @pools %>

<tr class="<%= cycle('', 'altrow') %>">
    <td><%= pool.id %></td>
    <td><%= pool.size %></td>
    <td><%= pool.starting_serial_number %></td>
    <td><%= pool.ending_serial_number %></td>
    <td><%= pool.ending_mac_address %></td>
    <td><%= link_to 'Show', pool %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pool', new_pool_path %>
