<%=render :partial=>'/reporting/nav_config'%>

<div class="span-5"><h3>Cell phone carriers</h3></div>
<%= link_to 'New Carrier', new_carrier_path, :class => "button green-button medium" %>

<table class="bluegrey">
  <tr>
    <th>ID</th><th>Name</th><th>Domain</th><th/><th/><th/>  
  </tr>

<% for carrier in @carriers %>
<tr class="<%= cycle('', 'altrow') %>">
    <td><%= h carrier.id %></td>
    <td><%= h carrier.name %></td>
    <td><%= h carrier.domain %></td>
    <td><%= link_to 'Show', carrier %></td>
    <td><%= link_to 'Edit', edit_carrier_path(carrier) %></td>
    <td><%= link_to 'Destroy', carrier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>