<% form_for(@triage_threshold) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id, "Group" %><br />
    <%= f.collection_select :group_id, @groups, :id, :name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :battery_percent %><br />
    <%= f.text_field :battery_percent %>
  </p>
  <p>
    <%= f.label :hours_without_panic_button_test %><br />
    <%= f.text_field :hours_without_panic_button_test %>
  </p>
  <p>
    <%= f.label :hours_without_strap_detected %><br />
    <%= f.text_field :hours_without_strap_detected %>
  </p>
  <p>
    <%= f.label :hours_without_call_center_account %><br />
    <%= f.text_field :hours_without_call_center_account %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Show', @triage_threshold unless @triage_threshold.new_record? %> 
<%= link_to 'Back', triage_thresholds_path %>
