<p>
  <b>Group:</b>
  <%=h @triage_threshold.group_name %>
</p>

<p>
  <b>Status:</b>
  <%=h @triage_threshold.status %>
</p>

<p>
  <b>Battery percent:</b>
  <%=h @triage_threshold.battery_percent %>
</p>

<p>
  <b>Hours without panic button tested:</b>
  <%=h @triage_threshold.hours_without_panic_button_test %>
</p>

<p>
  <b>Hours without strap detected:</b>
  <%=h @triage_threshold.hours_without_strap_detected %>
</p>

<p>
  <b>Hours without call center account:</b>
  <%=h @triage_threshold.hours_without_call_center_account %>
</p>


<%= link_to 'Edit', edit_triage_threshold_path(@triage_threshold) %> |
<%= link_to 'Back', triage_thresholds_path %>
