<% if @user.blank? %>
  <h1 id="no_logs_available">No logs available</h1>
<% else %>
  <h1>Logs for <%= @user.name %></h1>

  <%= will_paginate @user_logs %>
  <table class="bluegrey">
    <tr>
      <th class="span-3">Created at</th>
      <th>Message</th>
    </tr>
    <% @user_logs.each do |log| %>
    <tr class="<%= cycle('', 'altrow') %>">
      <td><%= h log.created_at %></td>
      <td><%= h log.log %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @user_logs %>
<% end %>