<div class="content">
<% content_for :js do %>
<% unless current_user.is_super_admin? || current_user.is_admin_of_any?(@senior.extended_group_memberships) %> <!-- everything read only unless super admin -->
<script type="text/javascript" charset="utf-8">
function DisableEnableForm(xForm,xHow){
  objElems = xForm.elements;
  for(i=0;i<objElems.length;i++){
    objElems[i].disabled = xHow;
  }
}

window.onload = function(){
  DisableEnableForm(document.getElementById("profile_form"),true);
}
</script>
<% end -%>
<% end -%>

<div id="errors" style="color:red;">
  <% if flash[:warning] %>
  <span style="font-size: 150%;">
    The following error occurred:
    <ul>
      <li><%= flash[:warning]%></li>
    </ul>
    <% end %>
    <% if @user.errors %>
    <%= error_messages_for :user %>
    <% end %>

    <% if @profile.errors %>
    <%= error_messages_for :profile %>
    <% end %>
  </div>
  <div id="message" style="display: none;"></div>
  <% if @alert_message %>
  <%= launch_remote_redbox(:url => "/alerts/message", :id => current_user.profile.id, :user_id => current_user.id) %>
  <!-- <script type="text/javascript">
  //<![CDATA[
  new Ajax.Updater('message', '/alerts/message/', {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('message'); }, onLoading:function(request){RedBox.loading(); }})
  //]]>
  </script> -->
  <% end -%>
  <div style="width:380px;" id="container"></div>
  <span style="padding-left:30px;">
    <% if current_user.is_super_admin? && !@user.new_record? %>
      <% @kit_serial_number = KitSerialNumber.find_by_user_id(@user.id,:order => 'created_at desc') %>
      <%= link_to('Change Password', :controller => "profiles", :action => "change_password_init", :id => @user.profile.id,:user_id => @user.id ) unless @user.blank? || @user.profile.blank? %> | <%= link_to "Print Profile Page", :controller => 'users',:action => 'signup_details',:id => @user.id unless @user.blank? %> | 
      <% if @kit_serial_number %>
        <%= link_to "Enter CS and GW serial numbers for #{@kit_serial_number.serial_number}",:controller => 'users',:action => 'edit_serial_number' ,:id => @user.id %> 
      <%else%>
}      <%= link_to "Enter CS and GW serial numbers",:controller => 'users',:action => 'edit_serial_number' ,:id => @user.id %> |
      <%end%>
      <%if !@user.created_by.nil?%>
        Added By <%= @user.creator.name%>
      <%end%>
    <%end%>

    <% if @roles_users_option %>
    <%= link_to "Resend Caregiver Invitation Email",:controller => 'profiles',:action => 'resend_mail',:id => @user.id,:roles_user_id => params[:roles_user_id]%>
    <%end%> 

    <% unless current_user.is_super_admin? || current_user.is_admin_of_any?(@senior.extended_group_memberships) %>
    <p class="color-red" style="padding-left:30px;">Please call tech support 1-888-971-HALO (4256) to make modification to this profile.</p>
    <% end -%>
    <%# form_tag :action => 'create' do -%>
    <% if @user.new_record? %>
      <form action="/profiles/create_caregiver_profile/" method="post" id="profile_form">
    <% else %>
      <form action="/profiles/update_caregiver_profile/<%= params[:id] %>/" method="post" id="profile_form">
    <% end -%>
      <!-- <%# form_tag(:controller => 'profiles', :action => 'update_caregiver_profile', :id => params[:id]) do %> -->
      <%# form_remote_tag(:update => 'container', :url => {:controller => 'profiles', :action => 'update_caregiver_profile', :id => params[:id]}, :html => { :id => 'profile_form'}) do %>
      <div id="device-table" class="table">
        <div class="row">
          <div class="col-250" style="padding-left: 30px;">
            <input type="hidden" name="user_id" value="<%=@user.id%>" />
            <input type="hidden" name="patient_id" value="<%=params[:user_id]%>" />
            <input type="hidden" name="group_id" value="<%=params[:group_id]%>" />
            <input type="hidden" name="roles_user_id" value="<%=params[:roles_user_id]%>" />
            <input type="hidden" name="operator" value="<%=params[:operator]%>"/>
            <%= render :partial => 'login_fields' if @user.new_record? %>
            <%= render :partial => '/profiles/profile_top' %>
          </div>

          <div class="col-250">
            <%= render :partial => '/profiles/profile_bottom' %>
            <%= render :partial => '/profiles/profile_halousers_only' %>
            <br />
            <br />
            <% if @user.new_record? %>
              <%= image_submit_tag("add.gif", :id => "submit_caregiver", :title => "submit_caregiver") %>

            <% else %>
              <% if current_user.is_super_admin? || current_user.is_admin_of_any?(@senior.extended_group_memberships) %> <!-- super admin can update, others can just view -->
                <%= image_submit_tag("update.gif") %>
              <% else %>
                <%= image_tag("update_grey.gif") %>
              <% end -%>
            <% end -%>
          </div>

          <div class="col-250">
            <%= render :partial => '/profiles/profile_textfields' %>
          </div>
        </div>
      </div>	

    </form>
    <!-- <%# end -%> -->
  </div>
</div>
<div style="clear:both"></div>
<div id="user_signup-col-footer"></div>
