<br/>
<br/>
<%= error_messages_for :user %>
<% if @success_message && @success_message == true %>
<div style="width:200px;margin-left:320px" id="container">
<a href="#"><img src="/images/tooltip-close.gif" onClick="RedBox.close()" /></a>
</div>
	<h2><b>Password Changed</b></h2>
	<b>Your password has been changed.</b>
	<p>Please remember to use your new password the next time that you login.</p>
	<p>You will receive an email confirming this change at the following e-mail address:  <b><%= @user.email %></b></p>
<% else %>
<b><%= @message%></b>
<% form_remote_tag :update => 'container', :url => {:controller => "profiles", :action => 'change_password'} do -%>
	 <%= hidden_field :user, :id %>
  <% unless current_user.is_super_admin? || current_user.is_admin_of_any?(@user.group_memberships) %>
   <label for="current_password">Current Password</label>
   <br/>
   <%= password_field :user, :current_password %>
   <br />
   <br />
  <% end %>
	 <label for="password">Your New Password</label>
   <br/>
   <%= password_field :user, :password %>
   <br />
   <br />
   <label for="password_confirmation">Retype your New Password</label>
   <br/>
   <%= password_field :user, :password_confirmation %>
   <br />
       <br/>
        <br/>
        <div align="center">
          <input name="commit" type="image" src="/images/update.gif"  /> <a href="#"><img src="/images/cancel.gif" onClick="RedBox.close()" /></a>
        </div>
<% end %>

<% end  %>