
    <label for="zipcode">Zipcode</label>
    <br />
    <%= text_field :profile, :zipcode %>
      <br />
      <br />
		<label for="home_phone">Home Phone</label>
	    <br />
	    <%= text_field :profile, :home_phone %>
	    <br />
	    <br />
	    <label for="work_phone">Work Phone</label>
	    <br />
	    <%= text_field :profile, :work_phone %>
	    <br />
	    <br />
	    <% if @user.is_operator? %>
	      <label for="phone_email">iPing Email (operators only)</label>
	      <br />
	      <%= text_field :profile, :phone_email %>
	      <br />
	      <br />
	    <% end %>
	    <label for="cell_phone">Cell Phone</label>
	    <br />
	    <%= text_field :profile, :cell_phone %>
	    <br />
	    <br />
	  
	    <select id="profile_carrier_id" name="profile[carrier_id]" style="width:220px;">
	      <% if @profile == nil or @profile.carrier_id == 0 or @profile.carrier_id == nil -%>
	        <option value="" selected="selected" >
	        Select Cell Provider for Text Msg </option>
	      <% end -%>
	      <% @carrier = Carrier.find(:all, :order => "id")
	           @carrier.each do |carrier| %>
	        <option value="<%= carrier.id %>"
	         <% if @profile && @profile.carrier_id == carrier.id -%> selected="selected"<% end -%>
	         >
	         <%= carrier.name %> 
	         </option>
	      <% end %>
	    </select>
	  
	    <br />
	    <br />
	  
	    <label for="time_zone">Time Zone</label>
	  	<br />
	             <%#= time_zone_select ('profile', 'time_zone', TZInfo::Timezone.us_zones, :model => TZInfo::Timezone, :default => "America/Chicago")%> 
	           <%= time_zone_select :profile, :time_zone, TimeZone.us_zones,:default => "Central Time (US & Canada)"%>
	    <br/>

       <!-- <%# if params[:controller] == 'profiles'%>
      <label for="sex">Sex(M/F)</label><br />
      <%#= radio_button "profile","sex",'M' %>Male 
      <%#= radio_button "profile","sex",'F' %>Female<br><br>
      <label for="birth_date">Birth Date</label><br />
      <%#= date_select("profile", "birth_date", :start_year => 1900,:prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :order => [:day, :month, :year])%><br><br>
      <%#end%> -->