<div id="user_signup-col">
	<div id="user_signup-col-header">
		Change Password
	</div>
	<div style="padding-left:30px">
<br/>

<%= error_messages_for :user %>
<% if @success_message && @success_message == true %>
	<h2><b>Password Changed</b></h2>
	<b>The password has been changed.</b>
	<p>The new password must be used at next login.</p>
	<p>An email confirming this change will be received at the following e-mail address:  <b><%= @user.email %></b></p>
<% else %>
<b><%= @message%></b>
<%# form_remote_tag :update => 'container', :url => {:controller => "profiles", :action => 'change_password'} do -%>
<% form_tag :action => 'change_password' do -%>
	 <%= hidden_field :user, :id %>
  <% unless current_user.is_super_admin? || current_user.is_admin_of_any?(@user.group_memberships) %>
   <label for="current_password">Current Password</label>
   <br/>
   <%= password_field :user, :current_password %>
   <br />
   <br />
  <% end %>
	 <label for="password">New Password</label>
   <br/>
   <%= password_field :user, :password %>
   <br />
   <br />
   <label for="password_confirmation">Retype New Password</label>
   <br/>
   <%= password_field :user, :password_confirmation %>
   <br />
       <br/>
        <br/>
        <div align="left">
          <input name="commit" type="image" src="/images/update.gif"  /> <a href="#"><img src="/images/cancel.gif" onClick="RedBox.close()" /></a>
        </div>
<% end %>

<% end  %>
</div>
<div style="clear:both"></div>
	<div id="user_signup-col-footer"></div>
</div>