<div id="user_signup-col">
	<div id="user_signup-col-header">
		Edit Profile: <%= @user.name%>
	</div>
  <div class="content">
	
		<div id="errors" style="color:red;">
			<% if flash[:warning] %>
			  <span style="font-size: 150%;">
			  The following error occurred:
			  <ul>
			  <li><%= flash[:warning]%></li>
			  </ul>
			<% end %>
			<% if @user.errors %>
			  <%= error_messages_for :user %>
			<% end %>
			
			<% if @profile.errors %>
			<%= error_messages_for :profile %>
			<% end %>
		</div>
		<div id="message" style="display: none;"></div>
		<%if @alert_message %>
		<script type="text/javascript">

		//<![CDATA[
		new Ajax.Updater('message', '/alerts/message/', {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('message'); }, onLoading:function(request){RedBox.loading(); }})
		//]]>

		</script>
		
		<%end%>
	<div style="width:380px;" id="container"></div>
	<span style="padding-left:30px;">
		<% if current_user.is_admin? || current_user.is_super_admin? %>
		  <% @kit_serial_number = KitSerialNumber.find_by_user_id(@user.id,:order => 'created_at desc') %>
	      <%=link_to('Change Password', :controller => "profiles", :action => "change_password_init", :id => @user.profile.id,:user_id => @user.id )%> | <%= link_to "Print Profile Page", :controller => 'users',:action => 'signup_details',:id => @user.id %> | 
	      <%  if @kit_serial_number %>
	        <%= link_to "Enter CS and GW serial numbers for #{@kit_serial_number.serial_number}",:controller => 'users',:action => 'edit_serial_number' ,:id => @user.id %> 
	      <%else%>
	       <%= link_to "Enter CS and GW serial numbers",:controller => 'users',:action => 'edit_serial_number' ,:id => @user.id %> 
	      <%end%>
	    <%end%>
      <%# form_tag :action => 'create' do -%>
		<% form_tag(:controller => 'profiles', :action => 'update_caregiver_profile', :id => params[:id]) do %>
		<%# form_remote_tag(:update => 'container', :url => {:controller => 'profiles', :action => 'update_caregiver_profile', :id => params[:id]}, :html => { :id => 'profile_form'}) do %>
	 <div id="device-table" class="table">
	 	<div class="row">
		  <div class="col-250" style="padding-left: 30px;">
 			<input type="hidden" name="user_id" value="<%=@user.id%>" />
 			        <input type="hidden" name="patient_id" value="<%=params[:user_id]%>" />
        <input type="hidden" name="group_id" value="<%=params[:group_id]%>" />
        <input type="hidden" name="roles_user_id" value="<%=params[:roles_user_id]%>" />
		<input type="hidden" name="operator" value="<%=params[:operator]%>"/>
		  	<%= render :partial => '/profiles/profile_top' %>
		  </div>
		  
		  <div class="col-250">
		  	<%= render :partial => '/profiles/profile_bottom' %>
		  	<%= render :partial => '/profiles/profile_halousers_only' %>
			<br />
			<br />
			<input name="commit" type="image" src="/images/update.gif"  />
		  </div>
			
			<div class="col-250">
				<%= render :partial => '/profiles/profile_textfields' %>
			</div>
		</div>
	 </div>	
        
      <% end -%>
    </div>
  </div>
	<div style="clear:both"></div>
	<div id="user_signup-col-footer"></div>
</div>