<% if params[:frame] %>
  
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="lightbox-col">
    <img src="/images/lightbox-col-header.gif" /><br />
    <div class="lightbox-content">
      <div style="width:380px;" id="container">
      <% end %>
      <br />
      <br />
      <%= error_messages_for :profile %>
	  <% if @user == current_user || current_user.is_super_admin? || current_user.is_admin_of_any?(@user.group_memberships) %>
	  <center><%=link_to_remote('Change Password', :update => 'container', :url =>{ :controller => "profiles", :action => "change_password_init", :id => @user.profile.id, :frame => true,:user_id => @user.id }, :html => {:method => :get})%>
	  <% end %></center>
      <br><br>
	  <% form_remote_tag(:update => 'call_list', :url => {:controller => 'profiles', :action => 'update_caregiver_profile', :id => params[:id]}, :html => { :id => 'profile_form'}) do %>
        <input type="hidden" name="user_id" value="<%=@user.id%>" />
        <input type="hidden" name="patient_id" value="<%=params[:user_id]%>" />
        <input type="hidden" name="group_id" value="<%=params[:group_id]%>" />
        <input type="hidden" name="roles_user_id" value="<%=params[:roles_user_id]%>" />
		<input type="hidden" name="operator" value="<%=params[:operator]%>"/>
        <%= render :partial => 'profile' %>
        <br/>
        <br/>
        <div align="center">
          <input name="commit" type="image" src="/images/update.gif" onClick="RedBox.close();return true;" /> <a href="#"><img src="/images/cancel.gif" onClick="RedBox.close();" /></a>
        </div>
      <% end %>
      
      <% if params[:frame] %>
      
      </div>
    </div>
    <img src="/images/lightbox-col-footer.gif" />
  </div>
<% end %>