<%= render :partial => "/reporting/nav_config" %>     
<h2 id="invoices">Invoices</h1>    
<%= render :partial => 'invoice_header' %>
<br/>
<div><%= will_paginate @invoices %></div>
<div><%= link_to 'All Installed and Pending Users', { :controller => 'reporting', :action => 'users', :user_subset => {'pending' => 'pending', 'installed' => 'installed'} }, :class => 'button small green-button' %></div>
<br/> 
<div class="span-24">
  <table class="bluegrey">
    <tr>
      <th><div class="border">UID</div></th>
      <th><div class="border">Name</div></th>
      <th><div class="border">Groups</div></th>
      <th><div class="border">Pro-Rata Start Date</div></th>
      <th><div class="border">Installed Date</div></th>
      <th><div class="border">Recurring Start Date</div></th>
      <th><div class="border">Coupon Code</div></th>
      <th><div class="border">Shipping</div></th>
      <th><div class="border">Prorate</div></th>
      <th><div class="border">Recurring</div></th>       
      <th><div class="border">Deposit Amount</div></th>
      <th><div class="border">Cancelled Date</div></th> 
      <th style="background-color: #D6D6D6;"><div class="border">Invoice #</div></th>                   
      <th style="background-color: #FFB3B3;"><div class="border">Deposit Holder</div></th>            
      <th style="background-color: #FFB3B3;"><div class="border">Payment Collector</div></th>
      <th style="background-color: #FFB3B3;"><div class="border">Payment Type</div></th>
      <th style="background-color: #FFB3B3;"><div class="border">Manual Billing? <span class="tiny">(ie. no Credit Card)</span></div></th>
      <th style="background-color: #FFB3B3;"><div class="border">Kit Owner</div></th>
      <th style="background-color: #FFB3B3;"><div class="border">Kit Leased from Master Dealer?</div></th>
      <th style="background-color: #FFB866;"><div class="border">Kit Charged Date</div></th>
      <th style="background-color: #FFB866;"><div class="border">Kit Charged Price</div></th>
      <th style="background-color: #FFB866;"><div class="border">Deposit Returned Date</div></th>
      <th style="background-color: #CAE495;"><div class="border">Dealer Install Fee</div></th>
      <th style="background-color: #CAE495;"><div class="border">Dealer Install Charge Date</div></th>
      <th style="background-color: #CAE495;"><div class="border">Dealer Install Fee Payout Date</div></th>
      <th style="background-color: #E5E5FF;"><div class="border">Affiliate Fee <span class="tiny">(If installed for 3 months)</span></div></th>
      <th style="background-color: #E5E5FF;"><div class="border">Affiliate Group</div></th>
      <th style="background-color: #E5E5FF;"><div class="border">Affiliate Payout Date</div></th>
      <th style="background-color: #D6D6D6;"><div class="border">Referral Fee <span class="tiny">(If installed for 3 months)</span></div></th>
      <th style="background-color: #D6D6D6;"><div class="border">Referral Fee Group</div></th>
      <th style="background-color: #D6D6D6;"><div class="border">Referral Payout Date</div></th>
      <th><div class="border">UID</div></th>
      <th><div class="border">Audit</div></th>
    </tr>
    <%= render :partial => 'invoice_row', :collection => @invoices %>
  </table>
</div>
<div><%= will_paginate @invoices %></div>   


