<h1 id="invoices">Invoices</h1>
<%= render :partial => "/reporting/nav_config" %>
<div><%= will_paginate @invoices %></div>
<div><%= link_to 'All Installed and Pending Users', { :controller => 'reporting', :action => 'users', :user_subset => {'pending' => 'pending', 'installed' => 'installed'} }, :class => 'button small green-button' %></div>
<br/>
<div class="span-24">
  <table class="bluegrey">
    <tr>
      <th><div class="border">UID</div></th>
      <th><div class="border">Name</div></th>
      <th><div class="border">Groups</div></th>
      <th><div class="border">Pro-Rata Start Date</div></th>
      <th><div class="border">Installed Date</div></th>
      <th><div class="border">Recurring Start Date</div></th>
      <th><div class="border">Coupon Code</div></th>
      <th><div class="border">Invoice #</div></th>
      <th><div class="border">Payment Collector</div></th>
      <th><div class="border">Payment Type</div></th>
      <th><div class="border">Manual Billing? <span class="tiny">(ie. no Credit Card)</span></div></th>
      <th><div class="border">Kit Owner</div></th>
      <th><div class="border">Leased from Master Dealer?</div></th>
      <th><div class="border">Kit Charged Date</div></th>
      <th><div class="border">Kit Charged Price</div></th>
      <th><div class="border">Deposit Holder</div></th>
      <th><div class="border">Deposit Returned Date</div></th>
      <th><div class="border">Deposit Amount</div></th>
      <th><div class="border">Shipping</div></th>
      <th><div class="border">Prorate</div></th>
      <th><div class="border">Recurring</div></th>
      <th><div class="border">Cancelled Date</div></th>
      <th><div class="border">Dealer Install Fee</div></th>
      <th><div class="border">Dealer Install Charge Date</div></th>
      <th><div class="border">Affiliate Fee</div></th>
      <th><div class="border">Affiliate Group</div></th>
      <th><div class="border">Affiliate Charge Date</div></th>
      <th><div class="border">Referral Fee <span class="tiny">(If installed for 3 months)</span></div></th>
      <th><div class="border">Referral Fee Group</div></th>
      <th><div class="border">Referral Charge Date</div></th>     
      <th><div class="border">UID</div></th>      
    </tr>
    <%= render :partial => 'invoice_row', :collection => @invoices %>
  </table>
</div>
<div><%= will_paginate @invoices %></div>
