<div id="event_event_<%= weight_scale.id %>" style="padding-left:10px;cursor:pointer">
    <div style="float:left;width:450px">
      <%= UtilityHelper.format_datetime(weight_scale.timestamp,weight_scale.user) %>&nbsp;
    </div>
    <div style="float:left;width:150px">
      <%= (weight_scale.weight.to_f/1000.0).round(1)%>&nbsp; <%= weight_scale.weight_unit%>
    </div>
    <div style="float:left;width:100px">
      <%= weight_scale.bmi %>
    </div>
    <div style="float:left;width:100px">
      <%=weight_scale.hydration%>
    </div>
    <div style="float:left;width:100px">
      <%= (weight_scale.battery.to_f/1000.0).round(1)%>
    </div>
</div>
<hr class="space" />