<div id="event_event_<%= weight_scale.id %>" style="padding-left:10px;cursor:pointer;">
    <div style="float:left;width:450px">
      <%= UtilityHelper.format_datetime(weight_scale.timestamp,weight_scale.user) %>&nbsp;
    </div>
    <div style="float:left;width:150px">
      <%= weight_scale.weight_string %>
    </div>
    <div style="float:left;width:100px">
      <%= weight_scale.bmi %>
    </div>
    <div style="float:left;width:100px">
      <%=weight_scale.hydration%>
    </div>
    <div style="float:left;width:100px">
      <%= weight_scale.battery_string %>
    </div>
</div>
<hr class="space" />
