<div class="span-12"><%= render :partial => 'vital_lists/nav' %></div>
<div class="span-12 last text-right">
  <%= form_tag '/weight_scales', :method => :get %>
  MyHalo Users: 
  <%= select_tag "id", options_from_collection_for_select( @seniors, "id", "name", @senior.id), :onchange => "this.form.submit();" %>
</form>
</div>

<div id="call_list-col">

  <div id="call_list-col-header">
    Weight Scale | <span style="color:#000;font-size:.75em">
      <%= @weight_scales.first.user_summary unless @weight_scales.blank? %><br />
    </span>
  </div>

  <div class="content">
    <div id="call_list_header">
      <div style="float:left;width:450px;padding-left:10px">Timestamp</div>
      <div style="float:left;width:150px">Weight</div>
      <div style="float:left;width:100px">BMI</div>
      <div style="float:left;width:100px">Hydration</div>
      <div style="float:left;width:100px">Battery</div>
    </div>
    <p>&nbsp;</p>
    <%= render :partial => 'weight_scale', :collection => @weight_scales %>
  </div>
  <div id="call_list-col-footer"></div>
</div>
<hr class="space" />
<div><%= will_paginate @weight_scales %></div>
