<% form_for(@rma) do |f| %>   
Back to <%= link_to 'RMA List', rmas_path, :class => "button blue-button medium" %>
<% unless @rma.new_record? %>
, view this <%= link_to 'Read Only', rma_path(@rma), :class => "button blue-button medium" %>
<% end -%>
, or <%= f.submit "Submit", :class => 'button green-button medium' %> changes.
<%= f.error_messages %><br><br  > 
<div class="box">
<table>
  <tr>
    <td class="aligntop">
      <table>
        <tr>
          <td class="textright"><%= f.label :status, "RMA Status" %>:</td>
          <td><%=h @rma.computed_status %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :user_id, "User ID" %>:</td>
          <td><%= f.select :user_id, User.halousers.collect {|e| ["(#{e.id}) #{e.name}", e.id]} %></td>
        </tr>
        <tr>
          <td class="textright"><span class="tiny">(required) </span><br /><%= f.label :serial_number, "Serial Number" %>:</td>
          <td><%= f.text_field :serial_number %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :group_id, "Group" %>:</td>
          <td><%= f.collection_select(:group_id, @groups, :id, :name, {:prompt => true}) %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :related_rma, "Related RMA ID" %>#:</td>
          <td><%= f.text_field :related_rma %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :redmine_ticket, "Redmine Issue Ticket #(s)" %>:</td>
          <td><%= f.text_field :redmine_ticket %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :created_at, "Created at" %>:</td>
          <td><%=h @rma.created_at.to_s %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :updated_at, "Updated at" %>:</td>
          <td><%=h @rma.updated_at.to_s %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_completed_on">RMA Completed Date</label>:</td>
          <td><%= calendar_date_select_tag "rma[completed_on]", @rma.completed_on.to_s, :id => "rma_completed_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_termination_requested_on">RMA Termination Requested</label>:</td>
          <td><%= calendar_date_select_tag "rma[termination_requested_on]", @rma.termination_requested_on.to_s, :id => "rma_termination_requested_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_discontinue_bill_on">RMA Desired Discontinuation</label>:</td>
          <td>
            <%= calendar_date_select_tag "rma[discontinue_bill_on]", @rma.discontinue_bill_on.to_s, :id => "rma_discontinue_bill_on", :popup => 'force' %>
            <!--%= link_to_function "30 days" %-->
            <!--div><%= link_to "Discontinue Billing", "#", :class => "button green-button small", :confirm => "Are you sure you want to discontinue billing?" %></div-->
          </td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_discontinue_service_on">RMA Discontinue Service:</label>:</td>
          <td>
            <%= calendar_date_select_tag "rma[discontinue_service_on]", @rma.discontinue_service_on.to_s, :id => "rma_discontinue_service_on", :popup => 'force' %>
            <!--div><%= link_to "Discontinue Service", "#", :class => "button green-button small", :confirm => "Are you sure you want to discontinue billing?" %></div-->
          </td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_received_verified_on">RMA Received & Verified:</label>:</td>
          <td><%= calendar_date_select_tag "rma[received_verified_on]", @rma.received_verified_on.to_s, :id => "rma_received_verified_on", :popup => 'force' %></td>
        </tr>
      </table>
    </td>

    <td width="15px"></td>

    <td class="aligntop">
      <table>
        <tr>
          <td class="textright"><%= f.label :service_outage, "Service Outage" %>:</td>
          <td><%= f.select :service_outage, [['Yes', 'Yes'], ['No', 'No']] %></td>
        </tr>
        <tr><td><h3>RMA Shipping</h3></td></tr>
        <tr>
          <td class="textright"><%= f.label :ship_name, "Name" %>:</td>
          <td><%= f.text_field :ship_name %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :ship_address, "Address" %>:</td>
          <td><%= f.text_area :ship_address, :rows => 3 %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :ship_city, "City" %>:</td>
          <td><%= f.text_field :ship_city %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :ship_state, "State" %>:</td>
          <td><%= f.text_field :ship_state %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :ship_zipcode, "Zip Code" %>:</td>
          <td><%= f.text_field :ship_zipcode %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :phone_number, "Phone Number" %>:</td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :notes, "Notes" %>:</td>
          <td><%= f.text_area :notes, :rows => 3 %></td>
        </tr>
      </table>
    </td>
</table> 
</div>
<br />
<p>
  <%= render :partial => "rma_items/rma_items", :locals => {:rma => @rma} %>
</p>
<% end %>
<br />

