<div class="span-24 last">
  <!-- <meta http-equiv="refresh" content="30"> -->
  <%= render :partial => 'atp/nav'%>

  <% form_tag rmas_path, :method => :get, :id => "rma_search" do %>

  <div class="span-8">
    <h2>RMAs Navigation</h2>
    <%= link_to 'Create New RMA',new_rma_path -%> | 
    <%= link_to 'RMA Reports' %> | 
    <%= link_to 'RMA History' %>
  </div>

  <div class="span-16 last">
    <div class="span-15 last text-right box">
      <div class="span-12">
        <%= text_area_tag "search", @search, :rows => 1, :class => "span-12" %>
        <%= hidden_field_tag :sort %>
      </div>
      <div class="span-2 last prepend-top"><%= submit_tag "Search", :class => "button white-button medium" %></div>
      <!-- <=# collection_select(:group, :id, @groups, :id, :name, {:prompt => true}) > -->
    </div>
  </div>

  <div class="span-24 last">
    <table class="bluegrey pull-up">
      <tr>
        <th class="span-2">ID</th>
        <th class="span-2">Date created</th>
        <th class="span-2">Serial Number</th>
        <th class="span-5">User ID</th>
        <th class="span-2">Group 
          <%= link_to_function "^", nil, :id => "sort" do |page|
            page[:sort].value = "group asc"
            page[:rma_search].submit
          end %>
          <%= link_to_function "v", nil, :id => "sort" do |page|
            page[:sort].value = "group desc"
            page[:rma_search].submit
          end %>
        </th>
        <th class="span-3">Phone</th>
        <th class="span-6">RMA Status</th>
        <th class="span-2">Action</th>
      </tr>
    </table>
  </div>
  <% end %>

  <div class="span-24 last"><table><%= render :partial => 'rma_row', :collection => @rmas %></table></div>

  <div class="text-center"><%= will_paginate @rmas %></div>
</div>
