<!-- <meta http-equiv="refresh" content="30"> -->
<%= render :partial => 'atp/nav'%>
<h2>RMAs Navigation</h2>

<p>
  <%= link_to 'Create New RMA',new_rma_path -%> | 
  <%= link_to 'RMA Reports' %> | 
  <%= link_to 'RMA History' %>
</p>

<p>
  <form name="rma_search" action="/rmas" class="textright">
  <input type="text" name="search" size="50" value="Enter UID, Serial or Status to filter" class="outlined" style="padding:2px 5px 3px 5px;" onFocus="value=''">
  <input type="submit" value="Search" class="outlined">
  </form>
  <!-- <=# collection_select(:group, :id, @groups, :id, :name, {:prompt => true}) > -->
</p>

<p>
  <table class="bluegrey">
    <tr>
    	<th>ID</th>
    	<th>Date Created</th>
    	<th>Serial Number</th>
    	<th>User ID</th>
    	<th>Group</th>
    	<th>Phone</th>
    	<th>RMA Status</th>
      <th>Action</th>
    </tr>
    <% @rmas.each do |rma| %>
      <tr class="<%= cycle('', 'altrow') %>">
        <td><%=h rma.id.to_i %></td>
        <td><%=h rma.created_at.to_s(:MM_DD_YYYY) %></td>
        <td><%=h rma.serial_number %></td>
        <td><%=h rma.user_name %></td>
        <td><%=h rma.group_name %></td>
        <td><b><%=h rma.phone_number %></b></td>
        <td><b><%=h rma.status %></b></td>
        <td>
          <%= link_to 'Edit', edit_rma_path(rma) %> | 
          Copy | 
          <%= link_to 'Destroy', rma, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end -%>
  </table>
</p>

<p>
  <center><big><%= will_paginate @rmas %></big></center>
</p>