<div class="span-24 last">
  <div class="span-2"><h2>RMAs</h2></div>
  <!-- <meta http-equiv="refresh" content="30"> -->
  <div class="span-22 last text-right"><%= render :partial => 'atp/nav'%></div>

  <% form_tag rmas_path, :method => :get, :id => "rma_search" do %>
  
  <% rma_statuses_1 = (rma_statuses_2 = RmaItemStatus::STATUSES).slice!(0, RmaItemStatus::STATUSES.size/2) %>
  <div class="span-23 box">
      <div class="span-4">
        <% rma_statuses_1.each do |status| %>
          <div style="display: inline-block;"><%= check_box_tag "status[#{status[0]}]", status[1], instance_variable_get("@rma_#{status[0].downcase.gsub(' ','_')}") %> <%=h status[0] %></div>
        <% end %>
      </div>
      <div class="span-5">
        <% rma_statuses_2.each do |status| %>
          <div style="display: inline-block;"><%= check_box_tag "status[#{status[0]}]", status[1], instance_variable_get("@rma_#{status[0].downcase.gsub(' ','_')}") %> <%=h status[0] %></div>
        <% end %>
      </div>      
      
      <div class="span-11 last text-right">
        <%= text_area_tag "search", @search, :rows => 1, :class => "span-11" %>
        <%= hidden_field_tag :sort %><br />
        <%= submit_tag "Search", :class => "button white-button medium" %>
      </div>
  </div>

  <div class="span-24 last">
    <table class="bluegrey pull-up">
      <tr>
        <th class="span-2">ID</th>
        <th class="span-2">Date created</th>
        <th class="span-2">Serial Number</th>
        <th class="span-5">User ID</th>
        <th class="span-2">Group 
          <%= link_to_function "^", nil, :id => "sort" do |page|
            page[:sort].value = "group asc"
            page[:rma_search].submit
          end %>
          <%= link_to_function "v", nil, :id => "sort" do |page|
            page[:sort].value = "group desc"
            page[:rma_search].submit
          end %>
        </th>
        <th class="span-3">Phone</th>
        <th class="span-6">RMA Status</th>
        <th class="span-2">Action</th>
      </tr>
      <%= render :partial => 'rma_row', :collection => @rmas %>
    </table>
  </div>
  <% end %>

  <div class="span-12 text-center"><%= will_paginate @rmas %>&nbsp;</div>
  <div class="span-12 last text-right">
    <!--%= link_to 'RMA Reports', "#", :class => "button blue-button medium" %-->
    <!--%= link_to 'RMA History', "#", :class => "button blue-button medium" %-->
    <%= link_to 'Create New RMA',new_rma_path, :class => "button green-button medium" -%>
  </div>
</div>
