<!-- <meta http-equiv="refresh" content="30"> -->
<%=render :partial => 'atp/nav'%>
<h2>RMAs Navigation</h2> <%= link_to 'Create New RMA',new_rma_path%>

<br><br>

<form name="rma_search" action="/rmas">
<%= collection_select(:group, :id, @groups, :id, :name, {:prompt => true}) %>
<input type="text" name="search">
<input type="submit" value="Search">
</form>

<br>
<table border="1">
	<th>Id</th>
	<th>Date Created</th>
	<th>Halo User #</th>
	<th>Group</th>
	<th>RMA Staus</th>
	<th>Phone Number</th>

	<% if @rmas %>
	<% @rmas.each do |rma| %>
	  <tr>
	  	<td><%= link_to rma.id,rma_path(rma.id) %></td>
	  	<td><%= UtilityHelper.format_datetime(rma.created_at,current_user) %></td>	
	  	<td><%= rma.user.name %></td>
	  	<td><%= rma.group.name %></td>
	  	<td><b><%= rma.status %></b></td>
	  	<td><b><%= rma.phone_number %></b></td>
	<%end%>
	<%end%>
</table>
<br>
<center><big><%= will_paginate @rmas %></big></center>
