<!-- <meta http-equiv="refresh" content="30"> -->
<table width="100%"><tr>
  <td>
    <%= link_to 'Back to all RMAs', rmas_path, :class => "button blue-button medium" %>
    <%= link_to 'Edit this RMA', edit_rma_path(@rma), :class => "button green-button medium" unless @rma.new_record? %>
  </td>
</tr></table>
<div class = "box">
<% form_for @rma do |f| -%>
<table>
  <tr>
    <td class="aligntop">
      <table>
        <tr>
          <td class="textright"><%= f.label :status, "RMA Status" %>:</td>
          <td><%=h @rma.computed_status %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :user_id, "User ID" %>:</td>
          <td>(<%=h @rma.user_id %>) <%=h @rma.user_name %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :serial_number, "Serial Number" %>:</td>
          <td><%=h @rma.serial_number %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :group_id, "Group" %>:</td>
          <td><%=h @rma.group_name %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :related_rma, "Related RMA ID" %>#:</td>
          <td><%=h @rma.related_rma %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :redmine_ticket, "Redmine Issue Ticket #(s)" %>:</td>
          <td><%=link_to @rma.redmine_ticket,"https://redmine.corp.halomonitor.com/issues/" + @rma.redmine_ticket.to_s %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :created_at, "Created at" %>:</td>
          <td><%=h @rma.created_at %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :updated_at, "Updated at" %>:</td>
          <td><%=h @rma.updated_at %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_completed_on">RMA Completed Date</label>:</td>
          <td><%=h @rma.completed_on unless @rma.completed_on.blank? %></td>
        </tr> 
        <tr>
          <td class="textright"><label for="rma_termination_requested_on">RMA Termination Requested</label>:</td>
          <td><%=h @rma.termination_requested_on unless @rma.termination_requested_on.blank? %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_discontinue_bill_on">RMA Desired Discontinuation</label>:</td>
          <td><%=h @rma.discontinue_bill_on unless @rma.discontinue_bill_on.blank? %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_discontinue_service_on">RMA Discontinue Service:</label>:</td>
          <td><%=h @rma.discontinue_service_on unless @rma.discontinue_service_on.blank? %></td>
        </tr>
        <tr>
          <td class="textright"><label for="rma_received_verified_on">RMA Received & Verified:</label>:</td>
          <td><%=h @rma.received_verified_on unless @rma.received_verified_on.blank? %></td>          
        </tr> 
        <tr>
          <td class="textright"><%= f.label :service_outage, "Service Outage" %>:</td>
          <td><%=h @rma.service_outage %></td>
        </tr>               
      </table>
    </td>
    
    <td width="15px"></td>
    
    <td class="aligntop">
      <table class="span-5">
        <tr><td><h3>Shipping Info</h3></td></tr>
        <tr>
          <td><%= f.label :ship_name, "Name" %>:</td>
          <td><%=h @rma.ship_name %></td>
        </tr>
        <tr>
          <td><%= f.label :ship_address, "Address" %>:</td>
          <td><%=h @rma.ship_address %></td>
        </tr>
        <tr>
          <td><%= f.label :ship_city, "City" %>:</td>
          <td><%=h @rma.ship_city %></td>
        </tr>
        <tr>
          <td><%= f.label :ship_state, "State" %>:</td>
          <td><%=h @rma.ship_state %></td>
        </tr>
        <tr>
          <td><%= f.label :ship_zipcode, "Zip Code" %>:</td>
          <td><%=h @rma.ship_zipcode %></td>
        </tr>
        <tr>
          <td><%= f.label :phone_number, "Phone Number" %>:</td>
          <td><%=h @rma.phone_number %></td>
        </tr>
        <tr>
          <td><%= f.label :notes, "Notes" %>:</td>
          <td><%=h @rma.notes %></td>
        </tr>
      </table>
    </td>
  </tr>

</table>
</div>

<p>
  <%= render :partial => "rma_items/rma_items", :locals => {:rma => @rma} %>
</p>
<br />

<% end -%>
