<!-- See http://corelib.rubyonrails.org/classes/CGI.html for more environment variables -->
<b>Server</b><br>
UNIX hostname: <code><%= `hostname` %></code><br>
Unix time: <code><%= `date` %></code><br>
Server Instance: <code><%= ServerInstance.current_host_short_string() %></code><br>
Health Server S/W version (via <code>git describe</code>): <code><%= `cd ~/haloror; /usr/bin/git describe` %></code><br>
Rails Environment: <code><%= ENV['RAILS_ENV'] %></code><br>  
<br>
<b>Current User</b><br>
Current user: <%= @current_user.name if @current_user %><br>
<code>Time.zone.name: <%= Time.zone.name %></code><br>
Current time: <%= Time.zone.now.inspect %><br>
Current user's time zone: <%= current_user.profile.time_zone %><br>
<br>
<b>Network</b><br>
SERVER_ADDR: <code><%= request.env["SERVER_ADDR"].to_s %></code> <br>
HOST_NAME : <code><%= request.host %></code> <br>
REMOTE_ADDR: <code><%= request.env["REMOTE_ADDR"].to_s %></code> <br>
<br>
<b>Software Versions</b><br>
OS: <code><%= `cat /etc/redhat-release` %></code><br>
Database: <code><%= ActiveRecord::Base.connection.select_value("SELECT  VERSION()") %></code><br>
Email delivery method: <code><%= ActionMailer::Base.delivery_method %></code><br>
SMTP server: <code> <%= ActionMailer::Base.smtp_settings[:address] %></code><br>
Ruby: <code> <%= "#{RUBY_VERSION} (#{RUBY_RELEASE_DATE}) on #{RUBY_PLATFORM}" %> </code><br>
Rails: <code> <%= "#{Rails::VERSION::STRING}" %> </code><br>
Git: <code><%= `/usr/bin/git --version` %></code><br>
<br>
<b>Rufus Constants </b><br>
<code>
GATEWAY_OFFLINE_POLL_RATE= <%= GATEWAY_OFFLINE_POLL_RATE %><br>
DEVICE_UNAVAILABLE_POLL_RATE= <%= DEVICE_UNAVAILABLE_POLL_RATE %><br>
EMAIL_NOTIFICATION_RATE= <%= EMAIL_NOTIFICATION_RATE %><br>
MAX_ATTEMPTS_BEFORE_NOTIFICATION= <%= MAX_ATTEMPTS_BEFORE_NOTIFICATION %><br>
STRAP_OFF_POLL_RATE= <%= STRAP_OFF_POLL_RATE %><br>
MAX_ATTEMPTS_BEFORE_NOTIFICATION_STRAP_OFF= <%= MAX_ATTEMPTS_BEFORE_NOTIFICATION_STRAP_OFF %><br>
DIAL_UP_ARCHIVE_FILES_TO_KEEP_MIN= <%= DIAL_UP_ARCHIVE_FILES_TO_KEEP_MIN %><br>
BATTERY_REMINDER_POLL_RATE=<%= BATTERY_REMINDER_POLL_RATE %><br>
</code>
<br>


<b>GW Alarm Reset button timeout</b><br>
<code>
GW_RESET_BUTTON_FOLLOW_UP_TIMEOUT=<%= GW_RESET_BUTTON_FOLLOW_UP_TIMEOUT/60 %> minutes<br>
</code>

<br>
<b>Lost Data</b><br>
<code>
LOST_DATA_GAP = <%= LOST_DATA_GAP %>s<br>
</code>
<br>
<b>Events</b><br>
<code>
EVENTS_PER_PAGE = <%= EVENTS_PER_PAGE %><br>
</code>
<br>
<b>ADL-related Constants </b><br>
<code>
MIN_ADL_RESTING_ORIENTATION=<%= MIN_ADL_RESTING_ORIENTATION %><br>
MAX_ADL_RESTING_ORIENTATION=<%= MAX_ADL_RESTING_ORIENTATION %><br>
MIN_ADL_RESTING_ACTIVITY=<%= MIN_ADL_RESTING_ACTIVITY %><br>
</code>
<br>
<b>Mgmt protocol-related Constants </b><br>
<code>
MGMT_CMD_ATTEMPTS_WITHOUT_ACK=<%= MGMT_CMD_ATTEMPTS_WITHOUT_ACK %><br>
</code>
<br>

<b>Alert Types and Groups</b>
<table>
  <tr>
  <td><b>Alert Type   </b></td>
  <td><b>Groups </b></td>
  </tr>
  <% @alert_types.each do |alert_type| %>
    <tr>
    <td><%= alert_type.alert_type %> </td>
    <% alert_type.alert_groups.each do |group| %> 
      <td><%= group.group_type %> </td>
    <% end %>
    <tr>
  <% end %>
</table>
<br>
<!-->
<b>Install Wizard (seconds)</b><br>
<code>
INSTALL_WIZ_TIMEOUT_REGISTRATION=<%= INSTALL_WIZ_TIMEOUT_REGISTRATION %><br>
INSTALL_WIZ_TIMEOUT_GATEWAY=<%= INSTALL_WIZ_TIMEOUT_GATEWAY %><br>
INSTALL_WIZ_TIMEOUT_CS=<%= INSTALL_WIZ_TIMEOUT_CS %><br>
INSTALL_WIZ_TIMEOUT_PHONE=<%= INSTALL_WIZ_TIMEOUT_PHONE %><br>
INSTALL_WIZ_TIMEOUT_HEARTRATE=<%= INSTALL_WIZ_TIMEOUT_HEARTRATE %><br>
</code>
<br>
-->
