<tr>
  <td><%= image_tag (triage_audit_log.is_dismissed ? "warning_16.png" : "tick.png") %></td>
  <td><%= link_to truncate(triage_audit_log.description, 75), edit_triage_audit_log_path( triage_audit_log) %></td>
  <td class="span-6">
    <% unless triage_audit_log.creator.blank? %>
      <%= h triage_audit_log.creator.name %><br />
    <% end %>
    <span class="timestamp"><%= h triage_audit_log.created_at %></span>
  </td>
  <td class="span-6">
    <% unless triage_audit_log.updator.blank? %>
      <%= h triage_audit_log.updator.name %><br />
    <% end %>
    <span class="timestamp"><%= h triage_audit_log.updated_at %></span>
  </td>
  <!-- <td class="span-3">
    <div class="button <%#= triage_audit_log.status_color %>-button small"><%#= triage_audit_log.status.blank? ? 'Not Submitted' : triage_audit_log.status %></div>
  </td> -->
</tr>
