<div class="span-18">
  <h1 id="triage_notes"><%= link_to 'Triage', triage_path %> Notes for: <%= @user.name %></h1>
</div>
<div class="span-6 last">
  <%= image_tag "warning_16.png" %> = Dismissed<br />
  <%= image_tag "tick.png" %> = Recalled / Pending / Not-Dismissed
</div>
<div class="span-24 last">
  <table class="bluegrey">
    <tr>
      <th>Dismissed?</th>
      <th>Description</th>
      <th>Created by/at</th>
      <th>Updated by/at</th>
      <th>Status</th>
    </tr>
    <%= render :partial => 'triage_audit_log', :collection => @triage_audit_logs %>
  </table>
</div>
<div class="span-8"><%= link_to 'Triage', triage_path, :class => 'button white-button' %></div>
<div class="span-16 last text-right"><%= will_paginate @triage_audit_logs %></div>
