<div class="span-24 last">
  <div class="span-12">
    <h2 id="triage_notes"><span class="text-light-grey">Notes for:</span> <%= @user.name %></h2>
  </div>
  <div class="span-12 last text-right">
Legend:
    <%= image_tag "tick.png" %> <span class="tiny">Normal/Dismissed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <%= image_tag "warning_16.png" %> <span class="tiny">Needs action</span>
  </div>
  <div class="span-24 last">
    <table class="bluegrey">
      <tr>
        <th class="span-1">&nbsp;</th>
        <th class="span-14">Description</th>
        <th>Created by/at</th>
        <th>Updated by/at</th>
        <th>&nbsp;</th>
        <!-- <th>Status</th> -->
      </tr>
      <%= render :partial => 'triage_audit_log', :collection => @triage_audit_logs %>
    </table>
    <div class="text-center"><%= will_paginate @triage_audit_logs %></div>
  </div>
</div>
<hr class="space" />

<div class="box background-green span-23 last">
  <% form_for TriageAuditLog.new( :user => @user, :updator => current_user) do |f| -%>
  <div class="span-19">
    <%= f.text_area :description, :rows => 1, :class => "span-19" %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :updated_by %>
  </div>
  <div class="span-4 last half-prepend-top">
    <%= f.submit "New Note for\n#{@user.name}", :class => "button green-button small span-4" %>
  </div>
  <% end -%>
</div>