<% form_tag :url => {:controller => 'user_admin',:action => 'edit_group'} do |f|%>
	<%= error_messages_for :group %>
	<input type="hidden" name="id" value="<%= params[:id]%>">
  <label for="group_name">Group Name</label>
  <br />
  <%= text_field_tag 'group_name' , @group.name%>
  <br>
  <label for="description">Description</label>
  <br />
  <%= text_area_tag 'description', @group.description%>
  <br>
  <label for="group_name">Type</label>
  <br>
  <select name="sales_type">
  	<option value="">Select</option>
  	<option value="reseller" <%if @group.sales_type == 'reseller'%>selected<%end%>>Reseller</option>
  	<option value="retailer" <%if @group.sales_type == 'retailer'%>selected<%end%>>Retailer</option>
  	<option value="Call Center" <%if @group.sales_type == 'Call Center'%>selected<%end%>>Call Center</option>
  </select>
  <br><br>
  <%=submit_tag 'Save Group'%>
<% end %>