<% if @groups and @groups.length > 1 %>
  <form id="group_form_id" action="/user_admin/new_admin" method="POST">
    <% gs = ['Choose a Group']
    @groups.each do |g|
      gs << g.name
    end %>
    Select <label for="group_name">Group</label>:  
    <%= select_tag 'group_name', options_for_select(gs.collect { |g| [g, g]}, @group_name) %>
  </form>
  <br />
<% elsif @groups and @groups.length == 1%>
  <input type="hidden" name="group_name" value="<%= @groups[0].name%>">
<% end%>

<div id="call_list-col">
  <div id="call_list-col-header">
    User Signup
  </div>
  <div class="content">

    <div id="errors">
      <% if flash[:warning] %>
      <span style="font-size: 150%;">
        The following error occurred:
        <ul>
          <li><%= flash[:warning]%></li>
        </ul>
        <% end %>
        <p><%= error_messages_for :user %></p>
        <p><%= error_messages_for :profile %></p>
      </div>

      <% form_tag :action => 'create' do -%>
      <input type="hidden" name="group_name" value="<%= @group_name %>">

      <div id="device-table" class="table">
        <div class="row">
          <div class="col-250" style="padding-left:20px">
            <label for="role">Role</label>
            <%= select_tag :role, options_for_select( @roles.collect {|e| [e.name, e.name]} ), :multiple => false %>
            <br />
            <span class="tiny">Please select a role</span>
          </div>
          <div class="col-250">

            <p>
              <label for="user_email">Email</label><br />
              <%= text_field :user, :email, :size => 30 %>
            </p>

            <%= render :partial => '/profiles/profile_top' %>
          </div>

          <div class="col-250">
            <%= render :partial => '/profiles/profile_bottom' %>
            <br />
            <br />
            <input name="commit" type="image" src="/images/subscribe.gif" id="subscribe"/>
          </div>
        </div>
      </div>	

      <% end -%>
    </div>
  </div>
  <div style="clear:both"></div>
  <div id="call_list-col-footer"></div>
</div>
