<%=render :partial=>'/reporting/nav_config'%>

<div id="assign_role">
&nbsp;	
</div>
<% if current_user.is_super_admin? %>
<h2>Assign Super Admin Role</h2>
<% form_remote_tag :url => {:controller => 'user_admin',:action => 'assign_super_role'}, :update => 'assign_role' do |f|%>
  <%=select_tag 'user_id', options_for_select(@users.collect {|u| [u.login, u.id]})%> is a Super Admin.
  <br><%=submit_tag 'Assign Super Admin Role'%>
<% end %>
<% end %>
<br><br>
<h2>Assign Roles</h2>
<% form_remote_tag :url => {:controller => 'user_admin',:action => 'assign_role'}, :update => 'assign_role' do |f|%>
  <%=select_tag 'user_id', options_for_select(@users.collect {|u| [u.login, u.id]})%> is a(n) <%=select 'role', 'name', @roles%> of <%=select 'group', 'name', @groups%>
  <br>
  <%=submit_tag 'Assign Role and Group'%>
<% end %>
<br><br>
<h2>Remove Role</h2>
<% form_remote_tag :url => {:controller => 'user_admin',:action => 'remove_role'}, :update => 'assign_role' do |f|%>
  Remove <%=select_tag 'user_id', options_for_select(@users.collect {|u| [u.login, u.id]})%> from <%=select 'role', 'name', @roles%> of <%=select 'group', 'name', @groups%>
  <br>
  <%=submit_tag 'Remove Role and Group'%>
<% end %>
<br><br>
<h2>Add Group</h2>
<% form_remote_tag :url => {:controller => 'user_admin',:action => 'add_group'}, :update => 'assign_role' do |f|%>
	<%= error_messages_for :group %>
  <label for="group_name">Group Name</label>
  <br />
  <%= text_field_tag 'group_name' %>
  <br>
  <%=submit_tag 'Add Group'%>
<% end %>
