<%= render :partial=>'/reporting/nav_config' %>

<div class="span-2"><h3>Groups </h3></div>
<%= link_to 'New group', new_group_path, :class => "button green-button medium" %>
<br><br>
<%= will_paginate @groups %>
<br>
<table class="bluegrey">
  <tr>
    <th>ID</th>
    <th>Sales Type</th>
    <th>Email</th>    
    <th>Name &amp; Description</th>
  </tr>
  <%= render :partial => 'group_row', :collection => @groups %>
</table>
<%= will_paginate @groups %>
<br />
