<tr class="dashboard-row half-prepend-top rounded span-24 last" id="user_<%= triage_user.id %>">
  <td>
    <%= check_box_tag "selected[#{triage_user.id}]" %>
    <%= hidden_field_tag "users[]", triage_user.id %>
  </td>
  <td><%= image_tag("eye.gif", :class => 'h-padding') %></td>
  <td>
    <span class="h-padding"><%= select_tag "user_links", options_for_select(links_for_user(triage_user).insert(0, ['Links...', ''])), {:onchange => "window.location.href = this.value;", :class => "span-1"} %></span>
    <a href="#"><%= triage_user.name %></a>
  </div>
  <td>
    <div class="half-prepend-top text-center" id="<%= triage_user.alert_status %>_<%= triage_user.id %>">
      <%= alert_button( :type => triage_user.alert_status( params), :path => url_for(:controller => 'users', :action => 'special_status', :id => triage_user.id), :id => triage_user.id) %>
      <script type="text/javascript" charset="utf-8">
      $('alert_<%= triage_user.id %>').addTip('<div class="span-4">User intake submitted:</div><div class="span-4 last"><%= triage_user.user_intake_submitted_at %></div>');
      </script>
    </div>
  </td>
  <td>
    <% if triage_user.alert_status == 'abnormal' %>
    <%= link_to image_tag("warning_32.png"), :controller => 'users', :action => "special_status", :id => triage_user.id %>
    <% else %>
    <%= image_tag("warning_grey_32.png") %>
    <% end %>
  </td>
  <td><%= image_tag("graph.jpg") %></td>
  <td><%= image_tag("list.png") %></td>
  <td>
    <div class="battery-cover" >
      <div id="user_<%= triage_user.id %>_battery_<%= triage_user.battery_color %>_<%= triage_user.battery_fill_width %>" class="<%= triage_user.battery_color %>-color-base battery-width-<%= triage_user.battery_fill_width %>"><div class="fit_right"><%= image_tag("battery-rt.gif") %></div></div>
    </div>
  </td>
  <td><%= image_tag("#{triage_user.connectivity_status_icon}.png", :id => "#{triage_user.connectivity_status_icon}_#{triage_user.id}") %></td>
  <td><%= link_to image_tag( "note.png", :alt => "Notes", :title => "Notes"), { :controller => "triage_audit_logs", :id => triage_user.id} %></td>
  <td><%= link_to image_tag( "briefcase.png", :alt => "Audit", :title => "Audit"), user_audits_path( triage_user) %></td>
  <td><%= triage_user.updated_at.to_s(:time_date) %></td>
  <td>
    <% if triage_user.dismissed_from_triage? -%>
    <%= link_to "Recall", undismiss_triage_path(:user_id => triage_user.id), :class => "button white-button small" %>
    <% else -%>
    <%= link_to "Dismiss", dismiss_triage_path(:user_id => triage_user.id), :class => "button white-button small" %>
    <% end -%>
  </td>
</tr>
<div class="clear"></div>
