<% form_for @user do |f| -%>
  <div class="box span-12">
    <h1>Change Password</h1>
    <p>
      <div class="span-4"><%= f.label :password, "New Password" %></div>
      <%= f.password_field :password %>
    </p>
    <p>
      <div class="span-4"><%= f.label :password_confirmation, "Retype New Password" %></div>
      <%= f.password_field :password_confirmation %>
    </p>
    <hr />
    <p>
      <%= hidden_field_tag "user[skip_validation]", true, { :id => "user_skip_validation" } %>
      <%= link_to "Config > Users", "#", :class => "button white-button" %>
      <%= f.submit "Update", :disable_with => 'Updating...', :class => "button green-button" %>
    </p>
  </div>
<% end -%>