
<br>
<div id="user_signup-col">
	<div id="user_signup-col-header">
		Credit Card Authorization
	</div>
  <div class="content">
	<div id="errors">
 	  <% if flash[:warning] %>
		<font color="red">'
	    <span style="font-size: 120%">
		  The following error occurred:
		<ul>
		  <li><%= flash[:warning]%></li>
		</ul>		
		</span>
	  <% end %>
	  <% if @user.errors %>
	    <%= error_messages_for :user %>
		<br>
	  <% end %>
	  <% if @profile && @profile.errors %>
	    <%= error_messages_for :profile %>
	  <% end %>
	  </font>
	</div>

    <% form_tag :action => 'create_subscriber' do -%>
	  <div id="device-table" class="table">
	 	<div class="row">
		  <div style="width:100%;padding-left: 30px;">
		    <%= check_box 'users','same_as_senior',:onclick => 'fill_details()'%>Billing info same as myHalo user
	        <br/><br/>
	      </div>
	      <span id="subscriber_details">
	        <div class="col-250" style="padding-left: 30px;">
	          <%= check_box 'users','add_caregiver'%>Do not add this person as a caregiver
	          <br /><br />   	
	          <input type="hidden" name="user_id" value="<%= params[:user_id]%>">
	          
		      <br>
		  	  
 	          <%= render :partial => '/profiles/profile_top' %>
	        </div>
	        <div class="col-250">
	          <%= render :partial => '/profiles/profile_bottom' %> 
	        </div>  
	      </span>
	      <div class="col-250" style="padding-left: 30px;">
	        <label for="credit_card_number">Credit Card Number</label>
	        <br />
	        <label for="credit_card_number">format: 1111222233334444</label><br/>
	        <%= text_field 'credit_card','number', :size => '16' %>
	        <br /><br />
	        <label for="credit_card_expiration_month">Credit Card Expiration </label>
	        <br /><br/>
	        <%= date_select("credit_card", "expiration_time", :order => [:month, :year])%>
	        <%#= text_field 'credit_card','expiration_month' %>
			<br /><br />
	        <label for="credit_card_notes">Special Notes</label>
	        <br /><br/>
	        <%= text_area("credit_card", "special_notes", :size => "20x10")%>

<br/><br/><br/>
			<%= image_submit_tag("/images/subscribe.gif", :id => "submit_button", :onclick => "this.disabled=true;this.form.submit();")%>
			<br/><br/>
			<%if current_user.is_admin? or current_user.is_super_admin? %>
			<a href="/users/create_subscriber/<%= params[:user_id]%>">Skip this Step</a>
			<%end%>
	        <%#<input name="commit" type="image" src="/images/subscribe.gif" />%>
	      </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
	<div style="clear:both"></div>
	<div id="user_signup-col-footer"></div>
</div>

<script type="text/javascript">
function fill_details()
{
	if (document.getElementById('users_same_as_senior').checked == true)
	{	
		document.getElementById('subscriber_details').style.display = 'none'
	}
	else
	{
		document.getElementById('subscriber_details').style.display = 'block'
	}
}
</script>