<% if @user %>
<div id="secondary-col">
  <div id="secondary-col-header"></div>
  <div class="content">
	
    <%= error_messages_for :user %>
		<div id="errors">
			<%= flash[:warning]%>
		</div>

    <div style="width:200px;margin-left:auto;margin-right:auto">
      <% form_for @user, :action => 'update_user' do |f| -%>
				<%= f.hidden_field :activation_code %>
	        Please enter a username and password to create a new account for <%= @user.email %>:
	        <br />
	        <br />	        
        <label for="user_login">Username</label>
        <br/>
        <%= f.text_field :login %>
        <br />
        <br />	
					
        <label for="user_password">Password</label>
        <br/>
        <%= f.password_field :password %>
        <br />
        <br />
        <label for="user_password_confirmation">Confirm Password</label>
        <br/>
        <%= f.password_field :password_confirmation %>
        <br />
        <br />
        <div align="center">
          <%= image_submit_tag "subscribe.gif", :id => 'subscribe_button' %>
        </div>
      <% end -%>
    </div>
  </div>
  <div id="secondary-col-footer"></div>
</div>
<% else %>
<div id="call_list-col">
	<div id="call_list-col-header">
		Activation
	</div>
	
	<div class="content">
		<p>
			User was already activated. You can now <%= link_to 'login.', :controller => 'sessions', :action => 'new'%>
		</p>	
	</div>

	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>
  <script>
    //window.location = "/login"
  </script>
<% end %>