<div><% if(current_user.is_admin? || current_user.is_super_admin?) %>
  <a href="/admin/signup">Sign up users with other roles</a>
      <% end %>
</div>
<br>
<div id="user_signup-col">
	<div id="user_signup-col-header">
		Sign up the myHalo User
	</div>
  <div class="content">
	
		<div id="errors" style="color:red">
			<% if flash[:warning] %>
			  <span style="font-size: 150%;">
			  The following error occurred:
			  <ul>
			  <li><%= flash[:warning]%></li>
			  </ul>
			<% end %>
			<% if @user.errors %>
			  <%= error_messages_for :user %>
			  <br>
			<% end %>
			<% if @profile.errors %>
			<%= error_messages_for :profile %>
			<% end %>
		</div>

      <% form_tag :action => 'create' do -%>
		<% gs = ['Choose a Group']
		   @groups.each do |g|
			 gs << g.name
		   end %>
	 <div id="device-table" class="table">
	 	<div class="row">
		  <div class="col-250" style="padding-left: 30px;">
		  	<% if @groups.length > 1 %>
	 		  <label for="group">Select Group</label>
			  <br />
		    <%= select_tag 'group', options_for_select(gs.collect { |g| [g, g]}, @group),:onchange => "select_group(this);"%>
		    <br /><br /><br>
        	<%else%>
        	<input type="hidden" name="group" value="<%= @groups[0].name %>">
        	<%end%>
            <span id="profile_top" <% if @groups.length > 1 %>style="display:none" <%end%>>
		    <%= render :partial => '/profiles/profile_top' %> 
		    </span>
		  </div>
		  	 
		  <div class="col-250">
		  	<span id="profile_bottom" <% if @groups.length > 1 %>style="display:none"<%end%>>
		  	<%= render :partial => '/profiles/profile_bottom' %>
		  	
		  	<%#= render :partial => '/profiles/profile_halousers_only' %>
			<br /><br /><br />
			<input name="commit" type="image" src="/images/next.gif" />
			</span>
		  </div>
		
			<div class="col-250">
				<%#= render :partial => '/profiles/profile_textfields' %>
			</div>
		</div>
	 </div>	
        
      <% end -%>
    </div>
  </div>
	<div style="clear:both"></div>
	<div id="user_signup-col-footer"></div>
</div>
<script>
function select_group(dropdown)
{
	if(dropdown.value == 'Choose a Group')
	{
	  document.getElementById('profile_top').style.display = 'none'
	  document.getElementById('profile_bottom').style.display = 'none'
    }
	else
	{
	  document.getElementById('profile_top').style.display = 'block'
	  document.getElementById('profile_bottom').style.display = 'block'
    }
}
</script>