<div><a href="/admin/signup">Sign up users with other roles</a></div>
<br>
<div id="call_list-col">
	<div id="call_list-col-header">
		User Signup
	</div>
  <div class="content">
	
    <%= error_messages_for :user %>
		<div id="errors">
			<%= flash[:warning]%>
		</div>

      <% form_tag :action => 'create' do -%>
		<% gs = ['Choose a Group']
		   @groups.each do |g|
			 gs << g.name
		   end %>
	 <div id="device-table" class="table">
	 	<div class="row">
	 	  <div class="col-250">
	 		<label for="group">Select Group</label>
			<br />
			<%= select_tag 'group', options_for_select(gs.collect { |g| [g, g]}, @group)%>
        	<br />
			<br />
		  </div>
		  <div class="col-250">
		  	<%= render :partial => '/profiles/profile_top' %>
		  </div>
		  
		  <div class="col-250">
		  	<%= render :partial => '/profiles/profile_bottom' %>
			<br />
			<br />
			<input name="commit" type="image" src="/images/subscribe.gif" />
		  </div>
		</div>
	 </div>	
        
      <% end -%>
    </div>
  </div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>