<div id="secondary-col">
  <div id="secondary-col-header"></div>
  <div class="content">
	
    <%= error_messages_for :user %>
    <%= error_messages_for :gateway %>
    <%= error_messages_for :strap %>
		<div id="errors">
			<%= flash[:warning]%>
		<div>

    <div style="width:200px;margin-left:auto;margin-right:auto">
      <% form_tag :action => 'create' do -%>
        <label for="login">Desired Username</label>
        <br/>
        <%= text_field :user, :login %>
        <br />
        <br />
        <label for="email">Email</label><br/>
        <%= text_field :user, :email %>
        <br />
        <br />			
        <label for="password">Password</label>
        <br/>
        <%= password_field :user, :password %>
        <br />
        <br />
        <label for="password_confirmation">Confirm Password</label>
        <br/>
        <%= password_field :user, :password_confirmation %>
        <br />
        <br />
        <label for="serial_number">Gateway Serial Number</label><br/>
        <%= text_field :gateway, :serial_number %>
        <br />
        <br />
        <label for="serial_number">Chest Strap Serial Number</label><br/>
        <%= text_field :strap, :serial_number %>
        <br />
        <br />
        <div align="center">
          <input name="commit" type="image" src="/images/subscribe.gif" />
        </div>
      <% end -%>
    </div>
  </div>
  <div id="secondary-col-footer"></div>
</div>