<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
 <div style="margin-left:25px">
	<div class="content">
		<p>Please print this page <b>and</b> and the following files for the customer to take home:</p>
		<ul>
		<p>
			<table>
				<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
					<td><a href="/Halo_Subscriber_Agreement.pdf" target="_blank">Halo Subscriber Agreement</a></td>
					</tr>
				<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
					<td><a href="/Halo_User_Intake_Form.pdf" target="_blank">Halo User Intake Form</a></td>
				</tr>
			</table>
						
		</p><br>
		</li> 
		<li><p>An activation email AND an email with the following instructions have been sent to <b><%= @user.name %> </b>(<%= @user.id %>). Make sure all computers visiting myhalomonitor.com are NOT running Internet Explorer 6 by going to <a href="/ie6check.html">http://www.myhalomonitor.com/ie6check</a></p></li>	
		<!-- li><p>Ask if caregivers need to be added now. If so, <a href="/call_list/show/<%=@user.id %>">click here to add caregivers</a> for user <%= @user.name %>.</p></li-->
		<li><p>The following will be needed for the installation:
			<ul><li>A standard phone line OR an open Ethernet port on your router/cable modem/DSL modem
				<li>Enough table space for the Halo gateway (L x W x H = approx 6" x  9"  x  2")
				<li>An open 2-prong power outlet 
				<li>If a firewall is setup, please make sure ports 123, 443, and 37215 are unblocked
			</ul>
		</p>
		</li>
		</ul>
		<br>
		<p>Admin only: <%= link_to "Senior's profile", :controller => 'users',:action => 'signup_details',:id => @user.id %>
		</p>
		<font size="3"><center><%= link_to "Signup Another User",:controller => 'users',:action => 'new'%></center></font>
	</div>
</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>