<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
	
	<div class="content">
		<p>An activation email AND an email with the following instructions have been sent to <%= @user.name %> (<%= @user.id %>) </p>
		<ul> 
		<li><p>Make sure all computers visiting myhalomonitor.com are NOT running Internet Explorer 6 by going to <a href="/ie6check.html">http://www.myhalomonitor.com/ie6check</a>.  </p></li>	
		<!-- li><p>Ask if caregivers need to be added now. If so, <a href="/call_list/show/<%=@user.id %>">click here to add caregivers</a> for user <%= @user.name %>.</p></li-->
		<li><p>The following will be needed for the installation:
			<ul><li>A standard phone line OR an open Ethernet port on your router/cable modem/DSL modem
				<li>Enough table space for the Halo gateway (L x W x H = approx 6" x  9"  x  2")
				<li>An open 2-prong power outlet 
				<li>If a firewall is setup, please make sure ports 123, 443, and 37215 are unblocked
			</ul>
		</p>
		</li>
		</ul>
		
		<p>Please <%= link_to "print the senior's profile", :controller => 'users',:action => 'signup_details',:id => @user.id %> for the senior to sign at the time of install
		</p>

	</div>

	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>