<div id="call_list-col">
	<div id="call_list-col-header">
		Signup Complete!
	</div>
 <div style="margin-left:25px">
	<div class="content">
		<p>Please print this page <b>and</b> and the following files for the customer to take home:</p>
		<ul>
		<p>
			<table>
				<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
					<td><a href="/Halo_Subscriber_Agreement.pdf" target="_blank">Halo Subscriber Agreement</a></td>
					</tr>
				<tr><td><img src="/images/pdf-icon.gif" width="30px" height="30px"></td>
					<td><a href="/Halo_User_Intake_Form.pdf" target="_blank">Halo User Intake Form</a></td>
				</tr>
			</table>
						
		</p><br>
		</li>
		<li>Once you arrive home, please follow the "User Installation Guide for the myHalo™ System" inside the box.
		<li><p>An activation email has been sent to <b><%= @user.name %> </b>(<%= @user.id %>). Make sure all computers visiting myhalomonitor.com are NOT running Internet Explorer 6 by going to <a href="/ie6check.html">http://www.myhalomonitor.com/ie6check</a></p></li>	
		<!-- li><p>Ask if caregivers need to be added now. If so, <a href="/call_list/show/<%=@user.id %>">click here to add caregivers</a> for user <%= @user.name %>.</p></li-->
		<li><p>The following will be needed for the installation:
			<ul><li>A standard phone line OR an open Ethernet port on your router/cable modem/DSL modem
				<li>Enough table space for the Halo gateway (L x W x H = approx 6" x  9"  x  2")
				<li>An open 2-prong power outlet 
				<li>If a firewall is setup, please make sure ports 123, 443, and 37215 are unblocked
			</ul>
		</p>
		</li>
		</ul>
		<br>
		<p>Admin only: <%= link_to "Senior's profile", :controller => 'users',:action => 'signup_details',:id => @user.id %>
		</p>
		<font size="3"><center><%= link_to "Signup Another User",:controller => 'users',:action => 'new'%></center></font>
<!--		<br><br>
		<font size="3"><center><%= link_to "Receipt",:controller => 'users',:action => 'receipt',:id => @user.id%></center></font> -->
	</div>
</div>
<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>

<div id="call_list-col" style="margin-top:20px;">
	<div id="call_list-col-header">
		Receipt for Monthly Subscription
	</div>
	<div class="content" style="padding-left:30px;">
		<%if @subscription%>
		<h3>Halo Monitoring, Inc.</h3>
		515 Sparkman Drive<br>
		Huntsville, AL 35816<br>
		Phone 888.971.HALO (888-971-4256)<br>
		Fax 866.275.1904</p>
		<p><%= @subscription.created_at.strftime("%A %m/%d/%Y %H:%M:%S %p")%></p>
		
		<p>
			<table>
				<tr><td>Name:</td><td><%= @user.name%></td></tr>
				<tr><td>Email:</td><td><%= @user.email%></td></tr>
				<tr><td>Address:</td><td><%= @user.address%></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td>SubscriptionID:</td><td><%= @subscription.arb_subscriptionId%></td></tr>
				<tr><td>Card holder</td><td><%=@subscription.bill_to_last_name.upcase%>/<%= @subscription.bill_to_first_name.upcase%></td></tr>
				<tr><td>Card</td><td>############<%=@subscription.cc_last_four%></td></tr>
				<tr><td><font size="3">Amount: </font></td><td><font size="3">$ <%= sprintf("%0.2f",@subscription.bill_amount)%></font></td></tr>
			</table>
			
		</p>
		<%end%>
	</div>
	
</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>