<h1 id="special_status">Special Status for <%= @user.name %></h1>
<div class="span-24 last">
  <div class="span-6 textright">User Intake Submitted</div>
  <div class="span-6">
    <%= alert_button(@user.alert_status_for(:user_intake)) %>
    <%= @user.user_intake_submitted_at %>
  </div>
  <div class="span-12 last">Suggestion to fix this..</div>
</div>
<div class="span-24 last">
  <div class="span-6 textright">Legal Agreement Signed</div>
  <div class="span-6">
    <%= alert_button(@user.alert_status_for(:legal_agreement)) %>
    <%= @user.user_intake_legal_agreement_at %>
  </div>
  <div class="span-12 last">Suggestion to fix this..</div>
</div>
<div class="span-24 last">
  <div class="span-6 textright">Panic Button Test</div>
  <div class="span-6">
    <%= alert_button(@user.alert_status_for(:panic)) %>
    <%= distance_of_time_in_words_to_now(@user.hours_since(:panic).hours.ago) %> delayed
  </div>
  <div class="span-12 last">Suggestion to fix this..</div>
</div>
<div class="span-24 last">
  <div class="span-6 textright">Strap Fastened</div>
  <div class="span-6">
    <%= alert_button(@user.alert_status_for(:strap_fastened)) %>
    <%= distance_of_time_in_words_to_now(@user.hours_since(:strap_fastened).hours.ago) %> delayed
  </div>
  <div class="span-12 last">Suggestion to fix this..</div>
</div>
<div class="span-24 last">
  <div class="span-6 textright">Call Center Account</div>
  <div class="span-6">
    <%= alert_button(@user.alert_status_for(:call_center_account)) %>
    <%= distance_of_time_in_words_to_now(@user.hours_since(:call_center_account).hours.ago) %> delayed
  </div>
  <div class="span-12 last">Suggestion to fix this..</div>
</div>