<h1 id="special_status">Special Status for <%= @user.name %> <%= alert_button( :type => @user.alert_status) %></h1>
<div class="box span-24 last">

  <% [:call_center_account, :dial_up_alert, :dial_up_status, :legal_agreement, :mgmt_query_delay, :panic, :software_version, :strap_fastened, :test_mode, :user_intake].each do |what| %>
    <div class="span-24 last">
      <div class="span-4 textright"><%= what.to_s.split('_').collect(&:capitalize).join(' ') %></div>
      <div class="span-4 textcenter"><%= alert_button( :type => @user.alert_status_for( what)) %></div>
      <div class="span-4">
        <%# if [ :dial_up_alert, :dial_up_status, :test_mode, :software_version].include?( what) %>
          <!-- &nbsp; -->
        <%# else %>
          <%= distance_of_time_in_words_to_now(@user.hours_since( what).hours.ago) %> delayed
        <%# end %>
      </div>
      <div class="span-12 last">Suggestion to fix this..</div>
      <hr class="space" />
    </div>
  <% end %>

</div>
