<%= render :partial => 'triage_filter' %>

<% form_tag dismiss_user_path(current_user), :method => :post do %>
<div class="span-24 last text-right append-1 raise">
  <strong>Dismiss:</strong>
  <span class="fit_right"><%= submit_tag "Test Mode", {:class => "button blue-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Normal", {:class => "button green-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Caution", {:class => "button orange-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Abnormal", {:class => "button red-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Selected", {:class => "button white-button small"} %></span>
  <span class="fit_right"><%= submit_tag "All", {:class => "button white-button small"} %></span>
</div>
<hr class="space" />

<div class="span-24 last">
  <div class="_dashboard">

    <div class="dashboard-header rounded shadow">
      <div class="prepend-1 span-10">
        <span class="white_text">Events |</span>
        <span class="black_text">Residents</span>
      </div>
    </div>

    <div class="span-24 last">
      <div class="span-1">&nbsp;</div>
      <div class="span-5 text-center"><a href="#">Name</a> <%= image_tag("up_arr.gif") %></div>
      <div class="span-3 text-center"><a href="#" >Alerts</a> <%= image_tag("up_arr.gif") %></div>
      <div class="span-2"><a href="#" >Spl.</a> <%= image_tag("up_arr.gif") %></div>
      <div class="span-2"><a href="#" >Chart</a><%= image_tag("up_arr.gif") %></div>
      <div class="span-2"><a href="#">Events</a><%= image_tag("up_arr.gif") %></div>
      <div class="span-2 text-center "><a href="#">Battery</a> <%= image_tag("up_arr.gif") %></div>
      <div class="span-2 text-center"><a href="#">Connectivity</a><%= image_tag("up_arr.gif") %></div>
      <div class="span-5 last"><a href="#" >Last Updated</a> <%= image_tag("up_arr.gif") %></div>
      <hr class="space" />
      <%= render :partial => 'triage_user', :collection => @users %>
      <div class="span-24 text-center"><%= will_paginate @users %></div>
    </div>

  </div>
</div>
<% end %>