<%= render :partial => 'triage_filter' %>

<% form_tag dismiss_user_path(current_user), :method => :post do %>
<div class="span-6"><%= will_paginate( @users) %>&nbsp;</div>
<div class="span-18 last text-right raise">
  <span class="fit_right"><%= submit_tag "Test Mode", {:class => "button blue-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Normal", {:class => "button green-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Caution", {:class => "button orange-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Abnormal", {:class => "button red-button small"} %></span>
  <span class="fit_right"><%= submit_tag "Selected", {:class => "button white-button small"} %></span>
  <span class="fit_right"><%= submit_tag "All", {:class => "button white-button small", :title => "All on this page"} %></span>
  <span class="fit_right"><strong>Dismiss</strong><span class="tiny">(on this page)</span> :</span>
</div>
<hr class="space" />

<div class="span-24 last">
  <div class="_dashboard">

    <div class="dashboard-header rounded shadow">
      <div class="prepend-1 span-10">
        <span class="white_text">Events |</span>
        <span class="black_text">Residents</span>
      </div>
    </div>

    <table>
      <tr>
        <th></th>
        <th></th>
        <th><a href="#">Name</a> <%= image_tag("up_arr.gif") %></th>
        <th><a href="#" >Alerts</a> <%= image_tag("up_arr.gif") %></th>
        <th><a href="#" ><%= image_tag("warning_16.png", :alt => "Special Status", :title => "Special Status") %></a> <%= image_tag("up_arr.gif") %></th>
        <th><a href="#" ><%= image_tag("chart_bar.png", :alt => "Chart", :title => "Chart") %></a><%= image_tag("up_arr.gif") %></th>
        <th><a href="#" ><%= image_tag "bell.png", :alt => "Events", :title => "Events" %></a><%= image_tag("up_arr.gif") %></th>
        <th><a href="#"><%= image_tag( "lightning.png", :alt => "Battery", :title => "Battery") %></a> <%= image_tag("up_arr.gif") %></th>
        <th><a href="#"><%= image_tag "connect.png", :alt => "Connectivity", :title => "Connectivity" %></a><%= image_tag("up_arr.gif") %></th>
        <th></th>
        <th id="audit_column"></th>
        <th><a href="#" >Last Updated</a> <%= image_tag("up_arr.gif") %></th>
        <th></th>
      </tr>
      <%= render :partial => 'triage_user', :collection => @users %>
    </table>
    <%= will_paginate @users %>

  </div>
</div>
<% end %>