<!-- <form name="user_intake_form" action="user_intake_form" method="post"> -->

<h3>User Intake</h3>
<%=debug UserIntake.find params[:id]%><br><br>
================================================
<br><b>Halo User</b><br>
<%=debug @user%><br><br>
================================================
<br><b>Subscriber</b><br>
<%=debug @subscriber%><br>
<%=debug @sub_roles_users_option %>
<br>

================================================
<br><b>Caregiver 1</b><br>
<%=debug @caregiver1%><br>
<%=debug @car1_roles_users_option%>
<br>
================================================
<br><b>Caregiver 2</b><br>
<%=debug @caregiver2%><br>
<%=debug @car2_roles_users_option%>
<br>
================================================
<br><b>Caregiver 3</b><br>
<%=debug @caregiver3%><br>
<%=debug @car3_roles_users_option%>
<br>

