<%= render :partial => 'nav'%>
<h3>Device Models</h3>
<table> 
  <tr><th>ID</th>
  <th>Device Type</th>
  <th>Part Number</th>
  <th>Comments</th>
  <th>Actions (<%= link_to 'Add Device Model', :controller => 'atp', :action => 'device_model_new' %>)</th></tr>
  
  <% if !@device_models.blank? %>
  <% @device_models.each do |device_model| %>
  <tr>
    <td><%= device_model.id %></td>
    <td><%= device_model.device_type.device_type %></td>
    <td><%= device_model.part_number %></td>
    <td><%= device_model.comments %></td>
  	<td><%= link_to('Edit', :id => device_model.id, :controller => 'atp', :action => 'device_model_edit') %></td>
  </tr> 
  <% end %>
 <% end %>
</table>