<%= render :partial => 'nav'%>
<form method="get" action="/atp/report">
<input type="text" name="device_id" value="<%= params[:device_id]%>">
<input type="submit" value="Enter device_id">
</form>
<h3>Reports</h3>
<div class="span-21 last"><%= will_paginate @atp_test_results %></div> 
<br><br>
<table class="bluegrey"> 
  <tr><th>ID</th>
  <th>Result</th>
  <th>Device ID</th>
  <th>Operator ID</th>
  <th>Description</th>
  <th>TimeStamp</th>
  <th>Updated At</th>
  <th>Created At</th>
  <th>Created By</th>
  <th>Comments</th>
  <th>&nbsp;</th></tr>
  
  <% if !@atp_test_results.blank? %>
  <% @atp_test_results.each do |result| %>
  <tr class="<%= cycle('', 'altrow') %>">
    <td><%= result.id %></td>
    <td><%= result.result %></td>
    <% if result.device_id %>
      <% begin %>
      <% device = Device.find(result.device_id) %>
      <% rescue %>
      <% end %>
      <td><%= "#{device.serial_number}" if device && device.serial_number %> (<%= result.device_id %>)</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if result.operator_id %>
      <% operator = User.find(result.operator_id) %>
      <td><%= "#{operator.name} (#{operator.id})" if operator %> &nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td><%= result.atp_item_results.collect(&:result_value).join(', ') %></td>
    <td><%= result.timestamp %></td>
    <td><%= result.updated_at %></td>
    <td><%= result.created_at %></td>
    <td><%= result.created_by %></td>
    <td><%= result.comments %></td>
  	<td><%= link_to('View Items', :id => result.id, :controller => 'atp', :action => 'atp_test_result_view') %></td>
  </tr> 
  <% end %>
 <% end %>
</table>  
<%= will_paginate @atp_test_results %>