<table> 
  <tr><th>ID</th>
  <th>Result</th>
  <th>Device ID</th>
  <th>Operator ID</th>
  <th>TimeStamp</th>
  <th>Updated At</th>
  <th>Created At</th>
  <th>Created By</th>
  <th>Comments</th>
  <th>&nbsp;</th></tr>
  
  <% if !@atp_test_results.blank? %>
  <% @atp_test_results.each do |result| %>
  <tr>
    <td><%= result.id %></td>
    <td><%= result.result %></td>
    <td><%= result.device_id %></td>
    <td><%= result.operator_id %></td>
    <td><%= result.timestamp %></td>
    <td><%= result.updated_at %></td>
    <td><%= result.created_at %></td>
    <td><%= result.created_by %></td>
    <td><%= result.comments %></td>
  	<td><%= link_to('View Items', :id => result.id, :controller => 'atp', :action => 'atp_test_result_view') %></td>
  </tr> 
  <% end %>
 <% end %>
</table>