<table>
  <tr><th>Work Order Num</th><th>Completed On</th></tr>
  <tr>
  	<td><%= @work_order.work_order_num%></td>
	<td><%= @work_order.completed_on  %></td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
  </tr>
  <tr>
  	<td>&nbsp;&nbsp;</td>
  	<td colspan="3">
  	<table>
  		<tr><th>Device Revision</th></tr>
		<% device_revisions_work_orders = @work_order.device_revisions_work_orders 
			if device_revisions_work_orders
			device_revisions_work_orders.each do |drwo|
		%>
		<tr>
			<td><%= drwo.device_revision.revision_model_type %></td>
		</tr>
		<%  end  
		    end %>
  	</table>
	</td>
  </tr>
</table>
<form action="/atp/work_order_device_revision_save" method="post">
	<input type="hidden" name="work_order_id" value="<%= @work_order.id %>" />
	<table> 
	  <tr><th>Device Revision</th></tr>
	  <tr>
	  	<td><%= select(:device_revision, :id, @device_revisions.collect{|d| [d.revision_model_type, d.id]}, :include_blank => true)%></td>
	  </tr> 
	  <tr>
	  	<td colspan="2"><input type="submit" name="Add" value="Add" /></td>
	  </tr>
	</table>
</form>