

<div id="lightbox-col"><img src="/images/lightbox-col-header.gif"><div class="lightbox-content">

<div style="width:380px;">
		<% remote_form_for(:call_order, :url => call_orders_path, :html => { :method => :put }) do |f| %>

			<label for="email">Email</label>
			<br />
			<%= f.text_field :email, :value => '' %>
			<br />
			<br />
			<label for="first_name">First Name</label>
			<br />
			<%= f.text_field :first_name, :value => '' %>
			<br />
			<br />
			<label for="last_name">Last Name</label>
			<br />
			<%= f.text_field :last_name, :value => '' %>
			<br />
			<br />
			<label for="address">Address</label>
			<br />
			<%= f.text_field :address, :value => '' %>
			<br />
			<br />
			<label for="city">City/State</label>
			<br />
			<%= f.text_field :city, :value => '' %> <%= f.text_field :state , :size => 15, :value => '' %>
			<br />
			<br />
			<label for="home_phone">Home Phone</label>
			<br />
			<%= f.text_field :home_phone, :value => '' %>
			<br />
			<br />
			<label for="work_phone">Work Phone</label>
			<br />
			<%= f.text_field :work_phone, :value => '' %>
			<br />
			<br />
			<label for="cell_phone">Cell Phone</label>
			<br />
			<%= f.text_field :cell_phone, :value => '' %>
			<br />
			<br />
			<label for="relationship">Relationship</label>
			<br />
			<%= f.text_field :relationship, :value => '' %>
			<br />
			<br />
			<div align="center">
				<input name="commit" type="image" src="/images/add.gif" onClick="RedBox.close()" /> <a href="#"><img src="/images/cancel.gif" onClick="RedBox.close()" /></a>
			</div>
		<% end %>
</div></div><img src="/images/lightbox-col-footer.gif"></div>

