<div class="box span-22">
  <div class="span-10 box">
    <div class="float-left right-gap"><%= image_tag "profilephoto.png" %></div>
    <span class="text-large"><%= @event.user.name unless @event.blank? || @event.user.blank? %></span><br />
    _________________________________________<br />
    <span class="tiny">Panic at: <%= @event.timestamp %></span><br />
    <%= @event.coordinates %>
    <%= @event.user.location %>
    <% if @event.user && @event.user.profile %>
      <% ['home', 'work', 'cell'].each do |_what| %>
      <% unless @event.user.profile.send( "#{_what}_phone".to_sym).blank? %>
        <span class="tiny"><%= _what.capitalize %>:</span> <%= @event.user.profile.send( "#{_what}_phone".to_sym) %><br />
      <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="span-10 last">
    <img src="http://maps.google.com/maps/api/staticmap?center=<%= @location %>&zoom=<%= @zoom %>&size=435x384&maptype=roadmap&markers=color:blue%7C<%= @location %>&sensor=false"></img>
  </div>
</div>