<form action="/events/user/<%= params[:id]%>">
  <table>
    <tr>
    	<td>Begin Time (<%= Time.zone.name.split(/\s+/).first %>)</td>
    	&nbsp;&nbsp;
    	<td>End Time (<%= Time.zone.name.split(/\s+/).first %>)</td>
    	<td>&nbsp;&nbsp;</td>
    	<td>Event Type</td>
    	<td>&nbsp;&nbsp;</td>
    	<td>Alert Group</td>
	</tr>
	  <% at = []
		   AlertType.find(:all).each do |g|
			 at << g.alert_type
		   end %>
		
	   <% ag = []
		   AlertGroup.find(:all).each do |g|
			 ag << g.group_type
		   end %>   
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  
      <td><%= select_tag :event_type, "<option value=''>Select Event Type</option>" + options_for_select(at.collect { |t| [t, t]},params[:event_type]),:onchange => "document.getElementById('alert_group').value = ''" %></td>
      <td>&nbsp; OR &nbsp;</td>
      <td><%= select_tag :alert_group, "<option value=''>Select Alert Group</option>" + options_for_select(ag.collect { |g| [g, g]},params[:alert_group]),:onchange => "document.getElementById('event_type').value = ''"%>
      </td>
      <td>&nbsp;<%= submit_tag "Submit" %></td>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
  </table>
 
</form> 
<div id="call_list-col">
	<div id="call_list-col-header">
		<% if params[:event_type] and params[:event_type] != ""
		     event_display = UtilityHelper.camelcase_to_spaced(params[:event_type])
		   elsif params[:alert_group] and params[:alert_group] != ""
		   	 event_display = params[:alert_group].capitalize
	       else
		     event_display = "All"
		   end
		%>
		<%= event_display %> Events | <span style="color:#000;font-size:.75em">
		<%= @user.name %> (<%= @user.id %>)</big>
		<% if @user_begin_time and @user_end_time and params[:begin_time] != "" and params[:end_time] != ""%>
		 - <%= UtilityHelper.format_datetime(@user_begin_time.to_time, current_user) %> to <%= UtilityHelper.format_datetime(@user_end_time.to_time, current_user) %> <br>
		<% end %>
		</span>
	</div>
<div class="content">
  <div id="call_list_header" style="height:25px">
  	<div style="float:left;width:150px;padding-left:10px;">
  	  <b>Date/Time</b>
	</div>
  	<div style="float:left;width:100px;padding-left:25px;">
      <b>Type</b>
    </div>
  	<div style="float:left;width:300px;padding-right:25px">
      <b>Description</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Heartrate</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Skin Temp.</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Body Position</b>
    </div>
  </div>
  <% @events.each do |event| %>
  <% vital = nil
     skintemp = nil %>
  <% if !event.timestamp.nil? %>
    <% vital = Vital.find(:first, :conditions => "heartrate <> -1 AND user_id = #{@user.id} AND timestamp > '#{event[:timestamp]}' AND timestamp <= '#{event[:timestamp] + 600}'", :order => "timestamp desc")%>
    <% skintemp = SkinTemp.find(:first, :conditions => "user_id = #{@user.id} AND timestamp > '#{event[:timestamp]}' AND timestamp <= '#{event[:timestamp] + 600}'", :order => "timestamp desc") %>
  <% end %>
    <div id="event_event_<%= event.id %>" class="active" style="padding-left:10px;background:url('/images/call_list-item.gif') no-repeat;height:80px">
	<div class="row">
      <div style="float:left;padding-top:5px;width:150px">
	    <%= event[:timestamp].in_time_zone.to_s(:date_time_timezone) %> &nbsp;
      </div>
        <div style="float:left;padding-top:5px;width:125px">
          <%= image_for_event(event)%>
        </div>
        <div style="float:left;padding-top:5px;width:300px;padding-right:25px">
          <%=event.event.to_s%> 
		  <% if current_user.is_admin? or current_user.is_super_admin? %>
		    <span style="font-size: 80%;"><b>(server:<%= event.timestamp_server.to_s(:date_time_timezone) if !event.timestamp_server.nil? and !event.timestamp_server.blank? %>)</b></span>
		  <% end %>
        </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if vital && vital.heartrate != -1 %>
	      <%= vital.heartrate %>
		<% else %>
			N/A
		<% end  %>
	    </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if skintemp %>
	      <%= skintemp.skin_temp %>
		<% else %>
		  N/A
		<% end  %>
	    </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if vital && vital.heartrate != -1  %>
	      <%= vital.adl %>
		<% else %>
			N/A
		<% end  %>
	    </div>
      </div>
	</div>
    <% end %>
    <br>
    <br>
    <center><big><%= will_paginate @events %></big></center>
  </div>
  <div id="call_list-col-footer"></div>
