<div id="call_list-col">
	<div id="call_list-col-header">
		Events | <span style="color:#000;font-size:.75em">
		<%= @user.name %> (<%= @user.id %>)</big>
		<% if false %>
		 - all times are in <%= current_user.profile.time_zone if current_user.profile %> timezone <br>
		<% end %>
		</span>
	</div>
<div class="content">
  <div id="call_list_header" style="height:25px">
  	<div style="float:left;width:150px;padding-left:10px;">
  	  <b>Date/Time</b>
	</div>
  	<div style="float:left;width:100px;padding-left:25px;">
      <b>Type</b>
    </div>
  	<div style="float:left;width:300px;padding-right:25px">
      <b>Description</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Heartrate</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Skin Temp.</b>
    </div>
  	<div style="float:left;width:100px">
      <b>Body Position</b>
    </div>
  </div>
  <% @events.each do |event| %>
  <% vital = nil
     skintemp = nil %>
  <% if !event.timestamp.nil? %>
    <% vital = Vital.find(:first, :conditions => "heartrate <> -1 AND user_id = #{@user.id} AND timestamp > '#{event[:timestamp]}' AND timestamp <= '#{event[:timestamp] + 600}'", :order => "timestamp desc")%>
    <% skintemp = SkinTemp.find(:first, :conditions => "user_id = #{@user.id} AND timestamp > '#{event[:timestamp]}' AND timestamp <= '#{event[:timestamp] + 600}'", :order => "timestamp desc") %>
  <% end %>
    <div id="event_event_<%= event.id %>" class="active" style="padding-left:10px;background:url('/images/call_list-item.gif') no-repeat;height:80px">
	<div class="row">
      <div style="float:left;padding-top:5px;width:150px">
	    <%= event[:timestamp].in_time_zone.to_s(:date_time_timezone) %> &nbsp;
      </div>
        <div style="float:left;padding-top:5px;width:125px">
          <%= image_for_event(event)%>
        </div>
        <div style="float:left;padding-top:5px;width:300px;padding-right:25px">
          <%=event.event.to_s%> 
		  <% if current_user.is_admin? or current_user.is_super_admin? %>
		    <span style="font-size: 80%;"><b>(server:<%= event.timestamp_server.to_s(:date_time_timezone) if !event.timestamp_server.nil? and !event.timestamp_server.blank? %>)</b></span>
		  <% end %>
        </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if vital && vital.heartrate != -1 %>
	      <%= vital.heartrate %>
		<% else %>
			N/A
		<% end  %>
	    </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if skintemp %>
	      <%= skintemp.skin_temp %>
		<% else %>
		  N/A
		<% end  %>
	    </div>
		<div style="float:left;padding-top:5px;width:100px">
		<% if vital && vital.heartrate != -1  %>
	      <%= Vital.get_adl(vital.orientation, vital.activity) %>
		<% else %>
			N/A
		<% end  %>
	    </div>
      </div>
	</div>
    <% end %>
    <br>
    <br>
    <center><big><%= will_paginate @events %></big></center>
  </div>
  <div id="call_list-col-footer"></div>
