<!-- <meta http-equiv="refresh" content="30"> -->
<%= render :partial => 'reporting/nav_dialup_status'%>
<h2>Dial Up Statuses</h2>
<br>
<form method="get" action="/dial_up_statuses">
  <input type="text" name="device_id" value="<%= params[:device_id]%>">
  <input type="submit" value="Enter device_id">
  <%= select_tag "dialup_type", options_for_select([ "Select Type","Global", "Local"],"Select Type"),:onchange => "this.form.submit();"%>
</form>
<br><br>
<table class="bluegrey">
  <th>Device Id</th>
  <th>Number</th>
  <th>Timestamp</th>
  <th>Status</th>
  <th>Configured</th>
  <th>Num Failures</th>
  <th>Consecutive Fails</th>
  <th>Ever Connected</th>
  <th>Type</th>	
  <%= render :partial => 'dial_up_status', :collection => @dial_up_statuses %>
</table>
<br>
<center><%= will_paginate @dial_up_statuses %></center>