<!-- TODO: this can further be DRYed -->
<%= render :partial => 'shipping_options' %>

<% if @confirmation.blank? || (@product == "complete") %>
<div id="halo_complete_box" style="display: block; float:left; margin-top: 20px; width: 100%">
  <% if @confirmation %>
    <div class="text-red text-medium">
      If the below charges are incorrect, please click "<%= link_to 'Back', store_path %>" and re-enter the correct coupon code. If still incorrect, call 1-866-546-2540
    </div>
  <% end %>
  <table width="100%" class="colored">
    <tr><th>Shopping cart items</th><th style="text-align:right;">Price</th></tr>
    <tr><td>Deposit</td><td style="text-align:right;"><%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.deposit) %></td></tr>
    <% unless @complete_tariff.blank? || @complete_tariff.months_advance.to_i.zero? %>
      <tr class="altrow"><td><%= pluralize(@complete_tariff.months_advance, "month") %> advance (<%= USD_value(@complete_tariff.monthly_recurring) %> x <%= @complete_tariff.months_advance %>)</td><td style="text-align:right;"><%= USD_value(@complete_tariff.advance_charge) %></td></tr>
    <% end -%>
    <% unless @complete_tariff.blank? || @complete_tariff.months_trial.to_i.zero? %>
      <tr class="altrow red"><td><%= pluralize(@complete_tariff.months_trial, "month") %> trial (Free <%= USD_value(@complete_tariff.monthly_recurring) %> x <%= @complete_tariff.months_trial %>)</td><td style="text-align:right;"><%= USD_value(0) %></td></tr>
    <% end -%>
    <tr><td>Shipping</td><td style="text-align:right;"><%= selected_shipping_option( @complete_tariff) %></td></tr>
    <tr><td>Dealer Install Fee</td><td style="text-align:right;"><%= @complete_tariff.blank? ? '?' : USD_value( @complete_tariff.dealer_install_fee) %></td></tr>
    <tr class="altrow"><td style="text-align:right;">Total*</td><td style="text-align:right;">
      <% if @confirmation %>
      <%= f.hidden_field "cost", :disabled => true %>
      <% end -%>
      <strong><%= selected_total_cost( @complete_tariff) %></strong>
    </td></tr>
  </table>
  <p>
    <!-- #*Note: Recurring monthly charge of <b><%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.monthly_recurring.to_i) %>/mo</b> will begin <%= @complete_tariff.blank? ? '?' : @complete_tariff.recurring_delay.to_i.months.from_now.to_s(:day_date) %> -->
    <span class="tiny">*<b>Note</b>: Your credit card will be charged $<%=@complete_tariff.monthly_recurring%>/month, recurring on the 1st day of each month.  Your first month's charge will not be billed until your myHalo system is installed or 7 days after your myHalo system has shipped, whichever comes first.  The first month's charge will be prorated based on this date.</span>  
  </p>
</div>
<% end -%>


<% if @confirmation.blank? || (@product == "clip") %>
<div id="halo_clip_box" style="display: <%= @confirmation ? 'block' : 'none' %>; float:left; margin-top: 20px; width: 100%">
  <table width="100%" class="colored">
    <tr><th>Shopping cart items</th><th style="text-align:right;">Price</th></tr>
    <tr><td>Deposit</td><td style="text-align:right;"><%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.deposit) %></td></tr>
    <% unless @clip_tariff.blank? || @clip_tariff.months_advance.to_i.zero? %>
      <tr class="altrow"><td><%= @clip_tariff.blank? ? '?' : pluralize(@clip_tariff.months_advance, "month") %> advance (<%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %> x <%= @clip_tariff.blank? ? '?' : @clip_tariff.months_advance %>)</td><td style="text-align:right;"><%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.advance_charge) %></td></tr>
    <% end -%>
    <% unless @clip_tariff.blank? || @clip_tariff.months_trial.to_i.zero? %>
      <tr class="altrow red"><td><%= @clip_tariff.blank? ? '?' : pluralize(@clip_tariff.months_trial, "month") %> trial (Free <%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %> x <%= @clip_tariff.blank? ? '?' : @clip_tariff.months_trial %>)</td><td style="text-align:right;"><%= USD_value(0) %></td></tr>
    <% end -%>
    <tr><td>Shipping</td><td style="text-align:right;"><%= selected_shipping_option( @clip_tariff) %></td></tr>
    <tr><td>Dealer Install Fee</td><td style="text-align:right;"><%= @clip_tariff.blank? ? '?' : USD_value( @clip_tariff.dealer_install_fee) %></td></tr>
    <tr class="altrow"><td style="text-align:right;">Total*</td><td style="text-align:right;">
      <% if @confirmation %>
      <%= f.hidden_field "cost", :disabled => true %>
      <% end -%>
      <strong><%= selected_total_cost( @clip_tariff) %></strong>
    </td></tr>
  </table>
  <p>
    <!-- *Note: Recurring monthly charge of <b><%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %>/mo</b> will begin <%= @clip_tariff.blank? ? '?' : @clip_tariff.recurring_delay.months.from_now.to_s(:day_date) %> -->
    <span class="tiny">*<b>Note</b>: Your credit card will be charged $<%=@clip_tariff.monthly_recurring%>/month, recurring on the 1st day of each month.  Your first month's charge will not be billed until your myHalo system is installed or 7 days after your myHalo system has shipped, whichever comes first.  The first month's charge will be prorated based on this date.</span>  
  </p>
</div>
<% end -%>

<br/>
