<table>
  <% if @confirmation.blank? || (@product == "complete") %>
  <tr>
    <td>
      <%= radio_button_tag( 'product', 'complete', (@product == "complete")) unless @confirmation %> <span style="font-size:120%"><label for="product_complete">myHalo Complete</label><b>&nbsp;(<%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.monthly_recurring) %>/mo)</b></span>
      <br />
      <div class="sizes" id="product_sizes" style="display:none">
        <% DeviceModel.myhalo_complete.sizes.each do |_size| %>
          <div class="prepend-1">
            <%= radio_button_tag "order[device_model_size]", _size, (@order.device_model_size == _size), :id => _size.gsub(/ /,'_').gsub(/-/,'_') %>
            <%= label_tag( "#{_size.gsub(/ /,'_').gsub(/-/,'_')}", _size) %><br />
          </div>
        <% end %>
      </div>
      
    </td>
    <td><%= image_tag 'myhalo-chest-strap.gif' %></td>
    <% unless @confirmation %>
    <%= observe_field(:product_complete,
                      :frequency => 1,
                      :function => "toggleProductDetails();"
                      ) %>
    <% end -%>
  </tr>
  <% end -%>
  <% if @confirmation.blank? || (@product == "clip") %>
  <tr>
    <td><%= radio_button_tag "product", "clip", (@product == "clip") unless @confirmation %><span style="font-size:120%"><label for="product_clip">myHalo Clip</label><b>&nbsp;(<%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %>/mo)</b></span></td>
    <td><%= image_tag 'myhalo-belt-clip.jpg' %></td>
    <%= observe_field(:product_clip,
                      :frequency => 1,
                      :function => "toggleProductDetails();"
                      ) %>
  </tr>
  <% end -%>
  <% if !@confirmation %>
    <tr>
      <td colspan="2">
        <%= link_to "What's the difference?", image_path("product_matrix.jpg"), :rel => "facebox", :class => "prepend-1" %>
      </td>
    </tr>
    
  <% end -%>
</table>

<% if !@confirmation %>
  <ul class="no-style">
    <% for _option in ShippingOption.ordered %>
    <li>
      <%= radio_button_tag 'order[shipping_option_id]', "#{_option.id}", ( !@shipping_option_id.blank? && (_option.id == @shipping_option)) %>
      <%= label_tag "order_shipping_option_id_#{_option.id}", "#{_option.description}" %> <%= " #{USD_value( _option.price)}" %>
    </li>
    <% end %>
  </ul>
<% else %>
  Shipping option: <%= h( ShippingOption.find( @shipping_option).description) unless @shipping_option.blank? %>
<% end %>