<% javascript 'shipping_options' %>

<table>
  <% if !confirmation_mode? || (@product == "complete") %>
  <tr>
    <td>
      <div class="span-2"><%= radio_button_tag( 'product', 'complete', (@product == "complete")) unless confirmation_mode? %></div> 
      <div class="span-10"><label for="product_complete">myHalo Complete</label><b>&nbsp;(<%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.monthly_recurring) %>/mo)</b></span></div>
      <%= hidden_field_tag "complete_selected" if confirmation_mode? %>
      </td>
      <div class="sizes" id="product_sizes" style="display:none">
        <% DeviceModel.myhalo_complete.sizes.each do |_size| %>
        <div class="prepend-1">
            <%= radio_button_tag "order[device_model_size]", _size, (@order.device_model_size == _size), :id => _size.gsub(/ /,'_').gsub(/-/,'_') %>
            <%= label_tag( "#{_size.gsub(/ /,'_').gsub(/-/,'_')}", _size) %><br />
        </div>
        <% end %>
    </td>
    <td><%= image_tag 'myhalo-chest-strap.gif' %></td>
    <% unless confirmation_mode? %>
    <%= observe_field(:product_complete,
                      :frequency => 1,
                      :function => "toggleProductDetails(); shippingChoices();"
                      ) %>
    <% end -%>
  </tr>
  <% end -%>
  <% if !confirmation_mode? || (@product == "clip") %>
  <tr>
    <td>  
      <div class="span-2"><%= radio_button_tag "product", "clip", (@product == "clip") unless confirmation_mode? %></div>
      <div class="span-2"><span style="font-size:120%"><label for="product_clip">myHalo Clip</label><b>&nbsp;(<%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %>/mo)</b></span></div>
      <%= hidden_field_tag "clip_selected" if confirmation_mode? %>  
    </td>
    <td><%= image_tag 'myhalo-belt-clip.jpg' %></td>
    <%= observe_field(:product_clip,
                      :frequency => 1,
                      :function => "toggleProductDetails(); shippingChoices();"
                      ) %>
  </tr>
  <% end -%>
  <% if !confirmation_mode? %>
    <tr>
      <td colspan="2">
        <%= link_to "What's the difference?", image_path("clip-complete-comparison-chart.png"), :rel => "facebox", :class => "prepend-1" %>
      </td>
    </tr>
    
  <% end -%>
</table>
