<!-- TODO: this can further be DRYed -->
<%= render :partial => 'shipping_options', :locals => { :f => f} %>

<% if !confirmation_mode? || (@product == "complete") %>
<div id="halo_complete_box" style="display: block; float:left; margin-top: 20px; width: 100%">
  <% if confirmation_mode? %>
    <div class="text-red text-medium">
      If the below charges are incorrect, please click "<%= link_to 'Back', store_path %>" and re-enter the correct coupon code. If still incorrect, call 1-888-971-4256
    </div>
  <% end %>
  <table width="100%" class="colored" style="border-color:#B3B3B3">
    <tr><th>Shopping cart items</th><th style="text-align:right;">Price</th></tr>
    <tr><td>Deposit</td>
      <td style="text-align:right;">
        <div id="cs_deposit_value"><%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.deposit) %></div>
      </td>
    </tr>
    <% unless @complete_tariff.blank? || @complete_tariff.months_advance.to_i.zero? %>
      <tr class="altrow">
        <td><%= pluralize(@complete_tariff.months_advance, "month") %> advance (<%= USD_value(@complete_tariff.monthly_recurring) %> x <%= @complete_tariff.months_advance %>)</td>
        <td style="text-align:right;">
          <div id="cs_months_advance"><%= USD_value(@complete_tariff.advance_charge) %></div>
        </td>
      </tr>
    <% end -%>
    <% unless @complete_tariff.blank? || @complete_tariff.months_trial.to_i.zero? %>
      <tr class="altrow red">
        <td><%= pluralize(@complete_tariff.months_trial, "month") %> trial (Free <%= USD_value(@complete_tariff.monthly_recurring) %> x <%= @complete_tariff.months_trial %>)</td>
        <td style="text-align:right;"><%= USD_value(0) %></td>
      </tr>
    <% end -%>
    <tr>
      <td>Shipping</td>
      <td style="text-align:right;"><div id="cs_shipping_value"><%= selected_shipping_option( @complete_tariff) %></div></td>
    </tr>
    <% if logged_in? %>
    <tr>
      <td><div id="cs_install_fee_title">Dealer Install Fee</div></td>
      <td style="text-align:right;">
        <div id="cs_install_fee_value"><%= @complete_tariff.blank? ? '?' : USD_value( @complete_tariff.dealer_install_fee) %></div>
      </td>
    </tr>
    <% end %>
    <tr class="altrow"><td style="text-align:right;"><strong>TOTAL*</strong></td><td style="text-align:right;">
      <% if confirmation_mode? %>
        <%= f.hidden_field "cost", :disabled => true %>
      <% end -%>
      <div>
        <%= hidden_field_tag 'cs_hidden_deposit', @complete_tariff.deposit %>
        <%= hidden_field_tag 'cs_hidden_shipping', @complete_tariff.shipping %>
        <%= hidden_field_tag 'cs_hidden_install_fee', @complete_tariff.dealer_install_fee %>
      </div>
      <strong><div id="cs_total_value"><%= selected_total_cost( @complete_tariff, @order) %></div></strong>
    </td></tr>
  </table>
  <p>
    <!-- #*Note: Recurring monthly charge of <b><%= @complete_tariff.blank? ? '?' : USD_value(@complete_tariff.monthly_recurring.to_i) %>/mo</b> will begin <%= @complete_tariff.blank? ? '?' : @complete_tariff.recurring_delay.to_i.months.from_now.to_s(:day_date) %> -->
    <span class="tiny">*<b>Note</b>: Your credit card will be charged $<%=@complete_tariff.monthly_recurring%>/month, recurring on the 1st day of each month.  Your first month's charge will not be billed until your myHalo system is installed or 7 days after your myHalo system has shipped, whichever comes first.  The first month's charge will be prorated based on this date.</span>  
  </p>
</div>
<% end -%>


<% if !confirmation_mode? || (@product == "clip") %>
<div id="halo_clip_box" style="display: <%= confirmation_mode? ? 'block' : 'none' %>; float:left; margin-top: 20px; width: 100%">
  <table width="100%" class="colored" style="border-color:#B3B3B3">
    <tr><th>Shopping cart items</th><th style="text-align:right;">Price</th></tr>
    <tr>
      <td>Deposit</td>
      <td style="text-align:right;">
        <div id="bc_deposit_value"><%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.deposit) %></div>
      </td>
    </tr>
    <% unless @clip_tariff.blank? || @clip_tariff.months_advance.to_i.zero? %>
      <tr class="altrow">
        <td><%= @clip_tariff.blank? ? '?' : pluralize(@clip_tariff.months_advance, "month") %> advance (<%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %> x <%= @clip_tariff.blank? ? '?' : @clip_tariff.months_advance %>)</td>
        <td style="text-align:right;">
          <div id="bc_months_advance"><%= @clip_tariff.blank? ? '0' : USD_value(@clip_tariff.advance_charge) %></div>
        </td>
      </tr>
    <% end -%>
    <% unless @clip_tariff.blank? || @clip_tariff.months_trial.to_i.zero? %>
      <tr class="altrow red">
        <td><%= @clip_tariff.blank? ? '?' : pluralize(@clip_tariff.months_trial, "month") %> trial (Free <%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %> x <%= @clip_tariff.blank? ? '?' : @clip_tariff.months_trial %>)</td>
        <td style="text-align:right;"><%= USD_value(0) %></td>
      </tr>
    <% end -%>
    <tr>
      <td>Shipping</td>
      <td style="text-align:right;">
        <div id="bc_shipping_value"><%= selected_shipping_option( @clip_tariff) %></div>
      </td>
    </tr>
    <% if logged_in? %>
    <tr>
      <td><div id="bc_install_fee_title">Dealer Install Fee</div></td>
      <td style="text-align:right;">
        <div id="bc_install_fee_value"><%= @clip_tariff.blank? ? '?' : USD_value( @clip_tariff.dealer_install_fee) %></div>
      </td>
    </tr>
    <% end %>
    <tr class="altrow"><td style="text-align:right;"><strong>TOTAL*</strong></td><td style="text-align:right;">
      <% if confirmation_mode? %>
        <%= f.hidden_field "cost", :disabled => true %>
      <% end -%>
      <div>
        <%= hidden_field_tag 'bc_hidden_deposit', @clip_tariff.deposit %>
        <%= hidden_field_tag 'bc_hidden_shipping', @clip_tariff.shipping %>
        <%= hidden_field_tag 'bc_hidden_install_fee', @clip_tariff.dealer_install_fee %>
      </div>
      <strong><div id="bc_total_value"><%= selected_total_cost( @clip_tariff, @order) %></div></strong>
    </td></tr>
  </table>
  <p>
    <!-- *Note: Recurring monthly charge of <b><%= @clip_tariff.blank? ? '?' : USD_value(@clip_tariff.monthly_recurring) %>/mo</b> will begin <%= @clip_tariff.blank? ? '?' : @clip_tariff.recurring_delay.months.from_now.to_s(:day_date) %> -->
    <span class="tiny">*<b>Note</b>: Your credit card will be charged $<%=@clip_tariff.monthly_recurring%>/month, recurring on the 1st day of each month.  Your first month's charge will not be billed until your myHalo system is installed or 7 days after your myHalo system has shipped, whichever comes first.  The first month's charge will be prorated based on this date.</span>  
  </p>
</div>
<% end -%>

<br/>
