<% javascript 'shipping_options' %>

<table class="colored" style="border-color:#B3B3B3">
  <tr>
    <th class="span-8">Please pick shipping option</th>
    <th>Other</th>
  </tr>

  <tr>
    <td>
      <% if confirmation_mode? %>
        <% if (@product == 'complete' && @complete_tariff.shipping.blank?) || (@product == 'clip' && @clip_tariff.shipping.blank?) %>
          <%=h "Shipping option: #{@shipping_option.description}, #{USD_value( @shipping_option.price)}" unless @shipping_option.blank? %>
        <% else %>
          Shipping option: applies from coupon code
        <% end %>
      
      <% else %>
        <ul id="shipping_choices" class="no-style" style="padding-left: 0px;">
          <% for _option in ShippingOption.ordered( "price ASC") %>
          <li>
            <%= radio_button_tag 'order[shipping_option_id]', "#{_option.id}", (_option.id == @shipping_option_id.to_i), :onclick => "updateCost( this);" %>
            <span id="order_shipping_option_id_<%= _option.id %>_value"><%= "#{USD_value( _option.price)}" %></span> : <%= label_tag "order_shipping_option_id_#{_option.id}", "#{_option.description}" %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </td>

    <td style="valigin:top; border-style:solid; border-left-width:1px; padding-left:15px; border-left-color:#B3B3B3">
      <div>
        <% unless current_user == :false %>
        <% if current_user.is_admin? || current_user.is_super_admin? %>
          <%= f.check_box :dealer_install_fee_applies, :disabled => confirmation_mode?, :onchange => 'dealerInstallFee(); updateTotal();' %>
          <%= f.label :dealer_install_fee_applies, "Dealer Install Fee" %>
        <% end %>
        <% end %>
      </div>  
      <br>
      <div id="coupon_code" class="textleft">
        <%= f.label :coupon_code, "Coupon Code" %> <span class="tiny">(if any)</span>
        <%= f.text_field :coupon_code, :disabled => confirmation_mode? %>
        <span class="tiny">Example: WINTER</span>

        <% unless confirmation_mode? %>
          <%= button_to_function "Apply", "location.href = 'http://' + document.domain +'/order/'+ $('order_coupon_code').value;" %>
        <% end %>
        <!-- <%# f.submit "Apply", :disable_with => 'Applying...', :class => 'button green-button small', :id => "apply_button" %> -->
      </div>
    </td>
  </tr>
</table>

