<!-- <meta http-equiv="refresh" content="30"> -->
<%=render :partial => 'reporting/nav'%>
<h2>Online Store Orders </h2>
Purchased from <%= link_to 'http://'+ServerInstance.current_host+'/order' %>
<br>
<br>
<table class="bluegrey">
	<th>Id</th>
	<th>Created At</th>
	<th>Order #</th>
	<th>Card Number</th>
	<th>Billing</th>
	<th>Shipping</th>
	<th>Order Items</th>
	<th>Total<br>Charged</th>
	<th>Notes</th>
	<% if @orders %>
	<% @orders.each do |order| %>
  <tr class="<%= cycle('', 'altrow') %>">
	  	<td><%= order.id %></td>
	  	<td><%= UtilityHelper.format_datetime(order.created_at,current_user) %></td>	
	  	<td><%= order.full_number %></td>
	  	<td>xxxx<% if !order.card_number.nil? %><%=  order.card_number[12,16] %> <% end %></td>
	  	<td><b><%= order.bill_first_name %> <%= order.bill_last_name %></b><br>
	  		<%= order.bill_address%><br>
	  		<%= order.bill_city%>,<%= order.bill_state %>-<%= order.bill_zip%><br>
	  		phone: <%= order.bill_phone%><br>
	  		<%= order.bill_email %>
	  	</td>
	  	<td><b><%= order.ship_first_name %> <%= order.ship_last_name %></b><br>
	  		<%= order.ship_address%><br>
	  		<%= order.ship_city%>,<%= order.ship_state %>-<%= order.ship_zip%><br>
	  		phone: <%= order.ship_phone%><br>
	  		<%#= ship.bill_email %>
	  	</td>
		<td>
		  <% order.order_items.each do |item| %>
		    <%= item.product_model %> x <%= item.quantity %> = <%= item.formatted_cost(item.quantity) %><br>
		  <% end -%>
		</td>
		<td><%= number_to_currency(order.cost, :precision => 2, :unit => '$') %></td>
		<td><%unless order.comments.nil?%><%= link_to truncate(order.comments, 10, "..."),:controller => 'orders',:action => 'comments',:order_id => order.id  %><%end%></td>
	  </tr>
	<%end%>
	<%end%>
</table>
<br>
<center><big><%= will_paginate @orders %></big></center>
