<p><a href="http://www.halomonitoring.com/products/myhalo-senior-monitoring">Learn more about myHalo</a>
<% if logged_in? && current_user.is_super_admin? %>
  | <a href="/orders">Online Store Orders table</a>
<% end %></p>
<% if @confirmation %>
<h1>Please verify your order</h1>
<% end %>
<% unless @confirmation %>
    <% content_for :js do %>
      <%= javascript_include_tag "custom/facebox/facebox.js" %>
      <%= javascript_include_tag "validation.js" %>
      <%= javascript_include_tag "masked-input.js" %>
    <% end -%>
    <% content_for :css do %>
      <%= stylesheet_link_tag "custom/facebox/facebox.css" %>
    <% end -%>
<% end -%>

<% unless @order.errors.blank? %>  <!-- show validation errors -->
  <div id="errors" class="box error">
    <%= error_messages_for :order %>
  </div>
<% end -%>

<% form_for @order, :url => {:action => (@confirmation ? "create" : "new")}, :html => {:id => 'form1', :class => "#{@confirmation ? 'confirm-form' : 'form'}"} do |f| %>
 	<fieldset style="border: 2px solid ; padding: 10px;">    
	<legend><span style="color:#008040;font-size:150%"><b>&nbsp;<%= @confirmation ? 'Order summary' : 'Pick a product or call 1-888-971-4256' %>&nbsp;</b></span></legend>
    <a name="top"></a>
    <table id="product_detail_box" width="100%">
      <tr>
        <td width="50%"><%= render :partial => 'product_listing', :locals => {:f => f} %></td>
        <td><%= render :partial => 'product_detail', :locals => {:f => f} %></td>
      </tr>
    </table>
  </fieldset>
  <br /><br />
	<fieldset style="border: 2px solid; padding: 10px;">   		 
    <legend><span style="color:#008040;font-size:150%"><b>&nbsp;Billing and Shipping<%= ' Summary' if @confirmation %></b></span></legend>
    <table width="100%">
      <tr align="left">
        <th width="33%">
          <%= !logged_in? ? 'Shipping Address' : 'Users Home Address' %>
        </th>
        
        <th width="33%">
          <%= !logged_in? ? 'Billing Address' : 'Subscriber Billing Address' %>
        </th>
        
        <th>
          <%= !logged_in? ? 'Payment Info' : 'Subscriber\'s Credit Card' %>
        </th>
      </tr>
      
      <tr>
        <td width="33%">
          <p>
          <%# if logged_in? %>
            <%#= f.label :group_id, "Group" %>
            <%#= f.select :group_id, @groups.collect {|p| [p.name, p.id]}, {:include_blank => "Choose a Group"} %>
          <%# else %>
            <%#= @groups.collect {|e| e.name.gsub('_',' ').capitalize }.join(', ') %>
          <%# end -%>  
          <% if logged_in? %>
          Group: <span class="large"><%= @order.group.blank? ? '?' : @order.group.name %></span>&nbsp;
          <% end %>
          <% if @groups.length > 1 %>
            <span class="tiny">(<%= link_to 'Switch Group', :controller => 'orders', :action => 'switch_group' %>)</span>
          <% end %>
          </p>
          <!-- <p>
            <%#= f.check_box "halouser", :disabled => @confirmation %>
            <%#= f.label "halouser", "This person will be the myHalo user" %>
          </p> -->
        </td>
        <td width="33%">
          <%= f.check_box "bill_address_same", :checked => @same_address, :disabled => @confirmation %>
          <label for="order_bill_address_same"><%= !logged_in? ? 'Same as Shipping info' : 'Same as Users Home Address' %></label>
          <%= observe_field(:order_bill_address_same,
                            :on => :click,
                            :function => "if (document.getElementById('order_bill_address_same').checked) { hideDiv('billing_block'); } else { showDiv('billing_block'); }"
                            ) %>
        </td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
      <td style="vertical-align: top;">
        <p>
          <label for="order_ship_first_name">First name</label> <br />
          <%= f.text_field "ship_first_name", :class => "required validate-alpha", :disabled => @confirmation %> <br /><br/>
		  <label for="order_ship_last_name">Last name</label> <br />	
          <%= f.text_field "ship_last_name", :class => "required validate-alpha", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_address">Address</label><br />
          <%= f.text_field "ship_address", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_city">City</label><br />
          <%= f.text_field "ship_city", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_state">State</label><br />
          <% if @confirmation %>
            <%= f.text_field "ship_state", :disabled => true %>
          <% else %>
            <%= f.select "ship_state", State::NAMES, :class => "required" %>
          <% end -%>
        </p>
        <p>
          <label for="order_ship_zip">Zip</label><br />
          <%= f.text_field "ship_zip", :class => "required validate-digits", :size => 10, :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_phone">Phone</label><br />
          <%= f.text_field "ship_phone", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_email">Email</label><br />
          <%= f.text_field "ship_email", :class => "required validate-email", :disabled => @confirmation %>
        </p>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <div id="billing_block" style="margin-left: 5px; display: <%= (@confirmation && @same_address == '') ? 'block' : 'none' %>; margin: 0px; padding: 0px;">
          <p>
            <label for="order_bill_first_name">First name</label><br />
            <%= f.text_field "bill_first_name", :class => "required validate-alpha", :disabled => @confirmation %> <br/> <br/>     
            <label for="order_bill_last_name">Last name</label><br />
            <%= f.text_field "bill_last_name", :class => "required validate-alpha", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_address">Billing address</label><br />
            <%= f.text_field "bill_address", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_city">City</label><br />
            <%= f.text_field "bill_city", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_state">State</label><br />
            <% if @confirmation %>
              <%= f.text_field "bill_state", :disabled => true %>
            <% else %>
              <%= f.select "bill_state", State::NAMES, :class => "required" %>
            <% end -%>
          </p>
          <p>
            <label for="order_bill_zip">Zip</label><br />
            <%= f.text_field "bill_zip", :class => "required validate-digits", :size => 10, :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_phone">Phone</label><br />
            <%= f.text_field "bill_phone", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_email">Email</label><br />
            <%= f.text_field "bill_email", :class => "required validate-email", :disabled => @confirmation %>
          </p>
        </div>
      </td>
      
      <td style="vertical-align: top;">
        <p>
          <label for="order_card_number">Card number</label><br />
          <%= f.text_field "card_number", :class => "required", :size => 20, :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_card_expiry">Expiration</label> (Month/Year)<br />
          <%= f.date_select "card_expiry", :class => "required", :order => [:month, :year], :disabled => @confirmation  %>
        </p>
        <p>
          <label for="order_card_type">Card Type</label><br />
          <% if @confirmation %>
            <%= f.text_field "card_type", :class => "required", :disabled => true %>
          <% else %>
            <%= f.select "card_type", credit_card_types.to_a %>
          <% end -%>

        <p>
          CSC / <label for="order_cvv">CVV</label>
            <%= f.password_field "cvv", :class => "required", :size => 4, :disabled => @confirmation %>
            <br>
        <span class="tiny">Note: The CSC/CVV (Card Security Code / Card Verification Value) is located on the back of <%= link_to "MasterCard, VISA, or Discover", image_path("CVC2SampleVisaNew.png"), :rel => "facebox" %> cards and is typically a separate group of 3 digits to the right of signature strip. On <%= link_to "American Express", image_path("CIDSampleAmex.png"), :rel => "facebox" %> cards, the CSC/CVV is a 4 digit code on the front towards the right.</span>
        </p>
        <p>
          <label>Comments and special shipping instructions</label><br />
          <%= f.text_area "comments", :rows => 5, :disabled => @confirmation %>
        </p>
        <p id="coupon_code">
          <%= f.label :coupon_code, "Coupon Code" %> (if any)
          <%= f.text_field :coupon_code %> 
          <%= f.label :coupon_code_extra, "Example: WINTER" %>
        </p>
        <% #= recaptcha_tags %>
      </td>
      </tr>
    </table>
    <div>
      <%= f.hidden_field :created_by %>
      <%= f.hidden_field :updated_by %>
    </div>
  </fieldset>
  <p class="textright">
    <%= link_to "< Back", order_path, :id => "back_link", :class => 'largebutton' if @confirmation %>
    <%= f.submit "#{@confirmation ? 'Place Order >' : 'Continue >'}", :disable_with => "Please wait...", :class => 'largebutton' %>
  </p>
<% end -%>


<script type="text/javascript" charset="utf-8">
  //
  showBillingDetails();
  toggleProductDetails();
  
  // billing address bug fix. frequency was not triggering it on back()
  //
  function showBillingDetails() {
    if (document.getElementById('order_bill_address_same').checked) { 
      hideDiv('billing_block');
    } else {
      showDiv('billing_block');
    }
  }
  // javasript form validation
  //
  new Validation('form1', {immediate : true});
  
  // data entry masking
  //
  MaskInput(document.getElementById("order_card_number"), "9999999999999999");
  MaskInput(document.getElementById("order_cvv"), "9999");
  MaskInput(document.getElementById("order_bill_zip"), "999999");
  MaskInput(document.getElementById("order_ship_zip"), "999999");

  // hide, show elements
  //
  // function toggleDiv(what)
  // {
  //   found = document.getElementById(what);
  //   if (found.style.display == "block") {
  //     found.style.display = "none";
  //   }
  //   else {
  //     found.style.display = "block";
  //   }
  // }
  
  function showDiv(what) {
    document.getElementById(what).style.display = "block";
  }

  function hideDiv(what) {
    document.getElementById(what).style.display = "none";
  }
  
  function toggleProductDetails() {
    if (document.getElementById('product_complete').checked == true) {
      showDiv('halo_complete_box');
    } else {
      hideDiv('halo_complete_box');
    }
    if (document.getElementById('product_clip').checked == true) {
      showDiv('halo_clip_box');
    } else {
      hideDiv('halo_clip_box');
    }
  }
</script>
