<% unless @confirmation %>
  <% if session[:order].blank? %>
    <% content_for :js do %>
      <%= javascript_include_tag "facebox/facebox.js" %>
    <% end -%>
    <% content_for :css do %>
      <%= stylesheet_link_tag "facebox/facebox.css" %>
    <% end -%>
  <% end -%>
<% end -%>

<% form_for @order, :url => {:action => (@confirmation ? "create" : "new")}, :html => {:id => 'form1'} do |f| %>
  <fieldset>
    <legend><%= @confirmation ? 'Order summary' : 'Pick a product' %></legend>
    <table id="product_detail_box" width="100%">
      <tr>
        <td>
          <table>
            <% if @confirmation.blank? || (@product == "complete") %>
            <tr>
              <td><%= radio_button_tag 'product', 'complete', true unless @confirmation %> <%= DeviceType.find_product_by_any_name("Halo Complete, Chest Strap") %> ($59/mo)</td>
              <td><%= image_tag 'myhalo-chest-strap.gif' %></td>
              <%= observe_field(:product_complete,
                                :frequency => 1,
                                :function => "toggleProductDetails();"
                                ) %>
            </tr>
            <% end -%>
            <% if @confirmation.blank? || (@product == "clip") %>
            <tr>
              <td><%= radio_button_tag "product", "clip" unless @confirmation %> <%= DeviceType.find_product_by_any_name("Halo Clip, Belt Clip") %> ($49/mo)</td>
              <td><%= image_tag 'myhalo-belt-clip.gif' %></td>
              <%= observe_field(:product_clip,
                                :frequency => 1,
                                :function => "toggleProductDetails();"
                                ) %>
            </tr>
            <% end -%>
            <% if !@confirmation %>
            <tr><td colspan="2"><%= link_to "What's the difference?", image_path("product_matrix.jpg"), :rel => "facebox" %></td></tr>
            <% end -%>
          </table>
        </td>
        
        <td>
          <% if @confirmation.blank? || (@product == "complete") %>
          <div id="halo_complete_box" style="display: block; float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($59 x 3)</td><td>$177.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total</td><td>
                <% if @confirmation %>
                  <%= f.text_field "cost", :disabled => true %>
                <% else %>
                  <strong>$439.00</strong>
                <% end -%>
              </td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of $59.00/mo will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>
          <% end -%>

          <% if @confirmation.blank? || (@product == "clip") %>
          <div id="halo_clip_box" style="display: <%= @confirmation ? 'block' : 'none' %>; float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($49 x 3)</td><td>$147.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total</td><td>
                <% if @confirmation %>
                  <%= f.text_field "cost", :disabled => true %>
                <% else %>
                  <strong>$409.00</strong>
                <% end -%>
              </td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of $49.00/mo will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>
          <% end -%>
          
          <br/>
        </td>

      </tr>
    </table>
  </fieldset>
  <br />
  <fieldset>
    <legend>Billing and Shipping</legend>
    <table width="100%">
      <td style="vertical-align: top;" width="33%">
        <h3>Shipping address</h3>
        <p>&nbsp;</p>
        <p>
          <%= f.check_box "halouser", :disabled => @confirmation %>
          <label>Also myHalo user</label>
        </p>
        <p>
          <label>Name</label><br />
          <%= f.text_field "ship_name", :disabled => @confirmation %>
        </p>
        <p>
          <label>Shipping address</label><br />
          <%= f.text_field "ship_address", :disabled => @confirmation %>
        </p>
        <p>
          <label>City</label><br />
          <%= f.text_field "ship_city", :disabled => @confirmation %>
        </p>
        <p>
          <label>State</label><br />
          <% if @confirmation %>
            <%= f.text_field "ship_state", :disabled => true %>
          <% else %>
            <%= f.select "ship_state", State::NAMES %>
          <% end -%>
        </p>
        <p>
          <label>Zip</label><br />
          <%= f.text_field "ship_zip", :disabled => @confirmation %>
        </p>
        <p>
          <label>Phone</label><br />
          <%= f.text_field "ship_phone", :disabled => @confirmation %>
        </p>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <h3>Billing address</h3>
        <p>
          <%= check_box "billing", "same_as_shipping", :checked => "#{@same_address}", :disabled => @confirmation %>
          <label>Same as shipping</label>
          <%= observe_field(:billing_same_as_shipping,
                            :on => :click,
                            :function => "toggleDiv('billing_block');"
                            ) %>
        </p>
        <div id="billing_block" style="display: <%= (@confirmation && @same_address == '') ? 'block' : 'none' %>;">
          <p>
            <label>Name</label><br />
            <%= f.text_field "bill_name", :disabled => @confirmation %>
          </p>
          <p>
            <label>Billing address</label><br />
            <%= f.text_field "bill_address", :disabled => @confirmation %>
          </p>
          <p>
            <label>City</label><br />
            <%= f.text_field "bill_city", :disabled => @confirmation %>
          </p>
          <p>
            <label>State</label><br />
            <% if @confirmation %>
              <%= f.text_field "bill_state", :disabled => true %>
            <% else %>
              <%= f.select "bill_state", State::NAMES %>
            <% end -%>
          </p>
          <p>
            <label>Zip</label><br />
            <%= f.text_field "bill_zip", :disabled => @confirmation %>
          </p>
          <p>
            <label>Phone</label><br />
            <%= f.text_field "bill_phone", :disabled => @confirmation %>
          </p>
          <p>
            <label>Email</label><br />
            <%= f.text_field "bill_email", :disabled => @confirmation %>
          </p>
        </div>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <h3>Payment method</h3>
        <p>&nbsp;</p>
        <p>
          <label>Card number</label><br />
          <%= f.text_field "card_number", :disabled => @confirmation %>
        </p>
        <p>
          <label>Expiration (Month/Year)</label><br />
          <%= f.date_select "card_expiry", :order => [:month, :year], :disabled => @confirmation  %>
        </p>
        <p>
          <label>CSC</label><br />
          <%= password_field "other", "card_csc", :disabled => @confirmation %>
        </p>
        <p class="hint">*Note: The CSC is located on the back of the MasterCard or VISA debit or credit cards and is typically a separate group of 3 digits to the right of signature strip</p>
        <p>
          <label>Comments and Special shipping instructions</label>
          <%= f.text_area "comments", :rows => 5, :disabled => @confirmation %>
        </p>
      </td>
    </table>
  </fieldset>
  <p class="textright">
    <%= f.submit "#{@confirmation ? 'Place Order' : 'Continue'}", :class => 'largebutton' %>
  </p>
<% end -%>

<script type="text/javascript" charset="utf-8">
  function toggleDiv(what)
  {
    found = document.getElementById(what);
    if (found.style.display == "block") {
      found.style.display = "none";
    }
    else {
      found.style.display = "block";
    }
  }
  
  function showDiv(what) {
    document.getElementById(what).style.display = "block";
  }

  function hideDiv(what) {
    document.getElementById(what).style.display = "none";
  }
  
  function toggleProductDetails() {
    if (document.getElementById('product_complete').checked == true) {
      showDiv('halo_complete_box');
      hideDiv('halo_clip_box');
    } else {
      hideDiv('halo_complete_box');
      showDiv('halo_clip_box');
    }
  }
</script>