<% if logged_in? && current_user.is_super_admin? %>
  <p><a href="/orders">DTC Orders table</a></p>
<% end %>
<% if @confirmation %>
<h1>Please verify your order</h1>
<% end %>
<% unless @confirmation %>
    <% content_for :js do %>
      <%= javascript_include_tag "facebox/facebox.js" %>
      <%= javascript_include_tag "validation.js" %>
      <%= javascript_include_tag "masked-input.js" %>
    <% end -%>
    <% content_for :css do %>
      <%= stylesheet_link_tag "facebox/facebox.css" %>
    <% end -%>
<% end -%>

<% flash.each do |type| %>
  <%= flash[type] %>
<% end %>

<% unless @order.errors.blank? %>  <!-- show validation errors -->
  <div id="errors" class="box error">
    <%= error_messages_for :order %>
  </div>
<% end -%>

<% form_for @order, :url => {:action => (@confirmation ? "create" : "new")}, :html => {:id => 'form1', :class => "#{@confirmation ? 'confirm-form' : 'form'}"} do |f| %>
 	<fieldset style="border: 2px solid ; padding: 10px;">    
	<legend><span style="color:#008040;font-size:150%"><b>&nbsp;<%= @confirmation ? 'Order summary' : 'Pick a product' %>&nbsp;</b></span></legend>
    <table id="product_detail_box" width="100%">
      <tr>
        <td>
          <table>
            <% if @confirmation.blank? || (@product == "complete") %>
            <tr>
              <td><%= radio_button_tag 'product', 'complete' unless @confirmation %> <span style="font-size:120%"><label for="product_complete">myHalo Complete</label><b>&nbsp;($59/mo)</b></span></td>
              <td><%= image_tag 'myhalo-chest-strap.gif' %></td>
              <%= observe_field(:product_complete,
                                :frequency => 1,
                                :function => "toggleProductDetails();"
                                ) %>
            </tr>
            <% end -%>
            <% if @confirmation.blank? || (@product == "clip") %>
            <tr>
              <td><%= radio_button_tag "product", "clip" unless @confirmation %><span style="font-size:120%"><label for="product_clip">&nbsp;myHalo Clip</label><b>&nbsp;($49/mo)</b></span></td>
              <td><%= image_tag 'myhalo-belt-clip.jpg' %></td>
              <%= observe_field(:product_clip,
                                :frequency => 1,
                                :function => "toggleProductDetails();"
                                ) %>
            </tr>
            <% end -%>
            <% if !@confirmation %>
            <tr><td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "What's the difference?", image_path("product_matrix.jpg"), :rel => "facebox" %></td></tr>
            <% end -%>
          </table>
        </td>
        
        <td>
          <% if @confirmation.blank? || (@product == "complete") %>
          <div id="halo_complete_box" style="display: block; float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($59 x 3)</td><td>$177.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total*</td><td>
                <% if @confirmation %>
                  <%= f.hidden_field "cost", :disabled => true %>
                <% end -%>
                <strong>$441.00</strong>
            </td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of <b>$59.00/mo</b> will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>
          <% end -%>

          <% if @confirmation.blank? || (@product == "clip") %>
          <div id="halo_clip_box" style="display: <%= @confirmation ? 'block' : 'none' %>; float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($49 x 3)</td><td>$147.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total*</td><td>
                <% if @confirmation %>
                  <%= f.hidden_field "cost", :disabled => true %>
                <% end -%>
                <strong>$411.00</strong>
              </td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of <b>$49.00/mo</b> will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>
          <% end -%>
          
          <br/>
        </td>

      </tr>
    </table>
  </fieldset>
  <br /><br />
	<fieldset style="border: 2px solid; padding: 10px;">   		 
    <legend><span style="color:#008040;font-size:150%"><b>&nbsp;Billing and Shipping<%= ' Summary' if @confirmation %></b></span></legend>
    <table width="100%">
      <tr align="left">
        <th width="33%">
          Shipping address
        </th>
        
        <th width="33%">
          Billing address
        </th>
        
        <th>
          Payment method
        </th>
      </tr>
      
      <tr>
        <td width="33%">
          <%= f.check_box "halouser", :disabled => @confirmation %>
          <label>This person will be the myHalo user</label>
        </td>
        <td width="33%">
          <%= f.check_box "bill_address_same", :checked => "#{@same_address}", :disabled => @confirmation %>
          <label for="order_bill_address_same">Same as shipping info</label>
          <%= observe_field(:order_bill_address_same,
                            :on => :click,
                            :function => "if (document.getElementById('order_bill_address_same').checked) { hideDiv('billing_block'); } else { showDiv('billing_block'); }"
                            ) %>
        </td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
      <td style="vertical-align: top;">
        <p>
          <label for="order_ship_first_name">First name</label> <br />
          <%= f.text_field "ship_first_name", :class => "required validate-alpha", :disabled => @confirmation %> <br /><br/>
		  <label for="order_ship_last_name">Last name</label> <br />	
          <%= f.text_field "ship_last_name", :class => "required validate-alpha", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_address">Shipping address</label><br />
          <%= f.text_field "ship_address", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_city">City</label><br />
          <%= f.text_field "ship_city", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_state">State</label><br />
          <% if @confirmation %>
            <%= f.text_field "ship_state", :disabled => true %>
          <% else %>
            <%= f.select "ship_state", State::NAMES, :class => "required" %>
          <% end -%>
        </p>
        <p>
          <label for="order_ship_zip">Zip</label><br />
          <%= f.text_field "ship_zip", :class => "required validate-digits", :size => 10, :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_phone">Phone</label><br />
          <%= f.text_field "ship_phone", :class => "required", :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_ship_email">Email</label><br />
          <%= f.text_field "ship_email", :class => "required validate-email", :disabled => @confirmation %>
        </p>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <div id="billing_block" style="margin-left: 5px; display: <%= (@confirmation && @same_address == '') ? 'block' : 'none' %>; margin: 0px; padding: 0px;">
          <p>
            <label for="order_bill_first_name">First name</label>, <label for="order_bill_last_name">Last name</label><br />
            <%= f.text_field "bill_first_name", :class => "required validate-alpha", :disabled => @confirmation %> 
            <%= f.text_field "bill_last_name", :class => "required validate-alpha", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_address">Billing address</label><br />
            <%= f.text_field "bill_address", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_city">City</label><br />
            <%= f.text_field "bill_city", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_state">State</label><br />
            <% if @confirmation %>
              <%= f.text_field "bill_state", :disabled => true %>
            <% else %>
              <%= f.select "bill_state", State::NAMES, :class => "required" %>
            <% end -%>
          </p>
          <p>
            <label for="order_bill_zip">Zip</label><br />
            <%= f.text_field "bill_zip", :class => "required validate-digits", :size => 10, :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_phone">Phone</label><br />
            <%= f.text_field "bill_phone", :class => "required", :disabled => @confirmation %>
          </p>
          <p>
            <label for="order_bill_email">Email</label><br />
            <%= f.text_field "bill_email", :class => "required validate-email", :disabled => @confirmation %>
          </p>
        </div>
      </td>
      
      <td style="vertical-align: top;">
        <p>
          <label for="order_card_number">Card number</label><br />
          <%= f.text_field "card_number", :class => "required", :size => 20, :disabled => @confirmation %>
        </p>
        <p>
          <label for="order_card_expiry">Expiration</label> (Month/Year)<br />
          <%= f.date_select "card_expiry", :class => "required", :order => [:month, :year], :disabled => @confirmation  %>
        </p>
        <p>
          <label for="order_card_type">Card Type</label><br />
          <% if @confirmation %>
            <%= f.text_field "card_type", :class => "required", :disabled => true %>
          <% else %>
            <%= f.select "card_type", credit_card_types.to_a %>
          <% end -%>
        </p>
        <p>
          <label for="order_card_csc">CSC</label> (Card Security Code)<br />
            <%= f.password_field "card_csc", :class => "required", :size => 4, :disabled => @confirmation %>
        </p>
        <span class="hint">Note: The CSC is located on the back of <%= link_to "MasterCard, VISA, or Discover", image_path("CVC2SampleVisaNew.png"), :rel => "facebox" %> cards and is typically a separate group of 3 digits to the right of signature strip. On <%= link_to "American Express", image_path("CIDSampleAmex.png"), :rel => "facebox" %> cards, the CSC is a 4 digit code on the front towards the right.</span>
        <p>
          <label>Comments and special shipping instructions</label><br />
          <%= f.text_area "comments", :rows => 5, :disabled => @confirmation %>
        </p>
        <% #= recaptcha_tags %>
      </td>
      </tr>
    </table>
  </fieldset>
  <p class="textright">
    <%= link_to "< Back", "#", :class => 'largebutton', :onclick => "history.go(-1);" if @confirmation %>
    <%= f.submit "#{@confirmation ? 'Place Order >' : 'Continue >'}", :class => 'largebutton' %>
  </p>
<% end -%>


<script type="text/javascript" charset="utf-8">
  //
  showBillingDetails();
  toggleProductDetails();
  
  // billing address bug fix. frequency was not triggering it on back()
  //
  function showBillingDetails() {
    if (document.getElementById('order_bill_address_same').checked) { 
      hideDiv('billing_block');
    } else {
      showDiv('billing_block');
    }
  }
  // javasript form validation
  //
  new Validation('form1', {immediate : true});
  
  // data entry masking
  //
  MaskInput(document.getElementById("order_card_number"), "9999999999999999");
  MaskInput(document.getElementById("order_card_csc"), "9999");
  MaskInput(document.getElementById("order_bill_zip"), "999999");
  MaskInput(document.getElementById("order_ship_zip"), "999999");

  // hide, show elements
  //
  // function toggleDiv(what)
  // {
  //   found = document.getElementById(what);
  //   if (found.style.display == "block") {
  //     found.style.display = "none";
  //   }
  //   else {
  //     found.style.display = "block";
  //   }
  // }
  
  function showDiv(what) {
    document.getElementById(what).style.display = "block";
  }

  function hideDiv(what) {
    document.getElementById(what).style.display = "none";
  }
  
  function toggleProductDetails() {
    if (document.getElementById('product_complete').checked == true) {
      showDiv('halo_complete_box');
    } else {
      hideDiv('halo_complete_box');
    }
    if (document.getElementById('product_clip').checked == true) {
      showDiv('halo_clip_box');
    } else {
      hideDiv('halo_clip_box');
    }
  }
</script>
