<% content_for :js do %>
  <%= javascript_include_tag "facebox/facebox.js" %>
<% end -%>
<% content_for :css do %>
  <%= stylesheet_link_tag "facebox/facebox.css" %>
<% end -%>

<% form_tag "/orders/new" do %>
  <fieldset>
    <legend>Pick a product</legend>
    <table width="100%">
      <tr>
        <td>
          <table>
            <tr>
              <td><%= radio_button 'order', 'product', 'halo_complete', :checked => 'checked' %>&nbsp;MyHalo Complete ($59/mo)</td>
              <td><%= image_tag 'myhalo-chest-strap.gif' %></td>
              <%= observe_field(:order_product_halo_complete,
                                :on => :click,
                                :function => "Element.show('halo_complete');Element.hide('halo_clip');"
                                ) %>
            </tr>
            <tr>
              <td><%= radio_button 'order', 'product', 'halo_clip' %>&nbsp;MyHalo Clip ($49/mo)</td>
              <td><%= image_tag 'myhalo-belt-clip.gif' %></td>
              <%= observe_field(:order_product_halo_clip,
                                :on => :click,
                                :function => "Element.hide('halo_complete');Element.show('halo_clip');"
                                ) %>
            </tr>
            <tr><td colspan="2"><%= link_to "What's the difference?", image_path("product_matrix.jpg"), :rel => "facebox" %></td></tr>
          </table>
        </td>
        
        <td>
          <div id="halo_complete" style="float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($59 x 3)</td><td>$177.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total</td><td><strong>$439.00</strong></td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of $59.00/mo will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>

          <div id="halo_clip" style="display: none; float:left; margin-top: 20px; width: 100%">
            <table width="100%" class="colored">
              <tr><th>Shopping cart items</th><th>Price</th></tr>
              <tr><td>Deposit</td><td>$249.00</td></tr>
              <tr class="altrow"><td>3 months advance ($49 x 3)</td><td>$147.00</td></tr>
              <tr><td>Shipping</td><td>$15.00</td></tr>
              <tr class="altrow"><td>Total</td><td><strong>$409.00</strong></td></tr>
            </table>
            <p>
              *Note: Recurring monthly charge of $49.00/mo will begin <%= 3.months.from_now.to_s(:day_date) %>
            </p>
          </div>
          <br/>
        </td>

      </tr>
    </table>
  </fieldset>
  <br />
  <fieldset>
    <legend>Billing and Shipping</legend>
    <table width="100%">
      <td style="vertical-align: top;" width="33%">
        <h3>Shipping address</h3>
        <p>&nbsp;</p>
        <p>
          <label>Name</label><br />
          <%= text_field "order", "ship_first_name" %> <%= text_field "order", "ship_last_name" %>
        </p>
        <p>
          <label>Shipping address</label><br />
          <%= text_field "order", "ship_address" %>
        </p>
        <p>
          <label>City</label><br />
          <%= text_field "order", "ship_city" %>
        </p>
        <p>
          <label>State</label><br />
          <%= select "order", "ship_state", State::NAMES %>
        </p>
        <p>
          <label>Zip</label><br />
          <%= text_field "order", "ship_zip" %>
        </p>
        <p>
          <label>Phone</label><br />
          <%= text_field "order", "ship_phone" %>
        </p>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <h3>Billing address</h3>
        <p>
          <%= check_box "order", "same_as_shipping", :checked => 'checked' %>
          <label>Same as shipping</label>

          <%= observe_field(:order_same_as_shipping,
                            :on => :click,
                            :function => "Element.toggle('billing');"
                            ) %>
        </p>
        <div id="billing" style="display: none;">
          <p>
            <label>Name</label><br />
            <%= text_field "order", "bill_first_name" %> <%= text_field "order", "bill_last_name" %>
          </p>
          <p>
            <label>Billing address</label><br />
            <%= text_field "order", "bill_address" %>
          </p>
          <p>
            <label>City</label><br />
            <%= text_field "order", "bill_city" %>
          </p>
          <p>
            <label>State</label><br />
            <%= select "order", "bill_state", State::NAMES %>
          </p>
          <p>
            <label>Zip</label><br />
            <%= text_field "order", "bill_zip" %>
          </p>
          <p>
            <label>Phone</label><br />
            <%= text_field "order", "bill_phone" %>
          </p>
          <p>
            <label>Email</label><br />
            <%= text_field "order", "bill_email" %>
          </p>
        </div>
      </td>
      
      <td style="vertical-align: top;" width="33%">
        <h3>Payment method</h3>
        <p>&nbsp;</p>
        <p>
          <label>Card number</label><br />
          <%= text_field "order", "card_number" %>
        </p>
        <p>
          <label>Expiration (Month/Year)</label><br />
          <%= date_select "order", "card_month_year", :discard_day => true  %>
        </p>
        <p>
          <label>CSC</label><br />
          <%= password_field "order", "card_csc" %>
        </p>
        <p class="hint">*Note: The CSC is located on the back of the MasterCard or VISA debit or credit cards and is typically a separate group of 3 digits to the right of signature strip</p>
        <p>
          <label>Comments and Special shipping instructions</label>
          <%= text_area "order", "card_comments", :rows => 5 %>
        </p>
      </td>
    </table>
  </fieldset>
  <p class="textright">
    <%= submit_tag 'Continue', :class => 'largebutton' %>
  </p>
<% end -%>