<h1 id="thank_you_for_placing_the_order_with_us">Thank you for placing the order with us</h1>

<p>
  Your card has been charged <%= @order.cost %>.<br />
  Order confirmation has been emailed to <%= @order.ship_email %>
</p>
<p>
  Your order number is <%= @order.number %>
</p>
<hr />

<table width="100%">
  <tr>
    <td>Order number: <%= @order.number %></td>
    <td>Order date: <%= @order.created_at %></td>
    <td>Status: Shipped</td>
  </tr>
</table>

<p>
  Package: Shipped on <%= @order.created_at.to_s(:long) %>
</p>

<table>
  <tr>
    <th>Product</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Item price</th>
    <th>Total price</th>
  </tr>
  <% @order.order_items.each do |item| %>
  <tr>
    <td><%= item.product_model %></td>
    <td>Shipped</td>
    <td><%= item.quantity %></td>
    <td><%= item.cost %></td>
    <td><%= item.calculated_cost %></td>
  </tr>
  <% end -%>
</table>
<hr />
<table width="100%">
  <tr>
    <td>Billing address</td>
    <td>Your payment</td>
  </tr>
  <tr>
    <td>
      <%= @order.bill_name %><br />
      <%= @order.bill_address %><br />
      <%= @order.bill_city %><br />
      <%= @order.bill_state %><br />
      <%= @order.bill_zip %><br />
      <%= @order.bill_phone %><br />
      <%= @order.bill_email %><br />
    </td>
    <td>
      Card: *****<%= @order.card_number[-3..-1] %><br />
      Expiry: <%= @order.card_expiry %>
    </td>
  </tr>
</table>