<h1 id="thank_you_for_placing_the_order_with_us">Success: Please check your email for online activation instructions!</h1>
<% if logged_in? && current_user.is_super_admin? %>
<p><a href="/orders">Online Store Orders table</a></p>
<% end %>
<script language="JavaScript" type="text/javascript" src="http://affiliate.halomonitoring.com/sale.php?amount=<%= @order.cost %>&trans_id=<%= @order.full_number %>">
</script>
<p>
  Your card has been charged <strong><%= number_to_currency(@order.cost, :precision => 2, :unit => '$') %></strong>. 
  Order confirmation has been emailed to <strong><%= @order.bill_email %></strong>
</p>
<table width="100%" class="bluegrey">
  <tr align="left">
    <th>Company</th>
    <th>Order number</th>
    <th>Order date</th>
  </tr>
  <tr align="left" valign="top">
    <td>Halo Monitoring, Inc.<br>
	515 Sparkman Drive<br>
	Huntsville, AL 35816<br>
	Phone 888.971.HALO<br> 
	(888-971-4256)<br>
	Fax 866.275.1904</td>	
    <td><%= @order.full_number %></td>
    <td><%= @order.created_at.to_s(:day_date) %></td>
  </tr>
</table>

<br/>

<table width="100%" class="bluegrey">
  <tr align="left">
    <th>Product</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Item price</th>
    <th>Total price</th>
  </tr>
  <% @order.order_items.each do |item| %>
  <tr align="left">
    <td><%= item.product_model %></td>
    <td><%= item.status %></td>
    <td><%= item.quantity %></td>
    <td><%= item.formatted_cost %></td>
    <td><%= item.formatted_cost(item.quantity) %></td>
  </tr>
  <% end -%>
</table>
<br>
<table width="100%" class="bluegrey">
  <tr align="left">
    <th>Billing address</th>
    <th>Shipping address</th>
    <th>Your payment</th>
    <th width="20%">Note</th>
  </tr>
  <tr valign="top">
    <td>
      <%= @order.bill_first_name %> <%= @order.bill_last_name %><br />
      <%= @order.bill_address %><br />
      <%= @order.bill_city %>, <%= @order.bill_state %> <%= @order.bill_zip %><br />
      <%= @order.bill_phone %><br />
      <%= @order.bill_email %><br />
    </td>
    <td>
      <%= @order.ship_first_name %> <%= @order.ship_last_name %><br />
      <%= @order.ship_address %><br />
      <%= @order.ship_city %>, <%= @order.ship_state %> <%= @order.ship_zip %><br />
      <%= @order.ship_phone %><br />
      <%= @order.ship_email %><br />
    </td>
    <td>
      Card: <%= @order.masked_card_number %><br />
      Expiry: <%= @order.card_expiry %>
    </td>
    <td>
	  <%= @order.comments %>
	</td>
  </tr>
</table>
<br><br>
<fieldset style="border: 2px solid ; padding: 10px;">
<legend><b>Follow-up Instructions</b></legend>
Instructions for online activation have been sent in a separate email. Once you login, you will be asked to accept our subscriber agreement. You will also be prompted to fill out our online User Intake form which asks for your profile and your caregiver's profiles. Your account CANNOT go live until 48 hours after you have submitted the online user intake form, so please start the process as soon as possible.<br><br> 
<%= render :partial => 'users/forms_and_installation'%>
</fieldset>
