<% if toggle %>
	<a name="user_<%=user.id%>"></a>
<% end %>
<div class="row">
	<div class="col-25">
		<% if toggle %>
			<a href="javascript:void(0)" onClick="toggle_user_hidden(<%=user.id%>)" id="user_<%=user.id%>-toggle">[+]</a>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<div class="col-75">
		<%=user[:id]%>
	</div>
	<div class="col-200">
		
		<% if caregiver %>
			<a href="#user_<%=user.id%>">
		<% else %>
			
		<% end %>
		
		<% if profile = user.profile %>
			<%=profile[:first_name]%> <%=profile[:last_name]%>&nbsp;
		<% else %>	
			&nbsp;
		<% end %>
		
		<% if caregiver and user.profile %>
			</a>
			(<%=user.profile[:relationship]%>)
		<% end %>
	</div>
	<div class="col-100">
		<%=user[:login]%>&nbsp;
	</div>
	<div class="col-150">
		<%=render :partial => 'reporting/table/user_roles', :locals => {:user => user}%>
	</div>
	<div class="col-150">
		<% last_log = AccessLog.find(:first, :conditions => "user_id = #{user.id}", :order => 'created_at desc') %>
		<% if !last_log.blank? %>
			<a href="/logs/user/<%=user.id%>"><%= last_log.created_at.to_formatted_s(:short) %></a>
		<% else %>
			&nbsp;
		<% end %>
		
	</div>
	<% device = nil unless device %>
	<div class="col-200">
		<% if user.profile %>
			<%=link_to_remote_redbox('Profile', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => user.profile[:id], :frame => true }, :html => {:method => :get})%>
		<% else %>
			&nbsp;
		<% end %>
	</div>
</div>