<% if toggle %>
	<a name="user_<%=user.id%>"></a>
<% end %>
<div class="row">
	<div class="col-25">
		<% if toggle %>
			<a href="javascript:void(0)" onClick="toggle_user_hidden(<%=user.id%>)" id="user_<%=user.id%>-toggle">[+]</a>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	
	<div class="col-25">
		<%=user[:id]%>
	</div>
	
	<div class="col-125">
		<% if caregiver %>
			<a href="#user_<%=user.id%>">
		<% else %>
			
		<% end %>
		
		<% if profile = user.profile %>
			<%=user.name%> <span style="font-size: 80%;"><br><%=user.login%></span>
		<% else %>	
			&nbsp;
		<% end %>
		<% if caregiver and user.profile %>
			</a>
			(<%=user.profile[:relationship]%>)
		<% end %>
	</div>
				
	<div class="col-300">
		<%=render :partial => 'reporting/table/user_roles', :locals => {:user => user}%>
		&nbsp;
	</div>
	
	<div class="col-150">
		<% last_log = AccessLog.find(:first, :conditions => "user_id = #{user.id}", :order => 'created_at desc') %>
		<% if !last_log.blank? %>
			<a href="/logs/user/<%=user.id%>"><%= last_log.created_at.to_formatted_s(:short) %></a>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	
	<% device = nil unless device %>
	<div class="col-200">
		<% if user.profile %>
			<%#=link_to_remote_redbox('Profile', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => user.profile[:id], :frame => true }, :html => {:method => :get})%>
			<%=link_to('Profile', :controller => "profiles", :action => "edit_caregiver_profile", :id => user.profile.id,:user_id => user.id )%>
			        <%if user.user_intakes and user.user_intakes.length > 0%>
			        | <%=link_to 'Intake',edit_user_intake_form_user_path(user.user_intakes[0])%>
			        <%end%>
					<% if user.is_halouser? %>
						| <%= link_to 'Caregivers', :controller => 'call_list', :action => 'show', :id => user.id %> 
					    | <%= link_to_remote "Start Range Test", :url => {:controller => 'installs', :action => 'start_range_test_only_init', :id => user.id} %> 
						| <a href="/events/user/<%=user[:id]%>">Events</a> | <a href="/chart/flex/<%=user[:id]%>">Chart</a>
						| <a href="<%= url_for(:controller => 'call_center', :action => 'all_user_notes', :id => user[:id], :user_id => user[:id])%>">Notes</a>			 
						<% if current_user.is_super_admin? or current_user.is_admin? %>
						  | <a href="/reporting/compliance_report/<%=user[:id]%>">Compliance</a> 
						<% end %>
						<% if device %> 
						  | <a href="/reporting/remove_user_mapping/<%=user.id%>?device_id=<%= device.id %>">Remove</a>
						<% end %>
					    | <a href="/blood_pressures?id=<%=user.id%>">Vitals List</a>
					    <%if user.subscriptions.length > 0 %>
						| <%= link_to('Subscription',subscription_path(user.subscriptions.first))%>
					    <% end %>
				   <% end %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<!--
	<div class="col-50">
		<%# for session in user.self_test_sessions %>
			session: <%#= session.id %>
			<%# for step in session.self_test_steps %>
				<%#= step.self_test_step_description.description %> , 
			<%# end %>
			<br>
		<%# end %>
	</div>
	-->
</div>