<% if chatter and chatter.length > 0 %>
	<% chatter.sort_by { |row| row[:timestamp] }.reverse.each do |row| %>
		<%
			cmd = MgmtCmd.find(row.mgmt_cmd_id)
			cmd[:type] = 'cmd'
			cmd[:timestmap] = cmd[:timestamp_server]
		%>
		
		<% color = 'gray' unless cmd.mgmt_ack %>
	
		<%=render :partial => 'row', :locals => {:row => row, :color => color, :group => true}%>
		
		<div id="group_<%=row.id%>" style="margin-left:10px;display:none">

			<%=render :partial => 'row', :locals => {:row => cmd, :color => color}%>
			
			<% if ack = cmd.mgmt_ack %>
				<%
					ack[:timestamp] = ack[:timestamp_server]
					ack[:type] = 'ack'
				%>
	
				<%=render :partial => 'row', :locals => {:row => ack, :color => color}%>
			<% end %>

			<% if response = cmd.mgmt_response %>
				<%
					response[:timestamp] = response[:timestamp_server]
					response[:type] = 'response'
				%>
				
				<%=render :partial => 'row', :locals => {:row => response, :color => color, :cmd_type => cmd.cmd_type}%>
			<% end %>			
		</div>
		
		<div style="clear:both"></div>
	<% end %>
<% else %>
	<p>No commands found.</p>
<% end %>