<div>
<h3>FTP Sites</h3>
<%= link_to 'Add FTP site', :action => 'new_ftp', :controller => 'management' %>
<table class="bluegrey">
  <tr>
    <th>Server Name</th>
    <th>Login</th>
    <th>Actions</th>
  </tr>
  <% if !@ftps.blank? %>
  <% @ftps.each do |ftp| %>
  <tr class="<%= cycle('', 'altrow') %>">
      <td><%= ftp.server_name %></td>
      <td><%= ftp.login %></td>
      <td><%= link_to 'Edit', :id => ftp.id, :action => 'edit_ftp', :controller => 'management' %></td>
    </tr>
  <% end %>
<% end %>  
</table>
