<%=render :partial=>'nav'%>
<div id="date_range" class="date_range">
	<form action="<%= "/management/#{@type}/" %>">
	<table>
		<tr><td>All times are in UTC timezone</td></tr>
	  <tr><td>Begin Time</td>&nbsp;&nbsp;<td>End Time</td></tr>
	  <tr><td><%= datetime_select :query, "begin_time"%></td>&nbsp;&nbsp;<td><%= datetime_select :query, "end_time" %></td>&nbsp;&nbsp;<td></tr>
	
<tr><td>
	Select a Device: <%=select(:device, :id, current_user.devices.collect {|d| [ d.id, d.id ]})%>
</td><td>	-or-
	Enter a device id: <input type="text" name="device_id2" id="device_id2" />
	</td><td><%= submit_tag 'Go'%> 
</td></tr>
</table>
</form>
</div>
<div>
	<a href="/management/stream<%="/?device_id=#{params[:device_id]}" unless params[:device_id] == nil%>">Mgmt Activity Stream</a> | <a href="/management/group<%="/?device_id=#{params[:device_id]}" unless params[:device_id] == nil%>">Mgmt Activity Groups</a>
</div>

<p style="color:gray;font-weight:bold">
	Pending commands are grayed out.
</p>

<div id="chatter">
	<%=render :partial => 'chatter_' + @type, :locals => {:chatter => @chatter}%>
</div>