<%=render :partial=>'nav'%>
<div id="date_range" class="date_range">
	<form action="<%= "/management/#{@type}/" %>">
	<table>
		<tr><td>All times are in UTC timezone</td></tr>
	  <tr><td>Begin Time</td>&nbsp;&nbsp;<td>End Time</td></tr>
	  <tr><td><%= calendar_date_select_tag "begin_time", "", :time => true, :popup => 'force' %></td>
  	<td><%= calendar_date_select_tag "end_time", "", :time => true, :popup => 'force' %></td></tr>
	
<tr><td>
	Select a Device: <%=select(:device, :id, current_user.devices.collect {|d| [ d.id, d.id ]})%>
</td><td>	-or-
	Enter a device id: <input type="text" name="device_id2" id="device_id2" />
	</td><td><%= submit_tag 'Go'%> 
</td></tr>
</table>
</form>
</div>
<p style="color:gray;font-weight:bold">
	Pending commands are grayed out.
</p>

<div id="chatter">
	<%=render :partial => 'chatter_' + @type, :locals => {:chatter => @chatter}%>
</div>