<%=render :partial=>'nav'%>

<p>
	Select a Device: <%=select(:device, :id, current_user.devices.collect {|d| [ d.id, d.id ]}, {}, {:onchange => "document.location = '/management/#{@type}/?device_id='+this.value"})%>
	-or-
	Enter a device id: <input type="text" id="device_id" /> <input type="button" value="Go" onclick="document.location = '/management/<%=@type%>/?device_id='+$('device_id').value" />
</p>

<div>
	<a href="/management/stream<%="/?device_id=#{params[:device_id]}" unless params[:device_id] == nil%>">Query Stream</a> | <a href="/management/group<%="/?device_id=#{params[:device_id]}" unless params[:device_id] == nil%>">Query Groups</a>
</div>

<p style="color:gray;font-weight:bold">
	Pending commands are grayed out.
</p>

<div id="chatter">
	<%=render :partial => 'chatter_' + @type, :locals => {:chatter => @chatter}%>
</div>