<%=render :partial=>'nav'%>

<h1>Issue Commands</h1>
<br>
<% remote_form_for :management_cmd_device, :url => {:action => 'create_many'}, :update => 'issue_cmd' do |f|%>
	<p>
		<%=f.radio_button :cmd_type, 'info'%> Info Request
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'reset'%> Reset
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'firmware_upgrade'%> Firmware Upgrade <%=render :partial => 'firmware_upgrade'%>
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'self_test'%> Self Test
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'self_test_phone'%> Self Test Phone
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'range_test_start'%> Range Test Start
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'range_test_stop'%> Range Test Stop
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'mgmt_poll_rate'%> Adjust Mgmt Poll Rate in seconds (eg. 60) <%= f.text_field :param1 %>
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'dial_up_num_glob_prim'%>Change All Dial Up Numbers (<%= link_to 'configure',dial_ups_path %>)<br>
		<div style="margin-left:20px;">
		<table>
		<tr>
		  <td>Primary</td>
		  <td><%=f.select(:local_primary,DialUp.find(:all,:conditions => "dialup_type = 'Local'").map {|u| [u.phone_number,u.phone_number]},:prompt => 'Select')%></td>
		  <td></td>
		</tr>
		<tr>
		  <td>Secondary</td>
		  <td><%=f.select(:local_secondary,DialUp.find(:all,:conditions => "dialup_type = 'Local'").map {|u| [u.phone_number,u.phone_number]},:prompt => 'Select')%></td>
		  <td></td>
		</tr>
		<tr>
		  <td>Global Primary</td>
		  <td><%=f.select(:global_primary,DialUp.find(:all,:conditions => "dialup_type = 'Global'").map {|u| [u.phone_number,u.phone_number]},:prompt => 'Select')%></td>
		  <td><%= check_box_tag "global_default"%> Default</td>
		</tr>
		<tr>
		  <td>Global Secondary</td>
		  <td><%=f.select(:global_secondary,DialUp.find(:all,:conditions => "dialup_type = 'Global'").map {|u| [u.phone_number,u.phone_number]},:prompt => 'Select')%></td>
		  <td><%= check_box_tag "global_alt_default"%> Default</td>
		</tr>
		</table>
		</div>
	</p>

	<p>
		<%=f.radio_button :cmd_type, 'dial_up_num'%>Change Only Local Dial Up Numbers<br>
		<div style="margin-left:20px;">
		<table>
		<tr><td>Number</td><td> : </td><td><%= f.text_field :param2 %></td><td> (eg. 8005551212)</td></tr>
		<tr><td>Username</td><td>: </td><td><%= f.text_field :param3%></td><td>&nbsp;</td></tr>
		<tr><td>Password</td><td>: </td><td><%= f.text_field :param4 %></td><td>&nbsp;</td></tr>
		</table>
		</div>
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'unregister'%> Unregister
	</p>
	<p>
		<%=f.radio_button :cmd_type, 'boot_image'%> Instruct cheststrap to switchover to a newly downloaded image
	</p>


	<p>&nbsp;</p>
	<p>Enter a range of device ids (min-max) -or- ids separated by commas:</p>
	<%=f.text_field 'ids'%>
	<p>&nbsp;</p>
	<%=f.submit 'Queue up Command'%>
<% end %>

<div id="issue_cmd">
	
</div>
<br/>
<br/>
<%= render :partial => 'firmware_upgrades_table' %>
<br>
<br>
<%= render :partial => 'ftp_table' %>
