<%=render :partial=>'/reporting/nav'%>

<h2>Assign Roles</h2>

<% form_remote_tag :url => {:controller => 'management',:action => 'assign_role'}, :update => 'assign_role' do |f|%>
	<%=select 'role', 'user', @users%> is a(n) <%=select 'role', 'name', @roles%> of <%=select 'role', 'of', @users%>
	<p>&nbsp;</p>
	<%=submit_tag 'Assign Role'%>
<% end %>

<div id="assign_role">
	
</div>