<p><%= link_to '<< Back To Critical Alert Settings', :controller => 'call_list', :action => 'show', :id => params[:senior_id] %></p>

<div id="call_list-col">
	<div id="call_list-col-header">
		Alerts
	</div>
	<div id="hidden_content_extra_info">
</div>
	<div class="content">
		  <div id="call_list_header" style="height:25px">
        <div style="float:left;width:805px;padding-left:10px">
          <b>Non Critical Alert Type</b> 
        </div>
        <div style="float:left;width:75px">
      <b>Email</b> 
    </div>
        <div style="float:left;width:40px">
      <b>Text</b> 
    </div>
  </div>
			<% @alert_types.each do |alert| %>
			<% if alert.deprecated != true %>
				<%
					critical = false
					alert.alert_groups.each do |group|
						if group.group_type == 'critical'
							critical = true
							break
						end
					end
					
					next if critical
				%>
				
				<% 
					if alert_opt = AlertOption.find(:first,:conditions => "roles_user_id = #{@roles_user.id} and alert_type_id = #{alert.id}")
						alert[:phone_active] = alert_opt.phone_active
						alert[:email_active] = alert_opt.email_active
						alert[:text_active] = alert_opt.text_active
					else
						alert[:phone_active] = alert.phone_active
						alert[:email_active] = alert.email_active
						alert[:text_active] = alert.text_active
					end
				%>
				<div id="<%= alert.alert_type.underscore %>" class="active" style="padding-left:10px;background:url('/images/call_list-item-alerts.gif') no-repeat;height:50px">
					<div style="float:left;padding-top:17px;width:250px">
						<%=UtilityHelper.camelcase_to_spaced(alert.alert_type)%>
					</div>
					<div style="float:right">
						<!--PHONE-->

						<div style="float:left;padding-top:15px;width:75px">
							<% 
								if !alert[:phone_active]
									img = 'call_list-phone-inactive.gif'
								else
									img = 'call_list-phone.gif'
								end
								
								if alert[:phone_active]
									phone_active = 1
								else
									phone_active = 0
								end
							%>

							
						</div>

						<!--EMAIL-->

						<div style="float:left;padding-top:8px;width:75px">
							<% 
								if !alert[:email_active]
									img = 'call_list-email-inactive.gif'
								else
									img = 'call_list-email.gif'
								end
								
								if alert[:email_active]
									email_active = 1
								else
									email_active = 0
								end
							%>
							<% if @user.email != "no-email@halomonitoring.com" %>
								<%=link_to_remote(image_tag(img, :id => 'alert_email_'+alert.id.to_s), :url => { :action => "toggle_email",:id => alert.id, :roles_user_id => @roles_user.id }, :before => 'toggleAlert('+alert.id.to_s+', '+email_active.to_s+', \'email\')')%>
							<% else %>
								<%=link_to image_tag(img),'javascript:;',:onclick => 'run_redbox();'%>
							<%end%>
							
						</div>

						<!--TEXT-->

						<div style="float:left;padding-top:8px;width:50px">
							<% 
								if !alert[:text_active]
									img = 'call_list-text-inactive.gif'
								else
									img = 'call_list-text.gif'
								end
								
								if alert[:text_active]
									text_active = 1
								else
									text_active = 0
								end
							%>
							
              <!-- encapsulated method to check for carrier and mobile phone validity here -->
							<% if @user.has_valid_cell_phone_and_carrier? %>   <!-- # (!@user.profile.cell_phone_exists? || @user.profile.carrier_id == nil || @user.profile.carrier_id == "") -->
								<%=link_to image_tag(img),'javascript:;',:onclick => 'call_lightbox('+@user.id.to_s + ',"text");' %>
							<%else%>
							<%=link_to_remote(image_tag(img, :id => 'alert_text_'+alert.id.to_s), :url => { :action => "toggle_text",:id => alert.id, :roles_user_id => @roles_user.id,:user_id => @roles_user.user.id }, :before => 'toggleAlert('+alert.id.to_s+', '+text_active.to_s+', \'text\')')%>
							<%end%>
						</div>
					</div>
				</div>
				<%end%>
			<% end %>
			<div id="lightbox-col" style="display:none">
							<img src="/images/lightbox-col-header.gif" /><br />
							<div class="lightbox-content">
								<div style="width:200px;margin-left:320px" id="container">
									<a href="#"><img src="/images/tooltip-close.gif" onClick="RedBox.close()" /></a>
								</div>
								<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
									The login information you entered does not match an account in our records. Remember, your login and password is case-sensitive, please check your Caps Lock key.
								</div>
							</div>
							<img src="/images/lightbox-col-footer.gif" />
						</div>			
		<br>
		<span style="padding:15px"><%= link_to '&laquo; Back to Critical Alert Settings', :controller => 'call_list', :action => 'show', :id => params[:senior_id] %></span>	
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>
<div id="hidden_content_failure_sessions" style="display: none;"></div>
<script type="text/javascript">
function run_redbox()
{

//<![CDATA[
new Ajax.Updater('hidden_content_failure_sessions', '/alerts/invalid/', {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('hidden_content_failure_sessions'); }, onLoading:function(request){RedBox.loading(); }})
//]]>

}

function call_lightbox(user_id,what)
{
	new Ajax.Updater('hidden_content_extra_info', '/users/existing_info/'+user_id+'?user_id='+user_id+'&what='+what, {asynchronous:true, evalScripts:true, onComplete:function(request){RedBox.addHiddenContent('hidden_content_extra_info'); }, onLoading:function(request){RedBox.loading(); }});
	
}
</script>
