<div id="call_list-col">
	<div id="call_list-col-header">
		Alerts
	</div>


	<div class="content">
		<ul id="call_list">
			<% @alerts.each do |alert| %>
				<li class="active" style="padding-left:10px;background:url('/images/call_list-item.gif') no-repeat;height:100px">
					<div style="float:left;padding-top:45px;width:150px">
						<%=alert.event_kind%>
					</div>
					<div style="float:right">
						<!--PHONE-->

						<div style="float:left;padding-top:35px;width:75px">
							<% 
								if !alert.phone_active?
									img = 'call_list-phone-inactive.gif'
								else
									img = 'call_list-phone.gif'
								end
							%>

							<%=link_to_remote(image_tag(img, :id => 'alert_phone_'+alert.id.to_s), :url => { :action => "toggle_phone",:id => alert.id }, :before => 'toggleAlert('+alert.id.to_s+', '+alert.phone_active.to_s+', \'phone\')')%>
						</div>

						<!--EMAIL-->

						<div style="float:left;padding-top:35px;width:75px">
							<% 
								if !alert.email_active?
									img = 'call_list-email-inactive.gif'
								else
									img = 'call_list-email.gif'
								end
							%>

							<%=link_to_remote(image_tag(img, :id => 'alert_email_'+alert.id.to_s), :url => { :action => "toggle_email",:id => alert.id }, :before => 'toggleAlert('+alert.id.to_s+', '+alert.email_active.to_s+', \'email\')')%>
						</div>

						<!--TEXT-->

						<div style="float:left;padding-top:35px;width:50px">
							<% 
								if !alert.text_active?
									img = 'call_list-text-inactive.gif'
								else
									img = 'call_list-text.gif'
								end
							%>

							<%=link_to_remote(image_tag(img, :id => 'alert_text_'+alert.id.to_s), :url => { :action => "toggle_text",:id => alert.id }, :before => 'toggleAlert('+alert.id.to_s+', '+alert.text_active.to_s+', \'text\')')%>
						</div>
					</div>
				</li>
			<% end %>			
		</ul>
		<p>&nbsp;</p>		
		<%= link_to '&laquo; Back to Account Settings', :controller => 'call_list', :action => 'show', :id => current_user.id %>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>