<h1>Editing shipping_option</h1>

<% form_for(@shipping_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @shipping_option %> |
<%= link_to 'Back', shipping_options_path %>
