<!-- <meta http-equiv="refresh" content="30"> -->
<%= render :partial => 'reporting/nav'%>
<h2>Payment Gateway Responses</h2>

<p>
  <table class="bluegrey">
    <tr>
    	<th>ID</th>
    	<th>Action</th>
    	<th style="width:75px;">Order ID</th>
    	<th style="width:75px;">Amount</th>
    	<th style="width:75px;">Success</th>
    	<th style="width:100px;">Authorization</th>
    	<th>Message</th>
        <th>Params</th>
        <th>Created At</th>
    </tr>
    <% @payment_gateway_responses.each do |pgr| %>
      <tr class="<%= cycle('', 'altrow') %>">
        <td><%=h pgr.id %></td>
        <td><%=h pgr.action %></td>
        <td><%= link_to pgr.order_id, :controller => 'orders',:action => 'show' ,:id => pgr.order_id %></td>
        <td><%=h pgr.amount %></td>
        <td><%=h pgr.success %></td>
        <td><%=h pgr.authorization %></td>
        <td><%= link_to truncate(pgr.message, 20, "..."), :controller => 'payment_gateway_responses',:action => 'details' ,:id => pgr.id,:column => 'message'  %></td>
        <td><%= link_to truncate(pgr.params.to_s, 20, "..."), :controller => 'payment_gateway_responses',:action => 'details' ,:id => pgr.id,:column => 'params'  %></td>
        <td><%=h pgr.created_at %></td>
      </tr>
    <% end -%>
  </table>
</p>

<p>
  <center><big><%= will_paginate @payment_gateway_responses %></big></center>
</p>