<div id="date_range" class="date_range">
  <% if !flash[:warning].blank? -%>
  <b><%= flash[:warning] %></b>
  <% end -%>
  <form action="/reporting/audit">
  <h3>Audit Report (by Group)</h3>
  <% gs = ['Choose a Group']
		   @groups.each do |g|
			 gs << g.name
		   end %>
  Select Group:  
  <%= select_tag 'group_name', options_for_select(gs.collect { |g| [g, g]},params[:group_name])%><br>
  
  
  <table>
    <tr><td>Begin Time(<%= Time.zone.name.split(/\s+/).first %>)</td>&nbsp;&nbsp;<td>End Time(<%= Time.zone.name.split(/\s+/).first %>)</td><td>Stream (do not sort by user)</td></tr>
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
      <td><%= select_tag "stream", options_for_select([["No", 0], ["Yes", 1]], params[:stream].to_i) %></td>
    </tr>
  </table>
  <%= submit_tag "Submit" %>
  </form>
</div>