<div id="date_range" class="date_range">
  <% if !flash[:warning].blank? -%>
  <b><%= flash[:warning] %></b>
  <% end -%>
  <form action="/reporting/audit">
  <table>
    <tr><td>All times are in UTC timezone</td></tr>
    <tr><td>Begin Time</td>&nbsp;&nbsp;<td>End Time</td><td>Stream (do not sort by user)</td></tr>
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @end_time, :time => true, :popup => 'force' %></td>
      <td><%= select_tag "stream", options_for_select([["No", 0], ["Yes", 1]], params[:stream].to_i) %></td>
    </tr>
  </table>
  <%= submit_tag "Submit" %>
  </form>
</div>