<div class="row header">
	<div class="col-25">
		&nbsp;
	</div>
	<div class="col-75">
		Device ID
	</div>
	<div class="col-150">
		Serial Number
	</div>
	<div class="col-150">
		Device Type
	</div>
	<div class="col-200">
		Recent Battery Reading
	</div>
	<div class="col-200">
		
	</div>
</div>
<% devices.each do |device| %>
	<div class="row">
		<div class="col-25">
			<a href="javascript:void(0)" onClick="toggle_device_hidden(<%=device.id%>)" id="device_<%=device.id%>-toggle">[+]</a>
		</div>
		<div class="col-75">
			<%=device[:id]%>
		</div>
		
		<div class="col-150">
			<%=device[:serial_number]%>
		</div>
		<div class="col-150">
			<%=device[:device_type]%>
		</div>
		<div class="col-200">
			<%=render :partial => 'battery_reading', :locals => {:device => device}%>
		</div>
		<div class="col-200">
			<a href="/management/?device_id=<%=device[:id]%>">Manage</a> | <a href="#">Stats</a>
		</div>
	</div>
	<div id="device_<%=device.id%>-hidden" style="display:none">
		<div class="row">
			<div class="col-25">&nbsp;</div>
			<div class="col-200">
				<h3>Users</h3>
			</div>
		</div>
		<% device.users.each do |user| %>
			<%=render :partial => 'reporting/table/user_row', :locals => {:user => user, :toggle => false, :caregiver => false}%>
		<% end %>
	</div>
<% end %>