<div class="row header">
	<div class="col-25">
		&nbsp;
	</div>
	<div class="col-75">
		Device ID
	</div>
	<div class="col-150">
		Serial Number
	</div>
	<div class="col-150">
		Device Type
	</div>
	<div class="col-200">
		Recent Battery Reading
	</div>
	<div class="col-150">
		Software Version
	</div>
	<div class="col-200">
		&nbsp;
	</div>
</div>
<% devices.each do |device| %>
	<div class="row">
		<div class="col-25">
			<a href="javascript:void(0)" onClick="toggle_device_hidden(<%=device.id%>)" id="device_<%=device.id%>-toggle">[+]</a>
		</div>
		<div class="col-75">
			<%=device[:id]%>
		</div>
		
		<div class="col-150">
			<%=device[:serial_number]%>
		</div>
		<div class="col-150">
			<%=device[:device_type]%>
		</div>
		<div class="col-200">
			<%=render :partial => 'battery_reading', :locals => {:device => device}%>
		</div>
		<div class="col-150">&nbsp;
			<% info = DeviceInfo.find(:first, :include => :mgmt_response, :conditions => "device_id = #{device.id}", :order => "mgmt_responses.timestamp_server desc")%>
			<% if info %>
			<%= info.software_version %>
			<% end %>
		</div>
		<div class="col-200">
			<a href="/management/?device_id=<%=device[:id]%>">Manage</a> | <a href="/devices/stats/<%=device[:id]%>">Stats</a>
		</div>
	</div>
	<div id="device_<%=device.id%>-hidden" style="display:none"></div>
<% end %>