<%=render :partial => 'nav'%>

<div id="date_range" class="date_range">
	<% if !flash[:warning].blank? -%>
	<b><%= flash[:warning] %></b>
	<% end -%>
	<form action="/reporting/successful_user_logins">
	<table>
		<tr><td>All times are in UTC timezone</td></tr>
	  <tr><td>Begin Time</td>&nbsp;&nbsp;<td>End Time</td></tr>
	  <tr>
	  	<td><%= calendar_date_select_tag "begin_time", "", :time => true, :popup => 'force' %></td>
	  	<td><%= calendar_date_select_tag "end_time", "", :time => true, :popup => 'force' %></td>
		<td><%= submit_tag "Submit" %></td>
	  </tr>
	</table>
	</form>
</div>