<%=render :partial => 'nav'%>
<a href="/reporting/lost_data_summary">Click to view Lost Data only (Battery dead, buffer overflow, and missing POSTs)</a> 
<br>
<div id="date_range" class="date_range">
	<% if !flash[:warning].blank? -%>
	<b><%= flash[:warning] %></b>
	<% end -%>
	<form action="/reporting/strap_not_worn">
	<table>
	  <tr><td>Begin Time (<%= Time.zone.name.split(/\s+/).first %>)</td>&nbsp;&nbsp;<td>End Time (<%= Time.zone.name.split(/\s+/).first %>)</td></tr>
	  <tr>
	  	<td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
	  	<td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
		<td><%= submit_tag "Submit" %></td>
	  </tr>
	</table>
	</form>
</div>