<div class="box">
<% if current_user.is_super_admin? %>
<b>Reporting:</b>
<%= link_to 'Group Falls/Panics', url_for(:controller => "reporting", :action => "fall_panic_report")%>
| <%= link_to 'User Compliance', '/reporting/compliance_report'%>
| <a href="/reporting/init_successful_user_logins">User Logins</a> 
| <%= link_to 'Critical Event Log', url_for(:controller => 'call_center', :action => 'index') %>
| <%= link_to 'Audits', url_for(:controller => "reporting", :action => "audit")%>
| <a href="/oscopes/index">Oscope CSV</a>
| <a href="/orders">Online Store Orders</a>
| <%= link_to 'Payment Gateway', url_for(:controller => 'payment_gateway_responses',:action => 'index')%>
| <%= link_to 'Purge Data', url_for(:controller => 'reporting',:action => 'purge_data')%>
| <%= link_to 'User Stats', '/reporting/user_stats' %>
<!--| <a href="/reporting/summary">Graphs</a> -->
<!--a href="/subscriptions">Retail Orders</a-->
<!--a href="/reporting/init_strap_not_worn">User Compliance</a--> 
<% end %>
</div>