<b>Reporting:</b><% if current_user.is_admin? || current_user.is_super_admin? %>
<%= link_to 'Group Falls/Panics', url_for(:controller => "reporting", :action => "fall_panic_report")%>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <%= link_to 'User Compliance', '/reporting/compliance_report'%>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
<!--a href="/reporting/init_strap_not_worn">User Compliance</a--> 
| <a href="/reporting/init_successful_user_logins">User Logins</a> 
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_operator? %>
| <%= link_to 'Critical Event Log', url_for(:controller => 'call_center', :action => 'index') %>
<% end %>
<% if current_user.is_admin? || current_user.is_super_admin? %>
| <%= link_to 'Audits', url_for(:controller => "reporting", :action => "audit")%>
<% end %>
<% if current_user.is_super_admin? %>
| <a href="/oscopes/index">Oscope CSV</a>
| <a href="/dial_up_statuses">Dial Up Status</a>
| <a href="/orders">DTC Orders</a>
| <a href="/subscriptions">Retail Orders</a>
| <%= link_to 'User Intakes', user_intakes_path %>
| <a href="/reporting/summary">Graphs</a> 
<% end %>
<br><br>


