<div class="box">
<div id="nav_links">
  <b>Config:</b><% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? %>
  Users (<%= link_to 'All', '/reporting/users/all', :id => 'users_all' %> | <%= link_to 'Installed', '/reporting/users/installed', :id => 'installed' %>)
  <% end %>
  <% if current_user.is_admin? || current_user.is_super_admin? %>
  | <a href="/reporting/devices">Devices</a>
  <% end %>
  <% if current_user.is_super_admin? %>
  | <a href="/user_admin/roles">Roles</a>
  | <%= link_to 'Groups', :controller => "groups", :action => "index" %>
  <% end %>
  <% if(current_user.is_super_admin?) %>
  | <a href="/admin/signup">Sign up users with other roles</a>
  <% end %>
  <% if current_user.is_super_admin? %>
  | <a href="/system_timeouts">System Timeouts</a>
  <% end %>
  <!--a href="/recurring_charges">Recurring Charges</a-->
  <% if current_user.is_super_admin? %>
  | <a href="/carriers/">Cell Carriers</a>
  <% end %>
  <% if current_user.is_super_admin? %>
  | <%= link_to 'Send Test Email', :controller => 'util', :action => 'send_test_email'%>
  <% end %>
  <% if current_user.is_super_admin? %>
  | <%= link_to 'Activate Users', :controller => 'util', :action => 'activate_users'%>
  | <%= link_to 'Coupon Codes', device_model_prices_path%>
  <% end %>
  <% if current_user.is_super_admin? || current_user.is_operator? %>
  | <%= link_to 'Operators', :controller => 'call_center', :action => 'show' %>
  <% end %>
  <!-- % if(current_user.is_super_admin?) and params[:action] == 'roles' % -->
  <% if current_user.is_super_admin? %>
  | <%= link_to 'Healthvault', :controller => 'healthvault', :action => 'index' %></li>
  <% end %>
</div>
</div>