	<% user = @user if @user	%>
  <% unless @user.caregivers.blank? %>
  <div class="row">
    <div class="col-25">&nbsp;</div>
    <div class="col-200">
      <h3>Caregivers</h3>
    </div>
  </div>

  <%= render :partial => 'reporting/table/user_row', :collection => @user.caregivers, :locals => { :toggle => false, :caregiver => true} %>
  <br />
  <br />
  <% end %>
	
	<% devices = user.devices %>
	<div class="row">
		<div class="col-25">&nbsp;</div>
		<div class="col-200">
			<h3>Devices</h3>
		</div>
	</div>
	<% if devices.length > 0 %>
		<div class="row header">
			<div class="col-25">&nbsp;</div>
			<div class="col-75">Device ID</div>
			<div class="col-150">
				Device Type
			</div>
      <div class="col-150">
        Serial Number
      </div>
			<div class="col-200">
				Last Charge
			</div>
				<div class="col-150">
					Software Version
				</div>
			<div class="col-100">

			</div>
		</div>
		<% devices.each do |device| %>
			<div class="row">
				<div class="col-25">&nbsp;</div>
				<div class="col-75"><%=device.id%></div>
				<div class="col-150">
					<%=device.device_type%>&nbsp;
				</div>
        <div class="col-150">
          <%= device.serial_number -%>
        </div>
				<div class="col-200">
					<%=render :partial => 'charge', :locals => {:device => device}%>&nbsp;
				</div>
				<div class="col-150">&nbsp;
					<% info = DeviceInfo.find(:first, :include => :mgmt_response, :conditions => "device_id = #{device.id}", :order => "mgmt_responses.timestamp_server desc")%>
					<% if info %>
					<%= info.software_version %>
					<% end %>
				</div>
				<div class="col-100">
					<a href="/devices/stats/<%=device.id%>">Stats</a> | <a href="/reporting/remove_user_mapping/<%=user.id%>?device_id=<%= device.id %>&users=true">Remove</a>
				</div>
			</div>
		<% end %>
		<br />
		<br />
	<% else %>
		
	<% end %>
	
	<div class="row">
		<form action="/users/add_device_to_user" method="post">
			<input type="hidden" name="user_id" value="<%=user.id%>" />
			<input type="hidden" name="page" value="<%= params[:page]%>" />
			Add a device by serial number: <input type="text" name="serial_number" /> <input type="submit" value="Add" />
		</form>
	</div>
	
  <% unless @user.patients.blank? %>
  <div class="row">
    <div class="col-25">&nbsp;</div>
    <div class="col-200">
      <h3>Seniors caregiving for</h3>
    </div>
  </div>

  <%= render :partial => 'reporting/table/user_row', :collection => @user.patients, :locals => { :toggle => false, :caregiver => false} %>
  <br />
  <br />
  <% end %>