<div class="row header">
	<div class="col-25">
		&nbsp;
	</div>
	<div class="col-75">
		<%=link_to_remote "User Id", :update => 'user-table', :url => {:action => 'sort_user_table', :col => 'id'}%>
	</div>
	<div class="col-200">
		<%=link_to_remote "Name", :update => 'user-table', :url => {:action => 'sort_user_table', :col => 'name'}%>
	</div>
	<div class="col-100">
		<%=link_to_remote "Login", :update => 'user-table', :url => {:action => 'sort_user_table', :col => 'login'}%>
	</div>
	<div class="col-150">
		Role(s)
	</div>
	<div class="col-150">
		Last Login
	</div>
	<div class="col-200">
		
	</div>
</div>
<% if sortby == 'name' %>
	<% users.sort_by { |user| user.profile[:last_name] }.each do |user| %>
		<%=render :partial => 'reporting/table/user_row', :locals => {:user => user, :toggle => true, :caregiver => false}%>

		<div id="user_<%=user.id%>-hidden" style="display:none"></div>
	<% end %>
<% else %>
	<% users.sort_by { |user| user[sortby.to_sym] }.each do |user| %>
		<%=render :partial => 'reporting/table/user_row', :locals => {:user => user, :toggle => true, :caregiver => false}%>

		<div id="user_<%=user.id%>-hidden" style="display:none"></div>
	<% end %>
<% end %>