<tr>
  <td><%= link_to user.id, user_path( user) %></td>
  <td><%= h user.name %></td>
  <td><%= h user.devices.collect(&:device_type).compact.uniq %></td>
  <td><%= h user.devices.collect(&:connectivity_type).compact.uniq %></td>
  <td><%= h user.status || 'Not Submitted' %></td>
  <td><%= h user.important_role %></td>
  <td><%= h user.last_vital_timestamp %></td>
  <td><span class="tiny"><%= h user.created_at %></span></td>
  <td><span class="tiny"><%= h user.installed_at %></span></td>
  <td><span class="tiny"><%= h user.cancelled_at %></span></td>
</tr>
