<% 
require "digest" 
%>

<%=render :partial => 'nav'%>

<%= render :partial => 'audit_search_form' %>

<% if @audits %>

<% current_user = nil %>
  <% if @stream %>
  <table border="1">
    <th>User</th><th>Audited</th><th>Changes</th><th>Changed by</th><th>IP</th><th>URL / Referring URL</th><th>Timestamp</th>
  <% end %>
  <% @audits.each do |audit| %>
    <% owner_user = audit.owner.owner_user rescue "unknown" %>
    <% if owner_user != current_user && !@stream %>
      <% if !current_user.nil? %>
        </table>
      <% end %>
     
      <h2><%= owner_user.name rescue "unknown" %></h2>
      <table border="1">
        <th>Audited</th><th>Changes</th><th>Changed by</th><th>IP</th><th>URL / Referring URL</th><th>Timestamp</th>
      <% current_user = owner_user %>
    <% end %>
    <tr>
      <%= @stream ? "<td>#{owner_user.name rescue "unknown"}(#{owner_user.id rescue "unknown"})</td>" : "" %>
      <td>
      	<%if audit.auditable_type == 'AlertOption'%>
      	  <%= audit.auditable.alert_type.alert_type %>
      	<%elsif audit.auditable_type == 'RolesUsersOption' %>
      	  <%= 'Critical Alerts ' %>
      	  <%= '- caregiver for ' + audit.auditable.roles_user.role.authorizable.name + ' (' + audit.auditable.roles_user.role.authorizable.id.to_s + ')' if audit.auditable.roles_user.role.authorizable_type != 'Group' %>
      	<%else%>
      	  <%= audit.auditable_type.to_s.underscore.humanize %>
      	<%end%>
  	</td>
      <td><%= audit.action %>:
        <% audit.changes.each do |key, values| %>
          <% next if value[0] == value[1] rescue true %>
         <br/> <%=h key %>: <%=h values.join(" to ") rescue values.inspect %>
        <% end %>
      </td>
      <td><%=h audit.username %> (<%=h audit.user_id %>)</td>
      <td><%= audit.ip %></td>
      <td>
        <%= link_to "URL", audit.url %> / <%=link_to "Referer", audit.referer %>
      </td>
      <td><%=h audit.created_at.in_time_zone.to_s(:date_time_timezone) %></td>
    </tr>
 
  <% end %>
  </table>
  <center>
      <big>
          <%= will_paginate @audits %>
      </big>
  </center>
<% end %>
  