<% 
require "digest" 
%>
  <%=render :partial => 'nav'%>

<div id="date_range" class="date_range">
  <% if !flash[:warning].blank? -%>
  <b><%= flash[:warning] %></b>
  <% end -%>
  
  <form action="/reporting/compliance_report">

  <% if params[:id] %>
  <input type="hidden" id="id" name="id" value="<%= params[:id]%>">
  <h3>Compliance report for <%= User.find(params[:id]).name %></h3>
  <% else %>
  <h3>User Compliance Report (by Group)</h3>
  <% gs = ['Choose a Group']
		   @groups.each do |g|
			 gs << g.name
		   end %>
  Select Group:  
  <%= select_tag 'group_name', options_for_select(gs.collect { |g| [g, g]},params[:group_name])%><br>
  <% end %>
  <table>
    <tr><td>Begin Time (<%= Time.zone.name.split(/\s+/).first %>)</td>&nbsp;&nbsp;<td>End Time (<%= Time.zone.name.split(/\s+/).first %>)</td></tr>
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
	  <td>&nbsp;<%= submit_tag "Submit" %></td>
    </tr>
  </table>
  </form>
  <br>

<% if @group or params[:id]
  us = []
  if params[:id]
  	us = User.find(:all,:conditions => ["id = ?",params[:id]])
  else
  	@users.each do |user|
	  us << user if user.has_role? "halouser", @group
  	end
  end
  users = us
end %>
  
  <%if @group or params[:id] and @begin_time%>	
	  <hr>
  	<% if !params[:id] %>
	  <h2>Group: <%= @group.name %></h2>
	<% end %>
		<b><%= @user_begin_time %></b> to <b><%= @user_end_time %></b> in
	  <%= current_user.profile.time_zone if current_user.profile %> timezone<br><br>
	  <% debug Time.zone %>	
	<table border="1">
  		<tr>
  			<th bgcolor="#E1E1E1">User</th>
  			<th bgcolor="#E1E1E1">Last Post<br>(older than 1 day in <font color="red">red</font>)</th>
  			<th bgcolor="#E1E1E1">Last<br>Connectivity<br>Event</th>
  			<th bgcolor="#FFD0B4">Strap<br>Not<br>Worn</th>
  			<th bgcolor="#FFD0B4">Lost<br>Data</th>
  			<th bgcolor="#FFD0B4">Total<br>Compliance<br>%</th>
  			<th bgcolor="#E1d1E1">Senior<br>Logins</th>
  			<th bgcolor="#E1d1E1">Caregiver<br>Logins</th>
  			<th bgcolor="#E1d1E1">Total<br>Logins</th>
  		</tr>
		<% senior_logins_total = 0 %>
		<% caregiver_logins_total = 0 %>
		<% strap_not_worn_total = 0 %>		
		<% lost_data_total = 0 %>
		
  		<% for user in users %>
  	    <tr align="center">
  	    	<td align="left"><a href="/reporting/compliance_report/<%=user.id%>"><%= user.name %></a></td>

			<!-- Last Post (older than 1 day in red) -->
  	    	<td><% @vital = Vital.find(:first,:conditions => ["user_id = ?",user.id],:order => 'timestamp DESC') %>
  	    		<%if @vital%>
  	    			<%if @vital.timestamp < (Time.now - 1.day)%>
  	    				<font color="red"><%= UtilityHelper.format_datetime(@vital.timestamp, current_user) %></font>
  	    			<%else%>
  	    				<%= UtilityHelper.format_datetime(@vital.timestamp, current_user) %>
  	    			<%end%>
  	    		<%end%>
  	    	</td>

  	    	<!-- Last Connectivity Event -->
			<% event = Event.get_connectivity_state_by_user(user) %>
			<% event_string = UtilityHelper.camelcase_to_spaced(event.event_type.to_s) %>
			<%# event_timestamp = UtilityHelper.format_datetime(event.timestamp, current_user) %>
  	     	<td><%#= "#{event_string} @ <br>#{event_timestamp}" %></td>

  	    	<!-- Strap Not Worn -->
			<td>
				<% @strap_not_worn_array = Compliance.device_not_worn_by_user(user.id,@begin_time,@end_time) %>
		    	<% @strap_not_worn = Compliance.compliance_sum_array(@strap_not_worn_array) %>
				<% strap_not_worn_total += @strap_not_worn if @strap_not_worn%>
  	    		<% @total_per = 0%>
	    			<% @total_per = ((@strap_not_worn / (@end_time.to_time.to_f - @begin_time.to_time.to_f) ) * 100) if @strap_not_worn%>
				<%= @total_per.round(1).to_s + '%' if @strap_not_worn%><br>
				<%= [@strap_not_worn.round/3600, @strap_not_worn.round/60 % 60, @strap_not_worn.round % 60].map{|t| t.to_s.rjust(2,'0')}.join(':') if @strap_not_worn %>	    		
  	    	</td>

  	    	<!-- Lost Data -->
  	    	<td>
	  	    	<% @lost_data_array = Compliance.lost_data_by_user(user.id,@begin_time.to_time,@end_time.to_time)  %>
	  	    	<% @lost_data = Compliance.compliance_sum_array(@lost_data_array) %>
				<% lost_data_total += @lost_data if @lost_data %>
				<% @lost_data_per = 0%>
	  	    	<% @lost_data_per = ((@lost_data / (@end_time.to_time.to_f - @begin_time.to_time.to_f)) * 100) if @lost_data%>
	  	    	<%= @lost_data_per.round(1).to_s + '%' if @lost_data %><br>
				<a href="/reporting/lost_data/<%=user.id%>?begin_time=<%= params[:begin_time]%>&end_time=<%=params[:end_time]%>"><%= [@lost_data.round/3600, @lost_data.round/60 % 60, @lost_data.round % 60].map{|t| t.to_s.rjust(2,'0')}.join(':') if @lost_data %></a>
			</td>
				
	  	    <!-- Total Compliance % -->  	    	
			<td>
			<%= @total_compliance = (100.0 - @lost_data_per - @total_per).round(1).to_s + '%' %>
  	    	</td>
  	     	
	  	    <!-- Senior Logins -->  	    	
			<td><%= @senior_logins = user.access_logs.find_all_by_status('successful',:conditions => ["created_at > ? and created_at < ?",@begin_time,@end_time]).length %></td>
  	     	<% senior_logins_total += @senior_logins %>

	  	    <!-- Caregiver Logins -->  	    	
			<td><%@caregiver_logins = 0%>
  	     		<% user.caregivers.each do |caregiver| %>
  	     		<% @caregiver_logins += caregiver.access_logs.find_all_by_status('successful',:conditions => ["created_at > ? and created_at < ?",@begin_time,@end_time]).length %>
  	     		<%end%>
  	     		<% caregiver_logins_total += @caregiver_logins %>
				<%= @caregiver_logins %>
   		 	</td>

	  	    <!-- Total Logins -->
   		 	<td><%= @senior_logins + @caregiver_logins%></td>
   	    </tr>
   	    <%end%>
   	    <%if users.length > 0%>
		<tr align = "center">
			<td align ="left"><b>Total</b></td>
			<td></td>
			<td></td>
			<td><%= (strap_not_worn_total_perc = (strap_not_worn_total/((@end_time.to_time.to_f - @begin_time.to_time.to_f)*users.length.to_f))*100.0).round(1).to_s %>%<br>
			</td>
			<td><%= (lost_data_total_perc = (lost_data_total/((@end_time.to_time.to_f - @begin_time.to_time.to_f)*users.length.to_f))*100.0).round(1).to_s %>%<br></td> 
			<td><%= (100.0 - lost_data_total_perc - strap_not_worn_total_perc).round(1).to_s + '%' %></td>
			<td><%= senior_logins_total %></td>
			<td><%= caregiver_logins_total %></td>
			<td><%= caregiver_logins_total + senior_logins_total %></td>			
		</tr>
		<%end%>
   	</table>
	<br>
	Legend:<br> 
	Strap Not Worn = data with -1s<br>
	Lost Data = data with gaps (mainly battery dead and buffer overflow)<br>
	Total Compliance Rate = 100% - Strap Not Worn% - Lost Data% <br>
  <%end%>
</div>
