<%=render :partial => 'nav_config'%>

<div style="float:right">
	<form action='/reporting/devices' method="get">
		Search: <input type="text" name="query" value="<%= params[:query] %>"/> <input type="submit" value="Go" />
	</form>
</div>
<h3>Devices table</h3>
<div align="center"><%= will_paginate @devices %></div><br/>
<div id="device-table" class="table bluegrey">
	<%=render :partial => 'device_table', :locals => {:user => @user, :devices => @devices}%>
	<br>
    <br>
    <center><%= will_paginate @devices %></center>
</div>


<div id="range_test_launcher"></div>
<script language="javascript">
function start_range_test(user_id){
	url = "/installs/start_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function stop_range_test(user_id){
	url = "/installs/stop_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
</script>
