<% 
require "digest" 
%>
  <%=render :partial => 'nav'%>

<div id="date_range" class="date_range">
  <% if !flash[:warning].blank? -%>
  <b><%= flash[:warning] %></b>
  <% end -%>
  <form action="/reporting/fall_panic_report">
  <h3>Group Fall/Panics Report</h3>
  <table>
    <tr><td>Begin Time (<%= Time.zone.name.split(/\s+/).first %>)</td>&nbsp;&nbsp;<td>End Time (<%= Time.zone.name.split(/\s+/).first %>)</td></tr>
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
	  <td>&nbsp;<%= submit_tag "Submit" %></td>
    </tr>
  </table>
  </form>
  <br>	

  <%if @falls or @panics %>
  <br>
<b><%= @user_begin_time %></b> to <b><%= @user_end_time %></b> in
  <%= current_user.profile.time_zone if current_user.profile %> timezone<br>
 <br>
  	<table border="1">
  		<tr>
  			<th bgcolor="#E1E1E1">Group</th>
		<th bgcolor="#E1E1E1">New<br> Installs
			<% if false %>
			<%= link_to "New<br> Installs", :controller => "reporting", :action => "installs", :anchor => "?begin_date=#{@begin_date}&end_date=#{@end_date}" %>
			<%= link_to "New<br> Installs", :controller => "reporting", :action => "installs", :begin_date => @begin_date, :end_date => @end_date %>
			<% end %>
			</th>
			<th bgcolor="#E1E1E1">Battery<br> Reminders</th>
  			<th bgcolor="#FFD0B4">Real<br> Falls</th>
  			<th bgcolor="#FFD0B4">False<br> Alarm<br> Falls</th>
  			<th bgcolor="#FFD0B4">Test<br> Falls</th>
  			<th bgcolor="#FFD0B4">Un- <br>classified<br> Falls</th>
  			<th bgcolor="#FFD0B4">Falls<br> Specificity</th>
  			<th bgcolor="#E1d1E1">Real<br> Panics</th>
  			<th bgcolor="#E1d1E1">False<br> Alarm<br> Panics</th>
  			<th bgcolor="#E1d1E1">Test<br> Panics</th>
  			<th bgcolor="#E1d1E1">Non<br> Emerg<br> Panics</th>
  			<th bgcolor="#E1d1E1">Un- <br>classified<br> Panics</th>
  			<th bgcolor="#E1d1E1">Panics<br> Specificity</th>
  		</tr>
  		<%@group_stats.keys.sort.each {|key|%>
  			<tr align="center">
  				<%@real_falls = @false_alarm_falls = @test_falls = @real_panics = @false_alarm_panic = @test_panics = @non_emerg_panic = 0.0%>
  				<td align="left"><%= key%></td>
  				<td><% if installs = @group_stats[key][:installs] %>
					<%= @group_stats[key][:installs].length %>
					<% else %> 0 <% end%>
				</td>
				<td><% if installs = @group_stats[key][:battery_reminders] %>
					<%= @group_stats[key][:battery_reminders].length %>
					<% else %> 0 <% end%></td>
				<td><%= @real_falls = @group_stats[key][:real_alarm_falls].length if @group_stats[key][:real_alarm_falls]%></td>
  				<td><%= @false_alarm_falls = @group_stats[key][:false_alarm_falls].length if @group_stats[key][:false_alarm_falls]%></td>
  				<td><%= @test_falls = @group_stats[key][:test_alarm_falls].length if @group_stats[key][:test_alarm_falls]%></td>
  				<td><%= @group_stats[key][:unclassified_falls].length if @group_stats[key][:unclassified_falls]%></td>
  				<td><% falls_specify = (@real_falls.to_f / (@false_alarm_falls.to_f + @real_falls.to_f)) if @real_falls != 0%>
  	    		<%= (falls_specify * 100).round(1).to_s + '%' if falls_specify%>
  				</td>
				<td><%=@real_panics = @group_stats[key][:real_alarm_panics].length if @group_stats[key][:real_alarm_panics]%></td>
  				<td><%= @false_alarm_panic = @group_stats[key][:false_alarm_panics].length if @group_stats[key][:false_alarm_panics]%></td>
  				<td><%= @test_panics = @group_stats[key][:test_alarm_panics].length if @group_stats[key][:test_alarm_panics]%></td>
  				<td><%= @non_emerg_panic = @group_stats[key][:non_emerg_panics].length if @group_stats[key][:non_emerg_panics]%></td>
  				<td><%= @group_stats[key][:unclassified_panics].length if @group_stats[key][:unclassified_panics]%></td>
  				<td><% panic_specify = ((@real_panics.to_f + @non_emerg_panic.to_f) / ( @false_alarm_panic.to_f + @real_panics.to_f + @non_emerg_panic.to_f)) if @real_panics != 0%>
  				<%= (panic_specify * 100).round(1).to_s + '%' if panic_specify%>
  				</td>
  			</tr>
		<%}%>
		<tr align = "center">
		<td align = "left" ><b>Total<sup>*</sup></b></td>
		<td><%= @group_totals[:installs] %></td>
		<td><%= @group_totals[:battery_reminders] %></td>
		<td><%= @group_totals[:real_alarm_falls] %></td>
		<td><%= @group_totals[:false_alarm_falls] %></td>
		<td><%= @group_totals[:test_alarm_falls] %></td>
		<td><%= @group_totals[:unclassified_falls]%></td>
		<td>
			<% (total_percentage = @group_totals[:real_falls].to_f / (@group_totals[:false_alarm_falls].to_f + @group_totals[:real_falls].to_f)) if @group_totals[:real_falls] != 0 %>
			<%= (total_percentage * 100).round(1).to_s + '%' if total_percentage%>
		</td>		
		<td><%= @group_totals[:real_alarm_panics] %></td>		
		<td><%= @group_totals[:false_alarm_panics] %></td>
		<td><%= @group_totals[:test_alarm_panics] %></td>
		<td><%= @group_totals[:non_emerg_panics] %></td>
		<td><%= @group_totals[:unclassified_panics] %></td>
		<td>
			<% if @group_totals[:real_panics] != 0 %>	
			<% total_percentage = ((@group_totals[:real_panics].to_f + @group_totals[:non_emerg_panics].to_f) / (@group_totals[:false_alarm_panics].to_f + @group_totals[:real_panics].to_f + @group_totals[:non_emerg_panics].to_f))%>
			<%= (total_percentage * 100).round(1).to_s + '%' if total_percentage%>
			<% end %>
		</td>
		</tr> 
  	</table><br>
	<b><sup>*</sup></b>Total does not include SafetyCare and halo groups<br><br>
	Formulas:<br> 
	Falls Specificity = Real Falls / (Fall Alarm Falls + Real Falls)<br>
	Panics Specificity = (Real Panics + Non Emerg Panics) / (Fall Alarm Panics + Real Panics + Non Emerg Panics)<br>
  <%end%>
</div>
