<h2>Lost data for <%=@user.name %>:</h2>
All times are in <%= @user.profile.time_zone %> time zone
<br>
<form action="/reporting/lost_data/<%= params[:id]%>" method="post">
<table>
    <tr><td>Begin Time (<%= Time.zone.name.split(/\s+/).first %>)</td>&nbsp;&nbsp;<td>End Time (<%= Time.zone.name.split(/\s+/).first %>)</td></tr>
    <tr>
      <td><%= calendar_date_select_tag "begin_time", @user_begin_time, :time => true, :popup => 'force' %></td>
      <td><%= calendar_date_select_tag "end_time", @user_end_time, :time => true, :popup => 'force' %></td>
	  <td>&nbsp;<%= submit_tag "Submit" %></td>
    </tr>
  </table>
 </form>
<p>
	<% if params[:begin_time] %>
	<b><%= @user_begin_time %></b> to <b><%= @user_end_time %></b> in
	  <%= current_user.profile.time_zone if current_user.profile %> timezone<br><br>
	<% end %>
    <table>
        <tr>
            <td>
                <b>Start</b>
            </td>
            <td>
                &nbsp;&nbsp;
            </td>
            <td>
                <b>End</b>
            </td>
            <td>
                &nbsp;&nbsp;
            </td>
            <td>
                <b>Duration</b>
            </td>
        </tr>
        <% @lost_data.each do |reading| %>
        <tr>
            <td>
                <%=reading.begin_time.to_s(:db) %>
            </td>
            <td>
            </td>
            <td>
                <%=reading.end_time.to_s(:db) %>
            </td>
            <td>
            </td>
            <td>
                <%=(reading.end_time - reading.begin_time).seconds %>s
            </td>						
        </tr>
        <% end %>
    </table>
    <br>
    <br>
    <center>
        <big>
            <%= will_paginate @lost_data %>
        </big>
    </center>
</p>
