<html>
<body>
<%= render :partial => 'init_successful_user_logins' %>
<h2>Successful Logins:</h2>
All times are in UTC timezone
<p>
    &nbsp;
</p>
<p>
	Starting Time: <%= @begin_time %>
	Ending   Time: <%= @end_time %>
</p>
<p>
<table>
	<tr>
		<th>Name</th>
		<th>Number of Logins</th>
		<th>Roles</th>
	</tr>
<% @users.each do |user| -%> 	
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user[:logins]%></td>
		<td><%=render :partial => 'reporting/table/user_roles', :locals => {:user => user}%></td>
	</tr>
<% end -%>
</table>
</body>
</html>