<html>
<body>
<%= render :partial => 'init_successful_user_logins' %>
<h2>Successful Logins:</h2>
<p>
    &nbsp;
</p>
<p>
	<b><%= @user_begin_time %></b> to <b><%= @user_end_time %></b> in
	  <%= current_user.profile.time_zone if current_user.profile %> timezone<br><br>
</p>
<p>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Number of Logins</th>
		<th>Logins Per Day</th>
		<th>Roles</th>
	</tr>
<% @users.each do |user| -%> 	
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user[:logins]%></td>
		<td><%= (user[:logins] / ((@end_time - @begin_time) / (60 * 60 * 24))).round(2) %>
		<td><%= user.main_role %></td>
	</tr>
<% end -%>
</table>
</body>
</html>