<%=render :partial => 'nav'%>

<div class="span-3"><h3>Users Stats</h3></div>
<div class="span-21 last">
  <form id="group_form_id" action="/reporting/user_stats" method="GET">
    <%= '<font color="red">' + flash[:notice] + '</font><br><br>' if flash[:notice] %>
    Select <label for="group_name">Group</label>:
    <%= select_tag 'group_name', options_for_select( [['All Groups','']] + @groups.collect {|e| [e.name, e.name] }, (@group.name unless @group.blank?)), {:onchange => "$('group_form_id').submit();"}%>
  </form>  
</div>
<br/><br/>
<div class="box span-7">
  <div style="display: inline-block;"><b>Grand Totals</b><br><span class="tiny">"HaloUser" is the device wearer</span><br>&nbsp;</div>  
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).select {|e| e.aggregated_status_installed? }.length %> Installed Non-Demo HaloUsers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).select {|e| e.aggregated_status_pending? && e.shipped? && e.dtc? }.length %> DTC Shipped and Pending Non-Demo Halousers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).select {|e| e.aggregated_status_cancelled? }.length %> Cancelled Non-Demo HaloUsers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).select {|e| e.aggregated_status_demo? }.length %> Demo HaloUsers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).length %> Total HaloUsers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= ( @group.blank? ? @vips : @group.has_halousers.collect(&:id)).length %> VIP HaloUsers</div>
  <br /><div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= User.find_all_by_id( @group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids ) : @group.has_halousers.collect(&:id)).select {|e| e.aggregated_status_pending? }.length %> Pending Non-Demo HaloUsers</div>
  <br />
</div>

<div class="box span-7">
  <div style="display: inline-block;"><b>Dialup vs Eth/BC vs CS</b><br><span class="tiny">Demo users <b>not</b> included</span><br>&nbsp;</div>
  <br />
  <% [ User::AGGREGATE_STATUS[ :installed]].each do |_status| %>
    <% [:dialups, :ethernets].each do |_mode| %>
      <div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= Device.gateways.send( "#{_mode}".to_sym).where_user_ids( (@group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids) : @group.has_halousers.collect(&:id)) ).select {|e| !e.users.blank? && e.users.collect(&:aggregated_status).flatten.compact.uniq.include?( _status)}.length %> <%= _status %> <%= _mode.to_s.capitalize %></div>
      <br />
    <% end %>
  <% end %>
  <% [User::AGGREGATE_STATUS[ :installed]].each do |_status| %>
    <% [:chest_straps, :belt_clips].each do |_device| %>
      <div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= Device.send(_device).where_user_ids( (@group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids) : @group.has_halousers.collect(&:id)) ).select {|e| !e.users.blank? && e.users.first.aggregated_status == _status}.length %> <%= _status %> <%= _device.to_s.split('_').collect(&:capitalize).join(' ') %></div>
      <br />
    <% end %>
  <% end %>
  <% [ User::AGGREGATE_STATUS[ :pending]].each do |_status| %>
    <% [:chest_straps, :belt_clips].each do |_device| %>
      <div style="display: inline-block;"><%= image_tag "user_placeholder.png" %> <%= Device.send(_device).where_user_ids( (@group.blank? ? (current_user.is_super_admin? ? @halouser_ids : @group_halouser_ids) : @group.has_halousers.collect(&:id)) ).select {|e| !e.users.blank? && e.users.first.aggregated_status == _status}.length %> <%= _status %> <%= _device.to_s.split('_').collect(&:capitalize).join(' ') %></div>
      <br />
    <% end %>
  <% end %>
</div>     
<div class="span-21"><%= link_to "User Intake Stats", {:controller => 'reporting', :action => 'user_intake_stats'}, :class => 'button small green-button' %></div>   
<div class="span-21" >
<br/> 
<span class="text-small">*Pending = Not Submitted + Ready for Approval + Ready to Install + Install Overdue + Ready to Bill</span>
<br/>
<br/>
</div>

