<%=render :partial => 'search'%>
<%=render :partial => 'nav_config'%>
<h3> Users table </h3>
<form id="group_form_id" action="/reporting/users" method="GET">
<%= '<font color="red">' + flash[:notice] + '</font><br><br>' if flash[:notice] %>
Select Group:  
<%= select_tag 'group_name', options_for_select(@groups.collect {|e| [e.name, e.name]}.insert(0,['All Groups','']), @group_name), {:onchange => "$('group_form_id').submit();"}%>
</form>
<div id="user-table" class="table">
	<br>
	<center><%= will_paginate @users %></center>
	<br><br>
	<%=render :partial => 'user_table', :locals => {:users => @users, :sortby => 'id', :reverse => false}%>
	<br>
    <br>
    

</div>
<div style="clear:both;"></div>
<br><br>
<center><%= will_paginate @users %></center>
<div id="range_test_launcher"></div>
<script language="javascript">
function start_range_test(user_id){
	url = "/installs/start_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function stop_range_test(user_id){
	url = "/installs/stop_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
</script>
