<%= render :partial => 'nav_config' %>

<div class="span-24 last">
  <%= '<font color="red">' + flash[:notice] + '</font><br><br>' if flash[:notice] %>

<div class="span-12">
  <div class="span-3"><h3>Users table</h3></div>
  <div class="span-9 last">
  <form id="group_form_id" action="/reporting/users" method="GET">
    Select <label for="group_name">Group</label>:
    <%= select_tag 'group_name', options_for_select( [['All Groups','']] + @groups.collect {|e| [e.name, e.name] }, (@group.name unless @group.blank?)), {:onchange => "$('group_form_id').submit();"}%>
  </form>
  </div>
</div>
<div class="span-12 last">
  <%= render :partial => 'search_users' %>
</div>
</div>

<center><%= will_paginate @users %></center>
<div id="user-table" class="table bluegrey">
    <%= render :partial => 'user_table', :locals => {:users => @users, :sortby => 'id', :reverse => false} %>
</div>

<div><%= will_paginate @users %></div>
<div id="range_test_launcher"></div>

<script language="javascript">

function start_range_test(user_id){
  url = "/installs/start_range_test_only/?user_id=" + user_id
  new Ajax.Request(url, {
    method: 'get'});
  }

function stop_range_test(user_id){
  url = "/installs/stop_range_test_only/?user_id=" + user_id
  new Ajax.Request(url, {
    method: 'get'});
  }

</script>
