<div class="span-12"><%= render :partial => 'vital_lists/nav' %></div>
<div class="span-12 last text-right">
  <%= form_tag '/blood_pressures', :method => :get %>
  MyHalo Users: 
  <%= select_tag "id", options_from_collection_for_select( @seniors, "id", "name", @senior.id), :onchange => "this.form.submit();" %>
</form>
</div>

<div id="call_list-col">

  <div id="call_list-col-header">
    Blood Pressure | <span style="color:#000;font-size:.75em">
      <%= @blood_pressures.first.user_summary unless @blood_pressures.blank? %><br />
    </span>
  </div>

  <div class="content">
    <div id="call_list_header">
      <div style="float:left;width:350px;padding-left:10px">
        Timestamp
      </div>
      <div style="float:left;width:150px">
        Systolic
      </div>
      <div style="float:left;width:100px">
        Diastolic
      </div>
      <div style="float:left;width:100px">
        Map
      </div>
      <div style="float:left;width:100px">
        Pulse
      </div>
      <div style="float:left;width:100px">
        Battery
      </div>
    </div>
    <p>&nbsp;</p>
    <%= render :partial => 'blood_pressure', :collection => @blood_pressures %>
  </div>
  <div id="call_list-col-footer"></div>
</div>