<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Dashboard</title>
  <%= stylesheet_link_tag 'dashboard', "style" %>
</head>
<body>

  <div class="mid-holder">
    <br>
    <div class="top-wrapper">
      <div class="lft" >
        <dl class="lft" style="padding-right:10px;" >
          <dd class="lft-fit"><p style="padding-bottom:5px;">Begin Time (Eastern)</p></dd>
          <dl class="clear">
            <dd class="lft-fit"><input type="text"  style="height:21px; width:155px; border:#000000 solid 1px; 
              margin-right:7px;" value="" /></dd>
              <dd  class="lft-fit"> <a href="#"><%= image_tag("calendar.gif") %></a></dd>
            </dl>
          </dl>    	
        </div>


        <div class="lft" >
          <dl class="lft" style="padding-right:20px;">
            <dd class="lft-fit"><p style="padding-bottom:5px;">End Time (Eastern)</p></dd>
            <dl class="clear">
              <dd class="lft-fit"><input type="text"  style="height:21px; width:155px; border:#000000 solid 1px; 
                margin-right:7px;" value="" /></dd>
                <dd  class="lft-fit">  <a href="#"><%= image_tag("calendar.gif") %></a></dd>
              </dl>
            </dl>    	
          </div>

          <div class="lft" >
            <dl class="lft" style="padding-right:15px;">
              <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
                <ul class="day-button">
                  <li  style="float:left;"><a href="#"><span>Yesterday</span></a></li>
                </ul>

              </dd>
              <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
                <ul class="day1-button">
                  <li  style="float:left;"><a href="#"><span>Today</span></a></li>
                </ul>
              </dd>

              <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
                <ul class="day2-button">
                  <li  style="float:left;"><a href="#"><span>Week</span></a></li>
                </ul>
              </dd>

              <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
                <ul class="day3-button">
                  <li  style="float:left;"><a href="#"><span>Month</span></a></li>
                </ul>
              </dd>             
            </dl>    	
          </div>
        </div>
        
        <div class="head-wrapper">
          <div class="lft"><%= image_tag("head-lft.gif") %></div>
          <div class="head-rep">
            <dd class="lft">
              <dl class="lft-links">Caseload Residents</dl>
              <dl  class="lft-links">|</dl>
              <dl class="lft-links"><span style="color:#000000;">9 remaining</span></dl>
            </dd>



            <dd class="rt-fit">
              <dl class="lft"><strong><%= link_to 'Dismiss All Greens', url_for(:controller => 'sandbox', :action => 'lightbox-martha'), :class => "rt-links"  %></strong></dl>                  
              <dl class="lft-links" style="float:right"><span style="color:#000000;">Tue Dec 1 2009 8:14AM CST</span></dl>
              </dd>
            </div>
            <div class="lft"><%= image_tag("head-rt.gif") %></div>
          </div>
          <div class="clear"></div>

          <div class="dashboard-wrapper">
            <div class="dashboard-txt">

              <div class="column-headers" style="padding-left:10px;">
                <dl class="lft" style="padding-bottom:15px;">
                  <dd class="d1">Name<%= image_tag("blue-up.gif") %></dd>
                  <dd class="d2">Alerts <%= image_tag("grey-up.gif") %></dd>
                  <dd class="d3">Compliance <%= image_tag("grey-up.gif") %></dd>

                  <dd class="d4">Steps<%= image_tag("grey-up.gif") %></dd>

                  <dd class="d5">Activity<%= image_tag("grey-up.gif") %></dd>
                  <dd class="d6">Falls<%= image_tag("grey-up.gif") %></dd>

                  <dd class="d7">Battery<%= image_tag("grey-up.gif") %></dd>

                  <dd class="d8">Connectivity<%= image_tag("grey-up.gif") %></dd>
                  <dd class="d8"> Last Updated<%= image_tag("grey-up.gif") %></dd>

                </dl>
              </div>



              <div class="clear"></div>
              <div class="strip-wrapper">
                <div class="strip-line-top">
                  <%= image_tag("strip-top-lft.gif") %>
                  <div class="strip-top-rt"></div>
                </div>    

                <div class="strip-mid-repeat">
                  <div class="strip-txt">
                    <dl>
                      <dd class="sec0"></dd>
                      <dd class="sec1">Martha Kohl </dd>
                      <dd class="sec2" >
                        <dl>
                          <dd class="lft"> <!--<ul class="red-button">
                          <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                          </ul>-->
                          <p><a href="#"><%= image_tag("ab.gif") %></a></p>
                        </dd>
                        <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
                      </dl>
                      <div class="clear"></div>
                      <dl class="lft"><%= link_to 'Dismiss', url_for(:controller => 'sandbox', :action => 'lightbox-martha'), :class => "small-link"  %> </dl>
                    </dd>                                  
                    <dd class="sec3"> 63%</dd>
                      <dd class="sec4"><div class="red-back">2 (-82%)</div></dd>                 
                    </dd>

                    <dd class="sec5">Average <span class="gap5lft">(-5%)</span></dd>
                    <dd class="sec6">0</dd>                                                    
                    <dd class="sec7">
                      <div class="battery-cover">
                        <div class="ok"><%= image_tag("battery-rt.gif", :align => "right") %></div>
                      </div>
                    </dd>

                    <dd class="sec8"><%= image_tag("status_dial_up.png", :align => "top") %></dd>
                    <dd class="sec9">Tue Dec 1 2009 4:45AM</dd>

                  </dl>                                                    
                </div>    
              </div>            
              <div class="strip-line-bot">
                <%= image_tag("strip-bot-lft.gif") %>
                <div class="strip-bot-rt"></div>
              </div>
            </div>

            <div class="strip-wrapper">
              <div class="strip-line-top">
                <%= image_tag("strip-top-lft.gif") %>
                <div class="strip-top-rt"></div>
              </div>    

              <div class="strip-mid-repeat">
                <div class="strip-txt">
                  <dl>
                    <dd class="sec0"></dd>
                    <dd class="sec1">Jerry Peterson </dd>
                    <dd class="sec2" >
                      <dl>
                        <dd class="lft"> <!--<ul class="red-button">
                        <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                        </ul>-->
                        <p><a href="#"><%= image_tag("ab.gif") %></a></p>
                      </dd>
                      <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
                    </dl>
                    <div class="clear"></div>                    
                    <dl class="lft"><%= link_to 'Dismiss', url_for(:controller => 'sandbox', :action => 'lightbox-martha'), :class => "small-link"  %> </dl>
                  </dd>                                  
                  <dd class="sec3"> 45%</dd>
                  <dd class="sec4"> 34 (-23%)</dd>                 
                  <dd class="sec5">
                    <ul class="orange-button">
                      <li  style="float:left;"><div class="red-back">Very Low (-45%)</div></a></li>
                    </ul>
                  </dd>
                  <dd class="sec6">1</dd>

                  <dd class="sec7">
                    <div class="battery-cover">
                      <div class="full"><%= image_tag("battery-rt.gif", :align => "right") %></div>
                    </div>
                  </dd>

                  <dd class="sec8"><%= image_tag("router_good.png", :align => "top") %></dd>
                  <dd class="sec9">Tue Dec 1 2009 8:12AM</dd>

                </dl>                                                    
              </div>    
            </div>            
            <div class="strip-line-bot">
              <%= image_tag("strip-bot-lft.gif") %>
              <div class="strip-bot-rt"></div>
            </div>
          </div>

          <div class="strip-wrapper">
            <div class="strip-line-top">
              <%= image_tag("strip-top-lft.gif") %>
              <div class="strip-top-rt"></div>
            </div>    

            <div class="strip-mid-repeat">
              <div class="strip-txt">
                <dl>
                  <dd class="sec0"></dd>
                  <dd class="sec1">Gerald Johnston</dd>
                  <dd class="sec2" >
                    <dl>
                      <dd class="lft"> <!--<ul class="red-button">
                      <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                      </ul>-->
                      <p><a href="#"><%= image_tag("ab.gif") %></a></p>
                    </dd>
                    <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
                  </dl>
                  <div class="clear"></div>
                  <dl class="lft"><%= link_to 'Dismiss', url_for(:controller => 'sandbox', :action => 'lightbox-martha'), :class => "small-link"  %> </dl>
                </dd>                                  
                <dd class="sec3"><ul class="orange-button">
                  <li  style="float:left;"><div class="red-back">7%</span></div></li>
                </ul></dd>
                <dd class="sec4"> 212 (+12%)</dd>                 
                <dd class="sec5">Average<span class="gap5lft">(+7%)</span></dd>
                <dd class="sec6">1</dd>

                <dd class="sec7">
                  <div class="battery-cover">
                    <div class="very-low"><%= image_tag("battery-rt.gif", :align => "right") %></div>
                  </div>
                </dd>

                <dd class="sec8"><%= image_tag("status_unhooked.png", :align => "top") %></dd>
                <dd class="sec9"><div class="red-back">Mon Nov 30 2:45PM</span></div></dd>

              </dl>                                                    
            </div>    
          </div>            
          <div class="strip-line-bot">
            <%= image_tag("strip-bot-lft.gif") %>
            <div class="strip-bot-rt"></div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="strip-wrapper">
          <div class="strip-line-top">
            <%= image_tag("strip-top-lft.gif") %>
            <div class="strip-top-rt"></div>
          </div>    

          <div class="strip-mid-repeat">
            <div class="strip-txt">
              <dl>
                <dd class="sec0"></dd>
                <dd class="sec1">Marian Berlin</dd>
                <dd class="sec2" style="border:#000000 solid 0px;">
                  <dl>
                    <dd class="lft"> <!--<ul class="yel-button">
                    <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                    </ul>-->
                    <p><a href="#"><%= image_tag("ca.gif") %></a></p>
                  </dd>
                  <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
                </dl>
                <div class="clear"></div>
                <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
              </dd>

              <dd class="sec3"><div class="yellow-back">16%</div></dd>
              <dd class="sec4"> 445 (-16%)</dd>                 
              <dd class="sec5">High <span class="gap5lft">(-12%)</span></dd>
              <dd class="sec6">0</dd>

              <dd class="sec7">
                <div class="battery-cover">
                  <div class="full"><%= image_tag("battery-rt.gif", :align => "right") %></div>
                </div>
              </dd>

              <dd class="sec8"><%= image_tag("icon1.jpg", :align => "top") %></dd>
              <dd class="sec9">Tue Dec 1 2009 3:52AM</dd>

            </dl>                                                    
          </div>    
        </div>            
        <div class="strip-line-bot">
          <%= image_tag("strip-bot-lft.gif") %>
          <div class="strip-bot-rt"></div>
        </div>
      </div>
      <div class="strip-wrapper">
        <div class="strip-line-top">
          <%= image_tag("strip-top-lft.gif") %>
          <div class="strip-top-rt"></div>
        </div>    

        <div class="strip-mid-repeat">
          <div class="strip-txt">
            <dl>
              <dd class="sec0"></dd>
              <dd class="sec1">Earl Bell</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
                <dl>
                  <dd class="lft"> <!--<ul class="yel-button">
                  <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                  </ul>-->
                  <p><a href="#"><%= image_tag("ca.gif") %></a></p>
                </dd>
                <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
              </dl>
              <div class="clear"></div>
              <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
            </dd>

            <dd class="sec3"> 71%</dd>
            <dd class="sec4"> 683 (+10%)</dd>                 
            <dd class="sec5">Very High <span class="gap5lft">(+6%)</span></dd>
            <dd class="sec6">0</dd>

            <dd class="sec7">
              <div class="battery-cover">
                <div class="low"><%= image_tag("battery-rt.gif", :align => "right") %></div>
              </div>
            </dd>

            <dd class="sec8"><%= image_tag("router_good.png", :align => "top") %></dd>
            <dd class="sec9">Tue Dec 1 2009 6:21AM</dd>

          </dl>                                                    
        </div>    
      </div>            
      <div class="strip-line-bot">
        <%= image_tag("strip-bot-lft.gif") %>
        <div class="strip-bot-rt"></div>
      </div>
    </div>  
    <div class="strip-wrapper">
      <div class="strip-line-top">
        <%= image_tag("strip-top-lft.gif") %>
        <div class="strip-top-rt"></div>
      </div>    

      <div class="strip-mid-repeat">
        <div class="strip-txt">
          <dl>
            <dd class="sec0"></dd>
            <dd class="sec1">Madeline Carey</dd>
            <dd class="sec2" style="border:#000000 solid 0px;">
              <dl>
                <dd class="lft"> <!--<ul class="yel-button">
                <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                </ul>-->
                <p><a href="#"><%= image_tag("ca.gif") %></a></p>
              </dd>
              <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
            </dl>
            <div class="clear"></div>
            <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
          </dd>

          <dd class="sec3"> 88%</dd>
          <dd class="sec4"> 105 (-100%)</dd>    
          <dd class="sec5">
            <ul class="orange-button">
              <li  style="float:left;"><div class="yellow-back">Low (-17%)</div></a></li>
            </ul>                                               
          </dd>
          <dd class="sec6">0</dd>
          <dd class="sec7">
            <div class="battery-cover">                
              <div class="full"><%= image_tag("battery-rt.gif", :align => "right") %></div>
            </div>
          </dd>
                      
          <dd class="sec8"><%= image_tag("icon1.jpg", :align => "top") %></dd>
          <dd class="sec9">Tue Dec 1 2009 2:53AM</dd>

        </dl>                                                    
      </div>    
    </div>            
    <div class="strip-line-bot">
      <%= image_tag("strip-bot-lft.gif") %>
      <div class="strip-bot-rt"></div>
    </div>
  </div>
  <div class="strip-wrapper">
    <div class="strip-line-top">
      <%= image_tag("strip-top-lft.gif") %>
      <div class="strip-top-rt"></div>
    </div>    

    <div class="strip-mid-repeat">
      <div class="strip-txt">
        <dl>
          <dd class="sec0"></dd>
          <dd class="sec1">Sarah Tillman</dd>
          <dd class="sec2" style="border:#000000 solid 0px;">
            <dl>
              <dd class="lft"> <!--<ul class="green-button">
              <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
              </ul>-->
              <p><a href="#"><%= image_tag("no.gif") %></a></p>
            </dd>
            <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
          </dl>
          <div class="clear"></div>
          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
        </dd>


        <dd class="sec3"> 57%</dd>
        <dd class="sec4"> 243 (-4%)</dd>    
        <dd class="sec5">Average <span class="gap5lft">(-2%)</span></dd>
        <dd class="sec6">0</dd>

        <dd class="sec7">
          <div class="battery-cover">
            <div class="full"><%= image_tag("battery-rt.gif", :align => "right") %></div>
          </div>
        </dd>

        <dd class="sec8"><%= image_tag("icon1.jpg", :align => "top") %></dd>
        <dd class="sec9">Tue Dec 1 2009 4:24AM</dd>

      </dl>                                                    
    </div>    
  </div>            
  <div class="strip-line-bot">
    <%= image_tag("strip-bot-lft.gif") %>
    <div class="strip-bot-rt"></div>
  </div>
</div>
<div class="strip-wrapper">
  <div class="strip-line-top">
    <%= image_tag("strip-top-lft.gif") %>
    <div class="strip-top-rt"></div>
  </div>    

  <div class="strip-mid-repeat">
    <div class="strip-txt">
      <dl>
        <dd class="sec0"></dd>
        <dd class="sec1">Robert Pullen</dd>
        <dd class="sec2" style="border:#000000 solid 0px;">
          <dl>
            <dd class="lft"> <!--<ul class="green-button">
            <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
            </ul>-->
            <p><a href="#"><%= image_tag("no.gif") %></a></p>
          </dd>
          <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
        </dl>
        <div class="clear"></div>
        <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
      </dd>


      <dd class="sec3"> 94%</dd>
      <dd class="sec4"> 512 (+15%)</dd>                 
      <dd class="sec5">High <span class="gap5lft">(+12%)</span></dd>
      <dd class="sec6">0</dd>

      <dd class="sec7">
        <div class="battery-cover">
          <div class="ok"><%= image_tag("battery-rt.gif", :align => "right") %></div>
        </div>
      </dd>

      <dd class="sec8"><%= image_tag("router_good.png", :align => "top") %></dd>
      <dd class="sec9">Tue Dec 1 2009 7:25AM</dd>

    </dl>                                                    
  </div>    
</div>            
<div class="strip-line-bot">
  <%= image_tag("strip-bot-lft.gif") %>
  <div class="strip-bot-rt"></div>
</div>
</div>

<div class="clear"></div>
<div class="strip-wrapper">
  <div class="strip-line-top">
    <%= image_tag("strip-top-lft.gif") %>
    <div class="strip-top-rt"></div>
  </div>    

  <div class="strip-mid-repeat">
    <div class="strip-txt">
      <dl>
        <dd class="sec0"></dd>
        <dd class="sec1">John J. Nelson</dd>
        <dd class="sec2" style="border:#000000 solid 0px;">
          <dl>
            <dd class="lft"> <!--<ul class="green-button">
            <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
            </ul>-->
            <p><a href="#"><%= image_tag("no.gif") %></a></p>
          </dd>
          <dd class="lft"><%= image_tag("graph.jpg", :class => "gap5lft") %></dd> 
        </dl>
        <div class="clear"></div>
        <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
      </dd>


      <dd class="sec3"> 87%</dd>
      <dd class="sec4"> 882 (+25%)</dd>                 
      <dd class="sec5">Very High <span class="gap5lft">(+19%)</span></dd>
      <dd class="sec6">0</dd>

      <dd class="sec7">
        <div class="battery-cover">
          <div class="full"><%= image_tag("battery-rt.gif", :align => "right") %></div>
        </div>
      </dd>

      <dd class="sec8"><%= image_tag("icon1.jpg", :align => "top") %></dd>
      <dd class="sec9">Tue Dec 1 2009 1:24AM</dd>

    </dl>                                                    
  </div>    
</div>            
<div class="strip-line-bot">
  <%= image_tag("strip-bot-lft.gif") %>
  <div class="strip-bot-rt"></div>
</div>
</div>

<div class="clear"></div>






</div>
</div>

<div class="bottom-curve-holder">
  <div class="mid-bot-rep"><div class="lft"><%= image_tag("bot-lft.gif") %></div><div class="rt-fit"><%= image_tag("bot-rt.gif") %></div> </div>

</div>

</div>
<div class="clear"></div>




</body>
</html>
