<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <%= stylesheet_link_tag "style" %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag "style7" %>
  <![endif]-->
  <%= javascript_include_tag "custom-form-elements" %>
  <script type="text/javascript">
  function hidetxt()
  {
    document.getElementById("big-text-box").disabled=true;
  }
  function changeVisibilityoff()
  {
    document.getElementById("box-hide").style.visibility="hidden";
  }
  </script> 
</head>
<body>
  <div class="lightbox-wrapper">
    <div class="top-line"><%= image_tag("lft-top.gif", :html => {:align => "left"}) %>
      <div class="top-rt"></div>
    </div>

    <div class="mid-rep">
      <p>Caregiver: Jane Helper</p>      
      <p>Work: 410-227-4109</p>
      <br>
      <p>Client: Martha Kohl</p>      
      <p>Home: 410-867-4309</p>
      
      <div class="spc8"></div>
      <div class="box-ar">
        <div class="box-text"> 
          <div id="box-hide" onclick="changeVisibilityoff()" >
          </div>
        <textarea class="big-text-box">Type here</textarea>
        </div>
        <br />
        <dd class="lft">
          <dl class="lft"> <input type="checkbox" class="styled" /></dl>
          <dl class="lft" style="padding-top:5px;">Include In Watch list</dl>
        </dd>
        <div class="clear"></div>
        <div class="spc8"></div>   
        <ul class="button" style="background:#ffffff;">
                  <li class="lft-fit"><a href="#"><span>Cancel</span></a></li>
                 <li class="lft-fit"><span style="padding-left: 38px;"><a href="#"><span>OK</span></a></span></li>
        </ul>     
      </div>
    </div>
    <div class="bot-line"><%= image_tag("lft-bot.gif", :html => {:align => "left"}) %>
      <div class="bot-rt"></div>
    </div>
  </div>
  <script language="javascript" type="text/javascript"  src="js/niceforms.js"></script>
</body>
</html>
