<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Dashboard</title>
  <%= stylesheet_link_tag 'dashboard' %>
</head>
<body>

<div class="mid-holder">
<br>
<div class="top-wrapper">
	<div class="lft" >
    	<dl class="lft" style="padding-right:10px;" >
        	<dd class="lft-fit"><p style="padding-bottom:5px;">Begin Time (Eastern)</p></dd>
           		<dl class="clear">
                	<dd class="lft-fit"><input type="text"  style="height:21px; width:155px; border:#000000 solid 1px; 
                    margin-right:7px;" value="11/24/2009" /></dd>
                    <dd  class="lft-fit"> <a href="#"><img src="images/calander.gif" alt=" "  style="padding-top:2px;"/></a></dd>
                </dl>
        </dl>    	
    </div>
    
    
    <div class="lft" >
    	<dl class="lft" style="padding-right:20px;">
        	<dd class="lft-fit"><p style="padding-bottom:5px;">End Time (Eastern)</p></dd>
           		<dl class="clear">
                	<dd class="lft-fit"><input type="text"  style="height:21px; width:155px; border:#000000 solid 1px; 
                    margin-right:7px;" value="12/1/2009" /></dd>
                    <dd  class="lft-fit">  <a href="#"><img src="images/calander.gif" alt=" "  style="padding-top:2px;"/></a></dd>
                </dl>
        </dl>    	
    </div>
        
    <div class="lft" >
    	<dl class="lft" style="padding-right:15px;">
        	<dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
            					<ul class="day-button">
               					 <li  style="float:left;"><a href="#"><span>Yesterday</span></a></li>
                                 </ul>
                               
            </dd>
            <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
            					<ul class="day1-button">
               					 <li  style="float:left;"><a href="#"><span>Today</span></a></li>
                                 </ul>
            </dd>
            
             <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
            					<ul class="day2-button">
               					 <li  style="float:left;"><a href="#"><span>Week</span></a></li>
                                 </ul>
            </dd>
            
             <dd class="lft-fit" style="padding-top:15px; padding-right:20px;">
            					<ul class="day3-button">
               					 <li  style="float:left;"><a href="#"><span>Month</span></a></li>
                                 </ul>
            </dd>
           		 
        </dl>    	
    </div>
    
    
</div>

<br><br><br>
<div class="head-wrapper">
	<div class="lft"><%= image_tag("head-lft.gif") %></div>
            <div class="head-rep">
                <dd class="lft">
                    <dl class="lft-links">Events</dl>
                    <dl  class="lft-links">|</dl>
                    <dl class="lft-links"><span style="color:#000000;">Residents</span></dl>
                </dd>
                
                
                
                <dd class="rt-fit">
                    <dl class="lft"><strong><a href="#" class="rt-links">Dismiss All Normals</a></strong></dl>
                    <dl class="lft"><strong><a href="#" class="rt-links">|</a></strong></dl>
                    <dl class="lft"><strong><a href="#" class="rt-links">Dismiss All Reds</a></strong></dl>
                    <dl class="lft"><strong><a href="#" class="rt-links">|</a></strong></d
                    ><dl class="lft"><strong><a href="#" class="rt-links">Dismiss All Yellows</a></strong></dl>
                </dd>
            </div>
    <div class="lft"><%= image_tag("head-rt.gif") %></div>
</div>
<div class="clear"></div>

<div class="dashboard-wrapper">
	<div class="dashboard-txt">
    
    	<div class="strip-txt" style="padding-left:10px;">
    	<dl class="lft" style="padding-bottom:15px;">
             	<dd class="d1">Name<%= image_tag("blue-up.gif") %></dd>
                <dd class="d2">Alerts <%= image_tag("grey-up.gif") %></dd>
                <dd class="d3">Compliance <%= image_tag("grey-up.gif") %></dd>
               
                 <dd class="d4">Steps<%= image_tag("grey-up.gif") %></dd>
                
                 <dd class="d5">Activity<%= image_tag("grey-up.gif") %></dd>
                 <dd class="d6">Falls<%= image_tag("grey-up.gif") %></dd>>
                
                 <dd class="d7">Battery<%= image_tag("grey-up.gif") %></dd>
                
                 <dd class="d8">Connectivity<%= image_tag("grey-up.gif") %></dd>
                 <dd class="d8"> Last Updated<%= image_tag("grey-up.gif") %></dd>
                           
             </dl>
             </div>
    
    
    
    	
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Martha Kohl </dd>
                <dd class="sec2" >
                			<dl>
                        	<dd class="lft"> <!--<ul class="red-button">
               					 <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                                 </ul>-->
                                  <p><a href="#"><img src="images/ab.gif" alt=" " /></a></p>
                            </dd>
                            <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                            </dl>
                            <div class="clear"></div>
                            <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
                 </dd>                                  
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4">
                 				 <ul class="orange-button">
               					 <li><a href="#"><span>2 (-100%)</span></a></li>
                                 </ul>
                 </dd>
                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>

<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Jerry Peterson </dd>
                <dd class="sec2" >
                			<dl>
                        	<dd class="lft"> <!--<ul class="red-button">
               					 <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                                 </ul>-->
                                  <p><a href="#"><img src="images/ab.gif" alt=" " /></a></p>
                            </dd>
                            <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                            </dl>
                            <div class="clear"></div>
                            <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
                 </dd>                                  
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">
           				 <ul class="orange-button">
         					 <li  style="float:left;"><a href="#"><span>Very Low (-45%)</span></a></li>
                   </ul>
                   </dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>

<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Gerald Johnston</dd>
                <dd class="sec2" >
                			<dl>
                        	<dd class="lft"> <!--<ul class="red-button">
               					 <li class="lft-fit"><a href="#"><span>ABNORMAL</span></a></li>
                                 </ul>-->
                                  <p><a href="#"><img src="images/ab.gif" alt=" " /></a></p>
                            </dd>
                            <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                            </dl>
                            <div class="clear"></div>
                            <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
                 </dd>                                  
                 <dd class="sec3"><ul class="orange-button">
       					 <li  style="float:left;"><a href="#"><span>10%</span></a></li>
                 </ul></dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>
<div class="clear"></div>
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Marian Berlin</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="yel-button">
             					 <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                               </ul>-->
                                 <p><a href="#"><img src="images/ca.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>
                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Earl Bell</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="yel-button">
             					 <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                               </ul>-->
                                 <p><a href="#"><img src="images/ca.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>
                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>  
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Madeline Carey</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="yel-button">
             					 <li  style="float:left;"><a href="#"><span>CAUTION</span></a></li>
                               </ul>-->
                                 <p><a href="#"><img src="images/ca.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>
                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Sarah Tillman</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="green-button">
             					 <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
                               </ul>-->
                                <p><a href="#"><img src="images/no.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>

                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">Robert Pullen</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="green-button">
             					 <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
                               </ul>-->
                                <p><a href="#"><img src="images/no.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>

                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>
 	
<div class="clear"></div>
<div class="strip-wrapper">
	<div class="strip-line-top">
    	<%= image_tag("strip-top-lft.gif") %>
    	<div class="strip-top-rt"></div>
    </div>    
    
    <div class="strip-mid-repeat">
    	<div class="strip-txt">
        	 <dl>
             	<dd class="sec1">John J. Nelson</dd>
              <dd class="sec2" style="border:#000000 solid 0px;">
              			<dl>
                      	<dd class="lft"> <!--<ul class="green-button">
             					 <li  style="float:left;"><a href="#"><span>NORMAL</span></a></li>
                               </ul>-->
                                <p><a href="#"><img src="images/no.gif" alt=" " /></a></p>
                          </dd>
                          <dd class="lft"><img class="gap5lft" src="images/graph.jpg" alt=" " align="top" /></dd> 
                          </dl>
                          <div class="clear"></div>
                          <dl class="lft"><a class="small-link" href="#">Dismiss</a></dl>
               </dd>

                                 
                 <dd class="sec3"> 45%</dd>
                 <dd class="sec4"> 2 (-100%)</dd>                 
                 <dd class="sec5">Very Low <span class="gap5lft">(-45%)</span></dd>
                 <dd class="sec6">0</dd>
                 
                 <dd class="sec7">
                 	<div class="battery-cover">
                    	<div class="color-base"><img src="images/battery-rt.gif" alt=" " align="right" /></div>
                    </div>
                 </dd>
                 
                 <dd class="sec8"><img src="images/icon1.jpg" alt=" " align="top"  /></dd>
                 <dd class="sec9">SUN NOV 29 11:32:19</dd>
                            
             </dl>                                                    
        </div>    
    </div>            
    <div class="strip-line-bot">
    	<%= image_tag("strip-bot-lft.gif") %>
    	<div class="strip-bot-rt"></div>
    </div>
</div>

<div class="clear"></div>

    
    
    
    
    	
    </div>
</div>

 <div class="bottom-curve-holder">
 	 <div class="mid-bot-rep"><div class="lft"><%= image_tag("bot-lft.gif") %></div><div class="rt-fit"><%= image_tag("bot-rt.gif") %></div> </div>
    
 </div>

</div>
 <div class="clear"></div>
 
 
 

</body>
</html>
