<div class="span-8 box">
<% form_for(@device_model_price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id, "Group" %>
    <%= f.select :group_id, @groups.collect {|e| [e.name, e.id]}.insert( 0, ['Please select a group', '']) %>
  </p>
  <p>
    <%= f.label :device_model_id, "Product" %> (choose 1200xxx for complete kits)<br />
    <%= f.select :device_model_id, DeviceModel.all.collect {|p| [p.model_type, p.id]} %>
  </p>
  <p>
    <%= f.label :coupon_code, "Coupon Code Name" %><br />
    <%= f.text_field :coupon_code %>
  </p>
  <p>
    <%= f.label :expiry_date %><br />
    <%= f.date_select :expiry_date %>
  </p>
  <p>
    <%= f.label :deposit %><br />
    <%= f.text_field :deposit %>
  </p>
  <p>
    <%= f.label :shipping %><br />
    <%= f.text_field :shipping %>
  </p>
  <p>
    <%= f.label :monthly_recurring %><br />
    <%= f.text_field :monthly_recurring %>
  </p>
  <p>
    <%= f.label :months_advance %><br />
    <%= f.text_field :months_advance %>
  </p>
  <p>
    <%= f.label :months_trial %><br />
    <%= f.text_field :months_trial %>
  </p>
  <p>
    <%= link_to 'Back', device_model_prices_path, :class => "button blue-button medium"  %>
    <%= f.submit "Save", :class => "button green-button medium"  %>
  </p>
<% end %>
</div>


