<%=render :partial => 'reporting/nav_config'%>

<h1>Coupon Codes</h1>
<table border="1">
  <tr>
    <th>Part Num</th>
    <th>Part Num</th>
    <th>Coupon<br> Code</th>
    <th>Expiry<br> Date</th>
    <th>Deposit</th>
    <th>Shipping</th>
    <th>Monthly<br> recurring</th>
    <th>Months<br> advance</th>
    <th>Months<br> trial</th>
  </tr>

<% for device_model_price in @device_model_prices %>
  <tr>
    <td><%=h device_model_price.device_model.part_number %></td>
    <td><%=h device_model_price.device_model.model %></td>    
    <td><%=h device_model_price.coupon_code %></td>
    <td><%=h device_model_price.expiry_date %></td>
    <td><%=h device_model_price.deposit %></td>
    <td><%=h device_model_price.shipping %></td>
    <td><%=h device_model_price.monthly_recurring %></td>
    <td><%=h device_model_price.months_advance %></td>
    <td><%=h device_model_price.months_trial %></td>
    <td><%= link_to 'Show', device_model_price %></td>
    <td><%= link_to 'Edit', edit_device_model_price_path(device_model_price) %></td>
    <td><%= link_to 'Destroy', device_model_price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coupon code', new_device_model_price_path %>
