<%=render :partial => 'reporting/nav_config'%>

<h1>Coupon Codes</h1>
<%= will_paginate %>
<table class="bluegrey">
  <tr>
    <th>Part Num</th>
    <th>Model</th>
    <th>Coupon<br> Code</th>
    <th>Expiry<br> Date</th>
    <th>Deposit</th>
    <th>Shipping</th>
    <th>Monthly<br> recurring</th>
    <th>Months<br> advance</th>
    <th>Months<br> trial</th> 
    <th/><th/><th/>
  </tr>

<% for device_model_price in @device_model_prices %>
  <% unless device_model_price.device_model.blank? %>
  <tr class="<%= cycle('', 'altrow') %>">
    <td><%=h device_model_price.device_model.part_number %></td>
    <td><%=h device_model_price.device_model.device_type.device_type %></td>
    <td><%=h device_model_price.coupon_code %></td>
    <td><%=h device_model_price.expiry_date %></td>
    <td><%=h device_model_price.deposit %></td>
    <td><%=h device_model_price.shipping %></td>
    <td><%=h device_model_price.monthly_recurring %></td>
    <td><%=h device_model_price.months_advance %></td>
    <td><%=h device_model_price.months_trial %></td>
    <td><%= link_to 'Show', device_model_price %></td>
    <td><%= link_to 'Edit', edit_device_model_price_path(device_model_price) %></td>
    <td><%= link_to 'Destroy', device_model_price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
<% end %>
</table>
<%= will_paginate %>
<br />

<%= link_to 'New coupon code', new_device_model_price_path %>
