<%= render :partial => 'reporting/nav_config' %>

<div class="span-24">
  <div class="span-12">
    <h3>Coupon Codes</h3>
  </div>
  <div class="span-4 border">
    <%= link_to 'New coupon code', new_device_model_price_path, :class => "button green-button medium" %>
  </div>
  <div class="span-8 last">
    <% form_tag( {:action => "index"}, :method => :get) do %>
      <%= text_field_tag "search", @search, :class => "span-5" %>
      <%= submit_tag "Search", :class => "button medium white-button" %>
    <% end -%>
  </div>
</div>

<div class="span-24">
  <div class="span-12">
    <%= will_paginate %>
  </div>
  <div class="span-12 last text-right">
    <%= link_to "All", device_model_prices_path, :class => "button small blue-button" %> |
    <%= link_to "Usable", usable_device_model_prices_path, :class => "button small blue-button" %> |
    <%= link_to "Expired", expired_device_model_prices_path, :class => "button small blue-button" %>
  </div>
</div>
<table class="bluegrey">
  <%= render :partial => 'coupon_header_row' %>
  <%= render :partial => 'coupon_row', :collection => @device_model_prices %>
</table>
<%= will_paginate %>
<br />

