<h1>Show Coupon Code</h1>
<div class="span-8 box">
<p>
  <b>Group:</b>
  <%= h @device_model_price.group_name %>
</p>
<p>
  <b>Device model:</b>
  <%=h @device_model_price.device_model.model_type %>
</p>

<p>
  <b>Coupon code:</b>
  <%=h @device_model_price.coupon_code %>
</p>

<p>
  <b>Expiry date:</b>
  <%=h @device_model_price.expiry_date %>
</p>

<p>
  <b>Deposit:</b>
  <%=h @device_model_price.deposit %>
</p>

<p>
  <b>Shipping:</b>
  <%=h @device_model_price.shipping %>
</p>

<p>
  <b>Monthly recurring:</b>
  <%=h @device_model_price.monthly_recurring %>
</p>

<p>
  <b>Months advance:</b>
  <%=h @device_model_price.months_advance %>
</p>

<p>
  <b>Months trial:</b>
  <%=h @device_model_price.months_trial %>
</p>
</div>
<div class="span-20"> 
<%= link_to 'Back', device_model_prices_path, :class => "button blue-button medium"  %>
<%= link_to 'Edit', edit_device_model_price_path(@device_model_price), :class => "button green-button medium"  %>
</div>
