<tr>
  <% if current_user.is_super_admin? %>
  <td><%= link_to( fastintake.id, edit_user_intake_path( fastintake)) %></td>
  <% end %>
  <td><%= link_to( fastintake.senior.id, user_path( fastintake.senior)) rescue '?' %></td>
  <td><%= link_to (fastintake.senior ? fastintake.senior.name : "(unnamed)"), :action => :single_row, :id => fastintake.id %></td>
  <td><%= fastintake.senior.status_text %></td>
  <td><%= fastintake.group.name rescue '?' %></td>
  <td><%= UtilityHelper.format_datetime(fastintake.shipped_at, current_user, Time::DATE_FORMATS[:day_date_short])  %></td>      	
  <td><%= fastintake.updated_at %></td>   
</tr>
