<% if narrow
    label_span = "span-2"
    field_span = "span-5"
    phone_string = "Ph."
    provider = "CellProvider"
  else
    label_span = "span-3"
    field_span = "span-7"
    phone_string = "Phone"
    provider = "Cell Provider"
  end %>
  
<div class="<%= label_span %>"><%= f.label :first_name, "First Name" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :first_name, :class => field_span %></div>

<div class="<%= label_span %>"><%= f.label :last_name, "Last Name" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :last_name, :class => field_span %></div>

<div class="<%= label_span %>"><%= f.label :address, "Address" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :address, :class => field_span %></div>

<% unless defined?( omit_cross_st) && omit_cross_st == true %>
<div class="<%= label_span %>"><%= f.label :cross_st, "Cross St" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :cross_st, :class => field_span %></div>
<% end %>

<div class="span-2"><%= f.label :city, "City" %>:</div>
<div class="span-<%= narrow ? '5 last' : '2' %>"><%= f.text_field :city, :class => (narrow ? "span-5 last" : "span-2") %></div>

<div class="span-1"><%= f.label :state, "State" %></div>
<div class="span-2"><%= f.text_field :state, :class => "span-2" %></div>
<div class="span-1"><%= f.label :zipcode, "Zip" %>:</div>
<div class="span-2 last"><%= f.text_field :zipcode, :class => "span-2" %></div>

<div class="<%= label_span %>"><%= f.label :home_phone, "Home #{phone_string}" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :home_phone, :class => field_span %></div>

<div class="<%= label_span %>"><%= f.label :cell_phone, "Cell #{phone_string}" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :cell_phone, :class => field_span %></div>

<div class="<%= label_span %>"><%= f.label :work_phone, "Work #{phone_string}" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :work_phone, :class => field_span %></div>
                                                                                               
<div class="<%= label_span %>"><%= f.label :other_phone, "Other #{phone_string}" %>:</div>
<div class="<%= field_span %> last"><%= f.text_field :other_phone, :class => field_span %></div>

<div class="<%= label_span %>"><%= f.label :carrier_id, provider %></div>
<div class="<%= field_span %> last"><%= f.select :carrier_id, Carrier.ordered.collect {|p| [p.name, p.id]}, {:include_blank => "Select Cell Provider for Text Msg..."}, {:style => (narrow ? "width:160px" : "")} %></div>

<div class="<%= label_span %>"><%= f.label :time_zone, "Time zone" %>:</div>
<div class="<%= field_span %> last"><%= f.time_zone_select :time_zone, TimeZone.us_zones, {:default => "Central Time (US & Canada)"}, {:style => (narrow ? "width:160px" : "")} %></div>
