<h3 class="textcenter">User Information</h3>

<%= render :partial => 'profile_details', :locals => {:f => f, :narrow => false} %>

<div class="span-3"><%= f.label :birth_date, "Date of Birth" %>:</div>
<div class="span-7 last"><%= f.date_select :birth_date, :start_year => 1900,:prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :order => [:day, :month, :year] %></div>

<div class="span-3"><%= f.label :sex, "Sex" %> (M/F):</div>
<div class="span-7 last">
  <%= f.radio_button :sex, "M" %>
  <%= f.label :sex, "Male" %>
  <%= f.radio_button :sex, "F" %>
  <%= f.label :sex, "Female" %>
</div>

<div class="span-3">&nbsp;</div>
<div class="span-7 last">
  <%= f.check_box :internet_access_at_home %>
  <%= f.label :internet_access_at_home, "Dial up (Phone)" %>
</div>

<div class="span-3">&nbsp;</div>
<div class="span-7 last">
  <%= f.check_box :voip_phone %>
  <%= f.label :voip_phone, "Internet Phone (VoIP, Vonage, etc.)" %>
</div>

<div class="span-3">&nbsp;</div>
<div class="span-7 last">
  <%= f.check_box :broadband %>
  <%= f.label :broadband, "Broadband / Ethernet (Cable, DSL, etc.)" %>
</div>
