<h3 class="textcenter">Medical Information</h3>

<div class="span-7">
  <div class="span-3"><%= f.label :access_information, "Premises Access" %> (Combination, Lockbox Code, Key Location)</div>
  <div class="span-4 last"><%= f.text_field :access_information, :class => "span-4" %></div>

  <div class="span-6"><%= f.label :permission_to_break_door, "Permission to break the door" %></div>
  <div class="span-1 last"><%= f.check_box :access_information %></div>

  <div class="span-3"><%= f.label :pet_information, "Pet Information" %></div>
  <div class="span-4 last"><%= f.text_field :pet_information, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :hospital_preference, "Hospital Preference" %></div>
  <div class="span-4 last"><%= f.text_field :hospital_preference, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :hospital_number, "Hospital Phone" %></div>
  <div class="span-4 last"><%= f.text_field :hospital_number, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :doctor_name, "Doctor Name*" %></div>
  <div class="span-4 last"><%= f.text_field :doctor_name, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :doctor_phone, "Doctor Phone*" %></div>
  <div class="span-4 last"><%= f.text_field :doctor_phone, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :police, "Police Phone*" %></div>
  <div class="span-4 last"><%= f.text_field :police, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :fire, "Fire Phone*" %></div>
  <div class="span-4 last"><%= f.text_field :fire, :class => "span-4" %></div>

  <div class="span-3"><%= f.label :ambulance, "Ambulance Phone*" %></div>
  <div class="span-4 last"><%= f.text_field :ambulance, :class => "span-4" %></div>
</div>

<div class="span-7">
  <div class="span-3"><%= f.label :medical_equipment_in_the_home, "Medical equipment in the home*" %></div>
  <div class="span-4 last"><%= f.text_field :medical_equipment_in_the_home, :class => "span-4" %></div>
  <hr class="space /">
  
  <div class="span-3 last"><%= f.label :medications, "Medications*" %></div>
  <div class="span-7 last"><%= f.text_area :medications, :class => "span-7", :rows => 5 %></div>

  <div class="span-3 last"><%= f.label :allergies, "Drug Allergies*" %></div>
  <div class="span-7 last"><%= f.text_area :allergies, :class => "span-7", :rows => 5 %></div>
</div>

<div class="span-7 last">
  <div class="span-1"><%= f.check_box :diabetes %></div>
  <div class="span-6 last"><%= f.label :diabetes, "Diabetes" %></div>

  <div class="span-1"><%= f.check_box :cancer %></div>
  <div class="span-6 last"><%= f.label :cancer, "Cancer" %></div>

  <div class="span-1"><%= f.check_box :seizures %></div>
  <div class="span-6 last"><%= f.label :seizures, "Seizures" %></div>

  <div class="span-1"><%= f.check_box :stroke_cva_tia %></div>
  <div class="span-6 last"><%= f.label :stroke_cva_tia, "Stroke/CVA/TIA" %></div>

  <div class="span-1"><%= f.check_box :cardiac_history %></div>
  <div class="span-6 last"><%= f.label :cardiac_history, "Cardiac history" %></div>

  <div class="span-1"><%= f.check_box :pacemaker %></div>
  <div class="span-6 last"><%= f.label :pacemaker, "Pacemaker" %></div>

  <div class="span-3 last"><%= f.label :additional_info, "Additional Info" %></div>
  <div class="span-7 last"><%= f.text_area :additional_info, :class => "span-7", :rows => 5 %></div>
</div>
