<% content_for :js do %>
  <%= javascript_include_tag "jquery", "jquery-ui", :cache => true %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $(".datepicker").datepicker({
      showOn: 'both',
      buttonImage: '../../images/calendar_date_select/calendar.gif',
      buttonImageOnly: true,
      numberOfMonths: 3
    });
    show_when_dropdown_selected(document.getElementById('user_intake_group_id'));
    hide_when_checked(document.getElementById('user_intake_subscriber_is_user'), 'subscriber_profile');
    // TODO: DRY this
    hide_when_checked(document.getElementById('user_intake_no_caregiver_1'), 'caregiver1_profile');
    hide_when_checked(document.getElementById('user_intake_no_caregiver_2'), 'caregiver2_profile');
    hide_when_checked(document.getElementById('user_intake_no_caregiver_3'), 'caregiver3_profile');

    caregiver_extras_form(document.getElementById('user_intake_subscriber_is_caregiver'), 'caregiver_extras');
    
    <% if !current_user.is_super_admin? && @user_intake.submitted? %>
      $(".theme-body").find("input").attr('disabled','disabled');
      $(".theme-body").find("select").attr('disabled','disabled');
      $(".theme-body").find("textarea").attr('disabled','disabled');
    <% end %>
    
    document.getElementById('user_intake_bill_monthly_').checked = <%= !@user_intake.credit_debit_card_proceessed %>;
    document.getElementById('user_intake_credit_debit_card_proceessed_').checked = <%= @user_intake.credit_debit_card_proceessed %>;
  });

  </script>
  
<% end -%>
<% content_for :css do %>
<%= stylesheet_link_tag "screen", "myscreen", "jquery-ui", :media => "screen", :cache => true %>
<%= stylesheet_link_tag "print", :media => "print", :cache => true %>
<!--[if IE]>
<%= stylesheet_link_tag "ie", :media => "screen", :cache => true %>
<![endif]-->
<% end -%>
<div class="theme-body">
  <div class="theme-header">
    <p class="prepend-1 span-22 append-1"><%= @user_intake.new_record? ? "New" : "Edit" %> : myHalo User Intake Form</p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-22 last">

    <p class="textright hint">* Asterisk denotes fields that are optional for Halo Monitoring but may be required by Halo partners or affiliates</p>

    <!-- form -->
    <% form_for(@user_intake) do |f| %>

    <!-- errors block -->
    <div class="span-1">
      <%= f.hidden_field :created_by %>
      <%= f.hidden_field :updated_by %>
      <%= hidden_field_tag "user_intake_form_view" %>
    </div>
    <% unless @user_intake.errors.blank? %>
    <div class="error span-22 last">
      <%= f.error_messages :header_message => "Invalid user intake!",
      :message => "You'll need to correct the following errors:",
      :header_tag => :h3 %>
    </div>
    <br />
    <% end -%>

    <div class="span-22 last">
      <div class="span-6 <%= 'hidden' if @user_intake.group_id == Group.direct_to_consumer.id %>">
        <%= f.label :group_id, "Group" %>
        <%= f.select :group_id, @groups.collect {|p| [p.name, p.id]}, {:include_blank => "Choose a Group"}, :onchange => "show_when_dropdown_selected(this);" %>
      </div>

      <div class="span-16 last">
        <div class="span-8">
          <p>
            <%= f.label :installation_datetime, "Desired Installation Date:" %><br />
            <%= f.date_select :installation_datetime %>
          </p>
          <p>
            <%= f.label :gateway_serial, "Gateway Serial" %> (H2):<br />
            <%= f.text_field :gateway_serial, :class => "span-5" %>
          </p>
          <p>
            <%= f.label :transmitter_serial, "Transmitter Serial" %> (H1 or H5):<br />
            <%= f.text_field :transmitter_serial, :class => "span-5" %>
          </p>
        </div>

        <div class="span-8 last">
          <div class="span-3 text-right">Subscription Agreement:</div>
          <div class="span-5 last"><%= h( @user_intake.legal_agreement_at || 'Not agreed to online yet') %></div>
          <br><br>
          <div class="span-3 text-right">Download:</div>
          <% unless @user_intake.can_sign_agreement?(current_user) %>
          <div id="legal_agreement" class="span-5 last">
            <%= image_tag "pdf-icon-small.png" %>
            <%= link_to "Halo Subscriber Agreement", "/Halo_Subscriber_Agreement.pdf", :target => "_blank" %>
          </div>
          <% end %>
          <% if @user_intake.subscription_deferred? && @user_intake.senior.status == User::STATUS[:bill_pending] %>
          <strong>
            <% if @user_intake.order.product_cost.months_advance > 0 %>
            <div class="span-3 text-right">Already paid upto:</div>
            <div class="span-5 last"><%= @user_intake.pro_rata_start_date %></div>
            <% end %>
            <% if @user_intake.order.product_cost.months_trial > 0 %>
            <div class="span-3 text-right">Trial period ends:</div>
            <div class="span-5 last"><%= @user_intake.pro_rata_start_date %></div>
            <% end %>
          </strong>
          <% end %>
        </div>
      </div>
      <hr class="space" />
    </div>
    <hr />

    <!-- this class is "hidden" -->
    <div id="content" class="span-22 last">
      <div id="senior_profile" class="colborder span-10"> <!-- colborder takes one column -->      
        <% unless @user_intake.senior.blank? || @user_intake.senior.profile.blank? %>
        <% fields_for "user_intake[senior_attributes][profile_attributes]", @user_intake.senior.profile do |senior_form| %>
        <!-- senior profile details -->
        <%= render :partial => 'senior_profile', :locals => {:f => senior_form} %>
        <% end %>
        <% end %>

        <% fields_for "user_intake[senior_attributes]", @user_intake.senior do |senior_form| %>
        <!-- senior user details -->
        <% if current_user.is_super_admin? || current_user.is_admin? %>
        <div class="span-3">Demo User?</div>
        <div class="span-7 last"><%= senior_form.check_box :demo_mode %> <%= senior_form.label :demo_mode, "Check if user is demo only" %></div>
        <% end %>
        <% if current_user.is_super_admin? %>
        <div class="span-3">VIP User?</div>
        <div class="span-7 last"><%= senior_form.check_box :vip %> <%= senior_form.label :vip, "Check if user is VIP" %></div>        
        <% end %> 
        <div class="span-3"><%= senior_form.label :email %>:</div>
        <div class="span-7 last"><%= senior_form.text_field :email, :class => "span-7" %></div>
        <% end %>
      </div>

      <div class="span-11 last">
        <h3 class="textcenter">Billing Information (Responsible Person)</h3>

        <div class="span-3">&nbsp;</div>
        <div class="span-7 last">
          <%= f.check_box :subscriber_is_user, :checked => (@user_intake.subscribed_for_self? || @user_intake.senior_and_subscriber_match?), :onclick => "hide_when_checked(this, 'subscriber_profile');" %> <!--  -->
          <!-- , :onchange => update_page {|page| page[:subscriber_profile].toggle } -->
          <%= f.label :subscriber_is_user, "Same as User" %> 
        </div>
        <!-- hidden -->
        <div id="subscriber_profile" class="hidden">
          <div class="span-3">&nbsp;</div>
          <div class="span-7 last">
            <%= f.check_box :subscriber_is_caregiver, :onclick => "caregiver_extras_form(this, 'caregiver_extras');" %>
            <%= f.label :subscriber_is_caregiver, "Add as #1 Caregiver" %>
          </div>

          <% if !@user_intake.subscriber.blank? && !@user_intake.subscriber.profile.blank? %>
          <% fields_for "user_intake[subscriber_attributes][profile_attributes]", @user_intake.subscriber.profile do |subscriber_form| %>
          <!-- subscriber profile details -->
          <%= render :partial => 'subscriber_profile', :locals => {:f => subscriber_form} %>
          <% end -%>

          <% fields_for "user_intake[subscriber_attributes]", @user_intake.subscriber do |subscriber_form| %>
          <!-- subscriber user details -->
          <div class="span-3"><%= subscriber_form.label :email %>:</div>
          <div class="span-7 last"><%= subscriber_form.text_field :email, :class => "span-7" %></div>
          <% end %>
          <% end %>

          <div class="span-3">&nbsp;</div>
          <div class="span-7 last">
            &nbsp;
            <% if current_user.is_super_admin? %>
            <div>
              <%= f.radio_button :credit_debit_card_proceessed, "", :onclick => "document.getElementById('user_intake_bill_monthly_').checked = false;" %>
              <label for="user_intake_credit_debit_card_proceessed_">Card</label>
            </div>
            <div>
              <%= f.radio_button :bill_monthly, "", :onclick => "document.getElementById('user_intake_credit_debit_card_proceessed_').checked = false;" %>
              <label for="user_intake_bill_monthly_">Manual Billing</label>
            </div>
            <% end %>
          </div>

          <!-- role attributes -->
          <div id="caregiver_extras" class="prepend-3 span-7 hidden">
            <p>Critical Alert Message Types<br />
            <%= f.check_box :caregiver1_email, :id => "subscriber_email_flag", :onclick => "$('#caregiver1_email_flag').attr('checked', this.checked);" %><%= f.label :caregiver1_email, "Email" %>
            <%= f.check_box :caregiver1_text, :id => "subscriber_text_flag", :onclick => "$('#caregiver1_text_flag').attr('checked', this.checked);" %><%= f.label :caregiver1_text, "Text" %>
            <!-- <%# fields_for "user_intake[caregiver1_role_options]", @user_intake.subscriber do |subscriber_form| %>
            <%#= render :partial => 'caregiver_role_options', :locals => {:f => subscriber_form} %>
            <%# end -%> -->
            </p>
          </div>
        </div>
      </div>
      <hr class="space" />
      <hr />

      <div class="span-22 last">
        <h3 class="textcenter">Caregiver Information (in order of notification)</h3>

        <!-- cycle for each caregiver -->
        <% @user_intake.caregivers.each_with_index do |caregiver, index| %>
        <div class="span-7 <%= 'border' unless caregiver == @user_intake.caregiver3 %>">
          <%= f.check_box "no_caregiver_#{index+1}".to_sym, :checked => @user_intake.hide_caregiver?( index+1), :onclick => "hide_when_checked(this, 'caregiver#{index+1}_profile')" %>
          <%= f.label "no_caregiver_#{index+1}".to_sym, "No Caregiver \##{index+1}" %>
          <hr class="space" />

          <div id="caregiver<%= index+1 %>_profile" class="hidden">

            <!-- caregiver profile -->
            <% fields_for "user_intake[caregiver#{index+1}_attributes][profile_attributes]", caregiver.profile do |caregiver_profile_form| %>
            <%= render :partial => 'caregiver_profile', :locals => {:f => caregiver_profile_form} %>
            <% end -%>

            <% fields_for "user_intake[caregiver#{index+1}_attributes]", caregiver do |caregiver_form| %>
            <!-- caregiver user details -->
            <div class="span-2"><%= caregiver_form.label :email %>:</div>
            <div class="span-5 last"><%= caregiver_form.text_field :email, :class => "span-5" %></div>
            <% end %>

            <!--  Wed Nov 10 01:10:46 IST 2010, ramonrails -->
            <!--  temporary checkboxes for 1.6.0 -->
            <div class="span-2">&nbsp;</div>
            <div class="span-5 last">
              <p>Critical Alert Message Types<br />
              <%= f.check_box "caregiver#{index+1}_email", :id => "caregiver#{index+1}_email_flag", :onclick => "$('#subscriber_email_flag').attr('checked', $('#caregiver1_email_flag').attr('checked'));" %><%= f.label "caregiver#{index+1}_email", "Email" %>
              <%= f.check_box "caregiver#{index+1}_text", :id => "caregiver#{index+1}_text_flag", :onclick => "$('#subscriber_text_flag').attr('checked', $('#caregiver1_text_flag').attr('checked'));" %><%= f.label "caregiver#{index+1}_text", "Text" %>
              </p>
            </div>
            <!-- role attributes -->
            <!--
            <%# fields_for "user_intake[caregiver#{index+1}_role_options]", caregiver do |caregiver_form| %>
            <%#= render :partial => 'caregiver_role_options', :locals => {:f => caregiver_form} %>
            <%# end -%> -->

          </div>
        </div>
        <% end -%>
      </div>
      <hr class="space" />
      <hr />

      <div id="profile_options" class="span-22 last">
        <% if !@user_intake.senior.blank? && !@user_intake.senior.profile.blank? %>
        <% fields_for "user_intake[senior_attributes][profile_attributes]", @user_intake.senior.profile do |senior_form| %>
        <!-- senior profile details -->
        <%= render :partial => 'senior_profile_options', :locals => {:f => senior_form} %>
        <% end %>
        <% end %>
      </div>
      <hr />

      <div class="span-22 last">
        <%= render :partial => 'signature', :locals => { :f => f } %>
      </div>

      <div class="span-22 last text-center">
        <% if current_user.is_super_admin? || ((@user_intake.users.include?( current_user) || current_user.is_admin_of?( @user_intake.group) || !current_user.is_halouser?) && !@user_intake.submitted?) %>
          <%= f.submit "Save", :class => "button blue-button", :id => "user_intake_save" %>
          <%= f.submit @user_intake.senior.submit_button_text , :class => "button #{@user_intake.senior.status_button_color}-button", :id => "user_intake_submit" %>
        <% end %>
      </div>
      <div class="span-22 last prepend-top text-center">
        <%= render :partial => "status_timestamps", :locals => { :user_intake => @user_intake } %>
      </div>
    </div>
    <% end -%> <!-- form -->

  </div>
  <div style="clear:both"></div>
  <div class="theme-footer"></div>
</div>

<script type="text/javascript" charset="utf-8">
function caregiver_extras_form(checkbox, form)
{
  if(checkbox.checked == true)
  {
    document.getElementById(form).style.display = 'block';
    document.getElementById('user_intake_no_caregiver_1').checked = true;
    document.getElementById('caregiver1_profile').style.display = 'none';
    document.getElementById('user_intake_no_caregiver_1').disabled = true;
  }
  else
  {
    document.getElementById(form).style.display = 'none';
    document.getElementById('user_intake_no_caregiver_1').disabled = false;
  }
}
</script>
