<!--tr class="<%= 'background-red' unless user_intake_row.senior && user_intake_row.senior.status == User::STATUS[:install_pending] %>"-->
<tr>
  <td><%= check_box_tag "selected[#{user_intake_row.id}]" %></td>
  <% if current_user.is_super_admin? %>
  <td><%= link_to user_intake_row.id, user_intake_row %></td>
  <td>
    <% if user_intake_row.emailed_on.blank? %>
      <%= link_to image_tag("email.png", :alt => "Send Email to SafetyCare", :title => "Send Email to SafetyCare"), :controller => 'users', :action => 'send_caregiver_details', :id => user_intake_row.senior.id unless user_intake_row.senior.blank? %>
    <% else %>
      <%= link_to image_tag("email.png", :alt => "Send Email to SafetyCare again. Last: #{user_intake_row.emailed_on}", :title => "Send Email to SafetyCare again. Last: #{user_intake_row.emailed_on}"), :controller => 'users', :action => 'send_caregiver_details', :id => user_intake_row.senior.id unless user_intake_row.senior.blank? %>
    <% end %>
  </td>
  <% end %>
  <td><%= user_intake_row.senior.id rescue '?' %></td>
  <td><%= user_intake_row.senior.name rescue '?' %></td>
  <td class="text-center"><span class="timestamp"><%= user_intake_row.installation_datetime || image_tag('exclamation.png') %></span></td>
  <td>
    <% if user_intake_row.credit_debit_card_proceessed %>
      <% if user_intake_row.order && user_intake_row.order.subscription_successful? %>
        <%= image_tag "tick.png", :alt => "Credit/Debit Card Processed", :title => "Credit/Debit Card Processed" %>
      <% else %>
        <% if user_intake_row.senior.submit_button_text != User::STATUS_BUTTON_TEXT[:bill_pending] || current_user.is_super_admin? %>
          <%= link_to image_tag('warning_go.png', :alt => "Click to charge subscription on credit card", :title => "Click to charge subscription on credit card"), {:controller => 'user_intakes', :action => 'charge_subscription', :id => user_intake_row.id} %>
        <% end %>
      <% end %>
    <% elsif user_intake_row.bill_monthly %>
      <%= image_tag("calendar-month.png", :alt => "Manual Billing", :title => "Manual Billing") %>
    <% else %>
      <%= image_tag('exclamation.png') %>
    <% end %>
  </td>
  <% if current_user.is_super_admin? %>
  <td class="text-center">
    <% if user_intake_row.legal_agreement_at.blank? %>
      <% if user_intake_row.paper_copy_submitted_on.blank? %>
        <%= link_to image_tag("exclamation.png", :alt => "Update the date of paper copy submission", :title => "Update the date of paper copy submission"), :controller => "user_intakes", :action => "paper_copy_submission", :id => user_intake_row.id %>
      <% else %>
        <%= image_tag("script.png", :alt => "Paper copy submitted on #{user_intake_row.paper_copy_submitted_on}", :title => "Paper copy submitted at #{user_intake_row.paper_copy_submitted_on}") %>
      <% end %>
    <% else %>
      <%= image_tag("tick.png", :alt => "Submitted online at #{user_intake_row.legal_agreement_at}", :title => "Submitted online at #{user_intake_row.legal_agreement_at}" ) %>
    <% end %>
  </td>
  <% end %>
  <td class="text-center">
    <% if user_intake_row.order_id.blank? %>
      <%= image_tag('exclamation.png') %>
    <% else %>
      <%= link_to user_intake_row.order_id,:controller => 'orders',:action => 'index',:id => user_intake_row.order_id %>
    <% end %>
  </td>
  <td class="text-center">
    <% if user_intake_row.senior.blank? %>
      <%= image_tag('exclamation.png') %>
    <% else %>
      <% if user_intake_row.senior.chest_strap %>
        <%= "CS: "+ user_intake_row.senior.chest_strap.serial_number %>
      <% else %>
        <% if user_intake_row.senior.belt_clip %>
          <%= "BC: "+ user_intake_row.senior.belt_clip.serial_number %>
        <% else %>
          <%= image_tag('exclamation.png') %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td class="text-center"><%= (user_intake_row.senior && user_intake_row.senior.gateway) ? ("GW: "+ user_intake_row.senior.gateway.serial_number) : image_tag('exclamation.png') %></td>
  <% if current_user.is_super_admin? %>
    <td><span class="call_center_id"><%= link_to ((user_intake_row.senior.blank? || user_intake_row.senior.call_center_account.blank?) ? image_tag("warning_go.png") : user_intake_row.senior.call_center_account), {:controller => "user_intakes", :action => "safety_care_account_creation", :id => user_intake_row.id}  %></span></td>
    <td><%= image_tag( user_intake_row.dial_up_numbers_ok? ? "tick.png" : "exclamation.png") %></td>
  <% end %>
  <td class="text-center">
    <% unless user_intake_row.senior.blank? %>
      <%= link_to ((user_intake_row.senior.status_index == :pending) ? 'Not Submitted' : user_intake_row.senior.status), edit_user_intake_path(user_intake_row), :class => "span-2 button small #{user_intake_row.senior.status_button_color}-button", :id => "edit_link" %>
      <%= "<br /><span class='timestamp'>#{user_intake_row.senior.status_timestamps(:installed)}</span>" unless user_intake_row.senior.status_timestamps(:installed).blank? %>
    <% end %>
  </td>
  <td class="text-center">
  <!--% if user_intake_row.group_id == Group.direct_to_consumer.id %-->
    <% if user_intake_row.shipped_at.blank? %>
      <%= link_to image_tag('warning_go.png'), :controller => "user_intakes", :action => "shipped", :id => user_intake_row.id %>
    <% else %>
      <span class="timestamp"><%= h user_intake_row.shipped_at %></span>
    <% end %>
  <!--% end %-->
  </td>
  <td class="text-center"><%= user_intake_row.creator ? user_intake_row.created_by_user_name : image_tag('exclamation.png') %></td>
  <td><%= link_to image_tag( "note.png", :alt => "Notes", :title => "Notes"), { :controller => "triage_audit_logs", :id => user_intake_row.senior.id} if !user_intake_row.senior.blank? %></td>
  <td><%= link_to image_tag( "briefcase.png", :alt => "Audit", :title => "Audit" ), user_audits_path( user_intake_row.senior), {:id => "audit_log"} %></td>
  
<% 
=begin %>
  <td class="timestamp span-3"><%= user_intake_row.created_at ? UtilityHelper.format_datetime(user_intake_row.created_at,current_user) : image_tag('exclamation.png') %></td>
  <td class="timestamp span-3">
    <% if user_intake_row.updated_at %>
      <% if user_intake_row.locked? %>
        <%= link_to UtilityHelper.format_datetime(user_intake_row.updated_at,current_user), user_intake_row %>
      <% else %>
        <%= h UtilityHelper.format_datetime(user_intake_row.updated_at,current_user) %>
      <% end %>
    <% else %>
      <%= image_tag('exclamation.png') %>
    <% end %>
  </td>
<% 
=end %>
</tr>
