<% content_for :js do %>
<%= javascript_include_tag "jquery", "jquery-ui", :cache => true %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".datepicker").datepicker({
    showOn: 'both',
    buttonImage: '../../images/calendar_date_select/calendar.gif',
    buttonImageOnly: true,
    numberOfMonths: 3
  });
  show_when_dropdown_selected(document.getElementById('user_intake_group_id'));
  hide_when_checked(document.getElementById('user_intake_subscriber_is_user'), 'subscriber_profile');
  // TODO: DRY this
  hide_when_checked(document.getElementById('user_intake_no_caregiver_1'), 'caregiver1_profile');
  hide_when_checked(document.getElementById('user_intake_no_caregiver_2'), 'caregiver2_profile');
  hide_when_checked(document.getElementById('user_intake_no_caregiver_3'), 'caregiver3_profile');
});
</script>
<% end -%>
<% content_for :css do %>
<%= stylesheet_link_tag "screen", "myscreen", "jquery-ui", :media => "screen", :cache => true %>
<%= stylesheet_link_tag "print", :media => "print", :cache => true %>
<!--[if IE]>
<%= stylesheet_link_tag "ie", :media => "screen", :cache => true %>
<![endif]-->
<% end -%>
<% if current_user.is_super_admin? or current_user.is_admin? %>
<%= link_to '<< Return to all User Intake forms', user_intakes_path %><br><br>
<% end %>
<div class="theme-body">
  <div class="theme-header">
    <p class="prepend-1 span-22 append-1"><%= @user_intake.new_record? ? "New" : "Edit" %> : myHalo User Intake Form</p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-22 last">

    <p class="textright hint">* Asterisk denotes fields that are optional for Halo Monitoring but may be required by Halo partners or affiliates</p>

    <!-- form -->
    <% form_for(@user_intake) do |f| %>

    <!-- errors block -->
    <div class="span-1">
      <%= f.hidden_field :created_by %>
      <%= f.hidden_field :updated_by %>
      <%= hidden_field_tag "user_intake_form_view" %>
    </div>
    <% unless @user_intake.errors.blank? %>
    <div class="error span-22 last">
      <%= f.error_messages :header_message => "Invalid user intake!",
      :message => "You'll need to correct the following errors:",
      :header_tag => :h3 %>
    </div>
    <br />
    <% end -%>

    <div class="span-22 last">
      <div class="span-6 <%= 'hidden' if @user_intake.group_id == Group.direct_to_consumer.id %>">
        <%= f.label :group_id, "Group" %>
        <%= f.select :group_id, @groups.collect {|p| [p.name, p.id]}, {:include_blank => "Choose a Group"}, :onchange => "show_when_dropdown_selected(this);" %>
      </div>

      <div class="span-16 last">
        <div class="span-8">
          <table>
            <tr>
              <td><%= f.label :installation_datetime, "Desired Installation date:" %></td>
              <td><%= f.text_field :installation_datetime, :class => "span-5 datepicker" %></td>
            </tr>
            <tr>
              <td><%= f.label :gateway_serial, "Gateway Serial" %>:</td>
              <td><%= f.text_field :gateway_serial, :class => "span-5" %></td>
            </tr>
            <tr>
              <td><%= f.label :transmitter_serial, "Transmitter Serial" %>:</td>
              <td><%= f.text_field :transmitter_serial, :class => "span-5" %></td>
            </tr>
          </table>
        </div>

        <div class="span-8 last">
          <div class="span-3 text-right">Agreed at:</div>
          <div class="span-5 last"><%= h( @user_intake.legal_agreement_at || 'Not signed yet') %></div>

          <div class="span-3 text-right">Download:</div>
          <% unless @user_intake.can_sign_agreement?(current_user) %>
          <div id="legal_agreement" class="span-5 last">
            <%= image_tag "pdf-icon-small.png" %>
            <%= link_to "Halo Subscriber Agreement", "/Halo_Subscriber_Agreement.pdf", :target => "_blank" %>
          </div>
          <% end %>
        </div>
      </div>
      <hr class="space" />
    </div>
    <hr />

    <!-- this class is "hidden" -->
    <div id="content" class="span-22 last">
      <div id="senior_profile" class="colborder span-10"> <!-- colborder takes one column -->      
        <% if !@user_intake.senior.blank? %>
        <% if !@user_intake.senior.profile.blank? %>
        <% fields_for "user_intake[senior_attributes][profile_attributes]", @user_intake.senior.profile do |senior_form| %>
        <!-- senior profile details -->
        <%= render :partial => 'senior_profile', :locals => {:f => senior_form} %>
        <% end %>
        <% end %>

        <% fields_for "user_intake[senior_attributes]", @user_intake.senior do |senior_form| %>
        <!-- senior user details -->
        <div class="span-3">Demo User?</div>
        <div class="span-7 last"><%= senior_form.check_box :demo_mode %> <%= senior_form.label :demo_mode, "Check if user is demo only" %></div>
        <div class="span-3"><%= senior_form.label :email %>:</div>
        <div class="span-7 last"><%= senior_form.text_field :email, :class => "span-7" %></div>
        <% end %>
        <% end %>
      </div>

      <div class="span-11 last">
        <h3 class="textcenter">Billing Information (Responsible Person)</h3>

        <div class="span-3">&nbsp;</div>
        <div class="span-7 last">
          <%= f.check_box :subscriber_is_user, :checked => (@user_intake.subscribed_for_self? || @user_intake.senior_and_subscriber_match?), :onclick => "hide_when_checked(this, 'subscriber_profile');" %> <!--  -->
          <!-- , :onchange => update_page {|page| page[:subscriber_profile].toggle } -->
          <%= f.label :subscriber_is_user, "Same as User" %> 
        </div>
        <!-- hidden -->
        <div id="subscriber_profile" class="hidden">
          <div class="span-3">&nbsp;</div>
          <div class="span-7 last">
            <%= f.check_box :subscriber_is_caregiver, :onclick => "caregiver_extras_form(this, 'caregiver_extras');" %>
            <%= f.label :subscriber_is_caregiver, "Add as #1 Caregiver" %>
          </div>

          <% if !@user_intake.subscriber.blank? && !@user_intake.subscriber.profile.blank? %>
          <% fields_for "user_intake[subscriber_attributes][profile_attributes]", @user_intake.subscriber.profile do |subscriber_form| %>
          <!-- subscriber profile details -->
          <%= render :partial => 'subscriber_profile', :locals => {:f => subscriber_form} %>
          <% end -%>

          <% fields_for "user_intake[subscriber_attributes]", @user_intake.subscriber do |subscriber_form| %>
          <!-- subscriber user details -->
          <div class="span-3"><%= subscriber_form.label :email %>:</div>
          <div class="span-7 last"><%= subscriber_form.text_field :email, :class => "span-7" %></div>
          <% end %>
          <% end %>

          <div class="span-3">&nbsp;</div>
          <div class="span-7 last">
            &nbsp;
            <% if current_user.is_super_admin? %>
            <div>
              <%= f.radio_button :card_or_bill, "Card" %>
              <%= f.label :card_or_bill_card, "Card" %>
            </div>
            <div>
              <%= f.radio_button :card_or_bill, "Manual" %>
              <%= f.label :card_or_bill_bill, "Manual Billing" %>
            </div>
            <% end %>
          </div>

          <!-- role attributes -->
          <div id="caregiver_extras" class="prepend-3 span-7 hidden">
            <% fields_for "user_intake[mem_caregiver1_options]", @user_intake.subscriber do |subscriber_form| %>
            <%= render :partial => 'caregiver_role_options', :locals => {:f => subscriber_form} %>
            <% end -%>
          </div>
        </div>
      </div>
      <hr class="space" />
      <hr />

      <div class="span-22 last">
        <h3 class="textcenter">Caregiver Information (in order of notification)</h3>

        <!-- cycle for each caregiver -->
        <% @user_intake.caregivers.each_with_index do |caregiver, index| %>
        <div class="span-7 <%= 'border' unless caregiver == @user_intake.caregiver3 %>">
          <%= f.check_box "no_caregiver_#{index+1}".to_sym, :checked => @user_intake.send("no_caregiver_#{index+1}".to_sym), :onclick => "hide_when_checked(this, 'caregiver#{index+1}_profile')" %>
          <%= f.label "no_caregiver_#{index+1}".to_sym, "No Caregiver \##{index+1}" %>
          <hr class="space" />

          <div id="caregiver<%= index+1 %>_profile" class="hidden">

            <!-- caregiver profile -->
            <% fields_for "user_intake[caregiver#{index+1}_attributes][profile_attributes]", caregiver.profile do |caregiver_profile_form| %>
            <%= render :partial => 'caregiver_profile', :locals => {:f => caregiver_profile_form} %>
            <% end -%>

            <% fields_for "user_intake[caregiver#{index+1}_attributes]", caregiver do |caregiver_form| %>
            <!-- caregiver user details -->
            <div class="span-2"><%= caregiver_form.label :email %>:</div>
            <div class="span-5 last"><%= caregiver_form.text_field :email, :class => "span-5" %></div>
            <% end %>

            <!-- role attributes -->
            <% fields_for "user_intake[mem_caregiver#{index+1}_options]", caregiver do |caregiver_form| %>
            <%= render :partial => 'caregiver_role_options', :locals => {:f => caregiver_form} %>
            <% end -%>

          </div>
        </div>
        <% end -%>
      </div>
      <hr class="space" />
      <hr />

      <div id="profile_options" class="span-22 last">
        <% if !@user_intake.senior.blank? && !@user_intake.senior.profile.blank? %>
        <% fields_for "user_intake[senior_attributes][profile_attributes]", @user_intake.senior.profile do |senior_form| %>
        <!-- senior profile details -->
        <%= render :partial => 'senior_profile_options', :locals => {:f => senior_form} %>
        <% end %>
        <% end %>
      </div>
      <hr class="space" />
      <hr />

      <div class="span-22 last">
        <%= render :partial => 'signature', :locals => { :f => f } %>
      </div>
      <hr class="space" />
      <hr />

      <div class="span-22 last"><%= render :partial => 'attribute_status_messages' %></div>
      <div class="span-22 last text-center">
        <% if current_user.is_super_admin? || @user_intake.users.include?( current_user) || current_user.is_admin_of?( @user_intake.group) %>
        <%= f.submit "Save", :class => "button blue-button", :id => "user_intake_save" %>
        <%= f.submit @user_intake.senior.submit_button_text , :class => "button #{@user_intake.senior.status_button_color}-button", :id => "user_intake_submit" %>
        <% end %>
      </div>
      <div class="span-22 last prepend-top text-center">
        <%= render :partial => "status_timestamps", :locals => { :user_intake => @user_intake } %>
      </div>
    </div>
    <% end -%> <!-- form -->

  </div>
  <div style="clear:both"></div>
  <div class="theme-footer"></div>
</div>

<script type="text/javascript" charset="utf-8">
function caregiver_extras_form(checkbox, form)
{
  if(checkbox.checked == true)
  {
    document.getElementById(form).style.display = 'block';
    document.getElementById('user_intake_no_caregiver_1').checked = true;
    document.getElementById('caregiver1_profile').style.display = 'none';
    document.getElementById('user_intake_no_caregiver_1').disabled = true;
  }
  else
  {
    document.getElementById(form).style.display = 'none';
    document.getElementById('user_intake_no_caregiver_1').disabled = false;
  }
}
</script>
