<h3>User Intakes</h3> 
<div class="span-11 box text-right background-yellow">
  <% form_tag url_for(:controller => "user_intakes", :action => "index", :group_name => @group_name), :method => :get, :id => "group_form_id" do %>
  <div class="span-7">
    For <label for="group_name">Group</label>
    <%= select_tag 'group_name', options_for_select(  (current_user.is_super_admin? ? [['All Groups','']] : []) + @groups.collect {|e| [e.name, e.name] }, @group_name) %>

    <% if false %>
    <%= select_tag "user_intake_status", options_for_select([['Saved or Submitted', ''], ['Saved', 'Saved'], ['Submitted', 'Submitted']], @user_intake_status) %>

    <br />with user identity matching <%= text_field_tag "user_identity", @user_identity %>
    <% end %>
  </div>

  <div class="span-2 last prepend-top"><%= submit_tag "Search", :id => "user_intake_search", :class => "button white-button medium" %></div>
  <% end %>
</div>
<div class="span-11 last box background-blue">
  <div class="span-7"><%= text_area_tag "user_intake_note", nil, :rows => 1, :class => "span-7" %></div>
  <div><%= submit_tag "Add Note\nfor selected users", {:class => "button blue-button medium"} %></div>
</div>

<%= render :partial => 'user_intake_overview' %>

<div class="span-12"><%= will_paginate @user_intakes %></div>
<div class="span-12 last text-right">
  <% if current_user.is_super_admin? || current_user.is_retailer? %>
  <%= link_to "New User Intake", new_user_intake_path, :class => "button blue-button" %>
  <% end %>
</div>