<!-- <meta http-equiv="refresh" content="30"> -->
<!-- <meta http-equiv="refresh" content="30"> -->
<h3>User Intake Forms</h3> 
<div class="span-24 box" style="margin-bottom:15px;padding:5px">
<div class="span-24 last">
  <%= '<font color="red">' + flash[:notice] + '</font><br><br>' if flash[:notice] %>
<form id="group_form_id" action="/user_intakes/index_fast" method="GET">
  <table>
    <tr>
      <td>
        Select <label for="group_name">Group</label>:
        <%= select_tag 'search[group_name]', options_for_select( @group_names, (@group.name unless @group.blank?)) %> <br />
      </td>
      <td>
        Select <label for="status_name">Status</label>:
        <%= select_tag 'search[status]', options_for_select( @statuses, @status) %> <br />
      </td>
      <td>
        <label for="search[q]">Search phrase</label>
        <%= text_field_tag "search[q]", @q %><br />
        <span class="tiny">Search UID, name</span>
      </td>
      <td>
        <%= submit_tag "Search", :class => "button small green-button" %>
      </td>
    </tr>
  </table>
  <div>
  </div>    
</form>
</div>  
</div>
<div class="span-24 last">
  <% form_tag add_notes_user_intakes_path, :method => :post do %>
  <table class="bluegrey">
    <tr>
      <% if current_user.is_super_admin? %>
      <th class="span-1">Id</th>
      <% end %>
      <th class="span-1">UID</th>
      <th class="span-4"><%= image_tag "profile.png", :alt => "Senior", :title => "Senior" %>&nbsp;Name</th>
      <th>Status</th>
      <th>Group</th>   
      <th>Shipped On</th>      
      <th>Updated At</th>
    </tr>
    <%= render :partial => 'fastintake', :collection => @user_intakes %>
  </table>
  <% end %>
</div>
<div class="span-12"><%= will_paginate @user_intakes %></div>
<% if current_user.is_super_admin? || current_user.is_retailer? %>
<div class="span-12 last text-right">
  <%= link_to "New User Intake", new_user_intake_path, :class => "button blue-button" %>
</div>
<% end %>