<% unless @user_intake.agreement_signed? %>
  <div id="user_intake_legal_agreement">
    <%= render :partial => "shared/subscriber_agreement" %>
  </div>
<% end %>

<% if current_user.is_super_admin? %>
<div class="container">
  <hr />
  
    <div id="user_intake_details">
      <h2>User Intake: <%= @user_intake.id %></h2>

      <ul>
        <li>
          Submitted at
          <% if @user_intake.submitted? %>
            <span class="timestamp"><%= h @user_intake.submitted_at %></span>
          <% end %>
        </li>
        <li>
          <label>Group</label>
          <%= h @user_intake.group_name %>
        </li>
        <li>
          <label>Kit Serial#</label>
          <%= h @user_intake.kit_serial_number %>
        </li>
      </ul>
    </div>

    <div class="box">
      <h2>User Intake properties</h2>
      <%= hash_to_html( @user_intake.attributes) %>
    </div>

    <table>
      <% [:group, :senior, :subscriber, :caregiver1, :caregiver2, :caregiver3].each do |attribute| %>
      <tr>
        <td>
          <div class="box">
            <h2><%= attribute %></h2>
            <%= hash_to_html( @user_intake.send( attribute).attributes) if @user_intake.send( attribute) && !@user_intake.send( attribute).new_record? %>
          </div>
        </td>
        
        <td>
          <% unless attribute == :group %>
          <div class="box">
            <h3><%= attribute %> Profile:</h3>
            <%= hash_to_html( @user_intake.send( attribute).profile.attributes) if !@user_intake.send( attribute).blank? && !@user_intake.send( attribute).new_record? && !@user_intake.send( attribute).profile.blank? %>
          </div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    
</div>
<% end %>
