<div id="user_intake_legal_agreement">
  <%= render :partial => "shared/subscriber_agreement" %>
</div>

<% if current_user.is_super_admin? %> <% # || current_user.is_halouser? || @user_intake.users.include?( current_user) %>
<div class="container">
  <hr />

  <div id="user_intake_details">
    <h2>User Intake: <%= @user_intake.id %></h2>

    <ul>
      <% [:group_name, :submitted_at, :kit_serial_number, :gateway_serial, :transmitter_serial].each do |_attribute| %>
      <li>
        <div class="span-3"><%= _attribute.to_s.humanize %></div>
        <div class="span-10 last">: <%= h @user_intake.send( _attribute) %></div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="prepend-1 span-24">

    <table>
      <tr>
        <td style="vertical-align:top;">
          <div class="box">
          <h2>User Intake properties</h2>
          <%= hash_to_html( @user_intake.attributes) %>
          </div>
        </td>
        <td style="vertical-align:top;">
          <div class="box">
          <h2>Group</h2>
          <%= hash_to_html( @user_intake.group.attributes) if @user_intake.group && !@user_intake.group.new_record? %>
          </div>
        </td>
      </tr>

      <tr>
        <% [:senior, :subscriber].each do |attribute| %>
        <td style="vertical-align:top;">
          <div class="box">
            <h2><%= attribute %></h2>
            <%= hash_to_html( @user_intake.send( attribute).attributes) if @user_intake.send( attribute) && !@user_intake.send( attribute).new_record? %>
          </div>

          <div class="box">
            <h3><%= attribute %> Profile:</h3>
            <%= hash_to_html( @user_intake.send( attribute).profile.attributes) if !@user_intake.send( attribute).blank? && !@user_intake.send( attribute).new_record? && !@user_intake.send( attribute).profile.blank? %>
          </div>
        </td>
        <% end %>
      </tr>

      <tr>
        <% [:caregiver1, :caregiver2, :caregiver3].each do |attribute| %>
        <td style="vertical-align:top;">
          <div class="box">
            <h2><%= attribute %></h2>
            <%= hash_to_html( @user_intake.send( attribute).attributes) if @user_intake.send( attribute) && !@user_intake.send( attribute).new_record? %>
          </div>

          <% unless attribute == :group %>
          <div class="box">
            <h3><%= attribute %> Profile:</h3>
            <%= hash_to_html( @user_intake.send( attribute).profile.attributes) if !@user_intake.send( attribute).blank? && !@user_intake.send( attribute).new_record? && !@user_intake.send( attribute).profile.blank? %>
          </div>
          <% end %>
        </td>
        <% end %>
      </tr>

    </table>
  </div>

</div>
<% end %>
