<%= form_remote_tag :update => "notes_#{@event_id}", :url => url_for(:action => 'save_note')  %>
<input type="hidden" name="user_id" value="<%= @user_id %>"/>
<input type="hidden" name="event_id" value="<%= @event_id %>"/>

<%= text_area_tag :notes %>
<%= submit_tag 'Save Note' %>
</form>
<%= link_to 'User Notes', :action => 'all_user_notes', :id => @user_id %>
<%= link_to 'Event Notes', :action => 'all_event_notes', :id => @event_id %>