<div><b><font color="white"><%= @call_center_step.script %></font></b></div>
<br />
<br />
<br />
<%= form_remote_tag :url => url_for(:controller => 'call_center', :action => 'script_note_save')  %>
	<input type="hidden" name="step_id" value="<%= @call_center_step.id %>" />
<%= text_area_tag :script_note,  @call_center_step.notes, :cols => 25, :rows => 7 %>
<input type="submit" name="Save Note" value="Save Note" />
</form>
<br />
<br />
<br />
  <a href="#" onclick="step('Yes',<%=@call_center_step.id %>);">Yes</a>
&nbsp;&nbsp;--&nbsp;&nbsp;
  <a href="#" onclick="step('No',<%=@call_center_step.id %>);">No</a>
