<font color="white"><div><b><%= @call_center_step.script %></b></div>
<br />
<br />
<br />
  <button style="font-size: x-large;" onclick="step('Yes',<%=@call_center_step.id %>);">Yes</button>
&nbsp;&nbsp;--&nbsp;&nbsp;
  <button style="font-size: x-large;" onclick="step('No',<%=@call_center_step.id %>);">No</button>
<br />
<br />
<% if !@call_center_step.previous_call_center_step_id.blank? %>
  <a href="#" onclick="previous_step(<%=@call_center_step.previous_call_center_step_id %>)">Previous</a>
<% end %>
<br />
<br />
<br />
(Notes are optional)
<div id="notes_text">
<%= @call_center_step.notes %>
<br />
<a href="#" onclick="$('notes_text').hide();$('notes').show();">Edit Notes</a>
</div>
<div style="display: none;" id="notes">
<%= form_remote_tag :url => url_for(:controller => 'call_center', :action => 'script_note_save')  %>
	<input type="hidden" name="step_id" value="<%= @call_center_step.id %>" />
<%= text_area_tag :script_note,  @call_center_step.notes, :cols => 30, :rows => 7 %>
<br />
<br />
<input type="submit" name="Save Note" value="Save Note" />
</form>
</div>
</font>