<font color="white"><div><b><%= @call_center_step.script %></b></div>
<br />
<br />
<br />
<% unless /Call Center Overview/ =~ @call_center_step.script %>
<% unless /Resolve/ =~ @call_center_step.script  %>
  <% if @call_center_step.question_key != 'THANK YOU' || /Goodbye/ =~ @call_center_step.script %>
  <button style="font-size: x-large;" onclick="$('note_save').click();step('Yes',<%=@call_center_step.id %>);">Yes</button>
&nbsp;&nbsp;--&nbsp;&nbsp;
  <button style="font-size: x-large;" onclick="$('note_save').click();step('No',<%=@call_center_step.id %>);">No</button>
  <% else %>
  <button style="font-size: x-large;" onclick="$('note_save').click();step('Yes',<%=@call_center_step.id %>);">Continue</button>
  <% end %>
<br />
<br />
<% end %>
<% end %>

<% if !@call_center_step.previous_call_center_step_id.blank? %>
  <a href="#" style="color: white;" onclick="previous_step(<%=@call_center_step.previous_call_center_step_id %>)">Previous</a>
<% end %>
<br />
<br />
<br />
<% if @call_center_step.notes.blank? %>
  
  <div id="notes">
  <%= form_remote_tag :url => url_for(:controller => 'call_center', :action => 'script_note_save')  %>
  	<input type="hidden" name="step_id" value="<%= @call_center_step.id %>" />
  <%= text_area_tag :script_note,  @call_center_step.notes, :cols => 30, :rows => 7 %>
  <br />
  <br />
  <input id="note_save" type="submit" name="Save Note" value="Save Note" />
  </form>
  </div>
  
  <div style="display: none;" id="notes_text">
  <%= @call_center_step.notes %>
  <br />
  <a href="#" onclick="$('notes_text').hide();$('notes').show();">Edit Notes</a>
  </div>
  (Notes are optional)
  
<% else %>

<div style="display: none;" id="notes">
<%= form_remote_tag :url => url_for(:controller => 'call_center', :action => 'script_note_save')  %>
	<input type="hidden" name="step_id" value="<%= @call_center_step.id %>" />
<%= text_area_tag :script_note,  @call_center_step.notes, :cols => 30, :rows => 7 %>
<br />
<br />
<input id="note_save" type="submit" name="Save Note" value="Save Note" />
</form>
</div>

<div id="notes_text">
<%= @call_center_step.notes %>
<br />
<a href="#" onclick="$('notes_text').hide();$('notes').show();">Edit Notes</a>
</div>
(Notes are optional)
<% end %>
</font>