<span style="font-size: large">
	<% if action = @event.accepted? 
	count = 1
%>
	<%= @event.user.name %> (<a target="_blank" href="/chart/flex/<%= @event.user.id %>">Chart</a>) <b><%= @event.event_type %></b> Accepted by <%=action.user.name%> at <%=UtilityHelper.format_datetime_readable(action.created_at,current_user)%>
	
	<% if current_user.id == action.user_id %>
	<ol>
		<%	user = @event.user
			caregivers = user.active_caregivers
			caregivers.each do |caregiver|  %>
		<li>Call Caregiver #<%= caregiver.position %> <%=caregiver.contact_info%> -- Notes <%= link_to_remote '+', 
																										:update => "text_#{count}", 
																										:url => {
																												:action => 'init_script_note',
																												:controller => 'call_center',
																												:step => count,
																												:id => @event.id
																												}%>
																							<%= link_to_remote '-', 
																										:update => "text_#{count}", 
																										:url => {
																												:action => 'close_script_note',
																												:controller => 'call_center',
																												:step => count,
																												:id => @event.id
																												}%>
																												</li>
		
		<div id="text_<%= count %>"></div>
		<% count += 1%>
		<br /><br />
	<% end %>
	  <li>Call User <%= user.contact_info %>  -- Notes  <%= link_to_remote '+', 
																	:update => "text_#{count}", 
																	:url => {
																			:action => 'init_script_note',
																			:controller => 'call_center',
																			:step => count,
																			:id => @event.id
																			}%>
														<%= link_to_remote '-', 
																	:update => "text_#{count}", 
																	:url => {
																			:action => 'close_script_note',
																			:controller => 'call_center',
																			:step => count,
																			:id => @event.id
																			}%>
																			</li>
																			
	  <div id="text_<%= count %>"></div>
	  <% count += 1%>
	  <br /><br />
	  <li>Please click <%=link_to "here to Resolve", :action => "resolved", :id => @event.id %> the event on the Halo website.  --  Notes  <%= link_to_remote '+', 
																							:update => "text_#{count}", 
																							:url => {
																									:action => 'init_script_note',
																									:controller => 'call_center',
																									:step => count,
																									:id => @event.id
																									}%>
																									<%= link_to_remote '-', 
																							:update => "text_#{count}", 
																							:url => {
																									:action => 'close_script_note',
																									:controller => 'call_center',
																									:step => count,
																									:id => @event.id
																									}%>
																									</li>
	  <div id="text_<%= count %>"></div>
	  <% count += 1 %>
	  <br /><br />
	</ol>
	<% end %>
<% end %>
</span>