<% if action = @event.accepted? %>
	Accepted by <%=action.user.name%> at <%=UtilityHelper.format_datetime_readable(action.created_at,current_user)%>
	
	<% if current_user.id == action.user_id %>
	<ol>
		<%	user = @event.user
			caregivers = user.active_caregivers
			caregivers.each do |caregiver|  %>
		<li>Call Caregiver #<%= caregiver.position %><%=caregiver.contact_info%></li>
	<% end %>
	  <li>Call User <%= user.contact_info %>
	  <li>Please click here to resolve the event on the Halo website.</li>
	</ol>
	<% end %>
<% end %>