<!-- <meta http-equiv="refresh" content="30"> -->
<%=render :partial=>'/reporting/nav'%>

<h2>Crtical Event Log</h2>
All times are in <%= current_user.profile.time_zone if current_user.profile %> timezone <br>
<div class="table">
  <div class="row header">
    <div class="col-75">
      Event <br>Type <br><sub>(Oscope Start Msg ID)</sub>
    </div>

    <div class="col-125">
      Timestamp<br>Device
    </div>
    <div class="col-125">
      Timestamp<br>Server
    </div>
    <div class="col-150">
      Name
    </div>
    <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
    <div class="col-75">
      Chart
    </div>
    <div class="col-75">
      Notes
    </div>
    <% end %>
    <div class="col-150">
      False Alarm
    </div>
    <% if current_user.is_super_admin? %>
      <div class="col-125">
        Call Center Response
      </div>
    <% end %>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <% if event.event_type == 'CallCenterFollowUp' %>
        <div class="col-75">
          Follow Up
        </div>
      <% else %>
      <div class="col-75">
        <%=event.event_type%>&nbsp;
        <% if current_user.is_super_admin? || current_user.is_admin? %>
        <% if event.event_type == 'Fall' %>
          <% oscope_start = OscopeStartMsg.find_by_timestamp_and_user_id(event.timestamp, event.user_id) %>
          <% if oscope_start %>
            <br>(<%= link_to ("#{oscope_start.id}", :controller => 'oscopes', :action => 'csv', :id => oscope_start.id) %>)
          <% end %>
        <% end %>
        <% end %>
      </div>
      <% end %>
      <div class="col-125">
        <%= event.timestamp.in_time_zone.to_s(:date_time_seconds) %>
      </div>
      <div class="col-125">
        <% if(event[:timestamp_server] == nil) %>
          No timestamp
        <% else %>
		  <%= event[:timestamp_server].in_time_zone.to_s(:date_time_seconds) %>
          <!--%= UtilityHelper.format_datetime(event[:timestamp_server],current_user) %-->
        <% end %>
      </div>
      <div class="col-150">
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
        <a href="/call_list/show/<%=event.user[:id]%>"><%=event.user.name%></a> (<%=event.user.id%>)
      <% else %>
        <%= event.user.name %> (<%= event.user.id %>)
      <% end %>
      </div>
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
      <div class="col-75">
        <a target="_blank" href="/chart/flex/<%= event.user.id %>">Chart</a>
      </div>
      <div class="col-75" id="false_test_<%=event.id %>">
        <%= link_to_remote '+', :update => "notes_#{event.id}", :url => {:action => 'toggle_note', :new_note => true, :event_id => event.id, :user_id => event.user.id }%>
        &nbsp;
        <%= link_to_remote '-', :update => "notes_#{event.id}", :url => {:action => 'toggle_note' }%>
      </div>
      <% end %>
      
      <!-- "accept" link commented out -->
      <% if false %>
            <div class="col-150" id="<%=event.id%>_accept">
      	<% if action = event.resolved? %>
		Resolved by <%=action.user.name%> at <%=UtilityHelper.format_datetime(action.created_at, current_user)%>
        <% elsif action = event.accepted? %>
		<%= link_to "Accepted by #{action.user.name} at #{UtilityHelper.format_datetime(action.created_at,current_user)}",:action => "accept", :id => event.id %>
		<% else %>
		<%= link_to "Accept",:action => "accept", :id => event.id %>
		<% end %>
		<% if event.resolved? || event.accepted? %>
			<%= link_to "(report)", :action => "report", :id => event.id %>
		<% end %>
      </div>
      <% end %>
        
      <div class="col-150" id="false_alarm_<%=event.id%>">
      	<% if action = event.false_alarm? %>
		  <%= render :partial => 'false_alarm',:locals => {:event => event}%>
		<% elsif action = event.real_alarm? %>
		  <%= render :partial => 'real_alarm',:locals => {:event => event}%>
      	<% elsif action = event.test_alarm? %>
      	  <%= render :partial => 'test_alarm',:locals => {:event => event}%>
		<% elsif action = event.non_emerg_panic? %>
          <%= render :partial => 'non_emerg_panic',:locals => {:event => event}%>
		<% else %>
		  <%= render :partial => 'mark_event',:locals => {:event => event}%>
		<% end %>
      </div>
      <div class="col-125" id="div_<%= event.id.to_s%>">
      	<%if event.call_center_response.nil?%>
      	<%= link_to_remote (image_tag("/images/calendar_date_select/calendar.gif", :size => "17x17", :border => 0), 
:url => {:action => 'enter_call_center_response',:id => event.id })%>
		<%else%>
		<%= link_to_remote (image_tag("/images/calendar_date_select/calendar.gif", :size => "17x17", :border => 0), 
:url => {:action => 'edit_call_center_response',:id => event.id })%>
		<%= event.call_center_response.in_time_zone.to_s(:date_time_seconds)%>
		<%end%>
      </div>
        </div>
        <div id="notes_<%=event.id %>">
        </div>
      <% end %>
      <br>
      <br>
      <br>
      <center><big><%= will_paginate @events %></big></center>
    </div>