<meta http-equiv="refresh" content="30">
<%=render :partial=>'/reporting/nav'%>

<% is_admin = current_user.is_super_admin? %>
<h2>Crtical Event Log</h2>
All times are in <%= current_user.profile.time_zone if current_user.profile %> timezone <br>
<div class="table">
  <div class="row header">
    <div class="col-75">
      Event <br>Type
    </div>

    <div class="col-125">
      Timestamp<br>Device
    </div>
    <div class="col-125">
      Timestamp<br>Server
    </div>
    <div class="col-150">
      Name
    </div>
    <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
    <div class="col-75">
      Chart
    </div>
    <div class="col-75">
      Notes
    </div>
    <% end %>
    <div class="col-150">
      False Alarm
    </div>
    <% if is_admin %>
      <div class="col-125">
        Oscope Start Msg ID
      </div>
    <% end %>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <% if event.event_type == 'CallCenterFollowUp' %>
        <div class="col-75">
          Follow Up
        </div>
      <% else %>
      <div class="col-75">
        <%=event.event_type%>&nbsp;
      </div>
      <% end %>

      <div class="col-125">
        <%= event.timestamp.in_time_zone.to_s(:date_time_seconds) %>
      </div>
      <div class="col-125">
        <% if(event[:timestamp_server] == nil) %>
          No timestamp
        <% else %>
		  <%= event[:timestamp_server].in_time_zone.to_s(:date_time_seconds) %>
          <!--%= UtilityHelper.format_datetime(event[:timestamp_server],current_user) %-->
        <% end %>
      </div>
      <div class="col-150">
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
        <a href="/call_list/show/<%=event.user[:id]%>"><%=event.user.name%></a> (<%=event.user.id%>)
      <% else %>
        <%= event.user.name %> (<%= event.user.id %>)
      <% end %>
      </div>
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
      <div class="col-75">
        <a target="_blank" href="/chart/flex/<%= event.user.id %>">Chart</a>
      </div>
      <div class="col-75" id="false_test_<%=event.id %>">
        <%= link_to_remote '+', :update => "notes_#{event.id}", :url => {:action => 'toggle_note', :new_note => true, :event_id => event.id, :user_id => event.user.id }%>
        &nbsp;
        <%= link_to_remote '-', :update => "notes_#{event.id}", :url => {:action => 'toggle_note' }%>
      </div>
      <% end %>
      
      <!-- "accept" link commented out -->
      <% if false %>
            <div class="col-150" id="<%=event.id%>_accept">
      	<% if action = event.resolved? %>
		Resolved by <%=action.user.name%> at <%=UtilityHelper.format_datetime(action.created_at, current_user)%>
        <% elsif action = event.accepted? %>
		<%= link_to "Accepted by #{action.user.name} at #{UtilityHelper.format_datetime(action.created_at,current_user)}",:action => "accept", :id => event.id %>
		<% else %>
		<%= link_to "Accept",:action => "accept", :id => event.id %>
		<% end %>
		<% if event.resolved? || event.accepted? %>
			<%= link_to "(report)", :action => "report", :id => event.id %>
		<% end %>
      </div>
      <% end %>
        
      <div class="col-150" id="false_alarm_<%=event.id%>">
      	<% if action = event.false_alarm? %>
		  <b>False Alarm</b> by <%=action.user.name%> at <%=UtilityHelper.format_datetime(action.created_at, current_user)%>
      	<% elsif action = event.test_alarm? %>
		  Marked <b>Test</b> by <%=action.user.name%> at <%=UtilityHelper.format_datetime(action.created_at, current_user)%>		  
		<% elsif action = event.non_emerg_panic? %>
		  <b>Non Emergency Panic</b> by <%=action.user.name%> at <%=UtilityHelper.format_datetime(action.created_at, current_user)%>
		<% else %>
		  Mark as <%= link_to_remote "False Alarm", :update => "false_alarm_#{event.id}", :url => {:action => "false_alarm", :id => event.id} %> or
		  <%= link_to_remote "Test", :update => "false_alarm_#{event.id}", :url => {:action => "test_alarm", :id => event.id} %>
		  <% if event.event_type == 'Panic' %>
		   or
		  <%= link_to_remote "Non emergency Panic", :update => "false_alarm_#{event.id}", :url => {:action => "non_emerg_panic", :id => event.id} %>
		  <% end %>
		<% end %>
      </div>
      
      <% if is_admin %>
        <% if event.event_type == 'Fall' %>
          <% oscope_start = OscopeStartMsg.find_by_timestamp_and_user_id(event.timestamp, event.user_id) %>
          <% if oscope_start %>
            <div class="col-125">
            <%= link_to ("#{oscope_start.id}", :controller => 'oscopes', :action => 'csv', :id => oscope_start.id) %>
            </div>
          <% else %>
            <div class="col-125">
            &nbsp;
            </div>
          <% end %>
        <% else %>
          <div class="col-125">
          &nbsp;
          </div>
        <% end %>
      <% end %>
        </div>
        <div id="notes_<%=event.id %>">
        </div>
      <% end %>
      <br>
      <br>
      <br>
      <center><big><%= will_paginate @events %></big></center>
    </div>