<h2>Call Center Events</h2>All times are in <%= current_user.profile.time_zone if current_user.profile %> timezone <br>
<div class="table">
	<div class="row header">
		<div class="col-75">
			Event <br>Type
		</div>
		<div class="col-200">
			Timestamp
		</div>
		<div class="col-150">
			Name
		</div>
		<div class="col-75">
			Chart
		</div>
		<div class="col-75">
			Notes
		</div>
		<div class="col-150">
			Accept
		</div>
		<div class="col-150">
			Resolve
		</div>
	</div>
	<% @events.each do |event| %>
		<div class="row">
			<div class="col-75">
				<%=event.event_type%>&nbsp;
			</div>
			<div class="col-200">
				<!--%=event.timestamp.to_s(:short)%-->
				<%=UtilityHelper.format_datetime_readable(event.timestamp, current_user) %>
			</div>
			<div class="col-150">
				<a href="/call_list/show/<%=event.user[:id]%>"><%=event.user.name%></a> (<%=event.user.id%>)
			</div>
			<div class="col-75">
                                <a target="_blank" href="/chart/flex/<%= event.user.id %>">Chart</a>
			</div>
			<div class="col-75">
				<%= link_to_remote '+', :update => "notes_#{event.id}", :url => {:action => 'toggle_note', :new_note => true, :event_id => event.id, :user_id => event.user.id }%>
				&nbsp;
					<%= link_to_remote '-', :update => "notes_#{event.id}", :url => {:action => 'toggle_note' }%>
			</div>
			<div class="col-150" id="<%=event.id%>_accept">
				<%=render :partial => 'accept', :locals => {:event => event}%>
			</div>
			<div class="col-150" id="<%=event.id%>_resolve">
				<%=render :partial => 'resolve', :locals => {:event => event}%>
			</div>
		</div>
		<div id="notes_<%=event.id %>">
		</div>
	<% end %>
        <br>
        <br>
	<br>
	<center><big><%= will_paginate @events %></big></center>
</div>