<meta http-equiv="refresh" content="30">
<h2>Call Center Overview</h2>
Please hold the control key and click <a href="/call_center/faq">here</a> to launch the <b>FAQ</b> in a separate tab.
<br>
<br>
All times are in <%= current_user.profile.time_zone if current_user.profile %> timezone <br>
<div class="table">
  <div class="row header">
    <div class="col-75">
      Event <br>Type
    </div>
    <div class="col-125">
      Timestamp<br>Device
    </div>
    <div class="col-125">
      Timestamp<br>Server
    </div>
    <div class="col-150">
      Name
    </div>
    <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
    <div class="col-75">
      Chart
    </div>
    <div class="col-75">
      Notes
    </div>
    <% end %>
    <div class="col-150">
      Accept
    </div>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col-75">
        <%=event.event_type%>&nbsp;
      </div>
      <div class="col-125">
        <%=UtilityHelper.format_datetime_readable(event.timestamp, current_user) %>
      </div>
      <div class="col-125">
        <% if(event[:timestamp_server] == nil) %>
          No timestamp
        <% else %>
                     <%= UtilityHelper.format_datetime_readable(event[:timestamp_server],current_user) %>
           <% end %>
      </div>
      <div class="col-150">
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
        <a href="/call_list/show/<%=event.user[:id]%>"><%=event.user.name%></a> (<%=event.user.id%>)
      <% else %>
        <%= event.user.name %> (<%= event.user.id %>)
      <% end %>
      </div>
      <% if(current_user.is_super_admin? || current_user.is_admin? || current_user.is_moderator?) %>
      <div class="col-75">
        <a target="_blank" href="/chart/flex/<%= event.user.id %>">Chart</a>
      </div>
      <div class="col-75">
        <%= link_to_remote '+', :update => "notes_#{event.id}", :url => {:action => 'toggle_note', :new_note => true, :event_id => event.id, :user_id => event.user.id }%>
        &nbsp;
        <%= link_to_remote '-', :update => "notes_#{event.id}", :url => {:action => 'toggle_note' }%>
      </div>
      <% end %>
      <div class="col-150" id="<%=event.id%>_accept">
      	<% if action = event.resolved? %>
		Resolved by <%=action.user.name%> at <%=UtilityHelper.format_datetime_readable(action.created_at, current_user)%>
        <% elsif action = event.accepted? %>
		<%= link_to "Accepted by #{action.user.name} at #{UtilityHelper.format_datetime_readable(action.created_at,current_user)}",:action => "accept", :id => event.id %>
		<% else %>
		<%= link_to "Accept",:action => "accept", :id => event.id %>
		<% end %>
        </div>
        </div>
        <div id="notes_<%=event.id %>">
        </div>
      <% end %>
      <br>
      <br>
      <br>
      <center><big><%= will_paginate @events %></big></center>
    </div>