<div class="table">
	<div class="row header">
		<div class="col-150">
			Event Type
		</div>
		<div class="col-100">
			Timestamp
		</div>
		<div class="col-200">
			Name
		</div>
		<div class="col-200">
			Status
		</div>
		<div class="col-200">
			Resolve
		</div>
		<div class="col-100">
			Chart
		</div>
	</div>
	<% @events.each do |event| %>
		<div class="row">
			<div class="col-150">
				<%=event.event_type%>&nbsp;
			</div>
			<div class="col-100">
				<%=event.timestamp.to_s(:short)%>
			</div>
			<div class="col-200">
				<a href="/call_list/show/<%=event.user[:id]%>"><%=event.user.name%></a>
			</div>
			<div class="col-200" id="<%=event.id%>_accept">
				<%=render :partial => 'accept', :locals => {:event => event}%>
			</div>
			<div class="col-200" id="<%=event.id%>_resolve">
				<%=render :partial => 'resolve', :locals => {:event => event}%>
			</div>
			<div class="col-100">
				<a target="_blank" href="/chart/flex/<%= event.user.id %>">Chart</a>
			</div>
		</div>
	<% end %>
        <br>
        <br>
	<%= will_paginate @events %>
</div>