<style>
div#call_center{
    border: 2px solid #343230;
	background-color:#21201f;
	padding:10px;
	width:800px;
	height:800px;
	position: relative;
	float: left;
}
div#call_center-wizard{
	background-color:#21201f;
	padding:10px;
	width:400px;
	height:200px;
	position: relative;
	float: left;
}
imagesbody {
	background-color:#252422;
	padding:50px;
	padding-top:130px;
	background-repeat:no-repeat;
	background-position:60px 40px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
	font-size:11px;
	line-height:18px;
}

div#call_center-accordion{
	background-color:#21201f;
	padding:10px;
	float: left;
}

div.accordion {
	position: relative; /* required for bounding */
	width:300px;
}

div.accordion-toggle{
    position: relative; /* required for effect */
    z-index: 10;		/* required for effect */
	background: #3f3c38;
	background-repeat:repeat-x;
	background-position:bottom;
	color:#ffffff;   
    cursor: pointer;
	margin-bottom:1px;
	padding:9px 14px 6px 14px;
	border-top:1px solid #5d5852;	
}
div.accordion-toggle-active{
	background-color:#6d493a;
	border-top:1px solid #a06b55;
}

div.accordion-content{
    overflow: hidden;	/* required for effect */
    height: 250px;
    background: #302e2c;
	padding:9px 24px 6px 24px;
	color:#c4bab1;
	border-bottom:1px solid #000000;
}
</style>
<div align="center" id="inProgress" style="display:none">
		<img src="/images/processing.gif"/>
</div>
<%= javascript_include_tag "accordion" %>
<% if action = @event.accepted? %>
<div style="font-size: x-large;"><%= @event.user.name %> (<a target="_blank" href="/chart/flex/<%= @event.user.id %>">Chart</a>) <b><font color="red"><%= @event.event_type %></font></b> Accepted by <%=action.user.name%> at<br /> <%=UtilityHelper.format_datetime_readable(action.created_at,current_user)%></div>

<% if current_user.id == action.user_id %>
<div id="call_center">
<div id="call_center-accordion" class="accordion">
    <%  prev_header = nil
        prev_header2 = nil
        @call_center_wizard.call_center_steps_sorted.each do |step|  %>
      <% header = step.header
         if prev_header.nil? || prev_header != header
           prev_header = header %>
          <div class="accordion-toggle"><%= header %></div>
          <div class="accordion-content">
          <% user = User.find(step.user_id)
             type = ''
             if user == @user
               type = 'HaloUser'
             elsif user.is_caregiver?
               type = 'Caregiver'
             end
             if !@user.has_phone?(user,type) %>
               No Phone Number in Profile or Call Option Disabled
          <% else  %>
       <% @call_center_wizard.call_center_steps_sorted.each do |step2| 
            if step2.header == header %>
              <div id="instruction_<%= step2.id %>"><%= step2.instruction if !step2.answer.blank? %></div>
              <div id="answer_<%= step2.id %>"><% if !step2.answer.blank? %>
                                               <%= step2.answer ? 'Yes' : 'No' %>
                                               <% end %></div>
              <div id="notes_<%= step2.id %>"><%= step2.notes %></div>
              <div id="breaker_<%= step2.id %>"><% if(!step2.answer.blank? || !step2.notes.blank?) %>
                                                    <hr />
                                                <% end %>
                                              </div>
            
            <% end %>
          <% end %> 
          <% end %>
         </div>     
         <% end %>
        <% end %>
</div>
<div align="center" id="call_center-wizard"><font style="font-size: x-large;" color="red">
Please do NOT use the Back/Forward buttons in your web browser.  Please use the Back Arrow in this box!
<br>
Also, speak SLOWLY when calling users and caregivers.</font>
<br><br>
  <button style="font-size: xx-large;" onclick="start_wizard(); new Ajax.Updater('call_center-wizard', '/call_center/script_wizard_start/?call_center_wizard_id=<%=@call_center_wizard.id %>')">Start Call</button>
</div>
</div>
<%
step_ids = [] 
prev_header = nil
@call_center_wizard.call_center_steps_sorted.each do |step|  
  header = step.header
  if prev_header.nil? || prev_header != header
     prev_header = header 
     step_ids << step.id
  end
end  %>
<script language="javascript">
var accordion;
document.observe("dom:loaded", function(){
    accordion = new Accordion("call_center-accordion", [<%= step_ids.join(', ') %>]);
});
function start_wizard(){
  accordion.start();
}
function script_for(answer, step_id){
  new Ajax.Request('/call_center/script_next/?call_center_wizard_id=<%=@call_center_wizard.id %>&call_center_step_id=' + step_id + '&answer=' + answer);
}
function step(answer, step_id){
  script_for(answer, step_id);
}
function previous_step(step_id){
  new Ajax.Request('/call_center/script_previous/?call_center_wizard_id=<%=@call_center_wizard.id %>&call_center_step_id=' + step_id);
}
function update_accordian(id, instruction, ans){
  if($('instruction_' + id) != null){
  $('instruction_' + id).innerHTML = instruction;
  $('answer_' + id).innerHTML = ans;
 }
  if($('breaker_' + id) != null){
  $('breaker_' + id).innerHTML = "<hr />";
 }
}
function update_notes(id, notes, breaker){
  if($('notes_' + id) != null){
    $('notes_' + id).innerHTML= notes;
  }
  if($('breaker_' + id) != null){
    $('breaker_' + id).innerHTML = breaker;
  }
}
</script>

<% end %>
<% end %>