<%=render :partial=>'/reporting/nav_config'%>
<div id="hidden_content_extra_info">
</div>

<br>
<br>
<div id="call_list-col">
<div id="call_list-col-header">
	Call Center Operators
	</div>
	<div class="content">
		<!--div><%= link_to "Configure Emergency Dispatch Phone Numbers", :action => 'index', :controller => 'emergency_numbers' %></div-->
<!--Please hold the control key and click <a href="/call_center/faq">here</a> to launch the <b>FAQ</b> in a separate tab.-->
		<br>Group <select onchange="if(this.value != ''){document.location = '/call_center/show/?group_id=' + this.value}"/>
		<% @groups.each do |group| %>
		<option value="<%=group.id%>" <%='selected' if params[:group_id].to_i == group.id %>><%=group.name%></option>
		<% end %>
</select>
		<p>&nbsp;</p>
		<div id="call_list_header" style="display:block">
			<div style="float:left;width:125px">
				&nbsp;
			</div>
			<div style="float:left;width:155px">
				Name
			</div>
			<div style="float:left;width:100px">
				Status
			</div>
			<div style="float:left;width:75px">
				Call
			</div>
			<div style="float:left;width:75px">
				Email
			</div>
			<div style="float:left;width:100px">
				Text Message
			</div>
			<div style="float:left;width:50px">
				Remove
			</div>
			<div style="float:left;width:75px">
		
			</div>
		</div>
		<p>&nbsp;</p>
		  <div="call_list_div">    
			<ul id="call_list">
			<%= render :partial => "operators", :locals => { :operators => @operators } %>
			</ul>
		  </div>
	</div>
	
	
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>