<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	 <a href="#"><img src="/images/tooltip-close.gif" onClick="RedBox.close();" /></a>
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
			<%= @failure_notice %>
			<br />
			<br />
			<table>
			<% if @self_test_result && !@self_test_result.self_test_item_results.blank?
				@self_test_result.self_test_item_results.each do |item| %>
				<tr>
					<td><%= item.description %></td>
					<td><%= item.result ? 'Pass' : 'Fail' %></td>
				</tr>
			 <% end 
			end %>
			</table>
			<br />
			<br />
			Please enter notes about the failure.
			<br/>
			<%= form_remote_tag :url => url_for(:controller => 'installs', :action => 'submit_notes') %>
				<input type="hidden" name="user_id" value="<%= @user.id %>" />
				<input type="hidden" name="gateway_id" value="<%= @gateway_id %>" />
				<input type="hidden" name="strap_id" value="<%= @strap_id %>" />
				<input type="hidden" name="self_test_session_id" value="<%= @self_test_session_id %>" />
				<input type="hidden" name="self_test_step_id" value="<%= @self_test_step_id %>" />
				
				<textarea id="notes_id" name="notes" rows="5" cols="32"></textarea>
				<br />
				<br />
				<input type="submit" onclick="RedBox.close();" name="Submit" value="Submit" />
			</form>
			<br />
			<br />
			<%= link_to 'Restart Installation Wizard', 
						:controller => 'installs', :action => 'restart_install_wizard', 
						:self_test_session_id => @self_test_session_id, :user_id => @user.id,
                        :gateway_id => @gateway_id, :strap_id => @strap_id %>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>