<script language="javascript">
	var firstManualPB;
	var install_wizard_percentage = 0;
	var checkRegistration = true;
	var checkSelfTestChestStrap = false;
	var checkSelfTestGateway = false;
	var checkSelfTestPhone = false;
	var checkStrapFastened = false;
	var checkHeartrate = false;
	Event.observe(window, 'load', function() {
       //window.open("/installs/flash_install_upgrade","flash_install_upgrade");
	   firstManualPB = new JS_BRAMUS.jsProgressBar($('installation_wizard_progress'), 0, {animate: true, width: 120, height: 12});
    }, false);
	function update_percentage(percentage){
		firstManualPB.setPercentage(percentage);
		install_wizard_percentage = percentage;	
	}
	function updateCheckRegistration(b){
		checkRegistration = b;
	}
	function updateCheckSelfTestChestStrap(b){
		checkSelfTestChestStrap = b;
	}
	function updateCheckSelfTestGateway(b){
		checkSelfTestGateway = b;
	}
	function updateCheckSelfTestPhone(b){
		checkSelfTestPhone = b;
	}
	function updateCheckStrapFastened(b){
		checkStrapFastened = b;
	}
	function updateCheckHeartrate(b){
		checkHeartrate = b;
	}
	
	function start_range_test(){
		url = "/installs/start_range_test/?self_test_session_id=<%= @self_test_session_id%>&gateway_id=<%= @gateway.id %>&strap_id=<%= @strap.id %>&user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
	}
	function stop_range_test(){
		url = "/installs/stop_range_test/?self_test_session_id=<%= @self_test_session_id%>&gateway_id=<%= @gateway.id %>&strap_id=<%= @strap.id %>&user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
	}
</script>
<%= launch_remote_redbox(:url =>  {  :action => 'phone_prompt_start', :controller => 'installs', 
                                     :self_test_session_id => @self_test_session_id, :user_id => @user.id,
                                     :gateway_id => @gateway_id, :strap_id => @strap_id
                                  }, 
                         :html => { :method => :get, :complete => '' } ) %>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_registration_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id }, 
							 :condition => "checkRegistration", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_chest_strap_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestChestStrap", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_gateway_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestGateway", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>							 
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_phone_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestPhone", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>	
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_strap_fastened_progress', 
										:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkStrapFastened", 
							 :frequency => INSTALL_WIZARD_POLL_RATE)%>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_heartrate_progress', 
										:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkHeartrate", 
							 :frequency => INSTALL_WIZARD_POLL_RATE)%>
<div id="call_list-col">
	<div align="center" id="call_list-col-header">
		Installation Wizard
	</div>
	<div class="content">
	  <div id="device-table" class="table">
		<div class="row header">
			<div align="center" class="col-400">
				Installation Progress
			</div>
		</div>
		<div class="row">
			<div id="install_wizard_result"></div>
			<div id="vitals_complete_div"></div>
			<div id="range_test_start_div"></div>
			<div id="range_test_stop_div"></div>
			<div id="install_wizard_launch"></div>
		</div>
		<div class="row">
			<div class="percentImage1" id="installation_wizard_progress">[ Loading Progress Bar ]</div>
		</div>
		<div class="row">
			<div id="install_wizard_status"></div>
	    </div>
		<div class="row">
			<div class="col-150"><img id="registered_check" width="60" height="60" src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="registered_div_id" style="vertical-align: middle;">Registered</div>
		</div>
		<div class="row">	
			<div class="col-150"><img id="self_test_gateway_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="gateway_div_id" style="vertical-align: middle;">Self Test Gateway</div>
		</div>
		<div class="row">
			<div class="col-150"><img id="self_test_chest_strap_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="chest_strap_div_id" style="vertical-align: middle;">Self Test Chest Strap</div>
		</div>
		<div class="row">
			<div class="col-150"><img id="strap_fastened_check" width="60" height="60" src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="strap_fastened_div_id" style="vertical-align: middle;">Strap Worn Detection</div>
		</div>
		<div class="row">	
			<div class="col-150"><img id="heartrate_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="heartrate_div_id" style="vertical-align: middle;">Heartrate Detection</div>
		</div>
		<div class="row">
			<div class="col-150"><img id="self_test_phone_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="phone_div_id" style="vertical-align: middle;">Self Test Phone</div>
		</div>
		<div class="row">
			<div class="col-150"><img id="range_test_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-150" id="range_test_div_id" style="vertical-align: middle;">Range Test</div>
		</div>
	  </div>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>
<br />
<br />
<div id="call_list-col">
	<div class="content">
		<div id="device-table" class="table">
		<div class="row header">
		<div class="col-150">
			User ID
		</div>
		<div class="col-250">
			Name
		</div>
		<div class="col-75">
			Chest Strap ID
		</div>
		<div class="col-150">
			Chest Serial Number
		</div>
		<div class="col-75">
			Gateway ID
		</div>
		<div class="col-150">
			Gatewqy Serial Number
		</div>
		</div>
	<div class="row">
		<div class="col-150">
			<%= @user.id %>
		</div>
		<div class="col-250">
			<%= @user.name %>
		</div>
		<div class="col-75">
			<%= @strap.id %>
		</div>		
		<div class="col-150">
			<%= @strap.serial_number%>
		</div>
		<div class="col-75">
			<%= @gateway.id %>
		</div>
		<div class="col-150">
			<%= @gateway.serial_number%>
		</div>
	  </div>
	</div>	
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>