<script language="javascript">
	var isLoaded = false;
	var firstManualPB;
	var install_wizard_percentage = 0;
	var checkRegistration = true;
	var checkSelfTestChestStrap = false;
	var checkSelfTestGateway = false;
	var checkSelfTestPhone = false;
	var checkStrapFastened = false;
	var checkHeartrate = false;
	Event.observe(window, 'load', function() {
	   firstManualPB = new JS_BRAMUS.jsProgressBar($('installation_wizard_progress'), 0, {animate: true, width: 120, height: 12});
	    isLoaded = true;
    }, false);
	function update_percentage(percentage){
		firstManualPB.setPercentage(percentage);
		install_wizard_percentage = percentage;	
	}
	function updateCheckRegistration(b){
		checkRegistration = b;
	}
	function updateCheckSelfTestChestStrap(b){
		checkSelfTestChestStrap = b;
	}
	function updateCheckSelfTestGateway(b){
		checkSelfTestGateway = b;
	}
	function updateCheckSelfTestPhone(b){
		checkSelfTestPhone = b;
	}
	function updateCheckStrapFastened(b){
		checkStrapFastened = b;
	}
	function updateCheckHeartrate(b){
		checkHeartrate = b;
	}
	function continueWithoutPhone(id){
		url = "/installs/no_phone_test/?self_test_step_id=" + id + "&self_test_session_id=<%= @self_test_session_id%>&gateway_id=<%= @gateway.id %>&strap_id=<%= @strap.id %>&user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
	}
	function start_range_test(){
		url = "/installs/start_range_test/?self_test_session_id=<%= @self_test_session_id%>&gateway_id=<%= @gateway.id %>&strap_id=<%= @strap.id %>&user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
	}
	function stop_range_test(self_test_step_id){
		url = "/installs/stop_range_test/?self_test_step_id=" + self_test_step_id + "&self_test_session_id=<%= @self_test_session_id%>&gateway_id=<%= @gateway.id %>&strap_id=<%= @strap.id %>&user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
	}
</script>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_registration_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id }, 
							 :condition => "checkRegistration && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_chest_strap_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestChestStrap && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_gateway_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestGateway && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>							 
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_phone_progress', 
							 		   	:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkSelfTestPhone && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE) %>	
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_strap_fastened_progress', 
										:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkStrapFastened && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE)%>
<%= periodically_call_remote(:url => { 	:controller => 'installs', 
										:action => 'install_wizard_heartrate_progress', 
										:user_id => @user.id, 
										:gateway_id => @gateway.id, 
										:strap_id => @strap.id,
										:self_test_session_id => @self_test_session_id  }, 
							 :condition => "checkHeartrate && isLoaded", 
							 :frequency => INSTALL_WIZARD_POLL_RATE)%>
<div style="width: 700px;" id="call_list-col">
	<div align="center" style="font-size: 200%;" id="call_list-col-header">
		Installation Wizard
	</div>
	<div class="content">
	  <div id="device-table" class="table">
		<div class="row header">
			<div align="center" class="col-400">
				Installation Progress
			</div>
		</div>
		<div class="row">
			<div id="install_wizard_result"></div>
			<div id="vitals_complete_div"></div>
			<div id="range_test_start_div"></div>
			<div id="range_test_stop_div"></div>
			<div id="install_wizard_launch"></div>
		</div>
		<div class="row">
			<div class="percentImage1" id="installation_wizard_progress">[ Loading Progress Bar ]</div>
		</div>
		<div class="row">
			<div id="install_wizard_status"></div>
	    </div>
		<div class="row">
			<div class="col-150"><img id="registered_check" width="60" height="60" src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="registered_div_id" style="font-size: 200%;vertical-align: middle;">Registered</div>
			<div class="col-150" id="registered_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">	
			<div class="col-150"><img id="self_test_gateway_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="gateway_div_id" style="font-size: 200%;vertical-align: middle;">Self Test Gateway</div>
			<div class="col-150" id="gateway_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">
			<div class="col-150"><img id="self_test_chest_strap_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="chest_strap_div_id" style="font-size: 200%;vertical-align: middle;">Self Test Chest Strap</div>
			<div class="col-150" id="chest_strap_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">
			<div class="col-150"><img id="strap_fastened_check" width="60" height="60" src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="strap_fastened_div_id" style="font-size: 200%;vertical-align: middle;">Strap Worn Detection</div>
			<div class="col-150" id="strap_fastened_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">	
			<div class="col-150"><img id="heartrate_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="heartrate_div_id" style="font-size: 200%;vertical-align: middle;">Heartrate Detection</div>
			<div class="col-150" id="heartrate_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">
			<div class="col-150"><img id="self_test_phone_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="phone_div_id" style="font-size: 200%;vertical-align: middle;">Self Test Phone</div>
			<div class="col-150" id="phone_div_id_duration" style="vertical-align: middle;"></div>
		</div>
		<div class="row">
			<div class="col-150"><img id="range_test_check" width="60" height="60"  src="/images/checkbox_grey.png"></div>
			<div class="col-300" id="range_test_div_id" style="font-size: 200%;vertical-align: middle;">Range Test</div>
			<div class="col-150" id="range_test_div_id_duration" style="vertical-align: middle;"></div>
		</div>
	  </div>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>
<br />
<br />
<div id="call_list-col" style="width: 700px;">
	<div class="content">
		<table width="700px">
			<tr>
				<td align="left">CS ID:  <%= @strap.id %></td>
				<td align="center">UID:  <%= @user.id %></td>
				<td align="right">GW ID:  <%= @gateway.id %></td>
			</tr>
			<tr>
				<td align="left">CS SN:  <%= @strap.serial_number %></td>
				<td align="center"><%= @user.name %></td>
				<td align="right">GW SN:  <%= @gateway.serial_number %></td>
			</tr>
		</table>
	</div>
	<div style="clear:both"></div>
	<div id="call_list-col-footer"></div>
</div>