<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:400px;margin-left:320px" id="container">
	</div>
		<div style="width:400px;margin-left:auto;margin-right:auto" id="container">
			Please enter out of range spots in home.
			<br/>
			<%= form_remote_tag :url => url_for(:controller => 'installs', :action => 'submit_range_test_notes') %>
				<input type="hidden" name="user_id" value="<%= @user.id %>" />
				<input type="hidden" name="gateway_id" value="<%= @gateway_id %>" />
				<input type="hidden" name="strap_id" value="<%= @strap_id %>" />
				<input type="hidden" name="self_test_session_id" value="<%= @self_test_session_id %>" />
				
				<textarea id="notes_id" name="notes" rows="5" cols="32"></textarea>
				<br />
				<br />
				<input type="submit" name="Submit" value="Submit" />
			</form>
		</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>