<div id="lightbox-col">
	<img src="/images/lightbox-col-header.gif" /><br />
	<div class="lightbox-content">
		<div style="width:200px;margin-left:320px" id="container">
	</div>
		<div style="width:200px;margin-left:auto;margin-right:auto" id="container">
		Please check the range in the following rooms and write down areas with one long beep (OUT of range)
			<br />
			<br />
			<ul>
				<li>Lying down in bed</li>
				<li>Stand in shower</li>
				<li>Kitchen</li>
				<li>Living room</li>
				<li>Other main activity areas</li>
			</ul>
			<br />
			<br />
			Two short beeps -- In Range
			<br />
			<br />
			One long beep   -- Out of Range
			<br />
			<br />
			Please enter out of range spots in home.
			<br/>
			<%= form_remote_tag :url => url_for(:controller => 'installs', :action => 'stop_range_test') %>
				<input type="hidden" name="user_id" value="<%= @user.id %>" />
				<input type="hidden" name="gateway_id" value="<%= @gateway_id %>" />
				<input type="hidden" name="strap_id" value="<%= @strap_id %>" />
				<input type="hidden" name="self_test_session_id" value="<%= @self_test_session_id %>" />
				
				<textarea id="notes_id" name="notes" rows="5" cols="32"></textarea>
				<br />
				<br />
				<input type="submit" name="Stop Range Test" value="Stop Range Test" />
			</form>
			</div>
	</div>
	<img src="/images/lightbox-col-footer.gif" />
</div>