<%= if session[:flash_prompt] != 1
		flash_launch = launch_remote_redbox(:url =>  {  :action => 'flash_prompt_start', :controller => 'installs', :user_id => @user.id }, 
                         :html => { :method => :get, :complete => '' } ) 
	end %>
<script>
	function launchFlashCheck(){
       url = "/installs/phone_prompt_init/?user_id=<%= @user.id %>"
		new Ajax.Request(url, {
  			method: 'get'});
		window.open("/installs/flash_install_upgrade","flash_install_upgrade");
	}
</script>
<div id="phone_launcher" ></div>
<div>Registering <%= @user.name %></div>
<div id="secondary-col">
  <div id="secondary-col-header"></div>
  
  <div class="content">
	
    <%= error_messages_for :user %>
    <%= error_messages_for :gateway %>
    <%= error_messages_for :strap %>
		<div id="errors">
			<%= flash[:warning]%>
		</div>
    <div style="width:200px;margin-left:auto;margin-right:auto">
      <% form_tag :action => 'registration_create' do -%>
	  <input type="hidden" name="user_id" value="<%= @user.id %>" />
	  <input type="hidden" name="self_test_session_id" value="<%= @self_test_session.id %>" />
       <label for="serial_number">Gateway Serial Number</label><br/>
        <%= text_field :gateway, :serial_number %>
        <br />
        <br />
        <label for="serial_number">Chest Strap Serial Number</label><br/>
        <%= text_field :strap, :serial_number %>
        <br />
        <br />
		
        <div align="center">
          <input name="commit" type="image" src="/images/ok_button.gif" />
        </div>
      <% end -%>
    </div>
  </div>
  <div id="secondary-col-footer"></div>
</div>