<div id="user-table" class="table">
	<div class="row header">
		<div class="col-75">User Id</div>
		<div class="col-200">Name</div>
		<div class="col-200">Username</div>
		<div class="col-150">Device Registration</div>
		<div class="col-100">Range Test</div>
	</div>	
<% @users.each do |user| %>
	<div class="row">
		<div class="col-75"><%=  user.id     %></div>
		<div class="col-200"><%= user.name  %></div>
		<div class="col-200"><%= user.login %></div>
		<div class="col-150"><%= link_to "Start Installation Wizard", 
											:controller => 'installs', 
											:action => 'registration', 
											:group => @group.name, 
											:id => user.id %></div>
	</div>
	<div class="col-100"><%= link_to_remote "Start Range Test Only", :url => {:controller => 'installs', :action => 'start_range_test_only_init', :group => @group.name, :id => user.id} %></div>
	
<% end %>
</div>
<div id="range_test_launcher"></div>
<br>
<br>
<div>
<center><big><%= will_paginate @users, :params => {:group => @group.name} %></big></center>
</div>

<script language="javascript">
function start_range_test(user_id){
	url = "/installs/start_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function stop_range_test(user_id){
	url = "/installs/stop_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
</script>