<div id="user-table" class="table">
	<div class="row header">
		<div class="col-75">User Id</div>
		<div class="col-250">Name</div>
		<div class="col-250">Username</div>
		<div class="col-150">Device Registration</div>
	</div>	
<% @users.each do |user| %>
	<div class="row">
		<div class="col-75"><%=  user.id     %></div>
		<div class="col-250"><%= user.name  %></div>
		<div class="col-250"><%= user.login %></div>
		<div class="col-150"><%= link_to "Start Installation Wizard", :controller => 'installs', :action => 'registration', :group => @group.name, :id => user.id %></div>
	</div>
<% end %>
</div>
<br>
<br>
<div>
<center><big><%= will_paginate @users, :params => {:group => @group.name} %></big></center>
</div>