<% if @groups %>
	<form id="group_form_id" action="/installs/index_users" method="POST">
		<% gs = ['']
		   @groups.each do |g|
			 gs << g.name
		   end %>
Select Group:  
<%= select_tag 'group', options_for_select(gs.collect { |g| [g, g]}, params[:group]), {:onchange => "$('group_form_id').submit();"}%>
</form>
<%#=link_to 'Not Completed',request.env['REQUEST_URI']+"&display=not_completed"%>
<% end %>
<script src="/javascripts/browser_detect.js" type="text/javascript"></script>

<div id="user-table" class="table">
	<div class="row header">
		<div class="col-75">User Id</div>
		<div class="col-200">Name</div>
	<!--	<div class="col-200">Username</div> -->
		<div class="col-150">Start Wizard</div>
		<div class="col-100">Range Test</div>
		<div class="col-200">Completed On</div>
		<div class="col-100">Activation</div>
		<div class="col-100"></div>
	</div>	
<% @users.each do |user| %>
	<div class="row">
		<div class="col-75"><%=  user.id     %></div>
		<div class="col-200"><%= user.name  %>
			<span style="font-size: 80%;"><br><% if user.login %><%=user.login%><% else %><%= user.email %><%end%>
				(<%=link_to('Edit Profile', :controller => "profiles", :action => "edit_caregiver_profile", :id => user.profile.id, :frame => true,:user_id => user.id )%>)
			</span>

		</div>
		<div class="col-150"><%= link_to_function("Start Wizard", "browserCheckStartRegistration('#{user.id}', '#{@group.name}')") %>
			<% @kit_serial_number = KitSerialNumber.find_by_user_id(user.id,:order => 'created_at desc') %>
			<span style="font-size: 80%;"><br><%= @kit_serial_number.serial_number if @kit_serial_number %></font>
		</div>
		<div class="col-100"><%= link_to_remote "Start Range Test Only", :url => {:controller => 'installs', :action => 'start_range_test_only_init', :group => @group.name, :id => user.id} %></div>
		<div class="col-200">
			<% install_session = user.self_test_sessions.find(:first,:conditions => "completed_on is not NULL", :order => 'completed_on desc') %>
			<%= completed_date = install_session ? UtilityHelper.format_datetime(install_session.completed_on, current_user) : "Not Complete" %>
			(<%= link_to 'Report',"/installs/session_report/#{user.id.to_s}"%>)</div>
		<div class="col-100">
	  		<% if user.activation_code != nil %>
      			<%= link_to 'Activate', :controller => 'activate', :action => user.activation_code %> | <%= link_to 'Resend  Email', resend_path(user.id) %>
      		<% else %>
      			Activated
      		<% end %>
    	</div>
    	<div class="col-100">

    	</div>
	</div>
<% end %>
<br>
</div>
<div id="range_test_launcher"></div>
<br>
<br>
<div>
<center><big><%= will_paginate @users, :params => {:group => @group.name} %></big></center>
</div>

<script language="javascript">
function start_range_test(user_id){
	url = "/installs/start_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function stop_range_test(user_id){
	url = "/installs/stop_range_test_only/?user_id=" + user_id
	new Ajax.Request(url, {
			method: 'get'});
}
function browserCheckStartRegistration(id, group_name){
  var BO = detectBrowser();
  if(BO.ie6){
    window.location = '/installs/ie6';
  }else{
    window.location = '/installer/flash_check_step/?user_id=' + id + '&group_name=' + group_name;
  }
}
</script>