<table><tr><td><h2>RMA Items (RMA: <%= "#{@rma.id}" %>)</h2></td></tr></table>
<table class="bluegrey">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Item Type</th>
    <th>Original Serial</th>
    <th>Replacement Serial</th>
    <th>Shipped Serial</th>
    <th>Ship Date</th>
    <th>Status</th>
  </tr>
  <% unless @rma.rma_items.blank? %>
    <% @rma.rma_items.each do |rma_item| %>
    <tr class="<%= cycle('', 'altrow') %>">
      <td><%=h rma_item.id %></td>
      <td><%=h rma_item.created_at.to_s(:MM_DD_YYYY) %></td>
      <td><%=h rma_item.type %></td>
      <td><%=h rma_item.original_serial %></td>
      <td><%=h rma_item.replacement_serial %></td>
      <td><%=h rma_item.shipped_serial %></td>
      <td><%=h rma_item.shipped_on %></td>
      <td><%=h rma_item.status %></td>
      <td>
        <%= link_to 'Edit', edit_rma_rma_item_path(@rma, rma_item) %> | 
        <%= link_to 'Destroy', rma_rma_item_path(@rma, rma_item), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
</table>

<br/>
<%= link_to 'New RMA Item', new_rma_rma_item_path(@rma) %> |
<%= link_to 'Show RMA', rma_path(@rma) %> |
<%= link_to 'Edit RMA', edit_rma_path(@rma) %>