<% form_for( [@rma, @rma_item]) do |f| -%>
  <%= f.error_messages %>
  
  <table width="100%" class="bluegrey">
    <tr><td>
      <table>
        <tr>
          <%= f.hidden_field :rma_id %>
          <td class="textright"><%= f.label :status, "RMA Item Status" %>:</td>
          <td><%= f.select :status, RmaItemStatus::STATUSES %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :user_id, "User ID" %>:</td>
          <td><%= f.text_field :user_id %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :group_id, "Group" %>:</td>
          <td><%= f.select :group_id, @groups.collect {|p| [p.name, p.id]} %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :redmine_ticket, "Redmine Issue Ticket #" %>:</td>
          <td><%= f.text_field :redmine_ticket %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :created_at, "RMA Created Date" %>:</td>
          <td><%= f.text_field :created_at, :disabled => true %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :reinstalled_on, "RMA Reinstalled Date" %>:</td>
          <td><%= calendar_date_select_tag "rma_item[reinstalled_on]", @rma_item.reinstalled_on, :id => "rma_item_reinstalled_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :completed_on, "RMA Completed Date" %>:</td>
          <td><%= calendar_date_select_tag "rma_item[completed_on]", @rma_item.completed_on, :id => "rma_item_completed_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :received_on, "RMA Received Date" %>:</td>
          <td><%= calendar_date_select_tag "rma_item[received_on]", @rma_item.received_on, :id => "rma_item_received_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :shipped_on, "RMA Shipped Date" %>:</td>
          <td><%= calendar_date_select_tag "rma_item[shipped_on]", @rma_item.shipped_on, :id => "rma_item_shipped_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :atp_on, "ATP Date" %>:</td>
          <td><%= calendar_date_select_tag "rma_item[atp_on]", @rma_item.atp_on, :id => "rma_item_atp_on", :popup => 'force' %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :atp_status, "ATP Status" %>:</td>
          <td><%= f.select :atp_status, [['Pending', 'Pending']] %></td>
        </tr>
      </table>
    </td>
    
    <td>
      <table>
        <tr>
          <td class="textright"><%= f.label :device_model_id, "Item Type" %>:</td>
          <td><%= f.select :device_model_id, DeviceModel.all.collect {|p| [p.model_type, p.id]} %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :original_serial, "Original Serial" %>:</td>
          <td><%= f.text_field :original_serial %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :replacement_serial, "Replacement Serial" %>:</td>
          <td><%= f.text_field :replacement_serial %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :shipped_serial, "Shipped Serial" %>:</td>
          <td><%= f.text_field :shipped_serial %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :repair_action, "Repair Action" %>:</td>
          <td><%= f.text_area :repair_action, :rows => 5 %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :reason_for_return, "Reason for Return" %>:</td>
          <td><%= f.select :reason_for_return, RmaItem::REASON_FOR_RETURN %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :condition_of_return, "Condition of Return" %>:</td>
          <td><%= f.select :condition_of_return, [['Like New', 'Like New']] %></td>
        </tr>
        <tr>
          <td class="textright"><%= f.label :notes, "Other Notes" %>:</td>
          <td><%= f.text_area :notes, :rows => 5 %></td>
        </tr>
      </table>
    </td>
    </tr>
    
    <tr>
      <td>
      <table width="100%"><tr>
        <td>
          <%= link_to "Show Items for RMA #{@rma_item.rma.id}", rma_path(@rma_item.rma) %> | 
          <%= link_to 'Show this RMA Item', rma_rma_item_path(@rma_item.rma, @rma_item) unless @rma_item.new_record? %> | 
          <%= f.submit "Submit", :class => 'button' %>
        </td>
      </tr></table>
      </td>
    </tr>
  </table>

<% end -%>
