<h4>RMA Items for RMA <%= "#{@rma.id}" %> &nbsp; <%= link_to "New RMA Item", new_rma_rma_item_path(@rma), :class => "button green-button medium" %></h4>
<table class="bluegrey">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Item Type</th>
    <th>Original Serial</th>
    <th>Replacement Serial</th>
    <th>Shipped Serial</th>
    <th>Ship Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% unless @rma.rma_items.blank? %>
    <% @rma.rma_items.each do |rma_item| %>
    <tr class="<%= cycle('', 'altrow') %>">
      <td><%= link_to "RMA Item:#{rma_item.id}", rma_rma_item_path(@rma, rma_item) %></td>
      <td><%=h rma_item.created_at.to_formatted_s(:MM_DD_YYYY) %></td>
      <td><%=h rma_item.type %></td>
      <td><%=h rma_item.original_serial %></td>
      <td><%=h rma_item.replacement_serial %></td>
      <td><%=h rma_item.shipped_serial %></td>
      <td><%=h rma_item.shipped_on %></td>
      <td><%=h rma_item.status %></td>
      <td>
        <%= link_to image_tag('pencil.png'), edit_rma_rma_item_path(@rma, rma_item) %>
        <%= link_to image_tag('trash.png'), rma_rma_item_path(@rma, rma_item), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
</table>

<br/>
<% if @rma.new_record? %>
  RMA Items can be created once the RMA is saved to database.
<% else %>
  <!--%= link_to "RMA #{@rma.id}", @rma, :class => "button green-button medium" %--> 
  <!--%= link_to "Edit RMA #{@rma.id}", edit_rma_path(@rma), :class => "button green-button medium" %-->
<% end -%>