<p><%= flash[:notice] %></p>
<p><%= flash[:warning] %></p>
<p><%= error_messages_for :system_timeout %></p>
<form action="/system_timeouts/update" method="post">
  <input type="hidden" name="id" value="<%= @system_timeout.id %>"
<table>
  <tr>
    <th>ID</th><th>Mode</th>
    <th>Gateway Offline Timeout (minutes)</th>
    <th>Device Unavailable Timeout (minutes)</th>
    <th>Strap Off Timeout (minutes)</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td><%= @system_timeout.id %></td>
    <td><%= text_field :system_timeout, :mode %></td>
    <td><%= text_field :system_timeout, :gateway_offline_timeout_min %></td>
    <td><%= text_field :system_timeout, :device_unavailable_timeout_min %></td>
    <td><%= text_field :system_timeout, :strap_off_timeout_min %></td>
    <td><input type="submit" name="Save Changes" value="Save Changes" /></td>
  </tr>
</table>
</form>