<% caregiver = current_user.is_caregiver? %>
<script language="javascript" type="text/javascript">

function header_link_to(){
	var selection = $F("header_links")

	if("My Alerts" == selection){
			<% if current_user.is_halouser? %>
		window.location = "<%= url_for(:controller => 'alerts', :action => 'index', :my_links => 'My Alerts', :id => current_user.roles_user_by_role_name('halouser').id) %>";
		<% end %>
	}else if("My Caregivers" == selection){
			<% if current_user.is_halouser? && !caregiver %>
		window.location = "<%= url_for(:controller => 'call_list', :action => 'show', :my_links => 'My Caregivers', :id => current_user.id) %>";
			<% end %>
	}else if("My Events" == selection){
			<% if current_user.is_halouser? %>
		window.location = "<%= url_for(:controller => 'events', :action => 'user', :my_links => 'My Events', :id => current_user.id) %>";
			<% end %>
	}else if("Caregivers" == selection){
		  <% if caregiver %>
		window.location = "<%= url_for(:controller => 'call_list', :action => 'show', :my_links => 'Caregivers', :id => current_user.id) %>";
		  <% end %>
	}else if("Chart" == selection){
		window.location = "<%= url_for(:controller => 'chart', :action => 'flex', :my_links => 'Chart', :id => current_user.id) %>";
	}else if("Management" == selection){
		  <% if current_user.is_administrator? %>
		window.location = "<%= url_for(:controller => 'management', :action => 'index', :my_links => 'Management') %>";
		  <% end %>
	}else if("Reporting" == selection){
		  <% if current_user.is_administrator? %>
		window.location = "<%= url_for(:controller => 'reporting', :action => 'index', :my_links => 'Reporting') %>";
		  <% end %>
	}else if("Operators" == selection){
		  <% if current_user.is_administrator? %>
		window.location = "<%= url_for(:controller => 'call_center', :action => 'show', :my_links => 'Operators') %>";
		  <% end %>
	}else if("Info" == selection){
		  <% if current_user.is_administrator? %>
		window.location = "<%= url_for(:controller => 'util', :action => 'info', :my_links => 'Info') %>";
			<% end %>
	}else if("Call Center" == selection){
		  <% if current_user.is_administrator? %>
		window.location = "<%= url_for(:controller => 'call_center', :action => 'index', :my_links => 'Call Center') %>";
			<% end %>
			}
	return false;
}
</script>
   <%=link_to_remote_redbox('My&nbsp;Profile', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => current_user.profile.id, :frame => true,:user_id => current_user.id }, :html => {:method => :get})%>
   |
<select name="my_links" id="header_links" onchange="javascript:header_link_to();">
	<option name="My Links" value="My Links" <%= params[:my_links] == 'My Links' ? 'selected' : ''%>>My Links</option>
  			<% if current_user.is_halouser? %>
	<option name="My Alerts" value="My Alerts" <%= params[:my_links] == 'My Alerts' ? 'selected' : ''%>>My Alerts</option>
				<% if !caregiver %>
	<option name="My Caregivers" value="My Caregivers" <%= params[:my_links] == 'My Caregivers' ? 'selected' : ''%>>My Caregivers</option>
				<% end %>
  <option name="My Events" value="My Events" <%= params[:my_links] == 'My Events' ? 'selected' : ''%>>My Events</option>
			<% end %>
			<% if caregiver %>
	<option name="Caregivers" value="Caregivers" <%= params[:my_links] == 'Caregivers' ? 'selected' : ''%>>Caregivers</option>
			<% end %>
  <option name="Chart" value="Chart" <%= params[:my_links] == 'Chart' ? 'selected' : ''%>>Chart</option>
			<% if current_user.is_administrator? %>
	<option name="Management" value="Management" <%= params[:my_links] == 'Management' ? 'selected' : ''%>>Management</option>
	<option name="Reporting" value="Reporting" <%= params[:my_links] == 'Reporting' ? 'selected' : ''%>>Reporting</option>
        <option name="Call Center" value="Call Center" <%= params[:my_links] == 'Call Center' ? 'selected' : ''%>>Call Center</option>
        <option name="Operators" value="Operators" <%= params[:my_links] == 'Operators' ? 'selected' : ''%>>Operators</option>
	<option name="Info" value="Info" <%= params[:my_links] == 'Info' ? 'selected' : ''%>>Info</option>
	
			<% end %>
</select>
			|
			<a href="/logout" style="font-weight:bold">Logout</a>