<% caregiver = current_user.is_caregiver? %>
<ul id="my_links">
  <li>
    My&nbsp;Links&nbsp;
    <ul>
      <li>
        <%#=link_to_remote_redbox('My&nbsp;Profile', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :id => current_user.profile.id, :frame => true,:user_id => current_user.id }, :html => {:method => :get})%>
        <%= link_to('My Profile', :controller => "profiles", :action => "edit_caregiver_profile", :id => current_user.profile.id ,:user_id => current_user.id ) unless current_user.profile.blank? %>
      </li>

      <% if current_user.is_halouser? %>
      <li><%=link_to('Configure&nbsp;Alerts', :controller => "alerts", :action => "index", :id => current_user.roles_user_by_role_name('halouser').id, :senior_id => current_user.id) %></li>
      <% end %>            

      <% if current_user.is_halouser? || current_user.is_caregiver? %>
      <% prefix = ""%>
      <% prefix = "My&nbsp;" if !caregiver %> 
      <li><%= link_to prefix+'Caregivers', :controller => 'call_list', :action => 'show', :id => current_user.id %></li>
      <li><%= link_to prefix+'Events', :controller => 'events', :action => 'user', :id => current_user.id %></li>    						
      <li><%= link_to prefix+'Chart', :controller => 'chart', :action => 'flex', :id => current_user.id %></li>
      <li><%= link_to prefix+'BP & Weight', :controller => 'vital_lists', :action => 'index',:id => current_user %></li>
      <% end %>

      <li><%= link_to 'Support', url_for(:controller => 'util', :action => 'support') %></li>
      <li><%= link_to 'Buy Online', '/order' %></li>

      <% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_sales? || current_user.is_installer? || current_user.is_operator? || current_user.is_moderator? %>
      <hr>
      <% end %>
      <% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_sales? %>
      <li><%= link_to 'User&nbsp;Intakes', '/user_intakes/' %></li>
      <% end %> 
      <% if current_user.is_halouser? && !current_user.user_intakes.blank? %>
      <li><%= link_to 'User&nbsp;Intake', edit_user_intake_url( current_user.user_intakes.first) %></li>
      <% end %> 
      <% if current_user.is_super_admin? || current_user.is_admin? %>
      <!--li><%= link_to "Triage", triage_path %></li-->
      <!--li><%= link_to 'Install&nbsp;Wizard', url_for(:controller => 'installs', :action => 'index') %></li-->
      <% end %>
      <% if current_user.is_admin? || current_user.is_super_admin? || current_user.is_moderator? || current_user.is_installer? %>
      <li><%= link_to 'Config', :controller => 'reporting', :action => 'blank_config' %></li>
      <% end %>
      <% if current_user.is_admin? || current_user.is_super_admin? %>
      <li><%= link_to 'Reporting', :controller => 'reporting', :action => 'blank_reporting' %></li>
      <% end %>
      <% if current_user.is_super_admin? %>
      <li><%= link_to 'Dial Up', :controller => 'dial_up_statuses', :action => 'index' %></li>
      <% end %>      
      <% if current_user.is_super_admin? %>
      <li><%= link_to 'Management', :controller => 'management', :action => 'index' %></li>
      <% end %>
      <% if current_user.is_super_admin? %>
      <li><a href="/atp/index">ATP + RMA</a></li>
      <% end %>
      <% if current_user.is_super_admin? %>
      <li><%= link_to 'Info', url_for(:controller => 'util', :action => 'info', :my_links => 'Info') %></li>
      <% end %>
    </ul>
  </li>
</ul>