
<%=link_to_remote_redbox('My Profile', :url =>{ :controller => "profiles", :action => "edit_caregiver_profile", :frame => true,:id => current_user.profile.id, :user_id => current_user.id  }, :html => {:method => :get})%>
<% caregiver = current_user.is_caregiver? 
%>
<% if current_user.is_halouser? %>
|
<%=link_to('My Alerts', :controller => "alerts", :action => "index", :id => current_user.id)%>
<% if !caregiver %>
|
<%= link_to 'My Caregivers', :controller => 'call_list', :action => 'show', :id => current_user.id %>
<% end %>
|
<%= link_to 'My Events', :controller => 'events', :action => 'user', :id => current_user.id %>
<% end %>
<% if caregiver %>
|
<%= link_to 'Caregiver Table', :controller => 'call_list', :action => 'show', :id => current_user.id %>
<% end %>
<% if current_user.is_administrator? %>
	|
	<%= link_to 'Management', :controller => 'management', :action => 'index' %>
	|
	<%= link_to 'Reporting', :controller => 'reporting', :action => 'index' %>
	|
	<%= link_to 'Operators', :controller => 'call_center', :action => 'show' %>
	<span class="divider">|</span>
<% end %>
<a href="/logout" style="font-weight:bold">Logout</a>